[2021-04-26 06:51] prutskov opened #3015 "Document modin.experimental.sklearn"
This should include docstrings and purposes of everything inside modin.experimental.sklearn.

[2021-04-26 08:05] mivikasgarud commented on #2911
@YarShev @devin-petersohn
I have a dataframe having >100k records, it has 10-15 columns which needs to be coalesced, I used following code:
    for COL in [cols_to_be_coalesced]:
        df['COL'] = np.where(df['COL']!='', df['COL'], df['COL_X'])

Here if df is pandas dataframe, it executes it in ~2 minutes but of df is modin dataframe, it takes ~30 minutes.
Can you please suggest equivalent faste

[2021-04-26 08:07] prutskov opened #3017 "Fix formatting for new `black` package version"

[2021-04-26 11:24] anmyachev commented on #2995
Now there is only one way - use `# noqa: MD02`, but since such a solution disables checking of all words in the dockstring, then in #3001 I will need change regexp pattern.

[2021-04-26 14:58] panfengfeng opened #3020 "PandasQueryCompiler: Dose it use the modin dataframe algebra to express pandas query?"
I am learning the modin' code, and confuesd by the transformation from pandas query to modin dataframe algebra. Does the module-PandasQueryCompiler do this job?

[2021-04-26 15:36] adrianog commented on #3009
if you have control on the postgres server you could also increase the connections limit.
I know it's just a workaround.

[2021-04-26 16:20] amyskov commented on #2904
According to PyArrow documentation `skip_rows` parameter doesn't guarantee correctness of skipping data rows (only header rows), so we need to handle multilines in Modin.

[2021-04-26 17:42] gshimansky commented on #2995
I have troubles placing `# noqa: MD02` correctly. Whenever I put it, it has no effect on the docstring at the beginning of this file. How do you suggest to do it?

[2021-04-26 19:22] anmyachev commented on #2995
To apply to the module documentation, `# noqa: MD02` should be placed in the first line of the file.

[2021-04-26 21:13] gshimansky commented on #2959
I'll take care of `accessor.py`

[2021-04-26 21:42] devin-petersohn commented on #3020
Hi @panfengfeng thanks for the question!

The `PandasQueryCompiler` object serves two main purposes:
1. Map UDFs to the dataframe algebra for a given pandas API
2. Modularly support multiple storage formats

Dataframe algebra relies heavily on UDFs for many operators, and we need a way to map pandas APIs to the algebra + UDF that will result in the correct output. The UDF is tied to the in-memory

[2021-04-26 21:45] devin-petersohn commented on #3014
Hi @palash247 thanks for posting! This does look like a Ray serialization issue.

What is the pandas version on the k8s cluster? Is Modin also installed there?

cc @modin-project/modin-ray

[2021-04-26 21:49] #3017 closed

[2021-04-26 21:54] #3003 closed

[2021-04-26 21:58] #2194 closed

[2021-04-26 23:14] devin-petersohn commented on #2911
@mivikasgarud I answered on the mailing list, copying here:

Thanks for the question. It's a good point, we don't currently support the numpy functionalities, but there might be a way we can with NEP18. If you are comfortable, it would be nice to add an issue to the GitHub repo to support NEP18 in Modin.

A small rewrite to enable the parallelism of the low level Modin implementation:
[code]
Let m

[2021-04-26 23:31] devin-petersohn commented on #3009
@dshatz It's a great request, we should definitely add it.

[2021-04-27 01:27] panfengfeng commented on #3020
Thank you very much @devin-petersohn , you give me an good example to understand the "Dataframe algebra relies". I will review the pandas.DataFrame.count

[2021-04-27 01:29] panfengfeng commented on #3020
another question, I see the code  for example, MapFunction,  and also see MapFunction.register, it registers many pandas.dataframe function, does it mean the modin.dataframe api uses the implementation of pandas.dataframe

[2021-04-27 03:05] palash247 commented on #3014
Thank you for responding @devin-petersohn. pandas got installed with modin 0.9.1, so it is 1.2.3. Also, I can see this error on the local system also (Ubuntu 20.04 wsl) while running in a docker container.

[2021-04-27 05:43] linehammer commented on #1073
Just like a lot of cryptic pandas errors,  for some or all indexes in DataFrame , you are assigning MORE THAN just one label, groupby() doesn't know which label it should use for grouping. [DataFrame groupby()](http://net-informations.com/ds/pda/gby.htm) doesn't need to care about df or which columns , groupby() only cares about one thing, a lookup table that tells it which df.index is mapped to w

[2021-04-27 08:00] igalink commented on #2983
PR created https://github.com/intel-ai/omniscidb/pull/156

[2021-04-27 08:16] YarShev opened #3023 "Document `modin.engines.dask`"

[2021-04-27 13:49] #2943 closed

[2021-04-27 14:12] vnlitvinov commented on #2978
Assigning @devin-petersohn to take a look and give feedback on proposed conversions.

[2021-04-27 14:35] gshimansky commented on #2959
It'll take care of `utils.py`.

[2021-04-27 16:24] palash247 commented on #3014
@devin-petersohn @anmyachev I can reproduce one of the exceptions related to the `int` type object.
[code]
**Resulting logs**:
[code]
This is coming from `to_csv` implementation from https://github.com/modin-project/modin/blob/8fe4be960440e2bac952491685c9e86c64715b78/modin/engines/ray/generic/io.py#L131
The returning object is int type but the following code expects it to be dataframe type https:/

[2021-04-27 16:33] anmyachev commented on #3014
@palash247 thanks! Nice research! I will look at this.

[2021-04-27 16:37] wuisawesome commented on #3014
@palash247 , so to confirm, other than the fact that this exception is being printed, the program seems to be functioning correctly right?

[2021-04-27 16:43] palash247 commented on #3014
Yes @wuisawesome, the csv file is generated. And the `ray.__hash__` is `8744196536248`.

[2021-04-27 16:49] wuisawesome commented on #3014
@palash247 whoops, sorry, I meant `ray.__commit__` 😅

[2021-04-27 16:54] palash247 commented on #3014
NP It's `c8f8a8e51005cb3aab64a9e98f6e709b4976c03b`.

[2021-04-27 16:58] wuisawesome commented on #3014
Ah it looks like you're on a very old nightly (we stabilized the nightly url to 2.0.0.dev0 in january I think). Can you do `pip install ray==1.3; ray install-nightly` then try again?

Because the rest of the program seems to be functioning correctly, I suspect we're seeing https://github.com/ray-project/ray/issues/12018 which is a bug that only affects logging when an exception occurs.

[2021-04-27 17:14] palash247 commented on #3014
I tried ray-nightly and the issue persists.

[2021-04-27 17:15] anmyachev commented on #3014
@palash247 I was actually able to reproduce the problem.

The interesting thing is that with manual initialization, the problem is shown, but with automatic initialization of ray, it is not.

The quick fix - change return value from `0` to `pandas.DataFrame()`
https://github.com/modin-project/modin/blob/8fe4be960440e2bac952491685c9e86c64715b78/modin/engines/ray/generic/io.py#L131

[2021-04-27 17:49] gshimansky commented on #2959
I'll take care of `iterator.py`.

[2021-04-27 17:58] gshimansky commented on #2959
I'll take care of `plotting.py`.

[2021-04-27 18:21] palash247 commented on #3014
@anmyachev Thank you for the quick fix. I can now use `to_csv` method without any error. I also tested it with my original pandas code. The occurrence of `AttributeError: module 'pandas' has no attribute 'core'` is now reduced somehow. In fact my existing pandas code got executed once without any error. But this behavior is not consistent. I'll try to drill down more.

[2021-04-27 18:52] devin-petersohn commented on #3014
@anmyachev Will you open a new issue to track the `to_csv` bug? Since it's a one line fix it should be quick to get in.

[2021-04-27 18:56] gshimansky commented on #2959
I'll take care of `series_utils.py`.

[2021-04-27 18:58] devin-petersohn commented on #3014
@palash247 Could the issue be from all the workers not being alive at the start? After importing modin and before any dataframe operations can you run the following?

[code]

We have had race conditions in the past with Ray and importing libraries, since libraries are imported in a separate thread in Ray. We added this in Modin when we initialize Ray ([here](https://github.com/modin-project/modin/

[2021-04-27 19:04] anmyachev opened #3025 "AttributeError: 'int' object has no attribute 'columns'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `Ubuntu 20.04`
- **Modin version** (`modin.__version__`): 8fe4be960440e2bac952491685c9e86c64715b78
- **Python version**: `Python 3.8.6`
- **Code we can use to reproduce**:

[code]

### Describe the problem

https://github.com/modin-project/modin/issues/3014#issuecomment-827740232

### Source code / logs

[code]

[2021-04-27 19:23] anmyachev commented on #3014
yes, #3025

[2021-04-27 19:29] palash247 commented on #3014
This seems to work. I had 10 consecutive successful execution on the local machine. As my code is packaged, I added `ray.worker.global_worker.run_function_on_all_workers(_import_pandas)` in the `__init__.py`. Will try to execute this on Kubernetes and update the results. Thank you.

[2021-04-27 20:07] gshimansky opened #3027 "pandas.Series.str.repeats doesn't exist but Modin implements it"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 20.04.2 LTS

- **Modin version** (`modin.__version__`):

0.9.1+37.g1eace767.dirty

- **Python version**:

Python 3.8.6

- **Code we can use to reproduce**:

### Describe the problem

There is no such function as `pandas.Series.str.repeats` but it exists in Modin and has tests for it too. Tests pass accide

[2021-04-27 20:57] gshimansky commented on #2959
I'll take care of `io.py`.

[2021-04-27 21:00] gshimansky commented on #2959
I'll take care of `general.py`.

[2021-04-27 23:01] gshimansky commented on #2959
I'll take care of `groupby.py`.

[2021-04-27 23:17] gshimansky commented on #2995
I have problem with files `modin/pandas/groupby.py` and `modin/pandas/plotting.py` because `doc_checker` breaks on them like this:
[code]
I tried the latest commit from PR #3001 branch and the problem is still reproducible.

[2021-04-27 23:20] gshimansky commented on #2995
Another problem with `doc_checker` is that for file `modin/pandas/accessor.py` from PR #3022 I get errors about functions `from_spmatrix` and `from_coo` although docstrings for these functions should be inherited.

[2021-04-27 23:23] gshimansky commented on #2995
Another problem with `doc_checker` is that when I have to write `# noqa: MD02` on the first line of a file, our `test_headers` fails for it https://github.com/modin-project/modin/pull/3022/checks?check_run_id=2452514001
Writing `# noqa: MD02` on the first line of a file is the only way to suppress an error about `ray` on this line: https://github.com/modin-project/modin/blob/master/modin/pandas/in

[2021-04-27 23:26] wuisawesome commented on #3014
@devin-petersohn Is this a problem with function deserialization? or the import thread? (btw lemme know if you prefer to move this discussion into a ray issue).

[2021-04-28 00:43] #2954 closed

[2021-04-28 00:44] devin-petersohn commented on #3014
@wuisawesome This is a problem with the import thread. There was an issue in Ray for this: https://github.com/ray-project/ray/issues/7879

I think we should re-open it (or open a new one) because this is a hacky solution. Ideally we wouldn't need to do it.

[2021-04-28 02:56] devin-petersohn commented on #2978
These should be private, everything else looks correct to me. Thanks @YarShev!

[2021-04-28 03:41] KangTomwk commented on #3012
Hi
This is my example：

[code]

Here itear_objectRef is the objectStore that we write to ray with flink, which is an iterator, and then traverse the iterator and put it into the list, which is equivalent to [ray.put(pdf)]！！！

[2021-04-28 07:13] YarShev commented on #3012
@KangTomwk . to understand the issue can you change your example a bit?

[code]
If `materialized_objects` contains at least one object different from pandas DataFrame, there will be an error when calling `from_partitions` because currently Modin supports pandas DataFrame(s) as underlying partitions.

[2021-04-28 08:12] KangTomwk commented on #3012
Hi

How do I convert objectRef into pandas dataframe now? Then convert multiple pandas dataframes into a modin dataframe？

[2021-04-28 08:19] YarShev commented on #3012
@KangTomwk , please, let me know what the line `print([type(obj) for obj in materialized_objects])` prints. If all the objects are pandas DataFrame(s), your example should work.

[2021-04-28 08:25] KangTomwk commented on #3012
Hi

The result is as follows：[<class 'bytes'>]

[2021-04-28 08:40] YarShev commented on #3012
@KangTomwk , okay, probably, you write data as `bytes` (pickled data) to ray object store with flink. Modin doesn't know anything about how an object should look like being unpickled. Are you able to unpickle data (via `cloudpickle.loads()`) before putting it to ray object store?

[2021-04-28 08:42] Beenhakker opened #3029 "modin.pandas.test.utils should be able to pass on arguments of native pandas.testing methods"
Hi,

We are trying to implement `modin.pandas` into our project. We use `pandas.testing` extensively in our project.

Now I noticed `modin.pandas` also has testing utilities available. Great. I switch from `assert_series_equals` to `df_equals`, but unfortunately I cannot pass any similar arguments as assert_series_equals, since we use some of those options, like `check_names=False`.

This would be

[2021-04-28 09:20] KangTomwk commented on #3012
How does modin convert a pandas dataframe into a modin dataframe?

[2021-04-28 09:54] YarShev commented on #3012
@KangTomwk , you can use the following function to convert a pandas DataFrame to a Modin DataFrame:
[code]

[2021-04-28 09:55] YarShev commented on #3012
Reclassifying the issue as question.

[2021-04-28 10:14] KangTomwk commented on #3012
How to merge multiple modin dataframes together？？？

[2021-04-28 10:29] YarShev commented on #3012
I guess you need `concat` function but if you are interested in another type of merge, you can use `merge` or `join` functions.
[code]

What about this question?

[2021-04-28 10:47] KangTomwk commented on #3012
What is cloudpickle.loads()? Why do you want to do this? Don't understand？？

[2021-04-28 11:19] YarShev commented on #2978
@devin-petersohn , as for `BasePandasFrame._apply_index_objs`, I agree it should be private. However, I am not sure of `BasePandasFrame.reorder_labels`. Why do you think it should be private?

[2021-04-28 12:09] YarShev commented on #3012
@KangTomwk , I guess you serialize data (transform data to bytes via `cloudpickle.dumps()`) before putting it ray object store. When creating a Modin DataFrame using `from_partitions` Modin refers to actual data to compute index and columns via passed list of object refs. Since actual data is bytes you has the error. However, if you deserialize data (transform bytes to data via `cloudpickle.loads(

[2021-04-28 12:30] YarShev commented on #2978
@devin-petersohn, by the way, as for `BaseFrameManager - convert to BasePandasFrameManager`, maybe, we should rename the former to `BasePandasFramePartitionManager` (and all related stuff). What do you think?

[2021-04-28 15:52] anmyachev commented on #2995
fixed

[2021-04-28 17:13] anmyachev commented on #2995
The problem has to do with how `_inherit_docstrings` handle functions with `classmethod` decorator.

[2021-04-28 17:14] gallushi commented on #2301
@prutskov Pandas released support for `storage_options`.
There might still be issues related to the semantics of `storage_options`, for example if trying to use a different endpoint URL for S3-like storage systems (e.g. when using IBM Cloud Object Storage), this should be possible by passing `endpoint_url`, but hard-coded values like [here](https://github.com/modin-project/modin/blob/80754f072f113

[2021-04-28 20:07] gshimansky opened #3031 "Improve CI performance with xdist pytests"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

All tests currently executed on GitHub Actions work in single process. This is not optimal since even free GA workers contain 2 CPU cores, so we could speed up CI tasks at least 2x times. More spee

[2021-04-28 22:17] gshimansky commented on #3031
Windows on Ray tests fail because of Ray bug https://github.com/ray-project/ray/issues/13213

[2021-04-29 08:32] vnlitvinov opened #3033 "_inherit_docstrings does not wrap classmethods and own attributes"
The problem has to do with how `_inherit_docstrings` handle functions with `classmethod` decorator. cc @vnlitvinov

_Originally posted by @anmyachev in https://github.com/modin-project/modin/issues/2995#issuecomment-828629542_

[2021-04-29 09:41] vnlitvinov commented on #2995
Tracked by #3033

[2021-04-29 18:17] foudrer opened #3035 "Dataframe Algebra"
Hi, the paper said, there are 15 basic API of modin which can express many pandas dataframe api. I read the code of modin, coufused by the 15 basic API. Do yuo have any suggestions?

[2021-04-30 08:36] vnlitvinov commented on #2998
@biggoffer I've added small bit of formatting to your messages here, I hope you don't mind.

As for the last message - this is just a warning that `sort_values` is not yet fully optimized in Modin (thus it's not as performant as it should be), but it should not be a blocker.

[2021-04-30 08:37] vnlitvinov commented on #3010
I think this might be blocked by https://github.com/conda-forge/ray-packages-feedstock/pull/11

[2021-04-30 08:39] vnlitvinov commented on #3031
We definitely need this for Windows CI to stop randomly failing, as it now seems to be hitting timeout time and again randomly.

[2021-05-03 05:04] linehammer commented on #381
The ValueError: Length of values does not match [length of index](http://net-informations.com/ds/err/length.htm) raised because the previous columns you have added in the DataFrame are not the same length as the most recent one you have attempted to add in the DataFrame. So, you need make sure that the length of the array you are assign to a new column is equal to the length of the dataframe .

Th

[2021-05-03 12:09] #3025 closed

[2021-05-03 12:22] devin-petersohn commented on #2985
It is an issue only with that test it seems.

[2021-05-03 12:26] devin-petersohn commented on #3008
@dchigarev Which names specifically need to be changed?

[2021-05-03 13:09] vnlitvinov opened #3036 "Define new partition API that is return-agnostic"
<details><summary>original thread</summary>

Maybe we should create a portion of API that would behave just like that (i.e. would allow running some functions over the dataframe, be it block-by-block or axis-wise) that would _not_ expect a `DataFrame` as a result, i.e. effectively create a "scalar" transformation somehow - this is exactly what `to_csv()` does, it transforms our DataFrame into a fi

[2021-05-03 13:35] devin-petersohn commented on #3029
This seems like it would be useful to do.

We probably want to expose something specific for `assert_series_equals` (and equivalents) since our tests are evaluating equality with pandas without exception for names, dtypes, etc. The plumbing is there, it would just take a bit of engineering.

It won't make it into this release (this week or next), but perhaps the release after.

[2021-05-03 13:37] devin-petersohn commented on #2978
@YarShev `reorder_labels` is used when the order output of `mask` does not match the order of occurrence in the dataframe. It is separated because it is expensive to reorder, and cheap to do the `mask` in order. It is not called from any other class.

[2021-05-03 18:34] devin-petersohn commented on #2301
@gallushi You are right, we probably should use `fsspec`.

[2021-05-03 18:36] devin-petersohn commented on #3010
@vnlitvinov I don't think we should let it be blocked on the conda-forge release. We need to make changes to enable us to not be blocked because we use the conda-forge release in our tests. I can make the necessary changes.

[2021-05-03 18:37] devin-petersohn commented on #3020
@panfengfeng Currently we have some optimization in place, but nothing that is completely holistic. We are working on a project that does this on the University side, stay tuned!

[2021-05-03 18:42] devin-petersohn commented on #3035
@foudrer Yes, there is a mix of public and private APIs in the BasePandasFrame API. We have a couple of efforts to clean it up via #3030 and #2744.

[2021-05-03 18:49] devin-petersohn commented on #3031
The timeouts are due to issues in the Dask engine, I believe. We added a timeout because the default timeout of 6 hours was always getting hit. I think there's an underlying issue that I haven't reproduced locally, but I don't think this would solve the timeout issue. cc @YarShev who worked with me to add the timeout in the first place

[2021-05-03 18:51] #3031 closed

[2021-05-04 08:52] amyskov opened #3037 "Document `modin.pandas.series`"
This should include docstrings and purposes of `modin.pandas.series`.

[2021-05-04 15:08] anmyachev opened #3038 "Append works slow on omnisci backend"
Switching to a bunch of pandas on ray significantly speeds up the execution of the script.

[code]

Changed the script to not convert to pandas.

[2021-05-04 15:35] anmyachev commented on #3038
Same problem with `merge` operation.

[2021-05-04 16:03] devin-petersohn opened #3039 "Use Ray pypi for CI"
We need to do this because conda-forge is not reliably maintained

[2021-05-04 16:40] ienkovich commented on #3038
We shouldn't expect OmniSci to be faster in this test. Original `pandas` would execute this operation faster than OmniSci initialization time. With OmniSci we also have data import/export costs and you also convert the result back to `pandas.DataFrame`. That's the reason to have lazy execution for OmniSci engine (to avoid all these overheads per each operation).

[2021-05-04 17:18] anmyachev commented on #3038
Converting an array to a dataframe is also a lazy operation?
How, in this case, to force the conversion before performing the operation? (to eliminate overhead)

[2021-05-04 17:24] ienkovich commented on #3038
When you create a dataframe, data is converted to Arrow format. This conversion is not lazy.

[2021-05-04 22:04] vnlitvinov commented on #3031
I was referring to timeouts in running Ray tasks, but whenever we lessen CI run time the better :)

[2021-05-05 02:12] gshimansky commented on #3031
I noticed that `test_io.py` when it successfully finished on windows was very close to its timeout of 20 minutes, so I increased it to 30 minutes in this fix too.

[2021-05-05 08:02] dchigarev commented on #3008
@devin-petersohn
Here is the actual proposal about renaming:
1. `__engine -> __factory` because variable contains factory, not the engine
https://github.com/modin-project/modin/blob/626446e6999fde43ff32cbee5df1b1c147d6d7b2/modin/data_management/factories/dispatcher.py#L55
2. `get_engine -> get_factory` (1st reason)
https://github.com/modin-project/modin/blob/626446e6999fde43ff32cbee5df1b1c147d6d7b

[2021-05-05 08:22] igalink commented on #3006
PR created: https://github.com/intel-ai/omniscidb/pull/158

[2021-05-05 09:43] dchigarev opened #3040 "Document `modin.backends.pandas`"

[2021-05-05 15:19] anmyachev opened #3042 "[OmniSci] concat requiring join is not supported yet"
Reproducer for `NotImplementedError: concat requiring join is not supported yet` error:
[code]

[2021-05-05 15:25] anmyachev commented on #3042
Same error exist for join operation: `df1.join(df2, how="left", lsuffix="left_", sort=False)._query_compiler._modin_frame._execute()`

[2021-05-05 15:26] quinnnnnnnnn opened #3043 "Typeerror: can only merge series or dataframe objects a class 'pandas.core.frame.dataframe' was passed"
File "D: \Python程序\因子入库0421\factor_ top_ pure_ czl_ 0421_ gtja191.py", line 323,
in BarraDataPreparelong

BarraMatrix long = pd . merge barraclass, industry，on=['code'，'date'], how= ' inner' )#在barra因子矩阵右侧追加行业哑变量矩阵

File "C: \Users \Administrator\AppData \Roaming \Python\Python38 \site - packages\modin\pandas \general.py", line 84,in merge
raise TypeError(
TypeError: Can only merge Series or DataF

[2021-05-05 15:41] anmyachev commented on #3038
`concat([df1, df2], join="inner", axis=0)._query_compiler._modin_frame._execute()` also works slow.

[2021-05-05 15:59] ienkovich commented on #3042
We have two problems here. Firstly, `NotImplementedError` shouldn't be visible to users. In this case, the front-end directly calls `concat` in its `merge`/`join` implementation, and IIRC we wanted to catch `NotImplementedError` in the wrapper used for defaulting to pandas at the back-end level.

Another task is to cover some join cases in our `concat` implementation to support merge by index.

[2021-05-05 18:25] gsheni opened #3044 "Add support for registering a custom accessor to allow user to extend DataFrames/Series"
- pandas supports adding custom methods directly onto a DataFrame/Series. [pandas docs](https://pandas.pydata.org/pandas-docs/stable/development/extending.html#registering-custom-accessors)
- This pandas feature allows users to extend a pandas DataFrame/Series, and add their own functionality.
  - Two examples of libraries that use this are [geopands](https://github.com/geopandas/geopandas) and [w

[2021-05-06 09:54] anmyachev opened #3045 "[OmniSci] core dumped when using append operation"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `Ubuntu 20.04`
- **Modin version** (`modin.__version__`): 626446e6999fde43ff32cbee5df1b1c147d6d7b2
- **Python version**: `3.7.10`
- **Code we can use to reproduce**:
[code]

### Source code / logs

[code]

[2021-05-06 11:03] KangTomwk commented on #3012
`bst.predict(dtrain_200w)`
The following error occurred：
无标题
2021-05-06 10:45:29,119 INFO xgboost.py:102 -- Prediction started
2021-05-06 10:45:35,366 INFO xgboost_ray.py:378 -- Data preparation time: 6.237504959106445 s
---------------------------------------------------------------------------
RayTaskError(IndexError)                  Traceback (most recent call last)
<ipython-input-29-edb132072

[2021-05-06 11:04] KangTomwk commented on #3012
`bst.predict(dtrain_200w)`

The following error occurred：
2021-05-06 10:45:29,119 INFO xgboost.py:102 -- Prediction started
2021-05-06 10:45:35,366 INFO xgboost_ray.py:378 -- Data preparation time: 6.237504959106445 s
RayTaskError(IndexError)                  Traceback (most recent call last)
 in
----> 1 bst.predict(dtrain_200w)

~/miniconda3/envs/dev/lib/python3.7/site-packages/modin/experimental

[2021-05-06 13:28] anmyachev commented on #1698
`NotImplementedError: unsupported type conversion` error appear for:
[code]

@Garra1980 What are the advances in supporting categories?

[2021-05-06 15:46] #2995 closed

[2021-05-06 15:57] fexolm commented on #1698
@anmyachev we are waiting a small fix from omnisci team. See https://github.com/modin-project/modin/issues/2747.

[2021-05-06 16:45] gshimansky opened #3046 "Add hash sum verification of codecov script"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

According to [codecov breach description](https://about.codecov.io/security-update/) it was discovered by a customer who used SHA sum verification of the script. Codecov project hosts multiple hash

[2021-05-07 02:24] devin-petersohn commented on #3043
@quinnnnnnnnn Are you mixing pandas and Modin together? It seems like that might be the cause.

[2021-05-07 02:28] #3046 closed

[2021-05-07 02:31] devin-petersohn commented on #3008
@vnlitvinov Do you agree? I think you authored much of that code. I don't have a strong preference.

[2021-05-07 07:30] #3033 closed

[2021-05-07 10:06] vnlitvinov commented on #3008
I think so, I suppose it wasn't clear enough for me at the time I did the changes what was the difference between engines and factories.

[2021-05-07 13:42] dchigarev opened #3048 "Document `modin.backends.pyarrow`"

[2021-05-07 16:03] ienkovich commented on #3045
This seems to be related to intel-ai/omniscidb#158. In this test, two operands of the `UNION ALL` operation refer to the same node. In our serializer, we generate two separate scan nodes, but Calcite merges them and we trigger the bug in the OmniSci server. With `MODIN_USE_CALCITE=False` test passes.

[2021-05-09 19:39] #2949 closed

[2021-05-11 03:38] KangTomwk opened #3049 "xgboost train appear Task failed: IOError"
Hi：

[code]

I perform xgboost training, the data volume is added to 100W, and the master has been stuck, and the following error appears in the python-core-driver-xxx.log：

task_manager.cc:323: Task failed: IOError: 8: Sent message larger than max (141176840 vs. 104857600): Type=ACTOR_TASK, Language=PYTHON, Resources: {}, function_descriptor={type=PythonFunctionDescriptor, module_name=modin.exper

[2021-05-11 09:33] #3006 closed

[2021-05-11 11:02] anmyachev opened #3050 "get_query_info function doesn't use partition_column parameter"
### System information
- **Modin version** (`modin.__version__`): 18dc8f83e2ce4668e44042c56954ba15cc893e4f

### Describe the problem

`get_query_info` function doesn't use `partition_column` parameter which may cause incorrect behavior of experimental `read_sql`.

The function is in `modin/experimental/engines/pandas_on_ray/sql.py` file.

[2021-05-11 11:40] YarShev commented on #3012
@KangTomwk , it looks like your prediction result is DataFrame with empty list of columns. To make sure, can you print index/columns here ([link](https://github.com/modin-project/modin/blob/master/modin/engines/ray/pandas_on_ray/frame/partition_manager.py#L149)) after `ray.get(new_idx)` as follows `print(new_idx)`?

[2021-05-11 11:43] YarShev commented on #3012
@KangTomwk , it looks like your prediction result is empty DataFrame with empty list of index. To make sure, can you print index here ([link](https://github.com/modin-project/modin/blob/master/modin/engines/ray/pandas_on_ray/frame/partition_manager.py#L149)) after `ray.get(new_idx)` as follows `print(new_idx)`?

[2021-05-11 12:06] YarShev commented on #3012
@KangTomwk , also, print `partitions` in the same place I mentioned above as follows `print(partitions)`.

[2021-05-11 15:24] gshimansky opened #3052 "Example docker containers take forever to create"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 20.04.2 LTS

- **Modin version** (`modin.__version__`):

0.9.1+38.g1918dd6f

- **Python version**:

Python 3.8.6

- **Code we can use to reproduce**:

### Describe the problem

Creating a docker container with Modin example takes up to 3 hours because conda resolves environment very slowly. It is possible

[2021-05-12 08:34] prutskov opened #3054 "Update node.js version to 12"
node.js 10 - EOL, need to update to version 12

[2021-05-12 11:04] YarShev commented on #3008
This should definitely be fixed because the names do not correspond actual things.

[2021-05-12 11:17] vnlitvinov opened #3057 "Switch to omnisci from conda-forge"
Right now we're relying on OmniSci from [intel/label/modin](https://anaconda.org/intel/omniscidbe4py) Anaconda channel while all other packages required for Modin itself are available in `conda-forge`.

Since https://github.com/conda-forge/omniscidb-feedstock/pull/39 was merged OmniSci is now available in [conda-forge](https://anaconda.org/conda-forge/pyomniscidbe).

We should switch to that chann

[2021-05-12 11:57] prabhant opened #3059 "modin ray.utils not found, attribute error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Apple M1, BigSur
- **Modin version** (`modin.__version__`):0.9.1
- **Python version**:3.8
- **Code we can use to reproduce**:
[code]
[code]

### Describe the problem
Seems like the ray.utils does not really exist in ray 1.3.0

[code]

### Source code / logs

[2021-05-12 12:42] amyskov opened #3060 "Document `modin.engines.python`"
This should include docstrings and purposes of modin.engines.python.

[2021-05-12 13:42] #3054 closed

[2021-05-12 13:49] devin-petersohn commented on #3059
Hi @prabhant thanks for the report!

What version of ray are you using? And how did you install modin?

[2021-05-12 14:13] #3027 closed

[2021-05-12 14:17] #2974 closed

[2021-05-12 15:04] #3015 closed

[2021-05-12 15:05] devin-petersohn commented on #1058
@KangTomwk thanks for posting, would you be able to create a new issue for that? It seems unrelated to this issue, and I would like to make sure it gets resolved.

[2021-05-12 15:44] devin-petersohn commented on #2978
@YarShev I suppose that would make sense, there's no way in those cases to avoid calling it because the metadata needs to be coordinated and rebroadcasted. In that case, I would prefer to change the name to `synchronize_labels` to be more descriptive (and discourage misuse).

[2021-05-12 15:48] gshimansky opened #3061 "Convert docker container examples to use external data files instead of packing them inside"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

Currently we build example docker containers by packing datasets inside of container image. It has two disadvantages (1) huge image size (2) it is inflexible because doesn't allow to run example on

[2021-05-12 15:53] #3052 closed

[2021-05-12 15:58] devin-petersohn commented on #3008
Makes sense to me.

[2021-05-12 17:19] YarShev commented on #2978
@devin-petersohn , what about this ([link](https://github.com/modin-project/modin/issues/2978#issuecomment-828415003))?

[2021-05-12 18:02] gshimansky commented on #3057
Do we have any other packages in `intel/label/modin` that aren't available in conda-forge? I mean, do we still need to specify `intel/label/modin` at all when building conda environments?

[2021-05-13 06:00] laphang opened #3063 "pd.to_datetime() - ValueError: buffer source array is read-only"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux 2018.03
- **Modin version** (`modin.__version__`): 0.8.3 (with ray==1.2.0)
- **Python version**: 3.6.13
- **Code we can use to reproduce**:

[code]

### Describe the problem

I have a column in a dataframe that are linux timestamps, I want to convert them to datetime format, but I'm geting the error

[2021-05-13 06:42] YarShev commented on #2978
@devin-petersohn , I saw fit to make the following changes:

* FrameManager -> PartitionManager
* _frame_mgr_cls-> _partition_mgr_cls
* BasePandasFrame -> PandasFrame
* BasePandasFrameManager -> PandasFramePartitionManager
* BasePandasFramePartition -> PandasFramePartition
* DaskFrameManager -> PandasOnDaskFramePartitionManager
* PythonFrameManager -> PandasOnPythonFramePartitionManager
* cuDFOnRa

[2021-05-13 12:33] anmyachev commented on #3038
@ienkovich this code start OmniSci import?
[code]

[2021-05-13 12:55] ienkovich commented on #3038
yes

[2021-05-13 13:48] vnlitvinov opened #3064 "Improve "Component view" part of Architecture documentation"
As the first attempt at thorough documentation efforts, we're now creating [a flat list of components](https://modin.readthedocs.io/en/latest/developer/architecture.html#component-view).

Ideally it should become a tree-like structure with high-level base objects closer to the root (and their concrete implementations for different backends closer to the leaves of the tree).

I presume this should

[2021-05-13 14:10] devin-petersohn commented on #3063
Hi @laphang, thanks for posting! Thanks for the concise reproducible example as well!

I can reproduce this on the latest commit.

As a side note, we dropped support for Python 3.6 when pandas did, current minimum supported Python version is 3.7.1. The latest release is 0.9.1 (with the next release coming soon). This issue is still present, and should be fixed by the next release, but it will not

[2021-05-13 14:23] devin-petersohn commented on #3063
After some investigation, this is an issue with using Arrow serialization.

[2021-05-14 01:23] laphang commented on #3063
thanks @devin-petersohn, that comment was helpful. I was confused as to why I couldn't install the latest modin version - I can now in python 3.7.10.

Looking forward to the fix.

[2021-05-14 10:04] samueldominguez commented on #3059
@devin-petersohn I have the same issue.

Modin version: 0.8.3
Ray version: 1.3.0
Python version: 3.6.9
System: Ubuntu 18.04 WSL2

Installed modin via `pip install modin[ray]`

[2021-05-14 12:49] devin-petersohn commented on #3059
@samueldominguez You should be able to fix the issue with `pip install ray==1.1`. We haven't released Ray 1.3 support yet, and it looks like they have changed their API.

[2021-05-14 13:25] samueldominguez commented on #3059
This fixed my issue, thanks Devin.

[2021-05-14 15:50] anmyachev opened #3065 "[OmniSci] merge failed when using None in 'suffixes' parameter"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

### Source code / logs

[code]

Pandas docs says: `pass a value of None instead of a string to indicate that the column name from left or right

[2021-05-14 15:59] anmyachev opened #3066 "[HDK] UserWarning: <function DataFrame.join> defaulting to pandas implementation."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

[code]

[2021-05-14 16:21] danpetruk opened #3068 "Freezing when creating a simple DataFrame"
### System information
- Windows 10
- Modin 0.9.1
- Python

### Describe the problem

A lot of text appears in the console (see below) and then the process freezes. Wrapping with` if __name__ == '__main__':          freeze_support()` as suggested in the output does indeed help, but shouldn't it work without such wrapping?

### Source code / logs

[code]

### Console output (too long to be included

[2021-05-14 16:35] devin-petersohn commented on #3068
@danpetruk Thanks for reporting!

The `freeze_support` is a requirement of the Dask executor. I agree that it causes unnecessary pain, but it is something we can't safely work around in Modin.

The Ray executor doesn't require this change, you can install with `pip install modin[ray]`. Let me know if that works for you!

[2021-05-14 16:35] devin-petersohn commented on #3068
Related to #843

[2021-05-14 19:47] lu003 commented on #1366
Hi all,

I'm a student trying to replicate the results of a paper for my class. I'm having trouble rerunning the source code and it returns this error. I'm very new to all these modules and not quite sure how to fix this even after reading this thread. More specifically I'm trying to run the spatial_SeqFISH_analysis.py (in Analysis/SeqFish/) and it returns this error:

![image](https://user-images

[2021-05-15 13:35] #2976 closed

[2021-05-15 19:29] #2971 closed

[2021-05-15 21:14] #2811 closed

[2021-05-16 01:33] vibhatha opened #3069 "Pleasingly Parallel Applications with Modin"
I am looking into the parallelism offered by modern, especially interested in the autonomous parallelism offered with Ray backend.

Is it possible to design pleasingly parallel applications with Modin?

Simply split the data into the number of CPUs and execute operators such that no communication operations are taken place among the processes.

[2021-05-17 06:55] vnlitvinov opened #3070 "Unify capitalization in spelling of common words"
We have quite a list of words we use throughout the documentation, docstrings and comments. This is about standalone words (or terms) which are not part of an object name or method.

Ideally we should enforce a common capitalization on them.

Some of those are already covered by `doc_checker.py` (hence enforced in docstrings):
https://github.com/modin-project/modin/blob/4857d1a1c14c72051f17a3029ef

[2021-05-17 08:39] anmyachev opened #3071 "[OmniSci] NotImplementedError appears when using merge operation on index"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Describe the problem

### Source code / logs

[code]

[2021-05-17 08:41] prabhant commented on #3059
Hi, I am using ray 1.3 and installed the modin via pip install modin, one more problem was that pip install modin[ray] was not working.

[2021-05-17 08:42] anmyachev commented on #3071
duplicate of #3042, sorry

[2021-05-17 08:42] #3071 closed

[2021-05-17 10:20] samueldominguez commented on #3059
@prabhant

as @devin-petersohn mentioned this is not supported yet. I uninstalled modin + ray then installed ray 1.1 separately
via `pip install ray==1.1` then installed modin via `pip install modin`.

what isn't working? can you provide logs?

[2021-05-17 11:29] Garra1980 commented on #3007
I believe it is here - https://github.com/intel-ai/omniscidb/blob/ienkovich/doc-rel-alg-json/docs/source/calcite/rel_alg_json.rst

[2021-05-18 02:40] KangTomwk commented on #3049
Hi:

1、Python versions：3.7.10
2、Training dataset：higgs
3、Additional details for code example.
[code]
4、Ray cluster startup is ray.init(), no parameters are set

[2021-05-18 08:10] KangTomwk commented on #3049
Hi:

1、Python versions：3.7.10
2、Training dataset：higgs
3、Additional details for code example.
[code]
4、Ray cluster startup is ray.init(), no parameters are set

[2021-05-18 09:24] prabhant commented on #3059
I get
zsh: no matches found: modin[ray]

I'm using M1, can it be because of that?

[2021-05-18 12:48] devin-petersohn commented on #3059
I believe in zsh, you have to wrap the `modin[ray]` in quotes:

[code]

Does that fix the issue?

[2021-05-18 12:51] prabhant commented on #3059
Seems to be working now, thanks.

[2021-05-18 13:17] #3061 closed

[2021-05-18 13:23] devin-petersohn commented on #3069
Parallelism for dataframes comes in many forms. Modin will try to keep the data in its existing layout, but sometimes that is not possible. See https://arxiv.org/pdf/2001.00888 for details on this.

Trivially parallelizable dataframe programs are fairly straightforward to construct. `applymap` is the simplest way to achieve this.

[2021-05-18 13:26] #2959 closed

[2021-05-18 13:32] #2697 closed

[2021-05-18 13:33] devin-petersohn commented on #3049
@KangTomwk What are your Ray and Modin versions?

[2021-05-18 13:49] #2947 closed

[2021-05-18 14:24] vibhatha commented on #3069
@devin-petersohn I checked out the paper. But assume a case where someone needs to do all the data engineering operators in a pleasingly parallel manner, in that case, it is hard to use applymap operator to do all the data engineering operators. Is this a feature that will be supported in future?

[2021-05-18 19:33] aregm commented on #2957
@devin-petersohn Any thoughts? We would like to accelerate this change to land into 0.11.

[2021-05-18 21:37] mattschaelling opened #3072 "Add support for `pd.wide_to_long()` (and possibly `pd.melt`)"
I see that modin has already implemented `pd.DataFrame.melt()`. However, as far as I can tell, it doesn't have an implementation of the Pandas utility version of `melt()`. There's another Pandas function that is pretty convenient — [`pd.wide_to_long()`](https://pandas.pydata.org/docs/reference/api/pandas.wide_to_long.html) — and effectively only a wrapper around `pd.melt()`, so I was hoping it cou

[2021-05-19 10:46] YarShev commented on #3072
Hi @mattschaelling , thanks for posting, that would be a great addition! If you have a desire to implement it yourself, feel free to create a PR. Otherwise, we will take care of it.

[2021-05-20 01:35] KangTomwk commented on #3049
Hi

Ray versions：1.1.0
Modin  versions：0.9.1

[2021-05-20 06:03] prutskov commented on #3049
Thanks @KangTomwk! We'll take a look on this!

[2021-05-20 13:07] vnlitvinov opened #3073 "OmniSci engine incorrectly treats N/A first element in a column as a marker of unsupported column"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.9.1
- **Python version**: 3.7
- **Code we can use to reproduce**:

[code]

### Describe the problem

Current output:
[code]

Expected output:
[code]

As can be seen here:

https://github.com/modin-project/modin/blob/6bc748e6e835ecfb6e9779aa93cbd47c2f412511/modin/experi

[2021-05-20 18:09] anmyachev opened #3075 "OmniSci engine doesn't support multiply of dataframes with different shapes"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Source code / logs

[code]

[2021-05-20 18:24] anmyachev opened #3076 "OmniSci engine failed when using loc on dataframes with multiindex"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Source code / logs

[code]

[2021-05-20 18:31] anmyachev opened #3077 "OmniSci engine can't drop rows from dataframe"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Source code / logs

[code]

[2021-05-20 18:38] anmyachev opened #3078 "OmniSci engine doesn't support limit parameter of fillna operation"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Source code / logs

[code]

[2021-05-20 18:48] anmyachev opened #3079 "[OmniSci] default index reset with no drop is not supported"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): e4fa1409d6ee048dcdcafc092a10bdc90d965303
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Source code / logs

[code]

[2021-05-21 03:34] KangTomwk commented on #3049
When the amount of data is 100,000 rows, there is no problem with training. When it reaches 1 million rows, it keeps getting stuck.

[2021-05-21 06:42] #3073 closed

[2021-05-21 11:42] amyskov opened #3080 "`read_csv` with OmniSci backend doesn't handle duplicated columns"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: 563f26d031d3b50b02d1b7a1540dc11a009350cc
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

### Source code / logs

[code]

[2021-05-21 13:31] amyskov opened #3081 "`read_csv` with OmniSci backend and `parse_dates` parameter works incorrectly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): 563f26d
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

### Source code / logs

[code]

[2021-05-21 13:55] amyskov opened #3082 "Implement `to_csv` function with OmniSci backend"

[2021-05-21 13:57] #2942 closed

[2021-05-24 01:38] devin-petersohn opened #3083 "[Ray] Work around for Ray's race condition with import thread"
We already do this when we initialize a Ray environment, but we need to handle it when ray is already initialized. This line of code needs to be moved to resolve it.

https://github.com/modin-project/modin/blob/master/modin/engines/ray/utils.py#L184

The issue ray-project/ray#7879 tracks the progress, but after some discussions with the Ray team it seems unlikely that it will be fixed soon due to

[2021-05-24 10:00] amyskov opened #3084 "`read_csv` with OmniSci backend and `skip_blank_lines` parameter works incorrectly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: b1c6e75f4c8442195e8551b561ba62479cac75c4
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

### Source code / logs

[code]

[2021-05-24 12:39] #2941 closed

[2021-05-24 13:26] #2986 closed

[2021-05-24 13:27] #3040 closed

[2021-05-24 14:51] #3023 closed

[2021-05-24 15:26] devin-petersohn commented on #3069
@vibhatha I am not sure I understand what you mean. Modin is able to parallelize and distribute work across all axes and even across cells. Most operators are rewritten into a low-level set of operators described in the paper. I do not understand the term "pleasingly parallel", what does it mean? I assumed it meant embarrassingly parallel, which is why I suggested `applymap`.

[2021-05-24 15:27] devin-petersohn commented on #2957
Let's revisit after 0.10 release is cut.

[2021-05-24 15:31] vibhatha commented on #3069
Pleasingly parallel means embarrassingly parallel. But can applymap be used
to write other operators like join, groupby, loc,etc.

On Mon, May 24, 2021 at 11:27 AM Devin Petersohn ***@***.***>
wrote:

--
Vibhatha Abeykoon

[2021-05-24 18:05] ckw017 opened #3085 "[Ray] Add unit tests for ray client + modin"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

Wanted to open discussion about adding unit tests using ray client to this repo's CI. If there are any examples that should be covered that would be handy to know, as well as any guidelines for whe

[2021-05-24 18:08] amogkam commented on #3085
Having some CI coverage here would really help with making sure we have native support for Modin with Ray Client

[2021-05-24 19:54] devin-petersohn commented on #3069
If you are asking about the parallelism required for each operator, we have not released the paper proving the decomposition rules yet (it is under submission). From your question, `join` and `groupby` decompose into group-wise parallelism, `loc` is a filter. Dataframe operations require different levels of parallelism, so whether or not something is embarrassingly parallel is not enough, you must

[2021-05-24 19:59] devin-petersohn commented on #3085
Thanks @ckw017 and @amogkam. I agree it would be good if we could add tests for basic functionality.

[2021-05-24 20:07] vibhatha commented on #3069
Simply, think of an application which has a join followed by a filter and a
groupby.

Here the join is a distributed operation, but the filter needs to run in
pleasingly parallel manner. And again the groupby as a distributed
operation. This is a classical bulk synchronous parallel mode of execution
where operators can be selected to run in either format depending on vivid
use cases. Can this be h

[2021-05-25 00:10] devin-petersohn commented on #3069
Yes, this can be done in Modin.

[2021-05-25 02:46] vibhatha commented on #3069
Can a user handle this in dataframe level?
Can you give me an example how to do it?

On Mon, May 24, 2021 at 8:10 PM Devin Petersohn ***@***.***>
wrote:

--
Vibhatha Abeykoon

[2021-05-25 02:51] vibhatha commented on #3069
@devin-petersohn
Here I am referring to a code snippet.

Note: If you can also show case how to run a join or a filter in embarrassingly parallel vs distributed for partitioned data would be highly appreciated.

[2021-05-25 11:47] amyskov opened #3086 "Modin docs broken links"
Modin docs have broken links, for example on this [page](https://modin.readthedocs.io/en/latest/experimental_features/index.html).

[2021-05-25 13:15] amyskov opened #3088 "Document modin.pandas.dataframe"
This should include docstrings and purposes of `modin.pandas.dataframe`.

[2021-05-25 17:45] amogkam commented on #3085
@devin-petersohn any guidance on how to go about adding this to modin CI? I think ideally we can just run the same tests that currently exist for modin on ray, except with ray client.

[2021-05-26 11:35] amyskov opened #3089 "Codecov bash script verification fail"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: 172c2b017f8051dbcde394335f9208f512b0f02a
- **Code we can use to reproduce**:
[code]

### Describe the problem

It was found that the latest codecov bash script wasn't uploaded into `https://codecov.io/bash` (the place where we are get it), but SHA sum for checking we are uploadin

[2021-05-26 13:36] #2978 closed

[2021-05-26 13:38] #3086 closed

[2021-05-26 14:35] devin-petersohn commented on #3085
For this, we would probably want to add a separate job within the existing CI and push for the GitHub Actions (not necessary for our TeamCity tests).

We would need to start the client before running the tests. Modin will automatically connect to the client if you run with environment variable `MODIN_RAY_CLUSTER`. Here's our current github actions workflow: https://github.com/modin-project/modin/b

[2021-05-27 15:24] igalink opened #3093 "Omnisci DB engine on Windows"
Modin should support Omnisci DBE on Windows platform.

[2021-05-27 17:50] #3089 closed

[2021-05-27 19:20] raoberman opened #3095 "Standalone Intel Modin oneContainer for oneContainer Portal"
Add Intel Distribution of Modin container to the oneContainer portal so that Intel oneContainer users can easily find and use Intel Distribution of Modin alongside other Intel AI Kit optimized containers (like TF, AI Kit and SKLearn)

https://software.intel.com/content/www/us/en/develop/tools/containers.html

@aregm

[2021-05-27 19:40] raoberman opened #3096 "Add Intel Distribution of Modin AI Kit Instructions to Modin Installation Documentation"
Add information on how to install, download Intel Distribution of Modin and its OmniSci backend to the Modin documentation [installation section](https://modin.readthedocs.io/en/latest/installation.html), This way, users have information on all types of Modin installs. Also provide other resources such as the Intel Distribution of Modin page for more information: https://software.intel.com/content

[2021-05-27 19:52] raoberman opened #3097 "Specify Differentiation Between Different Modin Installs"
On Modin documentation, for all different installs (conda, pip, conda modin[ray], conda-forge, etc.(r, ensure user knows what backends/dependencies are supporting. i.e. For AI Kit Modin, ensure user knows OmniSci backend and Ray are uincluded, but not Dask. This way, users are aware of what underlying technical stakc is in their specific installation of Modin, and how that may differ to other inst

[2021-05-27 19:57] raoberman opened #3098 "Add AI Kit Intel Distribution of Modin Section to Modin Documentation"
@aregm

Create separate section on open-source Modin documentation highlighting AI Kit Intel Distribution of Modin optimizations, AI Kit, and OmniSci backend with deeper explanation on how this differs from other Modin installs (beyond just install directions)

[2021-05-28 16:23] dchigarev opened #3099 "Building documentation generates a lot of warnings"
### Describe the problem
Building documentation for read-the-docs at the current master generates a lot of warnings. Commit from which it started: b1c6e75f4c8442195e8551b561ba62479cac75c4
**Reproducer**:
[code]
<details><summary>Output:</summary>

[code]

</details>

[2021-05-29 23:26] danpetruk opened #3100 "Arithmetic operations painfully slower compared to pandas"
### System information
- **Windows 10, i7700hq 16gb ram**:

### Describe the problem
As you can see from beyond, modin performs addition of two series of 100 million numbers each 5 times slower than vanilla pandas. Is this expected behavior?

### Source code
[code]

### Output
[code]

[2021-05-29 23:28] danpetruk commented on #3068
Thanks, this answers my question

[2021-05-29 23:28] #3068 closed

[2021-05-31 08:34] dchigarev opened #3101 "Remove the Series version of `update` method from the Query Compiler API"
There are two different methods in the query compiler API which resemble `.update` method from the pandas API, one is for QCs that represent DataFrame and the other for the ones representing Series.
https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/backends/base/query_compiler.py#L363-L371
However, processing Series and Frames seem to be identical for this

[2021-05-31 09:21] dchigarev opened #3102 "Get rid of propagating `level` parameter to the query compiler for reduction operations"
`level` parameter for the list of the following operations is handled at the DataFrame API level, however, it's still passed to the QC.
Here is the example for `count` method:
https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/pandas/base.py#L961-L973
If `level` is specified it's processed by grouping on the corresponding level, but even if it isn't specifie

[2021-05-31 09:38] dchigarev opened #3103 "Add support for/Remove `dt_to_pytimedelta` method at the Query Compiler API"
The `dt_to_pytimedelta` query compiler method doesn't have any references on it, neither at the backend or DataFrame API level. Current implementation of `Series.dt.to_pytimedelta` is defaulting to pandas:
https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/pandas/series_utils.py#L615-L618
`dt_to_pytimedelta` method should be either removed from the Query Com

[2021-05-31 10:04] dchigarev opened #3104 "Remove Series versions of `Resampler.[aggregation, apply, ohlc]` methods from Query Compiler API"
The only difference in the behaviour of DataFrame and Series versions of these methods is that the DataFrame version produces the result with `MultiIndex` columns, where the top level contains the column names. This level can be easily omitted at the Series API level.

Example for `Resampler.apply`:
[code]

[2021-05-31 10:13] dchigarev opened #3105 "Remove `resample_pipe` Query Compiler API method and move its logic to the DataFrame API level"
`Resampler.pipe` method applies passed function directly to the Resampler object [[1]](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.resample.Resampler.pipe.html). In the current flow, it's backends responsibility to create pandas-like Resampler object and pass it to the specified function, but since the front-end level already has a [representation](https://github.com/mod

[2021-05-31 10:26] dchigarev opened #3106 "Get rid of propagating DataFrame API object to the Query Compiler"
For now, there are several known places where high-level objects can propagate to the backend level:
1. Going by [pandas docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) `pandas.DataFrame.isin` may take DataFrame or Series objects as a `value` parameter, but this parameter isn't preprocessed at the front and so DataFrame or Series would be passed instead

[2021-05-31 10:46] dchigarev opened #3107 "Get rid of alias-methods at the Query Compiler API"
There are several known alias-methods:
1. [`dt_dayofweek`](https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/backends/base/query_compiler.py#L1757) is an alias for [`dt_weekday`](https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/backends/base/query_compiler.py#L1799)
2. [`dt_days_in_month`](https://github.com/modin-p

[2021-05-31 10:57] dchigarev opened #3108 "Unpack `**kwargs` that hiding actual parameters for the Query Compiler methods"
Many of the `BaseQueryCompiler` methods are hiding actual arguments by using `*args` and `**kwargs` instead of them. They should be spread into actual parameters.

Example of function hiding parameters:
https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/backends/base/query_compiler.py#L544-L550
`BaseQueryCompiler.count` method takes `**kwargs` instead of act

[2021-05-31 17:31] devin-petersohn commented on #3100
Thanks @danpetruk for the report! This is not expected, but I can reproduce it.

When I run your code I get a similar difference. I know this is not expected because when I run `mdf + mdf` I get a 280ms runtime, whereas I was getting ~1.1s for the `mdf["a"] + mdf["b"]`. `mdf + mdf` should be more expensive (at least slightly), so I suspect this is an issue with metadata for series binary operation

[2021-06-01 12:25] dchigarev opened #3110 "When mask partitions with slice it loses its shape cache"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any OS, Ray engine
- **Modin version** (`modin.__version__`): a3ddf2f
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]
Output:
[code]

### Describe the problem
When masking partition with sliced indices the result partition doesn't preserve the shape cache, however, it still can be computed

[2021-06-01 12:30] dchigarev opened #3111 "Relabeling Modin Frame loses partitions shape cache"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): a3ddf2f
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]
Output:
[code]

### Describe the problem
Setting new axis labels should not change partitioning, so the shape of partitions and so its cache should be untouched.

The cache is losing becau

[2021-06-01 12:41] dchigarev commented on #3100
To perform binary operation partitions of the second operand are broadcasted to partitions of the first operand, to be able to do broadcasting, partitioning of both frames has to be identical. [`PandasFrame._copartition`](https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/engines/base/frame/data.py#L1839) method is responsible for aligning partitioning, it's

[2021-06-01 13:18] dchigarev commented on #3100
Also found out that the binary operations in partition manager [performed](https://github.com/modin-project/modin/blob/a3ddf2f01163a312416d2a8bc456ba9582ae9b4d/modin/engines/base/frame/partition_manager.py#L1243-L1248) like full-axis functions, which is also can be a slow-down factor. @devin-petersohn are there any reasons why we perform even element-wise binary operations as full-axis, should it

[2021-06-01 13:36] amyskov opened #3112 "Document modin.config"
This should include docstrings and purposes of `modin.config`.

[2021-06-01 15:58] #2944 closed

[2021-06-02 11:47] amyskov opened #3114 "Documentation broken links"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version**: 64d6cb064feac23ed5bfa0cba221f35c512c114e
- **Python version**: Any
- **Code we can use to reproduce**:

### Describe the problem

Commit 64d6cb064feac23ed5bfa0cba221f35c512c114e doesn't take into account the most recent changes from https://github.com/modin-project/modin/pull/3030. For ex

[2021-06-02 11:49] amyskov commented on #3114
cc @YarShev @prutskov @vnlitvinov

[2021-06-02 11:59] YarShev commented on #3114
@amyskov , thanks for pointing out! I will take a look. Is that the only issue that you specified?

[2021-06-02 12:31] amyskov commented on #3114
There was another cases, they can be found by examining of warnings that occurs during docs building.

[2021-06-02 12:41] YarShev commented on #3114
It seems to me all the cases related to this issue are fixed. Please, look at the PR.

[2021-06-02 12:48] YarShev opened #3116 "Fix passing redis password to ray.init"
Currently, we pass generated redis password to `ray.init()` that is not exactly correct at all times - this breaks the ability to connect to an already spawned Ray cluster in ordinary, non-cloud workflow.

We need to add an environment variable that is responsible for setting redis password. The value from that variable could be passed to `ray.init()` instead of a generated password.

[2021-06-03 03:05] darthveda-ai opened #3118 "pd.read_csv when connecting to a ray cluster with multiple workers is failing"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.9.1
- **Python version**: 3.7.7
- **Ray version**:1.3.0
- **Minikube version**: 1.9.2 on Darwin 11.2.2
- **Code we can use to reproduce**:

[code]

### Describe the problem
Have a ray cluster (can autoscale to 3 workers) running locally in minikube v1.9.2 run on Mac OS

[2021-06-03 07:53] julibeg opened #3119 "Index column named 'Unnamed: 0' on `.to_csv()` after reading DataFrame with `.read_csv()`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.10
- **Modin version** (`modin.__version__`): 0.9.1
- **Python version**: 3.7.4
- **Code we can use to reproduce**:
[code]
This gives
[code]

### Describe the problem
After reading a CSV and writing it again the resulting file has `Unnamed: 0` as header of the index column, whereas a file that has been

[2021-06-03 09:35] dchigarev commented on #3099
Most of the warnings generated because of the artifacts of inheritance pandas docstrings by the [`BasePandasDataset`](https://github.com/modin-project/modin/blob/64d6cb064feac23ed5bfa0cba221f35c512c114e/modin/pandas/base.py#L92).

Here are some examples of those artifacts (not all of them generates building warnings):
1. References to an internal pandas documentation sections that we cannot copy.

[2021-06-03 13:24] amyskov opened #3121 "Dask scalability issue"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: 64d6cb064feac23ed5bfa0cba221f35c512c114e
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

After some threshold, partitions number increasing using Dask causes performance degradation.

### Source code / logs

Using `Dask` engine:

[2021-06-03 13:41] devin-petersohn opened #3122 "Enable logging from user-defined functions"
It would be useful to allow logging from the user-defined functions called in lower-level operators.

Originally brought up here: https://discuss.modin.org/t/logging-within-a-worker-function/211

[2021-06-03 14:15] devin-petersohn commented on #3119
Thanks @julibeg for the report!

cc @anmyachev

[2021-06-03 14:30] devin-petersohn commented on #3118
@darthveda-ai Thanks for posting!

We have this fixed in the github master branch, and it will be in the next release. If you'd like to use it now, you can pip install from the github: https://modin.readthedocs.io/en/latest/installation.html#installing-from-the-github-master-branch

[2021-06-03 14:33] #3037 closed

[2021-06-03 14:34] darthveda-ai commented on #3118
Thank you @devin-petersohn.

[2021-06-03 15:57] TaylorHere opened #3123 "make pd.read_sql partition work with impala/trino SQLs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

in file modin/engines/base/io/sql/sql_dispatcher.py, SQL partition is implemented like
[code]
but this SQL is not working with impala/trino etc.

[2021-06-04 12:09] amyskov opened #3126 "Tuning `Dask` engine to operate with big datasets"
Sometimes while using Modin with `Dask` engine, different recursive errors with non-informative messages can occur, see reproducer below:

<details>
<summary><b>Reproducer</b></summary>

Reproducer code:
[code]
Output (recursive):
[code]
</details>

This error can be caused by absence of memory on the `Dask` workers, to workaround this problem, memory amount can be increased in the next way (add t

[2021-06-04 12:16] #3114 closed

[2021-06-04 14:31] vnlitvinov opened #3127 "Requirements in different places are conflicting each other"
### System information
- **Modin version** (`modin.__version__`): 653d5b235ffe373b1416fc8049c1080db89bc156

### Describe the problem
We have a few places specifying requirements for Modin: `setup.py`, `requirements.txt` (and a few other `.txt` files) and a few `.yaml` files, as well as some places in code where we check the versions in runtime.

One certain conflict for now is `setup.py` requires

[2021-06-04 22:59] #3060 closed

[2021-06-07 01:13] #3116 closed

[2021-06-07 09:37] #3048 closed

[2021-06-07 16:34] #3110 closed

[2021-06-07 17:17] ckw017 commented on #3085
@devin-petersohn Hey Devin, just wanted to check two things that would help get this closed:
1. It looks like to add tests for modin onto Ray's CI, we need a version of Modin with the fix in #2844. It looks like this was a bit after 0.9.1 was released, so wanted to check if it was possible to get 0.9.2 out so that we can run our tests against that.
2. For getting tests for Ray Client onto Modin's

[2021-06-07 17:42] anmyachev commented on #3119
Some details.

After creating `df2` by the constructor,  `df2` has 1 partition:
[code]
After creating `df2_re` by `read_csv`, `df2_re` has 2 partitions:
[code]

It turns out in some cases that a dataframe created from the same data but in different ways has a different internal representation. Need to understand why.

[2021-06-07 19:23] ckw017 commented on #3085
^ First thing should be fine for now, we'll just install the latest commit when testing for now.

[2021-06-07 19:53] devin-petersohn commented on #3085
@ckw017 thanks for following up!

1.) We are planning to release 0.10 tomorrow (probably 😄). After release it'll probably be good to test the stable release since we are planning major changes for the release after 0.10.
2.) Ray 1.4 will work with Modin given recent patches (e.g., https://github.com/ray-project/ray/issues/15990). We also have a nightly test that runs on the nightly docker containe

[2021-06-07 19:58] devin-petersohn commented on #3010
We will upgrade to 1.4. Ray 1.3 does not support the way we handle joins/groupby. Ray 1.4 does.

[2021-06-07 19:58] #3010 closed

[2021-06-07 19:58] devin-petersohn opened #3130 "Ray version support for >=1.4"

[2021-06-07 20:31] crypdick commented on #3010
Related: #3130

[2021-06-07 23:03] AschHarwood opened #3131 "IndexError: string index out of range"
### System information
- **Debian 10**:
- **Modin version** ( 0.9.1 :
- **Python version  3.9.4 **:
- **Code we can use to reproduce**:

My current configuration. I'm currently using dask as a backend, but that is because I was regularly getting this `IndexError`with ray on a number of methods.
[code]

### Describe the problem
I am using modin to work with a dataset that is roughly 5 GB, which is

[2021-06-08 02:06] devin-petersohn commented on #3131
Hi @AschHarwood, thanks for the detailed report!

The log mentions this line:

[code]

as the culprit, and it's happening inside the lambda during the `apply` call. Is this expected behavior from the `preprocess_text` function?

[2021-06-08 09:58] dchigarev opened #3133 "Dask engine implementation uses private Dask API"
There are several places where getting the current dask scheduler's client is done by calling the dask's private method [`_get_global_client`](https://github.com/dask/distributed/blob/2c8684701eb3e19a48ef1ef7125ed4f9ccd9d682/distributed/client.py#L101). There is a public version of this method called [`default_client`](https://github.com/dask/distributed/blob/2c8684701eb3e19a48ef1ef7125ed4f9ccd9d6

[2021-06-08 10:00] dchigarev commented on #3133
@YarShev should we fix it now if there is upcoming integration with the scaleout-api which will automatically solve this?

[2021-06-08 10:14] YarShev commented on #3133
@dchigarev , yes, we should fix this now because the integration with the scaleout-api won't solve it in the first stages. Also, we need to use Ray public API (`.options()`) instead of Ray private API (`foo._remote()`) to pass additional arguments like `num_returns` in a remote function. Can you create an issue for this, please?

[2021-06-08 10:58] dchigarev opened #3135 "Ray engine implementation uses ray's private API"
Currently, we use private ray's [`._remote()`](https://github.com/ray-project/ray/blob/ca68bf1e931f9091fa1a7f7f42e8740ac3517b3c/python/ray/remote_function.py#L180) function to override the remote function's parameters before its execution:
https://github.com/modin-project/modin/blob/51658b49b54ce89f1277f8b73bdef4cf909e53fd/modin/engines/ray/task_wrapper.py#L65
Ray provides public API to override f

[2021-06-08 10:59] dchigarev commented on #3135
@YarShev do you have more files/cases of using ray's private API on your mind?

[2021-06-08 11:08] YarShev commented on #3135
@dchigarev , yes, I added some more files to the list at the top of this issue.

[2021-06-08 11:54] vnlitvinov commented on #3133
I don't feel that hiding a case of "hey, we use Dask API and want to talk to a client but nobody's home" is appropriate. We should fail as early as possible when programming something, so errors are not lurking under the rug waiting to bite us when we move around.

[2021-06-08 14:32] #3083 closed

[2021-06-08 14:44] devin-petersohn opened #3138 "Fix consistency in connecting to Ray cluster and local cluster"
We work around a couple of things that users have seen in terms of using Ray and local python environments. However, we are not consistent with how we handle these for existing clusters. #3128 was a start toward this, but we also have a case where the `typing` library from pypi can fall before the Python builtin library causing errors.

We need to move these lines outside of the if block to handle

[2021-06-09 10:12] #3135 closed

[2021-06-09 15:06] Rubtsowa opened #3142 "Unskip tests with Future version pandas"
Currently we have problem with tests: test___repr__ - https://github.com/modin-project/modin/blob/master/modin/pandas/test/test_series.py#L501 , test_dtype_empty - https://github.com/modin-project/modin/blob/master/modin/pandas/test/test_series.py#L1539 .

I found this problem when I was working on #2164.

These tests creating empty Series. Modin have default type for Series ``object``. But curren

[2021-06-09 17:51] AschHarwood commented on #3131
Hi @devin-petersohn

Thanks for taking a look at this. After some investigation, I believe you are correct that this is the issue. It's a helper function from the `text-preprocessing`package. I'm not sure why it is causing this issue, but I changed my preprocessing function and we are back in business!

[2021-06-09 18:57] #3133 closed

[2021-06-10 08:11] Rubtsowa opened #3144 "Not correct work in run tests."
There is problem. If we run the tests in separate files - all ok, tests which skip - skipped, which pass - passed . But if run folder "test", some tests which skip - failed. This problem definitely arises when tests run on "BaseOnPython".
Namely,  when we run ``pytest modin/pandas/test --backend=BaseOnPython`` we have the next tests failed:
[code]

[2021-06-10 08:21] YarShev commented on #3144
@Rubtsowa

There is one more issue with running `pytest modin/pandas/test`. If we run our tests in this way, we constantly have the following tests failed:
[code]

Can you look into this as well, please?

[2021-06-10 08:42] thenewera-ru commented on #1008
I can confirm the problem on my side as well. Reading with vanilla pandas:
[code]
gives no problem and correctly parses the data but with `import modin.pandas as mpd` I get the same `pandas.errors.ParserError: Error tokenizing data. C error: EOF inside string starting at row 1360`

**System Information:**
 - OS Platform and distribution: Mac OS Mojave `10.14.16`
 - Python version: `3.8.5`
 - Modin

[2021-06-10 10:14] dchigarev commented on #3111
Performance changes after recently merged 51658b49b54ce89f1277f8b73bdef4cf909e53fd showed, that loss of the partitions shape cache may become a real bottleneck in many operations, so we should be attentive to such kind of issues and possibly resolve them ASAP. That's why I want to ping you (@devin-petersohn) to accelerate this a bit and hear your opinion about what's the better way to solve this i

[2021-06-10 12:31] devin-petersohn commented on #3126
@amyskov Do we need to set `memory_limit` by default in the same way we do for Ray?

[2021-06-10 13:43] devin-petersohn commented on #1008
@thenewera-ru Thanks for posting, can you open a new issue to track this?

Also, would you be able to try with the latest Modin release? We just released 0.10.0 so it would be good to understand if the issue is still happening.

[2021-06-10 14:13] devin-petersohn commented on #3111
@dchigarev A couple of high level things to point out:

1.) The performance is probably not due to loss of partitions shape cache. `add_to_apply_calls` does not interact with the length or width, so it is just carried over.
2.) 51658b4 probably should not have been merged. I propose we revert it. @vnlitvinov @YarShev It sacrifices performance of the common case in the interest of faster performanc

[2021-06-10 14:54] devin-petersohn commented on #3111
After a bit more review, let's keep 51658b4 for now. I think we can work off of it and make something generally applicable. @dchigarev I did a little testing on some better metadata management I am trying to put together, please take a look and give some feedback:

https://github.com/devin-petersohn/modin/tree/perf/2992-update

So far I get performance improvement in `groupby` and `count` by aroun

[2021-06-10 14:56] vnlitvinov commented on #3111
@devin-petersohn #3113 was improving how masking is handled, I am not sure it sacrifices performance in a common case.

As for your new branch - could you please describe the idea of that decorator?..

[2021-06-10 15:00] devin-petersohn commented on #3111
The decorator allows higher level metadata management of the labels. Benchmarking shows that a good amount of task time is spent applying the labels, even if they are not needed. This decorator enables query planning at the metadata level, so we can defer the application of labels in the remote partitions as long as possible (which is always better for performance).

[2021-06-10 15:33] nirn1973 opened #3145 "Accelerate out of core - maybe using memory mapped file"
Requesting to accelerate out of core execution, maybe using memory mapped files.

Thanks very much for making Modin happen!

Nir

[2021-06-10 19:02] devin-petersohn commented on #3145
Hi @nirn1973 thanks for posting!

For my understanding, do you have a problem with the current out of core support in Modin?

[2021-06-10 19:34] YarShev commented on #3111
The performance increase after [51658b4](https://github.com/modin-project/modin/commit/51658b49b54ce89f1277f8b73bdef4cf909e53fd) merged looks intuitive because we preliminary send a remote task to compute length and width and then just grab the result with `ray.get` or `.result()` by need. As for the decorator, it looks good at first glance but let's wait for @dchigarev gets the results.

[2021-06-10 19:38] YarShev commented on #3111
@devin-petersohn , what is the reason to change `default_block_size=32` to `default_block_size=1`?

[2021-06-10 22:31] thenewera-ru commented on #1008
I've just tried upgrading `modin` to 0.10.0 as well as `ray` to 1.4.0 and the error still remains.

[2021-06-10 22:39] thenewera-ru opened #3146 "Pandas parses csv file correctly but modin fails"
### System information
- **OS Platform and Distribution **: `Mac Os Mojave 10.14.6`
- **Modin version** `0.10.0`:
- **Python version**: `3.8.5`
- **Code we can use to reproduce**:

[code]

### Describe the problem
As described in #1008

### Source code / logs
[code]

[2021-06-10 22:42] thenewera-ru commented on #3146
@datapythonista, To reproduce an error aboveI post this demo csv file. Pandas is ok with it but not modin, unfortunately. Hope this helps!
[demo.csv](https://github.com/modin-project/modin/files/6634781/demo.csv)

[2021-06-10 23:19] nirn1973 commented on #3145
Thx for the prompt response. The issue with the current out of core mode is that the computations become very very slow, making this mode less useful for prototyping, and definitely not fast enough for production.  I am hoping something could be done to accelerate the out of core mode, since it is a common situation.

Thank you,

Nir

[2021-06-11 13:06] prutskov commented on #3049
Hi @KangTomwk! I run your script using latest Modin cf259f1cd38c70e246fd5e3ea904b675a5d10bd9 and this successfully works for me.
I used Higgs from [UCI archive](https://archive.ics.uci.edu/ml/datasets/HIGGS). Size is 7.5G, shape is 10.999.999 rows x 29 cols.

The script:
[code]
Output:
[code]

Could you, please, try again on the latest Modin's master?

[2021-06-11 14:07] devin-petersohn commented on #3145
Hi Nir, thanks for the extra context. What operations are you running? I agree that it's a common case, did you notice a slowdown recently? We recently (0.10.0 release) updated how out of core is done, so if there's a slowdown for you we should definitely address it.

[2021-06-11 15:28] dchigarev commented on #3111
@devin-petersohn can you provide the script that you're running to measure the performance changes? Running our ASV Groupby benchmarks on 3482a9ecab2a7ce7cab2a732bfc65563dcd984f6 (commit where `default_block_size` is untouched) gives no changes in performance:
(The reason is obvious, there is no place to get profit from deferring index applying if there is only one operation in the flow)
<details>

[2021-06-14 14:01] Apsylem commented on #1895
this problem percists until today Version: 0.10.0

[2021-06-14 15:18] devin-petersohn commented on #1895
@Apsylem that's helpful to know. Could you share the full traceback for your error?

[2021-06-15 09:12] amyskov opened #3148 "Fix docs typos in `modin.experimental.engines.{pandas_on_ray, pyarrow_on_ray}` modules"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version**: cf259f1cd38c70e246fd5e3ea904b675a5d10bd9
- **Python version**: Any

### Describe the problem

Multiple typos were found in the `modin.experimental.engines.{pandas_on_ray, pyarrow_on_ray}` docs (originally detected in the https://github.com/modin-project/modin/pull/3005#discussion_r6467749

[2021-06-15 10:55] amyskov commented on #3126
Yes, i think, it is good idea, will reclassify this ticket into task.

[2021-06-15 14:00] devin-petersohn commented on #3111
This gives us higher degrees of parallelism, particularly for a lower number of columns. The PR fixes some of the issues with parallelism because it decreases the initial cost of applying the index.

"inherit" does provide significant improvement as you said, but "opposite" can also provide the same benefit for `groupby_reduce` if the non grouping axis (usually the `index`) does not require the la

[2021-06-15 16:24] YarShev commented on #3111
I think `default_block_size=1` may slowdown some cases and ideally it should be computed from a condition including MODIN_CPUS and as well as index and columns a dataframe.

[2021-06-15 16:38] #3088 closed

[2021-06-15 16:47] devin-petersohn commented on #3111
@YarShev `default_block_size` is only the minimum (it should probably be renamed), current partitioning is based on number of CPUs and number of columns/rows as you suggest.

[2021-06-15 16:56] devin-petersohn commented on #3146
@thenewera-ru I can reproduce the issue with your CSV, it looks like it's an issue with the encoding not being properly handled in the workers, but it's still early to tell.

We'll get this worked on, thanks for reporting!

[2021-06-15 17:46] dchigarev opened #3150 "OmniSci backend incorrectly interprets default `skipna` parameter value at aggregation operations"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): 67bab94751be8f391d6e37b04a08e0d34099e97d
- **Python version**: 3.7.5

### Describe the problem
We're supposed to default to pandas if `skipna=False`, however, the following code does that whenever `skipna` can be cast to bool-false (including `None` value). `skipna`

[2021-06-15 18:16] YarShev commented on #3111
@devin-petersohn , oh, I see. I thought `default_block_size` has another responsibility for some reason. I imagined the following case:

1) we have df with shape (100M, 19)
2) we have number of CPUs that is equal to 10
3) when we want to make up column partitions, we will have 2 column partitions with shapes (100M, 10) and (100M, 9)

However, it might be better to have 10 column partitions with sh

[2021-06-15 20:00] #3085 closed

[2021-06-15 20:04] devin-petersohn commented on #3111
@YarShev that is what should happen in this commit. In master, all 19 columns will be on one worker because minimum size is 32.

[2021-06-16 07:46] prutskov opened #3151 "`ValueError` during initialization of Ray 1.4 in Modin"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**:  3.8.10
- **Code we can use to reproduce**:

[code]

### Describe the problem

During initialization of Ray in Modin `ValueError` is occurred:
[code]

[2021-06-16 08:13] dchigarev commented on #3151
Ray verifies object-store size and raises such exception when [`plasma_directory` is not specified](https://github.com/ray-project/ray/blob/90805d302f5950244f346f55d253b926f1b5504f/python/ray/_private/services.py#L1751), in this case, ray assumes `/dev/shm` to be the default plasma directory (on Linux) and compares specified `object_store_size` with the available shared memory.

Modin at the ray i

[2021-06-16 09:11] amyskov opened #3153 "Add API section for `modin.pandas.series` in the documentation."

[2021-06-16 09:33] dchigarev opened #3155 "Implement `pandas.DataFrame.nunique` at OmniSci backend"
`nunique` is a distinct count in the sql notation, which is implemented in OmniSci itself, so only supporting in Modin is required.

[2021-06-16 12:20] #3148 closed

[2021-06-17 05:30] #3153 closed

[2021-06-17 10:28] YarShev commented on #3142
@Rubtsowa , I am not sure that I understand the issue. Example:

[code]
Can you elaborate?

Related to #3141 .

[2021-06-17 10:33] YarShev commented on #3142
@Rubtsowa , what pandas version do you have installed?

[2021-06-17 11:41] Rubtsowa commented on #3142
@YarShev 1.2.4

[2021-06-17 15:55] #3112 closed

[2021-06-17 16:29] ienkovich opened #3159 "[OmniSci] Support duplicated column names"
Currently, we only support duplicated index labels using mangling. We should think about extending its usage to column names.

[2021-06-17 17:14] Rubtsowa commented on #3144
This problem occurs when we call dtype. Because the dtype is assigned internally from an empty DataFrame.

[2021-06-17 17:14] Rubtsowa commented on #3142
This problem occurs when we call dtype. Because the dtype is assigned internally from an empty DataFrame.

[2021-06-17 18:33] YarShev commented on #3142
[42078](https://github.com/pandas-dev/pandas/issues/42078)

[2021-06-18 16:24] dchigarev opened #3160 "`reset_index` doesn't work well in case of MultiIndex columns with OmniSci backend"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): 8d1790cab1985e15868d77ae0471bd35e0bfcd6c
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]

<details><summary>Output</summary>

[code]

</details>

### Describe the problem
When doing `reset_index` on the frame with MultiIndex columns, OmniSci ba

[2021-06-18 16:26] YarShev opened #3161 "Update pandas to 1.2.5"

[2021-06-20 04:06] KabratKingEstelle opened #3164 "can not support [pd.Group(key='date',freq='1M') ,pd.Group('ID')]"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`):
- **Python version**:
- **Code we can use to reproduce**:

### Describe the problem

### Source code / logs

[2021-06-21 12:27] amyskov opened #3166 "Refactor "check support" IO functions"
Some IO classes have "check support" functions (for example `modin.engines.base.io.text.csv_dispatcher.CSVDispatcher._read_csv_check_support` and `modin.engines.ray.generic.io.RayIO._to_csv_check_support` functions), which takes IO function arguments and return `bool` indicating whether these arguments are supported or not. Returning of `bool` is not necessary and "not supported" action can be don

[2021-06-21 12:43] #3150 closed

[2021-06-21 13:59] devin-petersohn commented on #3164
Hi @sunshine0123 thanks for the report!

What was the error message that you saw? Did it fail completely or just show a warning?

[2021-06-21 15:29] amyskov opened #3168 "Fix inconsistencies in the `modin.config` docs"
Comments https://github.com/modin-project/modin/pull/3129#discussion_r655444346 and https://github.com/modin-project/modin/pull/3129#discussion_r655445196 should be addressed.

[2021-06-21 19:13] bobcolner opened #3169 "Add modin implementation for value_counts()"
Super useful function for exploring data.

[2021-06-22 01:38] matthewdeng opened #3170 "FEAT: read_csv from http URL"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS Big Sur 11.2.3
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

Same thing happens if I try to read from the unzipped CSV on my local machine:
[code]

### Describe the problem

I'm running a very simple script with just a `read_csv`

[2021-06-22 06:48] YarShev commented on #3169
Hi @bobcolner , thanks for the posting! We already have related to this issue #1294 . @dchigarev , any progress there?

[2021-06-22 09:15] dchigarev commented on #3169
There is a draft PR with `value_counts` implementation (#2730). It's marked as a draft for now because of the failing OmniSci tests there, they're related with the #2856 which is blocking `value_counts` PR and currently in progress.

[2021-06-22 10:32] amyskov commented on #3170
Hi @matthewdeng , thanks for reporting!
The first reproducer you provided outputs `defaulting to pandas` message because Modin `read_csv` doesn't support URL based inputs, in order to avoid defaulting-to-pandas behavior you can use AWS S3 bucket.
Regarding the second reproducer with local file - i have some problems with reproducing it on my side, see example below (computations are parallelized a

[2021-06-22 11:22] dchigarev opened #3171 "`QueryCompiler.columnarize` triggers unnecessary frame execution"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): f9c99c3817d35f7bf0d91df9aa9644545ea27517
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]

<details><summary>Traceback</summary>

[code]

</details>

### Describe the problem
`columnarize` transposes single-row query compilers in order to transl

[2021-06-22 13:12] amyskov opened #3173 "`push-to-master.yml` test fails"
### System information
- **Modin version**: f9c99c3817d35f7bf0d91df9aa9644545ea27517
- **Code we can use to reproduce**:
[code]

### Describe the problem

`modin/experimental/pandas/test/test_io_exp.py` tests fail in the ray docker container started by `push-to-master.yml` config in the Github Actions. The problem is that resulted `ray_docker_image:nightly` docker image, that is used for tests exe

[2021-06-22 17:24] vnlitvinov opened #3176 "Move testing back to Ray 1.4.0 using conda-forge"
Ray 1.4.0 is now [available in conda-forge](https://anaconda.org/conda-forge/ray-core/files?version=1.4.0), so we should switch testing back to that channel from pip for consistency.

[2021-06-22 20:19] #2202 closed

[2021-06-22 20:21] aregm commented on #1777
@gshimansky Can you please recheck quickly?

[2021-06-22 20:22] aregm commented on #2006
@anmyachev Anatoly, can you please update and close this issue?

[2021-06-22 20:50] aregm commented on #3039
Ray 1.4 conda-forge is ready - do we need to stick to PyPI for Github actions?

[2021-06-22 20:52] YarShev commented on #3039
#3176

[2021-06-22 21:08] richardliaw opened #3177 "[docs] Willing to accept docs contribution for xgboost_ray?"
XGBoost Ray supports doing data processing using distributed modin dataframes.

Would you be willing to take a tutorial/page on your docs to highlight this usage?

https://github.com/ray-project/xgboost_ray#data-sources

cc @krfricke

[2021-06-23 00:44] gshimansky opened #3178 "_modin_frame.fold cannot be called on objects that exist only partially (rest filled with NaNs)"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 20.04.2 LTS

- **Modin version** (`modin.__version__`):

0.10.0+28.g786d64d9

- **Python version**:

Python 3.8.6

- **Code we can use to reproduce**:

[code]

### Describe the problem

Code above raises an exception when `s3` is printed because it gets axis information from only 1 partition because `s2`

[2021-06-23 00:45] amogkam opened #3179 "`read_csv` fails with multi-node Ray Client"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.10
- **Python version**: 3.8
- **Code we can use to reproduce**:
I create a sample `test.csv` file in the current working directory. Then I start a remote Ray cluster.

I then run this script from my laptop
[code]

And it fails with
[code]

### Describe the problem
It

[2021-06-23 00:45] amogkam commented on #3179
@wuisawesome @rkooo567 @AmeerHajAli

[2021-06-23 00:51] wuisawesome commented on #3179
@devin-petersohn for some context, this is mostly a problem when using Modin with distributed Ray, where we have decent support for uploading files to the cluster, but their absolute path will be different (locally, the file would be under `/users/Alex/path/to/data.csv` but on the cluster it will be at `/home/ray/project/data.csv`).

[2021-06-23 02:20] gshimansky commented on #1777
I checked windows version on current master branch (commit f9c99c3817d35f7bf0d91df9aa9644545ea27517) with Ray 1.4.0 now installed from pip. Statement `from modin import pandas as pd` no longer triggers Ray initialization but I made sure that Ray is initialized by creating a modin Series object and Ray initialization works fine.

I think we can close this issue.

[2021-06-23 02:20] #1777 closed

[2021-06-23 04:32] matthewdeng commented on #3170
@amyskov thank you for looking into this, I was able to confirm that I could read from an S3 bucket (where the file is unzipped).

For the problem with reading from my local machine, I was able to fix the problem by expanding the `~` into the home directory.

[code]

[2021-06-23 09:03] amyskov opened #3180 "`read_csv` fallbacks to pandas implementation if file path given relative to the home directory"
Initially was found in the https://github.com/modin-project/modin/issues/3170#issuecomment-866513968.

[2021-06-23 11:23] Peji-moghimi commented on #674
The same issue still persists. Any updates on this yet?

[2021-06-23 13:00] prutskov opened #3181 "Update install command for Ray to remove `FutureWarning`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: all
- **Modin version**: 0.10.0
- **Python version**: 3.8.10
- **Exact command to reproduce**:

[code]
[code]

Output:
[code]

### Describe the problem

`FutureWarning` is raised when functions of installed Modin is used.

[2021-06-23 14:18] devin-petersohn commented on #3170
@matthewdeng I am going to reopen this as a feature request for distributed https URL support so we can track it.

[2021-06-23 16:21] flutterq2 commented on #976
All possible working solution added [[Solved] UnicodeDecodeError: ‘utf8’ codec can’t decode byte 0xe9 in position 10: invalid continuation byte
](https://flutterq.com/unicodedecodeerror-utf8-codec-cant-decode-byte-0xe9-in-position-10-invalid-continuation-byte/)

[2021-06-23 16:51] gshimansky opened #3182 "modin/pandas/test/test_io.py::TestCsv::test_read_csv_compression tests fail with numpy>1.20.3"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 20.04.1 LTS

- **Modin version** (`modin.__version__`):

0.10.0+6.gf9c99c38

- **Python version**:

Python 3.8.6

- **Code we can use to reproduce**:

Update numpy to the latest version (currently 1.21.0) and run modin/pandas/test/test_io.py::TestCsv::test_read_csv_compression tests. When they are ran tog

[2021-06-23 19:03] devin-petersohn commented on #3177
@richardliaw Yes, we'd be definitely accept a contribution to the docs! I don't see a good place in the existing docs structure, should we add a page for integrations and put it there?

[2021-06-23 19:05] #3138 closed

[2021-06-23 19:20] gshimansky commented on #3182
Reopened because we want to find out why new version of numpy doesn't work.

[2021-06-24 06:48] YarShev opened #3185 "modin pandas read_parquet() failed on ETag KeyError trying to read a partitioned parquet from s3"
The source comes from https://stackoverflow.com/questions/68103357/modin-pandas-read-parquet-failed-on-etag-keyerror-trying-to-read-a-partitioned.

[2021-06-24 11:54] Garra1980 commented on #3059
can we close this then?

[2021-06-24 11:58] Garra1980 commented on #3142
so what is the plan here then?

[2021-06-24 14:17] #3161 closed

[2021-06-24 14:21] Garra1980 commented on #3142
We need to wait Pandas 2.0 for test unskipping

[2021-06-24 14:25] vnlitvinov commented on #3127
Food for thought: current requirements on `distributed` prevent us from making a release for Python 3.9 at least on conda-forge, ref: https://github.com/conda-forge/modin-feedstock/pull/17

[2021-06-24 14:29] #3160 closed

[2021-06-24 14:32] Garra1980 commented on #3126
Let's try with latest Dask first

[2021-06-24 14:36] Garra1980 commented on #3039
Let's close this as it is already done

[2021-06-25 10:46] dchigarev opened #3186 "Disable OmniSci' watchdog by default"
In cases when watchdog raises an exception we can't do better than default to pandas, which anyway gives a worse performance in comparison with OmniSci implementation (even when watchdog consider this operation as "too slow")

[2021-06-25 13:26] #2803 closed

[2021-06-25 13:40] vnlitvinov commented on #1681
why was it closed?

[2021-06-25 13:48] #3168 closed

[2021-06-25 14:16] devin-petersohn commented on #674
@Peji-moghimi Lately we have been working on stability improvements and less on adding new features. I'll tentatively mark this for the next release in ~6 weeks, but there are more critical issues we are dealing with in the meantime, so it may get delayed past then. We are always happy to accept a PR until we are able to add it.

[2021-06-25 14:20] #2951 closed

[2021-06-25 14:22] devin-petersohn commented on #3185
@YarShev will you comment there that you opened an issue here and link here so others can follow?

[2021-06-25 14:25] #2918 closed

[2021-06-25 14:25] devin-petersohn commented on #2957
@YarShev should we restart this conversation now?

[2021-06-25 14:27] YarShev commented on #3185
@devin-petersohn, yes, done.

[2021-06-25 14:30] YarShev commented on #2957
@devin-petersohn , yes, let's start from that comment ([link](https://github.com/modin-project/modin/issues/2957#issuecomment-820362643)). Thoughts?

[2021-06-25 14:37] devin-petersohn opened #3188 "Remove Dask pin in setup.py"
https://github.com/conda-forge/modin-feedstock/pull/17

[2021-06-25 14:37] #3039 closed

[2021-06-25 14:40] devin-petersohn commented on #3111
@dchigarev I would like to combine your effort on shape performance improvements with my approach to label performance improvements, do you have progress on shape improvements?

[2021-06-25 14:44] #2830 closed

[2021-06-25 14:48] devin-petersohn commented on #1681
I think pylint will be good, let's reopen.

[2021-06-25 15:01] Peji-moghimi commented on #674
@devin-petersohn Thank you for the update and the great work you have done on this library.
I would love to help out and submit a subsequent PR, but I only started using Modin recently and have no idea about the under the hood mechanics of it.

[2021-06-25 15:33] devin-petersohn commented on #2957
A couple of comments marked by `<====`:
[code]

[2021-06-25 15:40] devin-petersohn commented on #674
We have some low level developer documentation here if you would like to dive in: https://modin.readthedocs.io/en/latest/developer/architecture.html#module-class-view

They aren't completely complete yet, so feel free to ask any questions if you get stuck!

[2021-06-25 18:09] dchigarev commented on #3111
@devin-petersohn I thought It wouldn't be good to work on similar approaches in parallel, so I've done nothing so far...
I think that to be consistent we should do a one thing first (labels or shapes) and basing on that approach do the rest one.

What's the status of [`2992-update` branch](https://github.com/devin-petersohn/modin/tree/perf/2992-update)? If you'd like so I can polish your approach

[2021-06-25 22:16] devin-petersohn commented on #3179
Thanks @amogkam and @wuisawesome for the context! You are correct that the current readers assume that the path provided is accessible by all workers with the provided path.

Modin doesn't use the relative path, which would work. It is happening here: https://github.com/modin-project/modin/blob/e74cde994bef969abd307ad146e6a5d00847ce51/modin/engines/base/io/file_dispatcher.py#L130

Originally this

[2021-06-25 22:24] wuisawesome commented on #3179
Oh interesting... One possibility here could be to make paths relative to some sort of ray base directory instead of relative to CWD. I'm not 100% sure how difficult this would be for either Modin or Ray though...

Let me ask around on the Ray side.

[2021-06-28 07:39] YarShev commented on #3059
Yes, we can close this issue.

[2021-06-28 07:39] #3059 closed

[2021-06-28 09:56] YarShev commented on #2845
@amyskov , what is the status here?

[2021-06-28 10:09] Garra1980 commented on #2845
should we put this in 0.11?

[2021-06-28 10:40] YarShev commented on #2845
yes, let's put this in 0.11.

[2021-06-28 11:09] amyskov commented on #2845
@YarShev this task is not started yet, but will be done for 0.11 release.

[2021-06-28 12:08] EscleineDaher commented on #2998
Hello,
I had the same issue and after following the guide, i download ray. Right after using it, i called Ray like this : os.environ["MODIN_ENGINE"] = "ray" and i had this error, can you help me?

 File "C:\ProgramData\Anaconda3\lib\site-packages\redis\connection.py", line 559, in connect
    sock = self._connect()

  File "C:\ProgramData\Anaconda3\lib\site-packages\redis\connection.py", line 615,

[2021-06-28 12:19] YarShev commented on #2957
@devin-petersohn

I agree

Do you mean we should remove it in favor of dfsql that is in modin/experimental/sql?

Don't we want to abstract from pandas as a base backend? AFAIR, we agreed to have abstract classes/interfaces that only declare methods being overridden by children.

What is wrong with this?

I don't mind naming this as `execution`. Are you okay with that we will name `PandasOnRay`/`Pa

[2021-06-28 13:01] #3182 closed

[2021-06-28 13:06] vnlitvinov commented on #2998
@EscleineDaher I suggest you check your `http_proxy`/`https_proxy` environment variables. Ray uses HTTP to interconnect with some of its internal services, and it honours the proxy variables while connecting.

[2021-06-28 13:08] EscleineDaher commented on #2998
It's not possible to get rid of this part and just stay offline?

[2021-06-28 13:13] vnlitvinov commented on #2998
I don't exactly understand what you mean here.

What I meant was you can try unsetting `http_proxy` and `https_proxy` (like `export http_proxy=` in bash) before running Modin.
Ray itself won't go to the Internet unless you ask for it, but if I set proxy variables I observe the stacktrace which looks very similar to yours.

[2021-06-28 13:16] EscleineDaher commented on #2998
I don't understand what you mean, i write `export http_proxy` before `os.environ["MODIN_ENGINE"] = "ray"` ? is that it? I've tried it and i have this error:
runfile('C:/Users/2101550/OneDrive - DAHER/Bureau/Python/Lib/Win32&64 Python/Test++.py', wdir='C:/Users/2101550/OneDrive - DAHER/Bureau/Python/Lib/Win32&64 Python')
  File "C:\Users\2101550\OneDrive - DAHER\Bureau\Python\Lib\Win32&64 Python\Te

[2021-06-28 13:25] #3063 closed

[2021-06-28 13:29] #3042 closed

[2021-06-28 13:34] EscleineDaher commented on #2998
Apparently my issue should come from my VPN but I can't get rid of it. And now when i want to use dask, the same error pops up.
I'm stuck with this issue and i don't know how to make modin work properly.

[2021-06-28 13:40] vnlitvinov commented on #2998
So, what I propose you do is to write the following in your `test++.py` at the very beginning:

[code]

[2021-06-28 13:44] EscleineDaher commented on #2998
I've tried the code but the same error persists

[2021-06-28 13:48] vnlitvinov commented on #2998
In this case it could be firewall (or some antivirus software) which is blocking the connection.
I don't think we can fix it from our end...

[2021-06-28 13:51] EscleineDaher commented on #2998
Both ray and dask are using proxy?
There isn't a library to speed up python dataframes without this problem?
Because the pandas dataframe is very slow for big files

[2021-06-28 14:12] dchigarev opened #3191 "Make OmniSci engine configurable"
Currently, there is no way to pass custom launch parameters to the OmniSci backend. All of the Modin engines (Ray and Dask so far) have an option of [explicit initialization](https://modin.readthedocs.io/en/latest/using_modin.html#advanced-usage-experimental), this option is not supported for OmniSci engine though.

Ideally, we want to implement something like this:
[code]
This approach would work

[2021-06-28 16:32] grzxz opened #3192 "Add memory modes to Modin on Ray"
Given [Ray support for Object spilling](https://docs.ray.io/en/master/memory-management.html#object-spilling) and [Out of Core in Modin](https://modin.readthedocs.io/en/latest/out_of_core.html), I was thinking about how this could make Modin more flexible storing data in memory and configurable to save on disk also, similar to [Spark Persistence Storage Levels.](https://spark.apache.org/docs/lates

[2021-06-28 17:20] #3181 closed

[2021-06-28 17:56] #3186 closed

[2021-06-28 18:18] ienkovich commented on #3191
We want to have distributed execution with OmniSci eventually. We still don't have any particular plans on how we will do it but we will definitely have multiple OmniSci engine instances.

[2021-06-28 23:02] ienkovich opened #3193 "[OmniSci] Support non-string column names in merge operation"
Currently, OmniSci backend requires column names to be strings for merge operation.

[2021-06-29 00:33] architkulkarni commented on #3179
@devin-petersohn Will it work on Modin's side if we provide an API `ray.get_runtime_context().get_working_dir(): str` which returns the current working directory?  (If called on the client side, it will return `/users/Alex/path/`, and if called in a Ray worker on the server side, it will return `/home/ray/project/`, to use Alex's example above.). That way, appending the relative path will always r

[2021-06-29 00:51] wuisawesome commented on #3179
nit: maybe it should be a `pathlib.Path`?

[2021-06-29 01:10] #3173 closed

[2021-06-29 09:52] dchigarev opened #3195 "Do not pass `None` parameters value to the backend, when it can be replaced by default one"
For some of the methods (only `DataFrame.sum` was found so far) front-end does not handle default values as appropriate. For example, considering [pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) default value for `skipna` parameter is `True`, however going from the function's signature, if nothing is passed it'll be `None`:
https://github.com/modin-pro

[2021-06-29 13:16] #3155 closed

[2021-06-29 15:08] dchigarev opened #3197 "Do not pass lambdas to the backend in case of basic GroupBy aggregation"
Current GroupBy implementation is still passing python lambdas to the backend to do simple aggregation (for example `mean`):
https://github.com/modin-project/modin/blob/89f6cdde56abf5dcf9561ea6721fb31f84a855d5/modin/pandas/groupby.py#L128-L129
These lambdas are not processable by non-python engines, and so even if the backend does support particular aggregation it can't be executed because it's pa

[2021-06-29 15:08] dchigarev commented on #3197
@devin-petersohn what do you think would be the most appropriate way to resolve the lambdas problem:
1. We may continue to pass the aggregation method into a single `groupby_agg` backend function but as a string function name.
2. We may create separate query compiler methods for all of them, like we already did for the GroupBy reduce aggregations (`groupby_sum, groupby_count...` and we'd also add

[2021-06-30 00:06] architkulkarni commented on #3179
Another idea suggested by @amogkam that we're thinking about is to provide an API of the form `server_absolute_path = ray.get_runtime_context().convert_path(client_absolute_or_relative_path)`.  Then on Modin's side, one could pass in `users/Alex/path/to/data.csv` to this function on the server side, and get as output `/home/ray/project/data.csv`.  Would this be better?

[2021-06-30 01:23] iycheng commented on #3179
I think this should be fine. But could we rename the function to be `get_absolue_path` or `get_relative_path` so that we know what's the type of path just from the name?

[2021-06-30 01:51] devin-petersohn commented on #3179
From the Modin side, we try to keep the parsers engine agnostic. Right now there is no Ray specific code in parsing the file. I would prefer not to convert the path on the worker side.

One option is to do it right before task submission in the `deploy` classmethod: https://github.com/modin-project/modin/blob/89f6cdde56abf5dcf9561ea6721fb31f84a855d5/modin/engines/ray/task_wrapper.py#L46-L65

This

[2021-06-30 02:01] wuisawesome commented on #3179
that would look something like

[code]

and Ray sets that env var correctly on all modes?

In the driver it would be `/users/Alex/path`, and on the cluster it might be `/home/ray` for example.

I don't know how you would implement this at the task_wrapper level, since it's such a general function, but I'm wondering if we could do it behind the engine abstraction?

For example `BaseIO.resolve_path`

[2021-06-30 06:01] #3193 closed

[2021-06-30 11:09] #3188 closed

[2021-06-30 12:09] dchigarev opened #3198 "Poor performance of rows picking in arrow-mask queries"
[`OmnisciOnRayFrame._arrow_row_slice`](https://github.com/modin-project/modin/blob/e4e330ae8759e283b2d2ec4cb973ef4048c8cce8/modin/experimental/engines/omnisci_on_ray/frame/data.py#L1215) performs pretty badly when it comes to non-continuous indices.

For example, in the case of indices are set by this slice `slice(step=2)` the following code will produce `len(df) / 2` amount of single-element `par

[2021-06-30 15:31] devin-petersohn commented on #3192
Hi @grzxz, thanks for posting!

I think adding some extra possible configurations to Modin should be possible. The persistence levels that make sense to me are:
1.) Memory-only
2.) Memory and Disk

Id be happy to hear arguments for any other modes!

[2021-06-30 15:33] #3151 closed

[2021-06-30 16:14] devin-petersohn commented on #3179
There are two issues here:
1.) The metadata is calculated on the driver, where the correct filepath is the absolute path
2.) The workers need a different path than the driver for the ray workspace

Solving both is only possible if:
(1) we change the path as we deploy the task by modifying args,
(2) we change the path in the task,
(3) we copy/paste the code for each reader to create a custom Ray Cl

[2021-06-30 16:16] grzxz commented on #3192
Hi @devin-petersohn!

Yes, I was thinking those two and a third one Disk-only to read directly from disk using the least memory possible but maybe Memory and Disk solve this on Ray using memory limits. Disk-only if using Modin along other Ray applications(Tune or Serve for example) would reduce Modin's memory footprint in the cluster.

[2021-06-30 20:02] devin-petersohn commented on #3195
Good catch @dchigarev, this will be good to fix.

[2021-07-01 12:24] prutskov opened #3200 "Ray engine hangs during initialization on WSL1"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: WSL1 Ubuntu 20.04.2 LTS
- **Modin version** (`modin.__version__`): e633a32c2706f75fbbdf852deace9e3384b31086
- **Python version**: 3.8.10
- **Code we can use to reproduce**:

[code]

### Describe the problem

Problem is in hanging of `ray.init` function on WSL1. Corresponded [issue 16804](https://github.com/ray-pr

[2021-07-01 17:16] #2164 closed

[2021-07-02 00:25] alexlenail opened #3201 "Pip: no matches found: modin[ray]"
### System information
- **OSX 11.3 (Big Sur)**:
- **modin-0.10.0**
- **Python 3.7.10**:

### Describe the problem
Can install modin, can't install dependencies using commands from docs.

### Source code / logs
[code]

[2021-07-02 00:34] devin-petersohn commented on #3201
Hi @alexlenail thanks for posting!

In zsh, you need to wrap the `modin[ray]` in quotes:

[code]

In the other shells it is not necessary, but maybe we should update the docs to make it copy/paste friendly to zsh users.

[2021-07-02 06:37] prutskov opened #3203 "Modin XGBoost hangs"
### Describe the problem

ModinXGBoostActors claims all cluster resources. Pending internal tasks can't start and warning message is raised:

[code]

After that, execution hangs.

[2021-07-02 09:30] YarShev opened #3204 "General rules for commiters"
We should add a section defining general rules for committers to Contributing page.

[2021-07-02 10:49] amyskov opened #3205 "`push-to-master` docker tests fail"
After docker image creation tests execution fails with messages:
[code]

[2021-07-02 12:05] YarShev opened #3208 "Update pandas to 1.3.0"

[2021-07-02 14:32] AlexHellen opened #3211 "Fallback to Pandas and mixed types"
### System information
WIndows10
0.10.0
Python 3.7
- **Code we can use to reproduce**:

### Describe the problem
Types get mixed up betweean regular pandas and modin, causing problems in the following functions

### Source code / logs
import modin.pandas as pd
df1 = pd.DataFrame(data = [[10], [20], [70]], index = ['USD', 'CHF', 'EUR'], columns=['curr'])
print (type(df1.index))
print(type(df1.curr)

[2021-07-02 18:06] wuisawesome opened #3213 "Ray Dataset integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

This is a tracking issue on the Modin side for a Modin <-> Ray Dataset integration.

The Modin -> Ray Dataset part will probably look like  #2714 and can be done entirely on in the Ray Dataset code

[2021-07-02 18:07] wuisawesome commented on #3213
Companion issue: https://github.com/ray-project/ray/issues/16851

cc @devin-petersohn

[2021-07-04 00:35] alexlenail commented on #1299
Just to clarify, this is not implemented, correct?

The docs page suggests it _is_: https://modin.readthedocs.io/en/latest/supported_apis/io_supported.html

[2021-07-05 07:32] Rubtsowa opened #3214 "Add test for df/series.index after PandasFrame.to_pandas is called"
Function `PandasFrame.to_pandas` was fixed in #3141 but test wasn't added.

[2021-07-05 10:38] anmyachev opened #3215 "read_csv failed on omnisci backend"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version** (`modin.__version__`): c6393b54639b75ad38f028ba06c6eb1e43bfb790
- **Python version**: 3.7.10
- **Code we can use to reproduce**:

[code]

### Describe the problem

Modin on OmniSci raise Exception while Pandas no.

### Source code / logs

[code]

[2021-07-05 11:24] dchigarev opened #3216 "OmniSci backend with Arrow 3.0"

[2021-07-05 15:18] Havikz2 opened #3217 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 5: invalid continuation byte (On Python 3)"
Hi Everyone,
I am trying to import a csv file using Python and getting the following error:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 5: invalid continuation byte

            During handling of the above exception, another exception occurred:

            UnicodeDecodeError Traceback (most recent call last)
            <ipython-input-2-975331fc3025> in <module>

[2021-07-05 15:42] amyskov opened #3218 "`read_csv` works incorrectly with `parse_dates` and `names` parameters provided"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 20.04
- **Modin version** (`modin.__version__`): c6393b54639b75ad38f028ba06c6eb1e43bfb790
- **Python version**: 3.8.8
- **Code we can use to reproduce**:
[code]

### Describe the problem

### Source code / logs

[2021-07-05 20:19] #3198 closed

[2021-07-06 06:39] #3171 closed

[2021-07-07 06:34] #3214 closed

[2021-07-07 11:18] #2946 closed

[2021-07-07 12:35] dchigarev opened #3219 "Modin's `DataFrame.apply` computes result type incorrectly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): 027e1fba53286bf8b7ceccd11b8c6d04ff5b9ab3
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]

<details><summary>Output</summary>

[code]

</details>

### Describe the problem
The expected result in the case of reduction apply along 1 axis is unname

[2021-07-07 16:06] dchigarev opened #3221 "`DataFrame.apply` doesn't work with dictionary functions"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): 027e1fba53286bf8b7ceccd11b8c6d04ff5b9ab3
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]

<details><summary>Output</summary>

[code]

</details>

### Describe the problem
Modin implementation raises an exception when the applied function is a d

[2021-07-07 17:34] matthewdeng opened #3222 "`read_csv` from S3 on remote Ray cluster downloads data locally"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: maxOS Big Sur 11.2.3
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: Python 3.7.10
- **Code we can use to reproduce**:

[code]

### Describe the problem

When reading a CSV from S3, Modin will load the entire dataset on the local driver. This leads to slow performance due to being limited

[2021-07-08 08:28] #3205 closed

[2021-07-08 14:54] raoberman commented on #2992
@devin-petersohn  is this fixed? should this be closed?

[2021-07-08 15:27] devin-petersohn commented on #3211
Hi @AlexHellen thanks for posting!

I am not sure this is something we can fix in Modin, since plotly is doing something with the Modin object.

[2021-07-08 17:45] aunell opened #3224 "read_csv breaking on 50 GB+ tsv file"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version: 0.9.1** (`modin.__version__`):
- **Python version: 3.7.9 Intel Corporation**:
- **Code we can use to reproduce**: Please contact alyssa.unell@intel.com for more information on the code and dataset.

### Describe the problem
When using the read_csv command, modin crashes with a raylet error on a

[2021-07-08 17:46] raoberman commented on #3224
@aregm  @gshimansky

[2021-07-11 10:03] anmyachev opened #3227 "Bash codecov uploader is in deprecating phase"
[About bash uploader](https://docs.codecov.com/docs/about-the-codecov-bash-uploader)

[Recommended solution](https://docs.codecov.com/docs/codecov-uploader#integrity-checking-the-uploader)

[2021-07-12 08:19] youthmrg commented on #2301
@prutskov Your work is amazing. I also encountered this problem: I need to read a `CSV` file from an S3-like storage system, and I need to specify the `endpoint_url` instead of getting the file from AWS. Pandas-1.2.4 provides the `storage_options` parameter, as shown below, i can successfully read the `CSV` file from the S3-like storage system.
What is the progress of solving this problem? Is ther

[2021-07-12 08:22] youthmrg commented on #2301
@devin-petersohn Your work is amazing. I also encountered this problem: I need to read a `CSV` file from an S3-like storage system, and I need to specify the `endpoint_url` instead of getting the file from AWS. Pandas-1.2.4 provides the `storage_options` parameter, as shown below, I can successfully read the `CSV` file from the S3-like storage system.
What is the progress of solving this problem?

[2021-07-12 10:34] paccy-ops opened #3229 "reason: 'utf-8' codec can't decode byte 0xdc in position 339: invalid continuation byte"
UnicodeDecodeError: skipped file doc1_UTF-16BE.html in ./venv/lib/python3.9/site-packages/weasyprint/tests/resources (reason: 'utf-8' codec can't decode byte 0xdc in position 339: invalid continuation byte)
xgettext: ./venv/lib/python3.9/site-packages/kombu/asynchronous/aws/connection.py:1: Unknown encoding "utf8". Proceeding with ASCII instead.

[2021-07-12 17:47] anmyachev opened #3230 "Codecov - Issue detecting commit SHA. Please run actions/checkout with fetch-depth > 1 or set to 0"
Problem in  https://github.com/modin-project/modin/pull/3209/checks?check_run_id=3046900212#step:24:50

For details see https://github.com/codecov/codecov-action/issues/190

[2021-07-12 17:51] #3208 closed

[2021-07-12 19:19] anmyachev commented on #3227
new version of codecov curently not work with teamcity

[2021-07-12 21:43] ymoslem commented on #2312
Hello! Thanks for your efforts! Any coming fix or current workaround for this please? I have several files that I cannot open due to this bug. Thanks! @amyskov

[2021-07-13 02:41] mflaxman10 opened #3233 "Feature Request: Support read_sql_query"
This is a feature request and not a bug, so would apply to any version.

It is to support the "read_sql_query" method which has been in pandas since near the beginning (0.17 at least).  Optional, but very useful in this case would be to support the "chunksize" parameter in a fashion appropriate to Modin.

The use case is simple and common: you've got data you'd like to access in some database, lik

[2021-07-13 03:39] eromoe opened #3234 ".loc[ lambda, 'col'] = x got error `TypeError: 'function' object is not iterable`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.8
- **Code we can use to reproduce**:

Test code:
[code]

this is valid in pandas.

got error :
[code]

[2021-07-13 10:08] #2856 closed

[2021-07-13 10:40] Garra1980 commented on #3191
@vnlitvinov can we move forward this one as we agreed?

[2021-07-13 10:44] Garra1980 commented on #3176
@vnlitvinov can we do it now?

[2021-07-13 11:17] anmyachev opened #3235 "Add a way to set a different data size for each ASV benchmark"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

[2021-07-13 11:27] vnlitvinov commented on #3191
I would say that it needs to at least have a formal `TODO` comment or separate issue created to track adding validation.

[2021-07-13 11:32] #3230 closed

[2021-07-13 13:31] liberbey commented on #2588
Any improvements on this issue? I am having the same problem.

[2021-07-13 14:56] amyskov opened #3236 "Documentation broken link"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version**: 6c23a23f3b4d2d83d57219ec8a0c94f6932f259a

### Describe the problem

It was found, that after switching to pandas 1.3.0, broken links to pandas docs occured.

### Source code / logs

GitHub Action logs:
[code]

[2021-07-13 18:22] aunell commented on #3224
CURRENTLY PAUSED DUE TO LACK OF MEMORY ON USER'S LOCAL MACHINE

[2021-07-13 18:39] ymoslem commented on #2312
@amyskov Yes, sure.

Here are the steps to reproduce this issue:

1. Download and unzip this file ([link](https://object.pouta.csc.fi/OPUS-ELRA-W0309/v1/moses/en-fr.txt.zip)).
2. Run the following code:
[code]
3. This gives an error:

I have also other files where everything works fine, like [this one](https://object.pouta.csc.fi/OPUS-ELRA-W0301/v1/moses/en-fr.txt.zip).

Thanks!

[2021-07-13 19:13] mst3v3nsn commented on #694
@devin-petersohn
I'm also receiving an issue similar to this.

A brief snippet is as follows:
`
import ray

driver = 'SQL SERVER'

os.environ['MODIN_ENGINE'] = "ray"
ray.init(num_gpus=1)
import modin.pandas as pd

conn_string = f'mssql+pyodbc://{user}:{password}@{server}/{db}?driver={driver}'

query_base = f'SELECT * FROM {table} WHERE ({col_name} >= \'{_start}\' AND {col_name} < \'{_end}\')'

sql

[2021-07-14 07:29] YarShev commented on #2588
Hi guys! I see that your Modin version used is old enough. We released 0.10.1 yesterday. Can you try installing it and report back if this helps?
https://pypi.org/project/modin/

[2021-07-14 10:47] dchigarev commented on #3191
I thought that the next step would be adding some explicit parameters validation at the `pydbe` side, however, I found out that `dbe` already does this, and even prints nice errors:

[code]
The validation [is done](https://github.com/intel-ai/omniscidb/blob/a48c6a1913a4477250f6ec11af419ebf6204b97e/Embedded/DBEngine.cpp#L128-L131) on the `dbe` side, isn't this is what we wanted to achieve?

[2021-07-14 10:58] amyskov commented on #2312
@ymoslem, temporally this bug can be avoided by adding `index_col=False` option to the `read_csv` function, see example below:
[code]
Hope this helps!

[2021-07-14 18:17] #2945 closed

[2021-07-14 19:31] scottschmidl opened #3241 "conda install modin issues"
Hello All,

I am attempting to install modin with `conda install modin`. When I do it tells me that I have to downgrade my Pandas version to 1.1.4, it's currently 1.3, and I would rather not downgrade. Is there a workaround for this or when will Modin support the up-to-version of Pandas?
Thanks

[2021-07-15 04:42] abneetwats24 commented on #2588
Hello, @YarShev I have tried with the updated version also. Same error

Logs:

Python 3.7.9 | packaged by conda-forge | (default, Dec  9 2020, 21:08:20)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe o

[2021-07-15 06:05] YarShev commented on #3241
Hi @scottschmidl , we do not have Modin with pandas 1.3.0 in conda-forge yet. Please, use the latest Modin release 0.10.1 from PyPI.

[2021-07-15 07:30] YarShev commented on #2588
I do not have the issue on master when reading the file. Since we released 0.10.1 a couple of days ago, read_parquet should be working in 0.10.1 as well. Can you remove your current conda env and install required packages in new one with `pip install modin[ray]`?

[2021-07-15 08:56] anmyachev commented on #2992
I benchmarked this functionality using the following reproducer with `Modin==0.10.1`:
[code]

Got the following results:
[code]

According to my results, it turns out that the **Modin is faster**.
Can you re-measure and confirm that this problem disappeared from you?(by using `Modin==0.10.1`)

[2021-07-15 09:05] abneetwats24 commented on #2588
No luck for me. I create a new conda environment with python 3.7.10 and installed modin using `pip install modin[ray]`
[code]

[2021-07-15 10:29] YarShev commented on #2588
It seems that depends on OS. I have just ran reading the file on Windows and got the same error. We will take a look at it.

[2021-07-15 12:18] Rubtsowa opened #3242 "`evals` parameter of Modin xgb.train not correctly processed on the small data shapes"
`modin.experimental.xgboost.train` throws exception when the number of partitions in `DMatrix` of `evals` parameter is less than the number of created actors.

Code to reproduce:
[code]
Output:
[code]

When `num_actors=None`  than we just see a hang.

[2021-07-15 12:47] prutskov opened #3243 "Add asynchronous execution support in Modin xgboost.predict"
### Describe the problem
Current implementation of `predict` in Modin XGBoost can be improved by the next ways:

1. Exclude force partitions redistribution between nodes in Ray cluster.
2. Add asynchronous execution support by excluding blocking calls during execution.

[2021-07-15 14:36] #3195 closed

[2021-07-15 14:40] scottschmidl commented on #3241
@YarShev there is no issue with inconsistencies use pip? I just want to verify because I know that can be an issue sometimes and I don't want any conflicts with my current running pandas version.
Thanks

[2021-07-15 14:41] #3191 closed

[2021-07-15 19:27] srivallid commented on #2499
I get the following error when I import Modin
`UserWarning: The pandas version installed 1.2.3 does not match the supported pandas version in Modin 1.2.4. This may cause undesired side effects!`

I am using anaconda and jupyter, Anaconda is not allowing me to upgrade pandas to 1.2.4, when attempted, it shows a list of conflicts.

Is there any way to downgrade modin so that the pandas versions are

[2021-07-15 19:34] YarShev commented on #3241
@scottschmidl , there shouldn't be any inconsistencies with the latest Modin release 0.10.1 from PyPI because it supports pandas 1.3.0 that you have.

[2021-07-15 19:35] scottschmidl commented on #3241
Excellent, thank you very much

[2021-07-15 19:40] YarShev commented on #3241
You're welcome! I'm closing the issue but feel free reopen it again if there are other related questions.

[2021-07-15 19:40] #3241 closed

[2021-07-15 19:44] YarShev commented on #2499
@srivallid , why can't you remove pandas 1.2.3 at all and install pandas 1.2.4 using `conda install pandas=1.2.4`?

[2021-07-15 20:02] srivallid commented on #2499
I tried `conda remove pandas`, it removed a bunch of other packages including modin, I tried installing modin with `conda install -c conda-forge modin`, it says `Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.`

[2021-07-16 06:03] YarShev commented on #2499
What is your conda version?

[2021-07-16 08:32] anmyachev opened #3246 "ASV: OmniSci fillna benchmark should use column names instead of indexes"
It was found that the expected behavior of the `fillna` function for `pandas=1.3.0` can be obtained using only the column names, not the indixes.

Problem place:
https://github.com/modin-project/modin/blob/9b94cb27bd7ea0b28ce6e6a163c056c3fa38d609/asv_bench/benchmarks/omnisci/benchmarks.py#L253

[2021-07-16 08:38] anmyachev commented on #3246
Misbehavior is also observed for Modin on Ray fillna benchmark: https://github.com/modin-project/modin/blob/9b94cb27bd7ea0b28ce6e6a163c056c3fa38d609/asv_bench/benchmarks/benchmarks.py#L403

For this benchmark, there are also display problems - we need to divide into two classes(at least), which will reduce the parameter matrix. I'll start a separate tracker for this.
![image](https://user-images.g

[2021-07-16 09:00] prutskov opened #3247 "pin version of `mindsdb_sql` used by `dfsql`"
### Describe the problem

CI is broken starting with update `mindsdb-sql` to [0.0.13](https://pypi.org/project/mindsdb-sql/0.0.13/ ). This is dependency of `dfsql` package, that's used in our ci:
https://github.com/modin-project/modin/blob/9b94cb27bd7ea0b28ce6e6a163c056c3fa38d609/.github/workflows/ci.yml#L472

[2021-07-16 09:26] dchigarev opened #3249 "`groupby.agg(python_function)` fails on OmniSci backend instead of defaulting to pandas"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): 9b94cb27bd7ea0b28ce6e6a163c056c3fa38d609
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]

Output:
[code]

[2021-07-16 11:38] prutskov opened #3251 "Unpin `mindsdb_sql` as soon as `dfsql` fixed own deps on `mindsdb_sql`"
Revert changes, included by this #3248

[2021-07-16 14:40] #3247 closed

[2021-07-16 15:20] dchigarev opened #3252 "`GroupBy.__getitem__` does not include 'by' columns into resulted object which leads to `KeyError`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`):
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]

<details><summary>Tracebacks</summary>

First exception:
[code]

Second exception:
[code]

</details>

### Describe the problem
The problem that causes these `KeyError`s is that the slice of grou

[2021-07-16 17:06] srivallid commented on #2499
4.10.3

[2021-07-16 17:24] YarShev commented on #2499
Ok, let's start from clean environment. You can install the latest release into that new environment via `pip install modin` (``pip install modin[ray]` - with ray support, `pip install modin[dask]` with dask support).

[2021-07-16 20:00] #3236 closed

[2021-07-16 20:04] ymoslem commented on #2312
Adding the `index_col=False` option solved it. Thanks a lot! @amyskov
[code]

[2021-07-17 12:37] devin-petersohn commented on #3251
Did we open an issue on `dfsql`?

[2021-07-17 15:43] YarShev commented on #3251
They are currently working on it.
https://github.com/mindsdb/dfsql/pull/19

[2021-07-19 12:34] #3246 closed

[2021-07-19 14:21] thistlillo opened #3253 "Conflict with pandas"
I have just installed `modin` (0.10.1) via `pip` (pip-21.1.3) on a machine running `python 3.7`. The command was: `pip install modin[all]`. The installed version of `pandas`  is `1.3.0`.

Installation went fine, but executing `import modin.pandas as pd` I get this error message:

[code]
From what I have read, `read_xml` is not available in `pandas` version `1.3`, but it will be available starting

[2021-07-19 14:40] devin-petersohn commented on #3253
Hi @thistlillo, `read_xml` was added in pandas `1.3`: https://pandas.pydata.org/docs/reference/api/pandas.read_xml.html.

Can you run the following?
[code]

This will show your installed pandas version and the version modin is using.

[2021-07-19 14:48] thistlillo commented on #3253
Then it is trange since the output of the instructions you gave is;

[code]

without any error, by the way.

[2021-07-19 14:51] devin-petersohn commented on #3253
Yes it is strange, especially since it looks like Modin was imported successfully to run those commands. If you rerun the original issue code does it still error at that line?

[2021-07-19 15:11] gshimansky commented on #3227
Can you provide any details of what doesn't work in TeamCity?

[2021-07-19 15:14] anmyachev commented on #3227
Sure, https://github.com/codecov/uploader/issues/219

[2021-07-19 15:25] thistlillo commented on #3253
In a fresh notebook, no errors. Sorry for the question, but this is the first time something like this has happened to me.

[2021-07-19 15:58] #3215 closed

[2021-07-19 19:03] devin-petersohn commented on #3253
@thistlillo No problem, glad I could help!

[2021-07-19 19:03] #3253 closed

[2021-07-20 08:22] anmyachev opened #3254 "Add check ASV benchmarks on pure Pandas"
A run of benchmarks on the Pandas was added, the results in the dashboard can be viewed using `machine=xeon-e5-pandas` filter. This check is needed to find errors at an earlier stage (Modin CI).

Example:
http://modin.org/modin-bench/#benchmarks.TimeAppend.time_append?machine=xeon-e5-pandas&python=3.8&p-shapes=((500000%2C%2020)%2C%20(1000000%2C%2010))

[2021-07-20 09:36] btseytlin opened #3256 "dfsql tests failing on Windows/MacOS after the last modin update"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows, MacOS
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.7, 3.8
- **Code we can use to reproduce**:

### Describe the problem
We have been getting hanging unit-tests in Github actions since upgrading to latest modin. I haven't been able to find what the problem is exactly, but test

[2021-07-20 10:20] amyskov opened #3257 "[ASV] Move logging and caching to the `gen_data` function"
Logging and caching can be moved to the higher level `gen_data` function from more specific functions like `gen_int_data` and `gen_str_int_data` (originated from https://github.com/modin-project/modin/pull/2923#discussion_r672459083).

[2021-07-20 11:29] JnsLns opened #3258 "Assigning between sets of dataframe columns throws ValueError"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 10
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.7.3
- **Code we can use to reproduce**:

[code]

### Describe the problem
With pd.DataFrame, assigning from a set of columns to a set of columns leads to the following exception with modin.pandas but not pandas.

### Sou

[2021-07-20 11:30] vnlitvinov opened #3259 "Remove outdated conda recipe"
Up-to-date conda recipe is stored at https://github.com/conda-forge/modin-feedstock/tree/master/recipe, and files [stored in Modin source tree](https://github.com/modin-project/modin/tree/0.10.1/scripts/conda-recipe) are woefully outdated.

I think we should remove those in favour of conda-forge ones.

[2021-07-20 12:12] #3254 closed

[2021-07-20 12:22] #2922 closed

[2021-07-20 14:06] kvsingh1 opened #3260 "Recommended tips for using modin in production ML systems"
Hi,

As I understand, Modin is mostly used as a plug-in library for Data Scientists in their analysis and model building. I am wondering if people have used Modin in production ML systems, and if there are any recommended tips/best practices. I am planning to use Dask as the compute engine to run Modin on.

Thanks.

[2021-07-20 15:18] Garra1980 commented on #3099
Does this still happen?

[2021-07-20 15:21] Garra1980 commented on #3118
Can we close this?

[2021-07-20 17:58] darthveda-ai commented on #3118
Yes, closing this issue.

[2021-07-20 17:58] #3118 closed

[2021-07-20 21:45] aunell1 opened #3262 "GroupBy and Agg Breaking with Multiple Parameters"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.9.1
- **Python version**: 3.7.9 Intel Corporation
- **Code we can use to reproduce**: please contact alyssa.unell@intel.com for more information on the code and the dataset

te = gf.iloc[px].groupby(col)[tar].agg(['mean','count'])

### Describe the problem
When using t

[2021-07-21 05:31] YarShev commented on #3262
This should be related to #3252. @dchigarev , take a look, please.

[2021-07-21 06:56] YarShev commented on #3260
Hi @kvsingh1 , thanks for posting!

We already have own implementation of distributed XGBoost training and prediction but so far it is only implemented with Ray compute engine. Good start point for you could be reading these pages ([link1](https://modin.readthedocs.io/en/latest/flow/modin/experimental/xgboost.html), [link2](https://modin.readthedocs.io/en/latest/modin_xgboost.html)) in our documen

[2021-07-21 07:23] kvsingh1 commented on #3260
Hi @YarShev, thanks for your response!

I should have clarified - my question is for the non-modelling aspects of a production ML system. Essentially, just using modin as a replacement for pandas for data preprocessing and feature generation logic. And if people have used Modin as a replacement for pandas in production systems as opposed to interactive jupyter notebooks.

[2021-07-21 11:02] #2996 closed

[2021-07-21 13:19] #3201 closed

[2021-07-21 13:34] #3204 closed

[2021-07-21 14:05] btseytlin commented on #3256
The problem is definitely Ray related, as using `MODIN_ENGINE=dask` removes the issue

[2021-07-21 14:06] devin-petersohn commented on #3256
cc @modin-project/modin-ray

[2021-07-21 14:13] DonYum opened #3263 "What's the differences with Mars?"

[2021-07-21 15:20] vnlitvinov opened #3264 "Improve "Modin in the Cloud" support ☁️"
We have introduced support for "Modin in the Cloud" for automatically spawning a cloud cluster and running a workload in it seamlessly.
The implementation covered only basic codepaths, though, so we need to improve that and handle as much as possible.

Current idea is to first fix as many failing tests as possible in "cloud simulation" approach so we can enable them in the CI.

[2021-07-21 15:54] amyskov opened #3265 "`read_csv` fails if BOM is present"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: b58663bd8f2c8802bb45d7bafa2cc65ae988f959
- **Python version**: 3.8.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

*BOM is Byte Ordering Mark - optional special bytes placed in the beginning of the file used for encoding.

### Source code / logs

[code]

[2021-07-21 16:44] wuisawesome commented on #3256
@btseytlin the windows issue will likely take a bit longer to fix, but you seem to have run into this problem on macOS too?

Could you provide a stack trace/relevant logs for that too?

[2021-07-21 18:08] anmyachev opened #3266 "Update modin version that used in docker omnisci containers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?

At the time of using Modin version: e7812858a3b651156b0cded4b9c9eeb5428f1faa, `modin==0.8.2.1` is installed in docker image from https://github.com/modin-project/modin/blob/b58663bd8f2c8802bb45d7ba

[2021-07-21 20:48] aunell1 opened #3267 "Aggregate, GroupBy dataframe operations hangs on Modin"
### System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Modin version (modin.__version__): 0.9.1
Python version: 3.7.9 Intel Corporation
Code we can use to reproduce: please contact alyssa.unell@intel.com for more information on the code and the dataset
The code was created as a workaround for bug #3262

for fold in [7,8,9,10,11,12]:
        px = np.where( tra.dt_day <fold

[2021-07-22 02:32] DonYum opened #3268 "Why we need dask and other engine?"
As I understand, modin on ray is faster and more flexible then modin on dask, and Ray is good enough, so, why introduce Dask or other engine?

[2021-07-22 06:41] YarShev commented on #3260
@kvsingh1 , you can do everything (e.g. data validation, data cleaning, data exploration) with Modin in the same way as you interact with pandas only having changed the import statement.

[code]

Does this make sense to you?

[2021-07-22 09:32] btseytlin commented on #3256
Unfortunately there is no stack trace on MacOS: tests just hang until my timeout kills them:
https://github.com/mindsdb/dfsql/runs/3112681341

Disabling Ray fixes them on MacOS too.

My current hypothesis is that there is some kind of a deadlock happening on Ray side, on certain OSes.

[2021-07-22 20:02] devin-petersohn commented on #3263
Hi @DonYum, thanks for the question!

Mars is a project out of Alibaba. They are building a tensor implementation from the ground up to solve some of the needs of their developers. They have a dataframe built on their tensor computing framework.

Modin is a drop-in replacement for pandas. We have developed a core algebra (https://arxiv.org/pdf/2001.00888) that encompasses the entire pandas API. Th

[2021-07-22 21:35] PeterPirog opened #3269 "is possible to add DataFrame.to_excel function?"
Hello
I suggest to add DataFrame.to_excel function in modin.

Peter

[2021-07-22 23:19] luchaoqi commented on #2591
Came across the same question and wanted to follow up after 6 months?

[2021-07-23 11:33] romainRoch opened #3271 "FileNotFoundError Failed to open local file"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Manjaro Linux 21.1.0
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.9.6
- **Code we can use to reproduce**:
[code]
### Describe the problem
If I try to read a feather file with Modin, the file isn't found. But it's found by the classical read_feather() function.

### Source code / logs

[2021-07-23 13:31] DonYum commented on #3263
Got it. Thank you for your reply!
BRs!

[2021-07-23 19:57] nikunjgit opened #3272 "Dataframe operations on Ray actors"
We are trying to use pandas over ray with modin (import modin.pandas)
Looking at the documentation - https://docs.ray.io/en/latest/modin/index.html#dataframe-operations, Modin Dataframe uses Ray tasks to perform data manipulations.

However, we have a use case where we need long running actors with Ray (mainly because we perform some worker initialization which is slow so we maintain long running

[2021-07-23 21:35] rkooo567 commented on #3256
Is it possible to obtain the logs from ray from you guys GithubAction CI? (log files are usually in /tmp/ray/session_latest/logs)

[2021-07-23 21:36] rkooo567 commented on #3256
Oh and also, we've fixed one critical segfault issue recently. Is it possible to check if the issue is reproducible in the ray master? It'll be also great if you guys can open an issue in our Github https://github.com/ray-project/ray/issues

[2021-07-23 21:37] wuisawesome commented on #3213
For reference, here is the package reference for datasets: https://docs.ray.io/en/master/data/package-ref.html

[2021-07-26 07:54] btseytlin commented on #3256
@rkooo567 I will try to get the logs and try using ray master. I am still not 100% sure it's a Ray issue, but if nothing works I will open an issue just in case.

[2021-07-26 07:57] youthmrg opened #3273 "When modin and joblib are used together, a serious stuck problem occurs"
### System information
- modin version: 0.10.0
- pandas version: 1.2.4
- joblib version: 1.0.1
- ray cluster config

### Code & Error
Using ray as the engine and using modin to process the data as a training set, in order to further accelerate sklearn, I decided to use joblib. But when combined with modin and joblib, a very serious error occurred. In order to narrow the scope of the problem, my si

[2021-07-26 08:27] btseytlin commented on #3256
@rkooo567 issue persists when using Ray nightly build

[2021-07-26 09:11] btseytlin commented on #3256
@rkooo567 you can get the saved ray logs in artifacts of this CI job:
https://github.com/mindsdb/dfsql/actions/runs/1066780608

[2021-07-26 10:26] DonYum opened #3274 "df.to_pickle() run fail."
### System information
- **OS**: Ubuntu 16.04
- **Platform**: 4c16G
- **Modin version**: 0.10.1
- **Python version**: 3.7.9
- **Code we can use to reproduce**:

### Describe the problem

[code]

This will run fail with exception of OOM.

And after reading docs, I found modin only support `to_csv`.
So i wonder When will other to_xxx() API will be supported?

BRs!

[2021-07-26 10:42] DonYum commented on #2764
When will this be ready?

[2021-07-26 12:18] #3119 closed

[2021-07-26 13:25] YarShev commented on #3252
One more example that probably relates to the issue.

[code]

[2021-07-26 13:43] YarShev commented on #3252
[code]

[2021-07-26 13:53] Lozovskii-Aleksandr opened #3275 "Enable proper debugging in `modin in the cloud`"
# Problem statement

Some of the tests in the `made in the cloud` mode fall on the remote side. For the debugger to work properly in the console, you need to make additional configuration of the project.

## Instruction manual

1. Clone the repository to the machine: `git clone https://github.com/modin-project/modin`
2. Install the dependencies according to the documentation on the official [websi

[2021-07-26 15:19] amyskov opened #3276 "Data import operations fail if empty frame should be read"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: d03ed30868fb042bbc7282b9c9574145e1228eeb
- **Python version**: 3.8.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

`read_csv` fails during metadata calculation.

### Source code / logs

[code]

[2021-07-26 15:37] Lozovskii-Aleksandr opened #3277 "Long tests in `test_map_metadata`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**: [notebook](https://github.com/Lozovskii-Aleksandr/modin/blob/cloud_investigated/test_analytics/example_notebook_cmp_duration_test.ipynb)

### Describe the problem
#### Task

When ru

[2021-07-26 15:51] amyskov opened #3278 "Incorrect `read_csv` output type with heterogeneous data"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: d03ed30
- **Python version**: 3.8.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

Modin `read_csv` can output incorrect data type during reading heterogeneous data.

### Source code / logs

[code]

[2021-07-26 15:57] amyskov commented on #3278
Also can be related to https://github.com/modin-project/modin/issues/2845.

[2021-07-26 16:25] Lozovskii-Aleksandr opened #3279 "Group different errors in "modin in the cloud" and order by frequency"
### Task

The operability of `modin` is checked using tests. Tests for minimal functionality: `modin\\pandas\\test\\test_io.py`, `modin\\pandas\\test\dataframe\\test_map_metadata.py` and `modin\\pandas\\test\\test_series.py`. In normal mode, the tests work correctly and do not crash. In the `modin in the cloud` mode, these tests give errors. Many of these mistakes are repeated. We will find these

[2021-07-26 16:42] Lozovskii-Aleksandr opened #3280 "TypeError: issubclass() arg 1 must be a class"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**:

To run the test, clone the repository, install the dependencies, activate the installed virtual environment, and run the command:

[code]

### Describe the problem

Occurs in 1055

[2021-07-26 16:44] Lozovskii-Aleksandr opened #3281 "TypeError: can only be called with ndarray object"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**:

To run the test, clone the repository, install the dependencies, activate the installed virtual environment, and run the command:

[code]

### Describe the problem

Occurs in 264

[2021-07-26 16:46] Lozovskii-Aleksandr opened #3282 "AttributeError: 'slice' object has no attribute '__array__'"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**:

To run the test, clone the repository, install the dependencies, activate the installed virtual environment, and run the command:

[code]

### Describe the problem

Occurs in 192

[2021-07-26 16:48] Lozovskii-Aleksandr opened #3283 "AssertionError"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**:

To run the test, clone the repository, install the dependencies, activate the installed virtual environment, and run the command:

[code]

### Describe the problem

Occurs in 47 t

[2021-07-26 16:50] Lozovskii-Aleksandr opened #3284 "TypeError: Expected list, got type"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**:

To run the test, clone the repository, install the dependencies, activate the installed virtual environment, and run the command:

[code]

### Describe the problem

Occurs in 43 t

[2021-07-27 10:22] YarShev opened #3285 "Column lookups on GroupBy with arbitrary Series in by is not yet supported."
[code]

[2021-07-27 10:23] YarShev commented on #3252
The last one should be resolved as part of a separate issue.
#3285

[2021-07-27 11:34] #2646 closed

[2021-07-27 15:52] RAbraham opened #3287 "OOM on Dataframe.apply"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **Modin version** (`modin.__version__`): 0.10.1
- **Ray**: 1.4.1, 1.5.0*
- **Python version**: 3.7
- **Code we can use to reproduce**:
[code]

### Describe the problem
Based on this dicussion(https://discuss.modin.org/t/alternative-to-dataframe-apply-func-for-accessing-multiple-columns-as-input-without-oom-erro

[2021-07-27 17:06] romainRoch commented on #3268
Dask is used mostly for the Windows users. Stick with Ray and uninstall Dask if it bothers you !
As other engines, it seems that there are none, believing the documentation.

[2021-07-27 19:39] YarShev commented on #3267
Closing the issue because it doesn't persist on master.

[2021-07-27 19:39] #3267 closed

[2021-07-28 06:33] YarShev commented on #3272
Hi @nikunjgit , thanks for the question! We have an API to retrieve Modin DataFrame partitions ([link](https://modin.readthedocs.io/en/latest/flow/modin/distributed/dataframe/pandas.html)). Having retrieved the partitions (block-wise, row-wise or column-wise in depend on `axis` parameter) you can pass them to a method of the actors and call a pandas operation. Note that in that case you are depend

[2021-07-28 06:43] YarShev commented on #3272
@nikunjgit , also, you will have to care of the partitioning of a Modin DataFrame (how to retrieve partitions) and operations that you will want to call whereas Modin is able to do it for you. There might be something else. I've already thought of possible switch between task and actor models In Modin and maybe we should try it at some point.

[2021-07-28 06:45] YarShev commented on #3265
@amyskov , does the issue persist after #3134 merged?

[2021-07-28 10:28] amyskov commented on #3265
@YarShev , yes this issue is still persists, https://github.com/modin-project/modin/pull/3134 doesn't fixed in order to make PR more atomic. This issue should be fixed in the separate PR.

[2021-07-28 11:43] YarShev opened #3289 "Update pandas to 1.3.1"

[2021-07-28 15:24] devin-petersohn commented on #3268
@romainRoch is correct that Dask is better on Windows, but there are a couple of other reasons for Dask and other engines:

1.) We want Modin to run on what you have available. Modin users can keep the same notebook, and the underlying Modin orchestration system will detect and use the compute engine available. If you only have Dask available to you, we did not want that to be a blocker for using

[2021-07-28 17:27] aunell1 opened #3291 "Issue with SetItem for DataFrame (doesn't persist with stock pandas)"
System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Modin version (modin.__version__): 0.10.1
Python version: 3.7.9 Intel Corporation
Code we can use to reproduce: please contact alyssa.unell@intel.com for more information on the code and the dataset
train[label_names] = (train[label_names] > 0) * 1

Describe the problem
Modin implementation of pandas breaks with setItem, d

[2021-07-28 17:40] aunell1 opened #3292 "Dataframe shift breaks with Modin distribution but not stock pandas"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.7.9
- **Code we can use to reproduce**:
-  contact alyssa.unell@intel.com for information regarding the code and dataset

### Describe the problem
Shifting of a dataframe using modin distribution breaks

### Source code / logs
UserWarning:

[2021-07-28 18:06] si-maleki opened #3293 "Converting Modin dataframe to Pandas in a more time efficient way"
I regularly read files larger than 30GB, and spend a lot of time waiting for read_csv. I'm looking to use Modin to speed this up, while using Pandas for the remaining tasks (see footnote for reason). I am finding that while modin.read_csv is incredibly quick,  applying ._to_pandas() takes almost as long as pandas.read_csv.

Is there a more efficient way to convert Modin dataframes to Pandas than .

[2021-07-29 05:12] santhosh2410 opened #3294 "doubt"
how to dynamically get column from dataset into individual dataframe.  Example if my dataset contains id,name,age and address  and  i create a list containing column names. if i pass the list to an for loop and it have check the column in the list and column name in the dataframe if it matches then it have concat that into the empty dataframe created for it.

eg:
 l =[age,address]

age = pd.Datafr

[2021-07-29 05:50] YarShev commented on #3294
Hi @santhosh2410 , If I correctly understand your question, you should probably do as follows:

[code]
Let me know if this is what you try to achieve.

[2021-07-29 06:12] YarShev commented on #3293
Hi, @si-maleki , thanks for the question! Yes, you are correct on that if a pandas operation is not yet supported, Modin calls `._to_pandas` that is currently poor on the performance. We have some issues to accelerate it (#2814, #2815, #2818). Let us know if you also have thoughts on how it can be improved. As a workaround you can try the following way: 1) materialize all the partitions with `ray.

[2021-07-29 10:44] Lozovskii-Aleksandr opened #3295 "Some marked as xfail tests pass in "cloud" mode"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit

### Describe the problem
There are tests that are marked as xfail in the `"modin in the cloud"` mode, which actually pass. One needs to find such tests and enable them, for maximum verification of the functionality o

[2021-07-29 11:45] Lozovskii-Aleksandr opened #3296 "TypeError: __array__() takes 1 positional argument but 2 were given"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.0
- **Python version**: 3.8.10 64-bit
- **Code we can use to reproduce**:

To run the test, clone the repository, install the dependencies, activate the installed virtual environment, and run the command:

[code]

### Describe the problem

<details>
  <s

[2021-07-29 14:32] devin-petersohn commented on #3294
@santhosh2410 do you mind changing the name of the issue to something that is easily searchable related to the question?

To answer your question, generally you want to concat everything at once, so something like:

[code]

[2021-07-29 14:37] adconn opened #3297 "Network access"
Hi,

I am wanting to run Modin with Dask on windows, and windows firewall pops up asking to allow it through the firewall.

Question:
- Is modin / dask communicating with a server?
- Or is it local only?

[2021-07-29 15:03] devin-petersohn commented on #3297
Hi @adconn thanks for the questions!

No, the way that Dask handles communication between local workers is the same way that it would remote workers, but you can turn off your internet and it will not impact functionality at all. It's because of the communication protocol, not any communication with the outside. It is local only unless you connect to a Dask cluster somewhere else (not common).

Do

[2021-07-29 15:07] adconn commented on #3297
That makes sense. My concern is because I don't want data on this project being transmitted outside of my local pc.

If I use the simple method (just importing modin.pandas as pd) I should be ok?

[2021-07-29 15:09] santhosh2410 commented on #3294
@YarShev @devin-petersohn thank you so much

[2021-07-29 15:14] devin-petersohn commented on #3297
@adconn That is correct, nothing will be transmitted. Modin does not connect to the internet, and we only use Dask to execute tasks and communicate between workers. Dask uses ports to communicate, which is why the warning comes from Windows. Ray is no different in that respect.

[2021-07-29 15:38] amyskov commented on #3218
Issue doesn't persist on master branch, so closing it.

[2021-07-29 15:38] #3218 closed

[2021-07-30 09:44] Lozovskii-Aleksandr commented on #3279
I have received error statistics for tests that are conducted for Windows.

I have collected data in a table that shows the path to the test, how many errors there are in this test, and how many of them are unique. Unique errors are those that match the last 9 lines of the traceback.

<details>
<summary>Table</summary>

| path_to_test                                  | total_error | unique error |

[2021-07-30 10:13] Lozovskii-Aleksandr commented on #3279
For all the files listed above in the table, I collected errors and wrote them out in order of decreasing frequency of occurrence.

<details>
<summary>List errors</summary>

<details>
<summary>Error: TypeError: __array__() takes 1 positional argument but 2 were given</summary>

There is already a bug for this problem - [link](https://github.com/modin-project/modin/issues/3296)

    ======= Remote

[2021-07-30 13:11] vnlitvinov commented on #3057
This is probably blocked by https://github.com/intel-ai/omniscidb/issues/167 as agreed with @Garra1980

[2021-08-02 07:32] anton-malakhov commented on #3126
I see this issue with a big dataset supplied to modin/examples/docker/nyc-taxi.py
[code]

[2021-08-02 11:46] Garra1980 opened #3300 "Add documentation for OmniSci engine"
We need to add information about OmniSci engine (how to install, enable in code, supported operations etc) to modin.readthedocs.io

[2021-08-02 14:12] devin-petersohn commented on #3293
Just to add to what @YarShev  said:

This sounds like a bug. Would you open an issue for anything that errors in Modin but usually works in pandas? That would help us out a lot!

[2021-08-02 16:26] Hoeze opened #3301 "Conversion to/from dask dataframe"
Hi, would it be possible to have zero-copy conversion to/from Dask dataframes in modin?
- `ddf = mdf.to_dask_dataframe()`
- `mdf = mpd.from_dask_dataframe(ddf)`

This is useful in many cases when working directly with the Dask partitions.

Also, I'm using `dask_on_ray` and would be very happy if dask dataframe would directly work on Modin's partitions.

[2021-08-02 19:05] devin-petersohn commented on #3301
Hi @Hoeze, thanks for the question!

We have thought about a to/from Dask Dataframe before, what exactly are you trying to do with Modin/Dask? Is there something you need from Dask that Modin can't do (or vice-versa)?

It might be good to also add as a Dask issue, since we don't have control over whether `dask.dataframe` can operate on Modin partitions.

[2021-08-02 19:15] Hoeze commented on #3301
Hi @devin-petersohn!

A main feature that I'd like to use are delayed objects and the lazy execution in Dask Dataframes.
The explicit shuffle commands are a very nice feature of dask as well.
Also, it's not possible to join a Dask dataframe with a modin dataframe as it is possible with Pandas dataframes.

In each case, it's annoying to 1) write the dataframe to disk and 2) open it again when I wan

[2021-08-02 20:50] aunell1 opened #3302 "Calling dataframe column produces an ndarray not a series as in stock pandas"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**:  3.7.11 Intel distribution
- **Code we can use to reproduce**:
Please contact alyssa.unell@intel.com for more information regarding code and dataset.
sub.retweet = (1-wt2[0]) * sub.retweet.values + wt2[0] * sub0.iloc[:,2].values

### Describe

[2021-08-03 05:12] kocmurat93 opened #3303 "Modin resample error"
hi ,
i used resample method with ray modin and ı got error that was TypeError: ‘Resampler’ object is not subscriptable .  My code works with pandas .
my code is :
team_md.resample(‘3T’)[[‘Value’]].mean()
how can i solve this ?

thanks !

Murat KOÇ
Machine Learning Engineer

[2021-08-03 05:46] prutskov commented on #3303
Hi, @kocmurat93!
Thank you for the report. Looks like `Resampler` object hasn't `__getitem__` method, that's reason of your issue. This is bug and we will fix that.

[2021-08-03 06:50] YarShev commented on #3302
Hi @aunell1 , thanks for the report! I guess the error either occurs earlier or when calling `sub0.iloc[:,2].values` because the following snippet works as it should.

[code]

Can you clarify the place of the error, please?

[2021-08-03 07:01] prutskov opened #3304 "Add minor fixes to Modin XGBoost"
Add fixes for the relevant comments from #2936.

[2021-08-03 07:17] kocmurat93 commented on #3303
hi @prutskov ,

We would like to help you to fix the bug in order to speed up the process . Our team can fix this bug.

[2021-08-03 07:27] prutskov commented on #3303
@kocmurat93 it would be great! Before creating of corresponded PR, please, note about our [contributing guidelines](https://modin.readthedocs.io/en/latest/contributing.html).

[2021-08-03 10:54] amyskov opened #3305 "`read_excel` fails if `usecols` and `index_cols` parameters are provided"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: 54898ef78e83209fba3233606841ca988e531aee
- **Python version**: 3.8.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

### Source code / logs

[code]

[2021-08-03 12:58] anmyachev opened #3306 "Move "Distributed XGBoost on Modin (experimental)" topic under "EXPERIMENTAL FEATURES" section."
Modin version: 54898ef78e83209fba3233606841ca988e531aee

See https://modin.readthedocs.io/en/latest/modin_xgboost.html.

[2021-08-03 13:30] aunell1 commented on #3302
It would appear that the operations produce an np.ndarray, but in stock pandas, when this new array gets assigned to sub.retweet, future references to sub.retweet still are of the type series but in modin.pandas, future references are of the type np.ndarray.

[2021-08-04 06:04] YarShev commented on #3302
@aunell1 , thanks for clarification! I can see the issue on master. We will look into it.

[code]

[2021-08-04 08:18] #3300 closed

[2021-08-04 09:41] #3203 closed

[2021-08-04 15:06] dchigarev opened #3310 "OmniSci raise assertion error when performing `DataFrame.merge`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any
- **Modin version** (`modin.__version__`): 521b62e
- **Python version**: 3.7.5
- **Code we can use to reproduce**:
[code]
Output:
[code]

[2021-08-04 21:26] Garra1980 commented on #3310
left_on and right_on are unsupported now. We don't default to pandas which looks wrong anyway

[2021-08-05 05:27] #3097 closed

[2021-08-05 05:45] prutskov opened #3311 "Fix warnings during build documentation"
[Build log](https://readthedocs.org/projects/modin/builds/14404303/) of documentation contains the next warnings:

[code]

[2021-08-05 06:25] YarShev commented on #3311
Related to #3099.

[2021-08-05 07:23] YarShev commented on #2896
We should consider this for near releases.
cc @Garra1980

[2021-08-05 09:49] LeonKolyang commented on #694
I think the error lies within the sql_dipatcher.py module. Modin builds a connection string for retrieving the table columns names with  "SELECT * FROM ({}) as foo LIMIT 0" and chunks the requests with "SELECT * FROM ({}) as foo LIMIT {} OFFSET {}". The LIMIT statement does not exist in SQL Server, I think we would need a translation for this,
AFAIK  a proper SQL Server statement would look someth

[2021-08-05 10:56] amyskov opened #3313 "`read_json` defines metadata incorrectly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
- **Modin version**: bded2e968a0057b1d448aec1957986fdc650d906
- **Python version**: 3.8.10
- **Code we can use to reproduce**:
[code]

### Describe the problem

### Source code / logs

[2021-08-05 12:31] #3249 closed

[2021-08-05 16:30] prutskov opened #3316 "File push.yml has an invalid syntax"
CI in PRs doesn't start with exception:
[code]
Possible issue is in the next place:
https://github.com/modin-project/modin/blob/f7e799a6e4bb6b38cb999ca606d3892a6dbb066f/.github/workflows/push.yml#L171

[2021-08-05 18:15] YarShev opened #3318 "Fix documentation related to usage of OmniSci engine"

[2021-08-05 18:16] YarShev opened #3319 "Update section related to usage of pandas on Ray component"

[2021-08-05 19:09] Garra1980 opened #3322 "Specify proper OS versions for which installation packages are available"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`):
- **Python version**:
- **Code we can use to reproduce**:

### Describe the problem

We need to clarify in docs for what OS each installation channel are available, eg conda's modin-omnisci is available only on Linux at the moment
### Source code / logs

[2021-08-06 04:19] #3316 closed

[2021-08-06 04:22] #3098 closed

[2021-08-06 06:46] #3289 closed

[2021-08-06 07:14] #3318 closed

[2021-08-06 07:17] #3319 closed

[2021-08-06 09:27] #3313 closed

[2021-08-06 12:01] prutskov opened #3323 "Add docstrings/.rst for query_compiler/parsers of cuDF backend"
Query compiler and text parsers for cuDF backend should be documented (docstrings/.rst docs) fill in the gaps:
https://github.com/modin-project/modin/blob/master/docs/flow/modin/backends/index.rst#L49

[2021-08-06 12:05] DonYum commented on #3268
Thanks a lot for your reply.
Is there any benchmark for the performance of modin on ray and dask.
BRs!

[2021-08-06 13:30] prutskov commented on #3099
Should we create an issue/PR with fixes of docstrings in `pandas.DataFrame`? After #3325 is merged, we will have only warnings described in https://github.com/modin-project/modin/issues/3099#issuecomment-853733114, related to incorrect docstrings in `pandas.DataFrame`.

[2021-08-06 14:01] Garra1980 commented on #3096
Closing as it is covered by #3098

[2021-08-06 14:01] #3096 closed

[2021-08-06 14:15] YarShev opened #3326 "Get rid of Ray when using OmniSci engine"

[2021-08-06 18:17] deschman commented on #2215
It looks like this has been implemented and the docs describe that it should be. However modin 0.10.1 is still defaulting to pandas when calling df.to_csv while using the dask engine. I notice the PR from Feb 22 references ray in the notes. Has this not been implemented with the dask engine yet? If not, I can create another issue to investigate.

[2021-08-07 17:11] kocmurat93 opened #3328 "Rolling Error"
hi ,

rolling calculation works correctly pandas and ı tested it on modin , it doesnt work and i got error:

error : positional indexers are out-of-bounds.

can you fix this problem ?

thanks !

Murat KOÇ

![dd](https://user-images.githubusercontent.com/16020575/128608334-f9b9c6dd-74aa-48be-a5cf-3d68e67fe1f9.jpg)

[2021-08-09 07:21] #3276 closed

[2021-08-09 09:20] Lozovskii-Aleksandr opened #3329 "Error `EOFError: stream has been closed` in `"modin in the cloud"` mode"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.8.11
- **Code we can use to reproduce**:

To get an error:

1. Open the file `modin/pandas/test/test_io.py`;
2. Find the test `TestCsv::test_read_csv_squeeze`;
3. Remove `xfail` for `--simulate-cloud`
4. Run the test with the co

[2021-08-09 11:10] #3322 closed

[2021-08-09 12:05] #3296 closed

[2021-08-09 12:27] dchigarev opened #3331 "Add utility function to append messages into arbitrary sections of the existed doc-strings"
This function is required at least at two places:
1. `modin.backends.base.doc_utils.add_refer_to`: https://github.com/modin-project/modin/blob/58290507100fadec409cf199f9c075b997f4a119/modin/backends/base/doc_utils.py#L73-L75
2. `modin.pandas.base.value_counts`: a note [is needed to be inserted](https://github.com/modin-project/modin/pull/2730/files#r683197800) into inherited doc-string

`modin.uti

[2021-08-10 07:06] YarShev commented on #3302
@aunell1 , as a workaround for now you can replace appealing to a DF column via `.retweet` to `["retweet"]`, That should work.

[code]

[2021-08-10 08:53] YarShev commented on #3099
Yes, we should create an issue on their side and discuss the changes first at least.

[2021-08-10 11:25] #3306 closed

[2021-08-10 12:45] reza1615 opened #3333 "Modin ray shows error on pd.read_parquet"
modin version 0.10.0
I could open this parquet file with pandas and it only show this erro when i import modin.
os: ubuntu 20.04
error
![image](https://user-images.githubusercontent.com/2202483/128868834-96bbece8-9306-4fd0-8716-a26cb29527e1.png)

[2021-08-10 14:55] ienkovich opened #3335 "[OmniSci] groupby.agg("sum") gives incorrect results when all columns are key ones"
Reproducer:
[code]
Output:
[code]
With OmniSci we have 'sum' applied to all columns

[2021-08-10 14:58] ienkovich opened #3336 "[OmniSci] Support 'nunique' aggregate"
We need to support aggregation like `df.groupby('col1').agg('col2' : 'nunique')`

[2021-08-10 17:30] #3311 closed

[2021-08-11 09:55] prutskov commented on #3328
Hi, @kocmurat93!

Could you, please, attach a reproducer of the problem? It would be helpful to know about your `team_md` (shape, index, columns)

[2021-08-11 16:25] knaaptime commented on #671
hi, just wanted to say thanks for the package and lend one more vote to the request for geopandas support. Fwiw, there has been a pretty large development effort toward [`dask-geopandas`](https://github.com/geopandas/dask-geopandas) lately, and (from what i understand) a lot of the heavy lifting yet to do is around how to intelligently partition spatial data to (a) maximize efficiency since the sa

[2021-08-12 18:21] #3295 closed

[2021-08-13 07:53] anmyachev commented on #2215
Hi @deschman!

You are right, `to_csv` function is not implemented for `dask` engine.
It would be great if you could create issue about this.

[2021-08-13 08:22] prutskov opened #3338 "Expand parameters support of `modin.distributed.dataframe.pandas.from_partitions`"
Currently, function `modin.distributed.dataframe.pandas.from_partitions` supports only `partitions` and `axis` parameters. We can avoid internal blocking calls by adding additional optional `index`, `columns`, `row_lengths` and `column_widths` parameters, which can be useful for user in case he has this data.

[2021-08-13 18:47] anmyachev opened #3340 "[ASV] add groupby multicolumn case for omnisci backend"
An important case for that we want to track performance.

[2021-08-15 13:37] romainRoch commented on #2588
I got the same issue on Manjaro ! I thought giving the absolute path would prevent the issue, but it didn't. I'll try on the two others OSes I got.
If you need data, feel free to ask !

[2021-08-16 13:44] Rubtsowa opened #3341 "Expansion DMatrix"
Need add new parameters and functions in class DMatrix

[2021-08-16 14:08] YarShev opened #3342 "Update pandas to 1.3.2"

[2021-08-17 05:45] #3336 closed

[2021-08-17 10:10] #3340 closed

[2021-08-17 11:58] prutskov commented on #3292
The issue is occurred in case `index` has duplicates. Reproducer:

[code]
Traceback:
[code]

[2021-08-17 17:29] btseytlin commented on #3256
Finally the issue turned out to be Modin related. Ray hanged when I was trying to write a Modin DataFrame to disk while using Ray. It seems there was some kind of a deadlock, but I am still not sure.

For now I resolved it by using Pandas to write to disk, after which the issue was gone:
https://github.com/mindsdb/dfsql/pull/19/files#diff-287da181ac34dcb8710924d3be04f46fac4c8b26c7de303766af97d571d

[2021-08-17 17:32] #3310 closed

[2021-08-18 10:05] Lozovskii-Aleksandr commented on #3283
The error is not reproduced in modin 0.10.1. All the specified tests are successfully executed.
The tracker is closed.

[2021-08-18 10:05] #3283 closed

[2021-08-18 12:16] anmyachev opened #3346 "Heterogeneous data in a column is not cast to a common type"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `Ubuntu 20.04`
- **Modin version** (`modin.__version__`): f74eec3b2c807d13721d367f62ee3ba18dcd0ba7
- **Python version**: `3.8.10`
- **Code we can use to reproduce**:

[code]

### Describe the problem

In the first partition, the numbers remain as strings, in the rest partitions they are already python ints. In th

[2021-08-18 12:17] anmyachev commented on #3346
cc @YarShev

[2021-08-18 12:22] santhosh2410 opened #3347 "how to get specified index and row values if match is not found"
In the code below I'm checking the matching column values in another column and assign its to a variable and if the match is found I need to get that particular index position value and save it as text file.

[code]

[2021-08-18 12:34] anmyachev commented on #3346
Related to https://github.com/modin-project/modin/issues/3278.

[2021-08-18 13:31] Lozovskii-Aleksandr opened #3348 "TypeError: Cannot interpret 'dtype('int32')' as a data type"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.8.11
- **Code we can use to reproduce**:

The test runs:

[code]

### Describe the problem

The error occurs in the `modin in the cloud` mode in tests that have not worked before. So, for example, the following tests used to fall with a di

[2021-08-18 13:32] Lozovskii-Aleksandr opened #3349 "TypeError: Cannot interpret 'dtype('int32')' as a data type"

[2021-08-18 17:26] anmyachev opened #3350 "ASV: Modin on Ray fillna benchmark should use column names instead of indexes"
Related to #3246.

For details see https://github.com/modin-project/modin/issues/3246#issuecomment-881278686

[2021-08-19 01:42] youthmrg opened #3351 "[Ray Cluster] A crash problem occurred when using modin to process large data sets on the ray cluster"
# Problem description
- ray 1.4.1
- modin 0.10.0

I used Kubernetes to build a Ray cluster with 10 nodes, and tried to use modin to process large-scale data sets on the cluster, but encountered an inexplicable crash problem. I don't understand, is this a modin problem or a ray problem?

<img width="1235" alt="image-20210819092954517" src="https://user-images.githubusercontent.com/42192409/12999349

[2021-08-19 05:34] YarShev commented on #3351
@youthmrg , thanks for the report! It seems to me there are no enough resources in your cluster nodes to process the data.

cc @modin-project/modin-ray , any comments?

[2021-08-19 05:43] YarShev commented on #3351
@youthmrg , how much large your data is? And also, could you try installing Modin 0.10.1 or from sources ([installing instruction](https://modin.readthedocs.io/en/latest/installation.html)) to see if the issue persists?

[2021-08-19 06:03] YarShev commented on #3347
Hi @santhosh2410 , thanks for your question! I edited your example a bit for readability. You need to make minor changes in the example:

[code]

Does this make sense?

[2021-08-19 06:42] youthmrg commented on #3351
@YarShev The size of the dataset has 10 million rows and 41 columns, and the disk occupies about 3GB in the PostgreSQL database. This is a small dataset for testing, but this error has already occurred

[2021-08-19 10:00] #3292 closed

[2021-08-19 10:52] prutskov opened #3353 "Incorrect behavior of `slice_shift` when index has duplicates"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: all
- **Modin version** (`modin.__version__`): 0.10.1+36.g0a78bef1
- **Python version**: 3.8.10
- **Code we can use to reproduce**:

[code]
Output:
[code]

<!--

[2021-08-19 11:59] ianozsvald opened #3354 "Doc error on the comparison page - Dask does support a `quantile` method (albeit approximate)"
On https://modin.readthedocs.io/en/latest/comparisons/dask.html you note `Dask is currently missing multiple APIs from pandas that Modin has implemented. Of note: Dask does not implement iloc, MultiIndex, apply(axis=0), quantile, median, and more`.

Dask has a `quantile` method for both `Series` and `DataFrame`: https://docs.dask.org/en/latest/generated/dask.dataframe.DataFrame.quantile.html . I'd

[2021-08-19 13:56] santhosh2410 commented on #3347
hi @YarShev can help in this code to get non matching value

[2021-08-19 13:59] devin-petersohn commented on #3256
Thanks @btseytlin!

@anmyachev Are you aware of hanging behavior on `to_csv`?

[2021-08-20 04:57] peterhcyuen opened #3357 "Incorrect result after applying Dataframe.apply function (All become __reduced__)"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.8
- **Code we can use to reproduce**:

[code]

[code]

[code]

[code]

[2021-08-20 06:16] YarShev commented on #3357
Hi @peterhcyuen , thanks for posting! I tried your example on current master and my result output is as follows:

[code]
Can you install Modin from master to see if the issue persists on your side?

[2021-08-20 06:21] YarShev commented on #3354
Hi @ianozsvald , thanks for the notice! We'll definitely correct this.

[2021-08-20 12:25] prutskov opened #3358 "`slice_shift` creates a copy of DataFrame/Series instead of view"
### Describe the problem

[code]
Output
[code]

[2021-08-20 13:09] anmyachev opened #3359 "Reduce usage `shell: bash -l {0}` constructions in GA workflows"

[2021-08-20 13:22] anmyachev commented on #3256
@devin-petersohn I will take a look

[2021-08-20 16:57] #3342 closed

[2021-08-21 12:42] peterhcyuen commented on #3357
Oh I just installed Modin from master branch and seems the output is correct now. Thanks.

[2021-08-21 12:42] #3357 closed

[2021-08-22 10:02] anmyachev commented on #3256
Hello @btseytlin!

I tried to reproduce your problem. To do this, I took dfsql current master (`dbe5979f2e9b79de196cc17143b66b11e06851ba`) and changed the line(`PandasDataFrame(dataframe.values, columns=dataframe.columns, index=dataframe.index).to_csv(tmp_fpath, index=False)` to old version.  `test_df_sql_nested_select_in[modin]` was checked with ray==1.4.1 and ray==1.5.2.

I saw messages like `Wi

[2021-08-22 14:41] smacke opened #3361 "Passing a modin dataframe to the pandas dataframe constructor discards rows and/or columns"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.14.5
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.7.11
- **Code we can use to reproduce**:

[code]
[code]

### Describe the problem
Seems like passing a modin dataframe to the pandas dataframe constructor discards some stuff for some reason.

[2021-08-22 15:43] smacke opened #3362 "replicate updates to sys.path to ray workers"
This request is to work around an issue with ray (that likely applies to any framework that relies on Python pickling for serde). Because ray workers do not see updates to sys.path after initialization, objects that depend on modules imported from newly added paths will not work properly on Ray workers when they get deserialized.

[2021-08-23 07:59] YarShev commented on #3347
@santhosh2410 , you only need to change the line `if re.search(al,i):` to `if not re.search(al,i):`.

[2021-08-23 08:37] Lozovskii-Aleksandr opened #3363 "TypeError: cannot dump <member '____id_pack__' of 'BaseNetref' objects>"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **Modin version** (`modin.__version__`): 0.10.1
- **Python version**: 3.8.11
- **Code we can use to reproduce**:

[code]

### Describe the problem

Occurs in 4256 tests.

- modin/pandas/test/dataframe/test_indexing.py::test_reset_index_with_multi_index_no_drop[True-0-False-no_col_fill-no_col_level-no

[2021-08-23 09:06] btseytlin commented on #3256
@anmyachev what do you mean by "going back to using Ray"?

I tried to investigate the Ray side of things, but I couldn't find the problem, I don't have enough knowledge of Ray, unfortunately.

[2021-08-23 10:29] anmyachev opened #3364 "ASV: add value_counts benchmark for OmniSci backend (dataframe case)"

[2021-08-23 10:56] dchigarev commented on #3361
This happens, because `pandas` treat modin DataFrame as an iterable object, and so tries to extract the values via the default frame's iterator, the thing is the basic iterator just enumerates columns, not the frame's data, this is the expected behaviour:
[code]
The proper way to convert modin frame to pandas is to use utility function [`to_pandas`](https://github.com/modin-project/modin/blob/0bc4

[2021-08-23 12:12] CansuCandan opened #3366 "Ray Dataset convert to Modin Dataframe"
Hi,

We read data from HDFS using Ray Dataframe. Our aim is convert Ray dataframe to Modin dataframe but `ds.to_modin() ` is not exist. Can you help us?

Thank you!

[2021-08-23 13:25] devin-petersohn commented on #3366
Hi @CansuCandan, thanks for posting!

We have an open issue tracking this #3213. Would you be ok to move the conversation there? It will help keep the conversations targeted.

[2021-08-23 13:26] devin-petersohn commented on #3366
Closing as duplicate of #3213

[2021-08-23 13:26] #3366 closed

[2021-08-23 13:42] CansuCandan commented on #3213
+++

[2021-08-23 13:47] devin-petersohn commented on #3197
+1 thanks @dchigarev, this is not efficient or ideal. I prefer to have some more explicit control in the query compiler. The hard part is that we end up with a huge bloat in the query compiler API if we explicitly have each API defined individually.

Maybe we need a better `GroupByFunction` to avoid the bloat? It is probably complementary with option 2 above.

[2021-08-23 13:53] anmyachev commented on #3256
I meant return https://github.com/mindsdb/dfsql/pull/19/files#diff-287da181ac34dcb8710924d3be04f46fac4c8b26c7de303766af97d571d1b969R26 line to the previous state (to use ray to write information to disk).

[2021-08-23 13:54] devin-petersohn commented on #1299
Thanks @alexlenail, it was implemented but we disabled the implementation.

We should update the documentation, I will add it in a new issue.

[2021-08-23 13:56] devin-petersohn opened #3367 "Fix flag for `read_hdf` as not implemented in the documentation"
Originally brought up in #1299. We need to change Y to D here: https://github.com/modin-project/modin/blame/master/docs/supported_apis/io_supported.rst#L33

[2021-08-23 14:46] devin-petersohn commented on #3217
Thanks for the report @Havikz2, I can reproduce the issue you ran into.

I also tested this in pandas and pandas throws the same error. Since we try to maintain the same errors as pandas I would not classify this as a bug in Modin. If you think it is a bug in pandas, please link back to this issue so we can also track that. Thanks again for raising the issue!

Closing as this may be a bug in an up

[2021-08-23 14:46] #3217 closed

[2021-08-23 14:49] anmyachev commented on #3256
I also tried `ray==1.2.0`. Segmentation fault is not reproducible.

[2021-08-23 14:53] devin-petersohn commented on #3222
Thanks @matthewdeng for the report!

Reading a CSV containing both quotations and newline characters in the quoted text cannot be done safely in a distributed way. I recommend using `quoting=3` or `quoting=csv.QUOTE_NONE` (after `import csv`) to avoid a large amount of data transfer if your quotes do not contain newline characters.

Reading the names can potentially be done from the workers, but t

[2021-08-23 14:56] devin-petersohn commented on #2301
Hi @youthmrg, sorry for the delay in responding (I finally wrapped up my PhD thesis and graduated 😄).

This is among the highest priority actions for the next release. I am planning on working on this in the next couple of weeks.

[2021-08-23 14:57] devin-petersohn commented on #3229
Hi @paccy-ops, can you share more about the issue you ran into (and maybe the file?)

[2021-08-23 15:05] dchigarev commented on #3197
@devin-petersohn
Not sure that I understand what you mean under "better `GroupByFunction`", is it about those template functions that we store in [`data_management/functions`](https://github.com/modin-project/modin/tree/master/modin/data_management/functions)? If so, then I don't get how we could avoid extraordinary size of the query compiler API with a better `GroupByFunction`. The way I see your

[2021-08-23 15:05] devin-petersohn commented on #3233
Query pushdown is something we are interested in pursuing. It is a large undertaking to both queue up operations and pushdown their SQL equivalents, but I think it can be done.

[2021-08-23 15:07] devin-petersohn commented on #3224
Hi @raoberman @aunell, a 50GB tsv should still be possible with out of core. Can we try again with the latest versions of Modin and Ray?

[2021-08-23 16:08] devin-petersohn commented on #2591
Let's get this fixed for the next release @YarShev

[2021-08-23 16:12] devin-petersohn commented on #3271
Thanks for the detailed fix @romainRoch!

We can fix this by getting the absolute path of the file for feather before we hand off the work to the workers. `os.chdir` causes problems with Ray / Dask workers (as does `sys.path` in #3362), and this was the light weight fix we used for `read_csv`, etc.

[2021-08-23 16:24] devin-petersohn commented on #3274
@DonYum For `to_pickle` we will have in the next release via #2626. Some of the file writers are a bit more difficult.

[2021-08-23 16:37] #3291 closed

[2021-08-23 16:37] devin-petersohn commented on #3258
Closed by #3330

[2021-08-23 16:37] #3258 closed

[2021-08-23 16:40] devin-petersohn commented on #3333
Hi @reza1615, thanks for the report!

How many columns are in this dataset? Are you able to share the file?

[2021-08-23 17:32] btseytlin commented on #3256
Unfortunately I am on Linux and on Linux this error doesnt happen. It did happen on Windows and Macos in Github CI. Since it's in CI it's very awkward to reproduce and leaves no way to debug, but I can try.

Switching from release to nightly Ray builds didn't change anything, but I didn't try older Ray versions

[2021-08-23 22:35] gshimansky commented on #3224
Ray often logs cause of failure when a worker dies. Please add `RAY_LOG_LEVEL=DEBUG` and `RAY_BACKEND_LOG_LEVEL=debug` environment variables so that Ray would log even more information. Also, if worker crashes, it is possible to debug it with gdb (adding `RAY_RAYLET_GDB=1 RAY_RAYLET_TMUX=1` to environment) according to Ray debug page https://docs.ray.io/en/master/debugging.html. This way you can g

[2021-08-24 02:13] youthmrg commented on #2301
@devin-petersohn Congratulations! I'm looking forward to the next release, your team is doing a very amazing job.

[2021-08-24 10:39] anmyachev opened #3368 "RuntimeError: uint8 is not yet supported."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `Ubuntu 20.04`
- **Modin version** (`modin.__version__`): `0.10.2` (from conda-forge)
- **Python version**: `3.9.6`
- **Code we can use to reproduce**:

[code]

Test.py:
[code]

### Describe the problem

This issue was found when running `PlastiCC` workload.

### Source code / logs

[code]

[2021-08-24 10:40] anmyachev commented on #3368
@dchigarev can you take a look?

[2021-08-24 10:50] anmyachev opened #3369 "Wrong pandas version installed with `modin-omnisci==0.10.2` from conda-forge"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `Ubuntu 20.04`
- **Modin version** (`modin.__version__`): `0.10.2` (from conda-forge)
- **Python version**: `3.9.6`
- **Code we can use to reproduce**:

[code]

### Describe the problem

Wrong `Pandas` addiction in Modin receipt for conda.

### Source code / logs

[code]

[2021-08-24 10:51] anmyachev commented on #3369
@maksimbo1 can you take a look?

[2021-08-24 10:59] maksimbo1 commented on #3369
Yeah, i've heard about this problem, i'll look into it.

[2021-08-24 11:37] YarShev commented on #2591
@devin-petersohn , we can fix this just by using default to pandas. I think it's enough for now. I'll take it.

[2021-08-24 11:46] dchigarev opened #3370 "OmniSci backend crashes with non-string column labels"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Modin version** (`modin.__version__`): 57bcfc1
- **Python version**: 3.7.10
- **Code we can use to reproduce**:
[code]

<details><summary>Output</summary>

[code]

</details>

### Describe the problem
When working with non-string column labels it could happen that some backend logic would try to insert

[2021-08-24 11:49] YarShev commented on #3368
As far as I know, OmniSci doesn't support uints for most operations.

cc @ienkovich , @fexolm

[2021-08-24 11:51] dchigarev commented on #3368
it seems that OmniSci does not support unsigned integers at all:

<details><summary>Reproducer</summary>

[code]

</details>

Output:
[code]

The simplest workaround that I could find for this issue is the following:
[code]

[2021-08-24 11:53] YarShev commented on #3370
@dchigarev , we have respective restrictions on this ([link](https://modin.readthedocs.io/en/latest/flow/modin/experimental/engines/omnisci_on_ray/omnisci_engine.html#relational-engine-limitations)). What would you like to do as part of this issue?

[2021-08-24 12:02] YarShev commented on #3197
We likely want to keep QC API as clean as possible and all the implementation should go to a different location. We could move those implementation to `kernels` folder after #2957 is merged. Something like this:
[code]

[2021-08-24 12:14] dchigarev commented on #3370
@YarShev at least this instead of an error:

Also, the reproducers above don't violate the rule about the homogeneous data, the frame with the mixed column names is produced by the **backend** logic, so it's not users fault of getting this error. We should avoid producing conflicting frames somehow

[2021-08-24 13:34] anmyachev commented on #3256
We can try in CI again. I create PR https://github.com/mindsdb/dfsql/pull/31.

[2021-08-24 14:20] btseytlin commented on #3256
Great, lets try

[2021-08-24 15:32] gshimansky commented on #3369
This problem appears not just with `modin-omnisci`. Installing `modin=0.10.2` from conda-forge leads to pandas-1.3.0 as well. Both `modin` and `modin-omnisci` get a wrong pandas version.

[2021-08-24 16:31] gshimansky commented on #3369
One more problem I found with current conda-forge recipe of modin=0.10.2 (not sure if it deserves a separate issue) is that modin no longer requres `ray-core`. This command `conda create -n modin-0.10.2 -c conda-forge modin=0.10.2` creates an environment without any ray packages and modin defaults to using dask.

[2021-08-24 17:28] maksimbo1 commented on #3369
Found problem with conda-forge recipe (thanks to @gshimansky and @aregm ), sended PR with fixed recipe: https://github.com/conda-forge/modin-feedstock/pull/21.

about ray - package modin-ray still requires ray-core, which seems to be okay.

[2021-08-24 18:07] h-vetinari opened #3371 "Do not pin pandas down to patch level"
From https://github.com/conda-forge/modin-feedstock/pull/21:

Xref #3369

[2021-08-24 18:08] h-vetinari commented on #3369
This problem is easily solvable with `conda install modin pandas=1.3.2`. The current 0.10.2 builds are compatible (from the POV of conda-forge) with all pandas 1.3.

Whether modin should pin down to patch level at all is discussed in #3371

[2021-08-24 18:45] gshimansky commented on #3371
These are PRs that updated pandas 1.3.0->1.3.1: https://github.com/modin-project/modin/pull/3290 and 1.3.1->1.3.2: https://github.com/modin-project/modin/pull/3343. There were some functional changes and changes in tests. Making sure that modin code works with all 1.3.x may require making it more flexible and running CI testing for all of the pandas patch-level releases.

[2021-08-24 18:56] h-vetinari commented on #3371
Fair enough, where there are actual pandas-bugs that affect the test suite, patch releases make a "difference". I put this in quotes, because most times, the failing tests are just skipped or worked around, so mostly the test suite was just _pretending_ to be compatible.

In any case, I think the `least` that should be done is to leave the pin open, i.e. `pandas>=1.3.2`. And I'm not even speaking

[2021-08-24 19:22] wuisawesome commented on #3222
@devin-petersohn one question and one potential (hacky) solution.

Question: why do we need to read the entire file though? even if parsing quotes in non-trivial, it should only require reading the header line right? (i.e. the lines after the header of the csv file can't change the header).

Hacky proposal: what if we just moved the entire initial read into a a remote task?

[2021-08-25 00:05] gshimansky commented on #3369
@h-vetinari this doesn't seem to work as you describe. Attempting to add `pandas=1.3.2` leads to conflicts for me:

[code]

[2021-08-25 05:40] #3350 closed

[2021-08-25 06:26] h-vetinari commented on #3369
Ah, this is annoying. Apparently conda-build and conda have different behaviours here (i.e. adding `.*`, resp. adding `.0` apparently).

So yeah, the last build is then not working as I intended, sorry about that.

[2021-08-25 06:55] YarShev commented on #2591
Supported in a distributed way.

[2021-08-25 09:16] JnsLns commented on #3258
@YarShev @devin-petersohn
Thanks a lot! Awesome!

[2021-08-25 09:47] mfWeeWee opened #3375 "Problems with installing Modin"
Hello! I have some problems with installing modin package.

First it says that I have to have Python below 3.9, which I find it odd because on the website it only says that requirement is Pyhon > 3.7.1.

Next thing its says something about my linux system:

The following specification were found to be incompatible with your system:
- feature:/linux-64::__glibc == 2.31=0
- feature: I@/linuex-64::__

[2021-08-25 09:50] #3375 closed

[2021-08-26 21:51] gshimansky opened #3376 "Groupby dictionary aggregation works incorrect in cases when 'by' and columns to aggregate has intersection"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 20.04.3 LTS

- **Modin version** (`modin.__version__`):

0.10.2+2.g253ecd98.dirty

- **Python version**:

Python 3.8.6

- **Code we can use to reproduce**:

[code]

### Describe the problem

Code above works on Pandas but produces a `ValueError: No objects to concatenate` exception on Modin on Python and

[2021-08-27 11:08] DonYum opened #3378 "Why pandas must equal to v1.3.2"
Is it necessary that 'pandas==1.3.2'? That seems somewhat weird.

[2021-08-27 15:30] Lozovskii-Aleksandr opened #3379 "TypeError: '>=' not supported between instances of 'str' and 'int'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin version** (`modin.__version__`): 0.10.2
- **Python version**: 3.8.11
- **Code we can use to reproduce**:

[code]

### Describe the problem

This is the only test file that does not work among all the tests modin for windows.

Occurs in 1296 tests.

- modin/pandas/test/dataframe/test_join_sort