[2022-07-27 21:46] anmyachev commented on #4727
@pyrito thanks for checking that!

[2022-07-27 21:48] pyrito commented on #4727
@anmyachev yeah of course! I was a bit puzzled to see modin finish the `concat` quickly in BenchmarkMode, but then I recall that benchmark mode resolves computations immediately, so it didn't wait on the binary operation for `df1` and `df2`.

[2022-07-27 21:52] jbrockmendel opened #4729 "STY: rename QueryCompiler.view to something more consistent"
QueryCompiler.view seems to behave more like PandasDataframe.mask (which in turn is completely different from pandas.DataFrame.mask).

I propose that both QueryCompiler.view and PandasDataframe.mask (and whatever other relevant methods are out there) be renamed to something like `take_2d` or possibly `take_or_slice_2d`

[2022-07-27 21:59] anmyachev commented on #4298
@wqh17101 thanks for working on that! We should think about upgrading minimum version of `fsspec` thinking about compatibility with pandas.

@jbrockmendel doesn't the problem affect pandas too? Maybe you faced with this?

[2022-07-27 22:02] jbrockmendel commented on #4298
This doesn't look familiar, but I can confirm that pandas 1.5.0 (coming soon) bumps the fsspec minimum supported version to 2021.5.0

[2022-07-27 22:07] jbrockmendel opened #4730 "STY: indexers should be immutable"
e.g. _LocationIndexerBase shouldn't be altered outside of `__init__`

[2022-07-27 22:13] mvashishtha commented on #4729
@jbrockmendel your proposal sounds great to me. Maybe for further clarity we could use `take_2d_labels` or `take_2d_positions` for take-2d-like methods that only take labels or positions, respectively.

[2022-07-27 22:14] anmyachev commented on #4298
thanks @jbrockmendel!

@wqh17101 could you check fsspec v2021.5.0 with Windows 11 (I haven't the OS)? If this works, then a future release of Modin that supports pandas 1.5.0 will also work for you.

[2022-07-27 22:19] #4672 closed

[2022-07-28 07:05] mvashishtha commented on #4530
Besides the call queue requiring draining, another problem with accessing `_data` is that non-full-axis virtual partitions don't have any `_data` property, but they are supposed to expose the same API as block partitions. That's the cause of binary operation failure #4691.  Likewise, methods like [`PandasOnDaskDataframePartitionManager. wait_partitions`](https://github.com/modin-project/modin/blob

[2022-07-28 10:03] stromal commented on #4719
@mvashishtha

# Have not worked

I have tried what you have mentioned in your 1st comment but it gives me the following error:

1.code
[code]

1.output

RUNS for hours on a AWS ec2 g4dn.4xlarge with no other load I have monitored it with htop
[code]

# This have worked

Previously ```pip install modin[all]``` might game me an error because of:
- Maybe because I have used other python 3 version I t

[2022-07-28 10:19] #4719 closed

[2022-07-28 14:10] Garra1980 commented on #3100
I see ~3x speed up on this test for current modin master so I think this can be closed

[2022-07-28 14:28] YarShev commented on #3100
Yes, this should be closed.

[2022-07-28 14:29] mvashishtha commented on #3100
@Garra1980 what system did you test on? Did you enable benchmark mode? If you don't enable benchmark mode the Modin binary operation should happen async.

[2022-07-28 14:29] prutskov commented on #3100
I would prefer not to close this issue now, because the reproducer from description uses `Series`+`Series` type of operation (this types of bin operations wasn't touched by #4391). Probably it's need to find the PR which fixed this issue. Probably it was one of PRs related `mask` improvements..

[2022-07-28 14:34] YarShev commented on #3100
If someone feels the issue should be kept open, do not hesitate to reopen it.

[2022-07-28 15:08] Garra1980 commented on #3100
This is regular python script, what's with benchmarking mode?

[2022-07-28 15:43] mvashishtha commented on #3100
@Garra1980

We should turn on the modin setting [benchmark mode](https://modin.readthedocs.io/en/stable/flow/modin/config.html?highlight=benchmarkmode#modin-configs-list) for most performance comparisons. Otherwise, most operations, including some binary operations, will happen asynchronously and we'll underestimate the time they take.

The binary operation in the following script is (.887, .855)

[2022-07-28 16:21] Garra1980 commented on #3100
I got your point - I just was under impression that modin was slow so there is no async execution in the script

Anyway, we still seem to speed up here since I see 1.35s on master compare to 2.14 on 0.14 in Benchmarking mode

[2022-07-28 16:39] mvashishtha commented on #3100
@Garra1980 how does Modin compare to pandas for your setup, though?

[2022-07-28 16:40] jbrockmendel commented on #4729
Cool.  Are there any other methods that we should get while we're at it?

Are there any scenarios in which these don't make copies?  If so then "take" might not be appropriate. (but it'd be nice to have no-copy variants)

[2022-07-28 17:04] Garra1980 commented on #3100
pandas is ~0.5s

[2022-07-28 19:37] jbrockmendel opened #4732 "DOC: which classes are immutable?"
Doing some performance troubleshooting I'm finding a call to `PandasOnRayDataframePartition.drain_call_queue` is overriding a already-evaluated `self._width_cache` with a ObjectIDType object, which later takes an absurd amount of time to access via ray.get.

Is it the case that a Partition's shape should not change following `__init__`?  if so, it would be nice to have that clearly documented.

[2022-07-28 21:26] pyrito opened #4733 "Support fastparquet engine for `read_parquet`"
**Is your feature request related to a problem? Please describe.**
Currently our implementation of `read_parquet` only supports PyArrow. Given that we have some more user demand, we should also support fastparquet as a library to read parquet files.

[2022-07-28 21:58] #4686 closed

[2022-07-29 04:51] mvashishtha commented on #4729
@jbrockmendel

I can't think of anything else. Just `view` in the query compilers and `mask` at lower levels.

`loc` and `iloc` on a dataframe make copies of the `modin.pandas` dataframe, query compiler, and `PandasDataframe`, but they actually use the same partitions pointing to the same data, e.g.

[code]

So I guess I would count the results as *not* copies.

[2022-07-29 04:59] mvashishtha commented on #3170
Duplicate of #4657

[2022-07-29 04:59] #3170 closed

[2022-07-29 05:48] mvashishtha commented on #4732
@jbrockmendel

No. For one thing `_length_cache` and `_width_cache` are often `None` when the frame is initialized, and `apply` or `drain_call_queue` can set them. I think you might be thinking of cases where `_length_cache` and `_width_cache` are already known. In that case, yes, they should never change. However, I don't think it would help performance much to make `drain_call_queue` stop recomp

[2022-07-29 06:02] mvashishtha commented on #4729
I think in the example above, the full slice short circuits the usual `PandasDataframe.mask` code. But more generally the `iloc` makes a new set of partitions with an `iloc` added to the call queue: https://github.com/modin-project/modin/blob/05bf659b67d2b7153d8aaa004dd95252377eed51/modin/core/dataframe/pandas/partitioning/partition.py#L188

Ray objects are immutable, and adding anything to the ca

[2022-07-29 15:01] jbrockmendel commented on #4732
@mvashishtha thanks for the quick response.  For context, I'm perf-troubleshooting a script in which about a third of the runtime is currently in `width` calls, essentially all of that in `ray.get`.  So the two things I'm focusing on are 1) trying to figure out why the heck ray.get takes so long (on which I'm making little progress) and 2) tracking down where _length_cache/_width_cache are set.

I

[2022-07-29 15:08] jbrockmendel commented on #4729
I think I worded the question poorly.  I meant "copy" as in "copying the underlying data, which can be expensive, and putting it in a new object", as opposed to "making a new object backed by the same data, which is cheap".  in pandas we would call this `.copy(deep=True)` vs `.copy(deep=False)`.

It sounds like modin is doing a third thing, making a copy of the data but not a new object?

[2022-07-29 16:33] mvashishtha opened #4734 "BUG: passing a function returning a series to Series.apply raises KeyError: 'DataFrame'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey
- **Modin version** (`modin.__version__`): 05bf659b67d2b7153d8aaa004dd95252377eed51
- **Python version**: 3.10.4
- **Code we can use to reproduce**:

[code]

### Describe the problem
In pandas the above script gives a dataframe:

[code]

In modin I get an error from `result = globals()[return_type]

[2022-07-29 16:35] mvashishtha commented on #4693
@joelostlund I can reproduce that error on modin 0.15.2 with script:

[code]

But with the latest Modin source I get a slightly different error. I'm closing this issue in favor #4734, which is dedicated to this bug. Please follow progress there.

[2022-07-29 16:35] #4693 closed

[2022-07-29 17:32] mvashishtha opened #4735 "TEST: windows ray CI: flaky segmentation fault and "Windows fatal exception: access violation""
Here's an instance from `modin/pandas/test/dataframe/test_join_sort.py`: https://github.com/modin-project/modin/runs/7581926651?check_suite_focus=true

<details>

<summary>Stack trace</summary>

[code]

</details>

[2022-07-29 17:36] chandrabh opened #4736 "'utf-8' codec can't decode byte 0xdc : invalid continuation byte"
### System information
- **OS Platform and Distribution (e.g., Linux-7)**:
- **Modin version** (`modin.N/A`):
- **Python version**:
- **Code we can use to reproduce**:
requests = os_client.get_object(config['namespace'], config['bucket'], commit_file) #getting from oracle object storage
pdf = pd.DataFrame(requests.data.content)

### Describe the problem
Not able to read parquet file because it thr

[2022-07-29 17:40] mvashishtha commented on #4736
@chandrabh  thank you for posting your issue here. I have some questions:

- Could you please try to make a code snippet that reproduces a bug? It's not possible to reproduce the bug from the code you shared, because we can't tell what the parquet file looks like at all
- Also, do you get the error in a `read_parquet` call? What does that call look like?
- If you can't share the whole file, could

[2022-07-29 18:13] mvashishtha commented on #4732
@jbrockmendel

I'm curious to see the script where you see this bottleneck.

I spent a while trying to imagine a scenario where this happens, but I couldn't. In all the scenarios I could think of where we ended up with something on the call queue, the partition shape was unknown.

Yep I saw that while investigating your question e.g. `transpose` should be able to tell the new partitions their shap

[2022-07-29 19:00] mvashishtha commented on #4729
No, Modin will normally do "copying the underlying data, which can be expensive, and putting it in a new object". A typical `loc` or `iloc` will create a new pandas API object (series or dataframe), query compiler, modin frame, and partitions, which will ultimately get new references to new remote data, e.g.:

[code]

but note that the lazy `add_to_apply_calls` I linked [here](https://github.com/m

[2022-07-29 21:46] jbrockmendel opened #4738 "PERF: infer length/width in binary_operation?"
IIUC PandasDataframePartitionManager.binary_operation is used for calling arithmetic/comparison ops partition-by-partition, and the resulting partitions will have the same shapes as the inputs.  If this is accurate, then we should be able to have the result partitions copy any cached length/width info on the inputs, right?

[2022-07-29 23:29] jbrockmendel commented on #4729
Doesn't this conflict with

?

[2022-07-30 01:11] jbrockmendel opened #4740 "PERF: unnecessary (expensive) concat"
I have ray worker that is calling `PandasDataframeAxisPartition.deploy_axis_func` and in that doing `pandas.concat` on 16 DataFrames with MultiIndex indexes, an expensive concat.

AFAIK there isn't a nice way to see what called deploy_axis_func, so this is a bit speculative.

I think the partitions being collected are exactly the partitions of an existing DataFrame, which I _think_ means that fram

[2022-08-01 09:12] prutskov opened #4741 "Emulate `read_csv_glob` for pandas to refactor `test_io_exp.py`"
### Describe the problem

We have emulation of `read_csv_glob` behavior for pandas apparentely in each test of `test_io_exp.py`. Probably it's need to have some uitl funtion `pandas_read_csv_glob` in one place to reduce code amount in the test file and increase readability.

[2022-08-01 13:29] pyrito commented on #4740
Could you share the script you are using to profile? @jbrockmendel

[2022-08-01 14:05] pyrito opened #4742 "Support parallel CSV reads for different file schemas (e.g. `gs://`)"
**Is your feature request related to a problem? Please describe.**
Currently `read_csv` only supports parallel reads for `s3` and `file` and any other filesystem backend defaults to pandas. We should try to support the following schemes as well: ftp and gs.

[2022-08-01 14:20] pyrito commented on #4742
@prutskov oops yes! I just edited the issue. Thanks for pointing it out.

[2022-08-01 15:21] jbrockmendel commented on #4740
I'm not sure that's allowed.  If it helps, @yarshev and @anmyachev are looking at the same script.

[2022-08-01 15:34] mvashishtha opened #4743 "PERF: Consider whether to avoid partition.length() in the parquet dispatcher."
Per @YarShev [here](https://github.com/modin-project/modin/pull/4700#discussion_r933956399), we should probably not call partition.length() to get partition sizes in the parquet dispatcher:

- Even if we have already materialized the index objects in `build_index`, `ray.get` for the already computed size may be expensive (we should check this)
- If we haven't materialized the index in `build_index

[2022-08-01 15:35] #4305 closed

[2022-08-01 15:43] pyrito commented on #4740
@jbrockmendel Ah ok. Is it possible to at least get a minimum reproducible example?

[2022-08-01 17:03] vnlitvinov opened #4745 "CI fails for OmniSci notebooks as flake8==5 was released on PyPI but not conda"
### Describe the problem
In the notebooks workflow, here's the steps which happen now:
1. we make an env with `conda env create` from our `env_omnsci.yml`, this installs `flake8==5.0.2` and `pycodestyle==2.9.0` from pip
2. we install `flake8-print` by `conda install`, this downgrades packages to `flake8==4.0.1` and `pycodestyle==2.8.0`
3. `conda list` is _lying_ saying that flake8 is still 5.0.2 (

[2022-08-01 18:01] #4652 closed

[2022-08-01 19:09] vnlitvinov opened #4746 "Fix Modin conformance to data interchange API spec"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: any
- **Modin version** (`modin.__version__`): cfafbb254c221dd4f739a9cf5af17c9e8cdf13c3
- **Python version**: any
- **Code we can use to reproduce**:

### Describe the problem
Since https://github.com/data-apis/dataframe-api/pull/74 and https://github.com/data-apis/dataframe-api/pull/69 were merged, the interchan

[2022-08-01 19:12] jbrockmendel commented on #4740
Well, no.  I know concat is getting called bc I put a `breakpoint()` inside `MultiIndex.append`.  I use `ray debug` to step through the stack that gets to that call and the last thing I see before ray's `main_loop` is

[code]

AFAICT the tooling doesn't provide a nice way to find out what call got me here.

[2022-08-01 19:19] pyrito commented on #4652
@honno your intuition about the issue was correct and we are handling this case properly now. Thanks for opening the issue!

[2022-08-01 19:21] jbrockmendel commented on #4738
@mvashishtha I understand copartitioning may occur.  But _after_ co-partitioning, aren't the partition-by-partition operations shape-preserving?  That's why im suggesting they be preserved in binary_operation, not in binary_op.

[2022-08-01 19:27] mvashishtha commented on #4738
@jbrockmendel I think that `binary_op` is doing its best it to preserve the sizes caches at the `PandasDataframe` level. I think you might be thinking of the caches at the partition level? We do lose those when we apply a function per partition in `binary_operation` here:

https://github.com/modin-project/modin/blob/88c3c33cf9b8aab5f5b7077555bea9f2d8466534/modin/core/dataframe/pandas/partitioning/

[2022-08-01 19:34] pyrito opened #4747 "DOCS: Automate release notes"
**Is your feature request related to a problem? Please describe.**
Our current development process requires contributors to explicitly add new changes to the Modin release notes. We should automate this process to that the release notes are automatically generated. We're seeing that a lot of folks are finding it as a point of friction.

[2022-08-01 19:34] mvashishtha opened #4748 "DOCS: Apply the Triage 🩹 label to new issues."
Also, he existing "bug" label is broken, presumably because it uses `bug :bug:` instead of `bug :cricket:`.

[2022-08-01 20:16] mvashishtha commented on #4740
@jbrockmendel I think [`deploy_ray_func`](https://github.com/modin-project/modin/blob/7a36071c0b00e0392615a0dd9d5c2ddd5f7c0d27/modin/core/execution/ray/implementations/pandas_on_ray/partitioning/virtual_partition.py#L509) is remotely calling `deploy_axis_func` because of a line in [`PandasOnRayDataframeVirtualPartition.deploy_axis_func`](https://github.com/modin-project/modin/blob/8521bbe63f15fbfc

[2022-08-01 20:27] #4725 closed

[2022-08-01 20:27] mvashishtha commented on #4729
It does. I think my second statement is correct. I should correct my first statement about "actually use the same partitions pointing to the same data" to say that it only seems to apply to copies (either deep or not) and full slices like `loc[:]`.

[2022-08-01 20:40] mvashishtha opened #4750 "REFACTOR: Delete BaseDataframeAxisPartition.shuffle and subclass implementations."
### System information
- **Modin version** (`modin.__version__`): adb16a17f721048005520388080627975c6852d8

AFAICT, [this function](https://github.com/modin-project/modin/blob/c67a93660b4de7163b25852cb16807283d76265c/modin/core/dataframe/base/partitioning/axis_partition.py#L71) and the subclass implementations are not used anywhere.

[2022-08-01 21:26] mvashishtha commented on #4738
@jbrockmendel is this bug a dupe of #4727?

[2022-08-02 08:24] anmyachev commented on #4743
I found another place that block async execution (dtypes computing if there isn't cache for that): https://github.com/modin-project/modin/blob/adb16a17f721048005520388080627975c6852d8/modin/core/io/file_dispatcher.py#L167

[2022-08-02 09:15] vnlitvinov commented on #4738
I might be missing some context, but I would like to add that co-partitioning produces a copy of the right operand which is discarded after the operation.

I mean, if you do e.g. `df3 = df1 + df2`, then `df3` should have similar shape to `df1`, but `df2` will still have its original shape even if we repartitioned it to perform the binary operation.

[2022-08-02 09:53] anmyachev commented on #4740
@jbrockmendel I tried this approach, it became slower to work on our script (because of Ray's work with object store as @mvashishtha mentioned). In addition, for some operations, for example `groupby.agg` we do not have a pre-computed index that we can pass.

Is there the easy way to speed up concatenating the MultiIndex itself on pandas side?

[2022-08-02 15:00] jbrockmendel commented on #4740
There's a patch that speeds up this particular case, but may slow down other cases (so i haven't decided yet whether to upstream it to pandas):

[code]

[2022-08-02 15:04] jbrockmendel commented on #4738
@YarShev i think you said you confirmed this optimization is correct but found it didn't make a huge difference in the use case you were profiling?  worth making a PR?

[2022-08-02 16:22] #4745 closed

[2022-08-02 17:35] RehanSD opened #4755 "Rewrite Pandas version mismatch UserWarning"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?
I'd like to reformat the pandas version mismatch warning. I think it can be kind of confusing, since it seems to indicate Modin's version as the pandas version that is supported. E.g.:
[code]
This s

[2022-08-02 17:39] vnlitvinov commented on #4755
Maybe adding braces and some rephrasing would work?
[code]

[2022-08-02 17:46] mvashishtha commented on #4755
This LGTM.

[2022-08-02 18:25] mvashishtha commented on #4662
Another failure: https://github.com/modin-project/modin/runs/7636442346?check_suite_focus=true

[2022-08-02 18:30] #4750 closed

[2022-08-02 19:13] ZhengHongming888 opened #4756 "Modin issue to cause the read_parquet file from Minio with error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`):
- **Python version**:
- **Code we can use to reproduce**:

### Describe the problem
Error:  i can use the latest modin to read_csv from Modin/Minio and can not read_parquet from Modin/Minio with below error message. But if i used with standard pandas i still can read_par

[2022-08-02 19:17] RehanSD opened #4757 "REFACTOR: Refactor `full_axis` argument"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. What kind of performance improvements would you like to see with this new API?
`full_axis` at the virtual partition level is used as a flag to tell the partition whether to block partition after or to materialize the result as a single partition - we should probably change it

[2022-08-02 19:20] mvashishtha commented on #4757
I think we can also stop making it a property of the axis object, and instead control the `full_axis` behavior with arguments to `apply`. `apply` seems to be the only thing that uses the `full_axis` argument.

[2022-08-02 19:35] mvashishtha commented on #4507
<img width="367" alt="Screen Shot 2022-08-02 at 2 35 24 PM" src="https://user-images.githubusercontent.com/10712109/182458792-8cdc1cdf-f576-4d92-b083-31b881ac75ce.png">

[2022-08-02 19:56] YarShev commented on #4756
cc @mvashishtha

[2022-08-02 20:06] pyrito commented on #4756
@ZhengHongming888 thanks for opening the issue! It seems that the problem is that `storage_options` is not handled properly for the `read_table` call internally. We should handle this accordingly. I'll make a fix and open a PR for this.

[2022-08-02 20:39] YarShev commented on #4738
Yes, I didn't see any perf gain from that by profiling our use case so I don't think it is worth making a PR for now.

[2022-08-02 20:54] jbrockmendel opened #4758 "REFACTOR: de-duplicate two find_common_type_cat functions"
Near-identical functions in storage_formats.cudf.parser and storage_formats.pandas.parser

[2022-08-02 23:24] mvashishtha opened #4760 "TEST: test_io.py on ubuntu + dask gets stuck most of the time in CI"
sample failure: https://github.com/modin-project/modin/runs/7640485842?check_suite_focus=true

I don't know where it's getting stuck but it's getting stuck on most CI runs.

[2022-08-03 07:17] anmyachev commented on #4760
For example here:
[code]

[2022-08-03 09:38] vnlitvinov commented on #4760
I saw dask hanging in other tests, not only `test_io.py`.

According to timestamps I would say it's really a hang, not a performance issue:
![image](https://user-images.githubusercontent.com/45396231/182576839-b811496e-b7ae-49bc-844a-739f4f40df2f.png)

[2022-08-03 12:44] mvashishtha commented on #4760
I can't reproduce this on my Ubuntu EC2 instance (specs below), even when I set up postgres and sql server. I tried running the whole test_io suite twice on dask with `MODIN_TEST_READ_FROM_SQL_SERVER=TRUE MODIN_ENGINE=DASK`. Meanwhile, I'm

- Trying a PR that skips all the SQL tests to unblock CI for now: https://github.com/modin-project/modin/pull/4761
- Debugging on a branch that only tests test

[2022-08-03 13:24] pyrito commented on #4756
@ZhengHongming888 I'm working on a fix right now, but you can get around this issue by opening a path with `s3fs.S3FileSystem()`.

[2022-08-03 13:56] mvashishtha opened #4762 "TEST: Skip sql test_io tests on dask until we figure out why they make dask get stuck"
In #4761, skipping the sql test class unblocked the dask ubuntu test_io run.

We should still find and address the cause of the 4.5-hour-or-more slowdown in #4760 .

[2022-08-03 14:18] #4727 closed

[2022-08-03 15:50] jbrockmendel commented on #4732
More questions about immutability:

[code]

So it looks like the underlying pandas objects are being treated as immutable?  Why?  That's going to lead to a lot of unnecessary copies.

[2022-08-03 15:52] mvashishtha commented on #4732
Ray requires that stored objects are immutable: https://github.com/ray-project/ray/issues/369

Because of that, Modin [makes a copy](https://github.com/modin-project/modin/blob/13f8793ab96f11f88faec54e37a215ae461eac58/modin/core/storage_formats/pandas/query_compiler.py#L2224) of the partition data before resetting its data.

[2022-08-03 20:16] #4762 closed

[2022-08-03 21:02] mvashishtha commented on #4760
I was able to use the [updev github action](https://github.com/Team-Up-Dev/Udemy-Coupon-Scrapping/actions) to SSH into a machine and run test_io.py and reproduce the failure. I did control-c while the test was stuck on `test_read_sql_from_postgres` and got a stack trace where the first ERROR was `distributed.scheduler - ERROR - Couldn't gather keys`. At the point where the test was stuck I had two

[2022-08-03 21:23] mvashishtha commented on #4760
@mrocklin @jrbourbeau what does the "Couldn't gather key" error [above](https://github.com/modin-project/modin/issues/4760#issuecomment-1204479765) mean? How can we fix it?

[2022-08-03 21:31] mvashishtha commented on #4760
I'll see whether it's possible to give the workers more memory so they don't crash. Anecdotally I see that workers often die in many of our unit tests because they are using too much memory. see e.g. the runs in #4662.

[2022-08-03 21:49] jbrockmendel opened #4765 "PERF: avoid to_pandas in Series._reduce_dimension"
Not clear to me why `to_pandas` would be necessary.  Investigating.

[2022-08-03 22:19] Anando304 opened #4766 "FEAT: Add support for Distributed loading on GCS buckets"
## Context
The company I work for, heavily uses pandas and Google Cloud Storage (GCS) buckets. We were interested in using Modin to improve performance of loading large datasets and improve data processing tasks.

## Problem
However, it seems as though using GCS bucket urls for the `read_csv()` function of modin, is quite slow. The GCS bucket file patterns are `gs://`. Loading from local memory or

[2022-08-03 22:32] mvashishtha commented on #4760
Since #1744, Modin has set `MODIN_MEMORY` to 1 GB for all CI jobs, so Modin sets memory limit to 1 GB divided by the number of cpus:

https://github.com/modin-project/modin/blob/41e32e9edcd1e6755d6f959e573f807a75c7ae7e/modin/core/execution/dask/common/utils.py#L46

It seems likely we can fix the bug by getting rid of the memory limit for dask.

I can reproduce the worker crashes and dask's getting

[2022-08-04 10:46] #4756 closed

[2022-08-04 10:50] YarShev commented on #4756
@ZhengHongming888, the fix has been merged. Please try Modin out the master until we release the fix.

[code]

[2022-08-04 12:51] prutskov commented on #4766
Connected with #4742

[2022-08-04 13:36] vnlitvinov commented on #4664
Current state of running `pytest -n 8 --execution=PandasOnPython modin\pandas\test` against ccda5673ebddcdd233051afe718b899bdd7bc87f:
<details>
<summary>Test failures (565 failed, 10627 passed, 28116 skipped, 197 xfailed, 1 xpassed, 16512 warnings)</summary>

[code]
</details>

[2022-08-04 14:13] #4657 closed

[2022-08-04 14:16] prutskov commented on #4742
Take a look at this discussion (https://github.com/modin-project/modin/pull/4710#discussion_r937833450) when somebody starts to implement this.

[2022-08-04 15:05] pyrito commented on #4766
@Anando304 thanks for opening the issue! This is a good point and we haven't properly addressed it yet (for reasons I don't know exactly). I'll work on a PR to add support for `gs://`.

[2022-08-04 16:26] pyrito commented on #4565
@prutskov this issue should be handled now, right?

[2022-08-04 16:33] prutskov opened #4770 "Double reading of data during `read_csv` execution"
### Describe the problem

Current implementation of `read_csv` does double reading of `bytes` from `csv` files in several use cases. The first reading happens during calculating of `start`/`stop` byte-pointers for partitions in driver process in some cases.
https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/io/text/text_file_dispatcher.py#L206

The seco

[2022-08-04 16:37] prutskov commented on #4770
Connected with https://github.com/modin-project/modin/issues/3222

[2022-08-04 16:41] prutskov commented on #4565
Yes, now Modin handles `https`-like addresses. But I would prefer to run the reproducer before closing the issue.

[2022-08-04 16:47] anmyachev commented on #4740
This should help us for `to_pandas` function because we most likely already have index in the main process.

[2022-08-04 16:51] mvashishtha opened #4771 "TEST: CI: Make Dask ubuntu test_groupby much less than 200% == 8 minutes slower than ray"
- **Modin version** (`modin.__version__`): a28e319d9756c9383afa9efd67e32eb04e6b848c

the test_groupby job within test-ubuntu on dask is typically about 200% == 8 minutes slower than ray. Compare these two runs for a recent PR:

- [ray](https://github.com/modin-project/modin/runs/7648377915?check_suite_focus=true)
- [dask](https://github.com/modin-project/modin/runs/7648378055?check_suite_focus=tru

[2022-08-04 16:53] jbrockmendel commented on #4765
Looks like the to_pandas is happening on a query_compiler where qc._modin_frame has 1 column and 1 row, so we get a scalar back.  This still gets a bunch of overhead from pickling/unpickling index, columns, BlockManager, Block, ...

[2022-08-04 17:18] anmyachev opened #4772 "PERF: remove df.copy call from `from_pandas` as it seems unnecessary for Ray and Dask backends"
Place: https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/dataframe/pandas/partitioning/partition_manager.py#L745

Note: there was a https://github.com/modin-project/modin/pull/276 that add this copy for fixing python backend. I think it's possible to move the copy call into `put_func` for python backend.

[2022-08-04 17:24] anmyachev opened #4773 "PERF: we probably should compute `lengths` and `widths` in put method of Dask partition like Ray do"
Place: https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/execution/dask/implementations/pandas_on_dask/partitioning/partition.py#L231

Ray method as a reference: https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/execution/ray/implementations/pandas_on_ray/partitioning/partition.py#L252

[2022-08-04 19:06] anmyachev opened #4774 "REFACTOR: remove `_build_treereduce_func` call from `_compute_dtypes`"
Place:

https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/dataframe/pandas/dataframe/dataframe.py#L312

`_build_treereduce_func` will be called in `tree_reduce` further.

[2022-08-04 20:37] #4760 closed

[2022-08-04 20:37] #4748 closed

[2022-08-04 20:38] anmyachev opened #4777 "PERF: don't use `copy=True` parameter for `concat` calls inside `to_pandas`"
Places:
https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/dataframe/pandas/partitioning/partition_manager.py#L657

and

https://github.com/modin-project/modin/blob/a28e319d9756c9383afa9efd67e32eb04e6b848c/modin/core/dataframe/pandas/utils.py#L48

[2022-08-04 20:42] #4676 closed

[2022-08-04 23:00] #4732 closed

[2022-08-04 23:41] jbrockmendel commented on #4732
@mvashishtha thanks for walking me through this

[2022-08-05 08:06] AntonyM71 commented on #4236
If we're happy to add a testing folder, for `assert_frame_equal` we could probably import the method from pandas an overwrite it's hardcoded check for a pandas (rather than median) data frame.

[2022-08-05 08:40] anmyachev commented on #4770
@prutskov When we have a large cost to read from remote storage, wouldn't it be better to try to put the read blocks from the driver process directly into the object store. Well, this will increase the data transfer between workers, but the throughput between them in most cases should be greater than the throughput between the Ray cluster and remote storage. What you think?

[2022-08-05 09:10] prutskov commented on #4770
But I don't see any parallel work in your suggestion. According to the table I mentioned above driver process reading time takes ~474s and after that you suggest to put bytes from the driver process to object storage, right? In this case, probably, we will have some performance gain, but I don't think that it will be huge.

I assume, that reading of bytes directly in the object storage memory will

[2022-08-05 09:21] #4774 closed

[2022-08-05 10:31] #4773 closed

[2022-08-05 15:32] pyrito opened #4782 "`read_parquet` fails when there are other non-parquet metadata files in folder"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): 0.15.0+67.g5a3eea4b
- **Python version**: 3.9.12
- **Code we can use to reproduce**:
[code]
### Describe the problem
Currently `read_parquet` will fail if we try reading a directory that contains certain metadata files that are normally ignored by PyArrow's

[2022-08-05 16:51] vnlitvinov commented on #4664
I've been digging through it, and current state for `pytest -n 8 --execution=PandasOnPython modin\pandas\test` as of https://github.com/vnlitvinov/modin/commit/64f31fdc4a8fa6e90317954965aa379e98823009 is
<details>
<summary>Test failures (59 failed, 11126 passed, 28123 skipped, 197 xfailed, 1 xpassed, 16676 warnings)</summary>

[code]

</details>

[2022-08-05 17:09] jbrockmendel opened #4784 "PERF: infer partition dimensions in _compute_dtypes"
Context: calls to _compute_dtypes are taking 31.2s apiece in the script I'm profiling, which makes zero sense.

Current code

[code]

The tree_reduce call creates a DataFrame whose partitions have ObjectRef objects for the _length_cache and _width_cache, but IIUC it is pretty easy to infer their dimensions. Something like

[code]

This edit doesn't fix the slow _compute_dtypes calls.  Is there a m

[2022-08-05 17:17] jbrockmendel opened #4785 "PERF: pass lengths to build_partition in read_parquet"
In ParquetDispatcher.build_partition we pass int col_width to the Partition constructor but an ObjectRef for the length.  IIUC we should be able to infer the lengths at init-time, right?

[2022-08-05 17:22] mvashishtha commented on #4784
This suggests to me that calculating widths is not itself the problem. Anyway, the `to_pandas()` will require every partition in `pre_dtypes` to finish its computation.

I recently was debugging a case of extremely slow performance in `_compute_dtypes` for a frame with shape 1 by 4 million. It turned out that computing `dtypes` 4 million times in [`concatenate`](https://github.com/modin-project/mo

[2022-08-05 17:42] jbrockmendel commented on #4784
Agreed.  However I'm finding that 7-8% of my runtime is in _row_lengths (tentatively appears to be via _filter_empties) and I'm trying to narrow that down wherever possible. (xref #4785, #4738, #4754)

No difference.

[2022-08-05 17:55] mvashishtha commented on #4784
In my experience `_filter_empties` tends to block non-shape-preserving operations that are going to be expensive anyway. You might try syncing past adb16a17f721048005520388080627975c6852d8, which stops `_filter_empties` from blocking. But again, `to_pandas()` here will block on all partitions.

[2022-08-05 18:00] mvashishtha commented on #4785
I'm going to mark this as a duplicate of #4743. I think we don't necessarily know the lengths. We don't always materialize the indexes in the main node:

https://github.com/modin-project/modin/blob/4548012a6372b8ce79d7e07c9ae13fd7444a91c8/modin/core/io/column_stores/parquet_dispatcher.py#L310-L313

And AFAIK we don't block on reading the individual block partitions for any other reason.

[2022-08-05 18:00] mvashishtha commented on #4785
Duplicate of #4743

[2022-08-05 18:00] #4785 closed

[2022-08-05 18:16] pyrito opened #4786 "FEAT: Support Ray 2.0.0"
**Is your feature request related to a problem? Please describe.**
Ray 2.0.0 is slated to get released sometime in the next few weeks/months. We have already verified that Modin is currently able to work correctly with Ray 2.0.0rc0 with no major performance regressions. Below we can see the asv benchmark result regressions run on a c5.4xlarge instance (16 vCPUs, 32 GB RAM):
[code]

We should keep

[2022-08-05 18:39] #4202 closed

[2022-08-05 18:51] #4772 closed

[2022-08-05 22:53] jbrockmendel commented on #4784
Looks like the relevant cases in compute_dtypes are where `self._partitions.shape[1] > 1`. More specifically, I'm seeing cases with partition shapes (1, 13) and (1, 4) compute in a few hundredths of a second, while a case with partition shape (16, 1) takes 4 seconds.

Moreover, the extra time appears to be in the pre-call portion of `run_f_on_minimally_updated_metadata`.  maybe we can avoid some o

[2022-08-06 19:32] pwrose opened #4789 "Add modin-ray package for osx-64 to conda-forge"
Mac osx-64 is a common development platform. While modin-dask is available for osx-64, modin-ray is not.

[2022-08-06 20:05] mvashishtha opened #4790 "DOCS: Apply the Triage 🩹 label to feature requests and questions"
We should follow up on #4748 to apply the triage label to feature requests and questions.

[2022-08-06 21:00] mvashishtha commented on #432
This is fixed as of Modin version ef654c414364ca319812114324ad9d85e83ee68e.

[2022-08-06 21:00] #432 closed

[2022-08-06 21:02] mvashishtha commented on #1181
Modin dataframes and series implement `__reduce__` as of ef654c414364ca319812114324ad9d85e83ee68e.

[2022-08-06 21:02] #1181 closed

[2022-08-06 21:03] mvashishtha commented on #1230
Modin dataframes and series implement `__reduce__` as of ef654c414364ca319812114324ad9d85e83ee68e.

[2022-08-06 21:03] #1230 closed

[2022-08-08 13:02] prutskov commented on #4691
@mvashishtha can you reproduce the issue? I tried different values of `s1`/`s2` parameters, but it still works.

Also, I don't get how `PandasOnRayDataframeColumnPartition` can occur in partition manager code for `binary_operation`. Binary operator assumes the working with 2d array of block partitions by our guides: https://modin.readthedocs.io/en/stable/flow/modin/core/dataframe/algebra.html#bina

[2022-08-08 13:09] anmyachev opened #4793 "PERF: `dtypes` call in `FileDispatcher.read` make almost all IO operations sync"
Place:
https://github.com/modin-project/modin/blob/ef654c414364ca319812114324ad9d85e83ee68e/modin/core/io/file_dispatcher.py#L165

Would be great to find out another solution here to not block IO operations. At least we can return `dtypes` as `lengths` and `widths` from remote functions.

[2022-08-08 15:13] honno commented on #4746
FYI updates to the test suite are in https://github.com/data-apis/dataframe-interchange-tests/pull/11. Ignoring the roundtrip tests (as obviously everything's out of sync now), everything from #4763 looks good ([save known issues](https://github.com/modin-project/modin/issues/created_by/honno)).

[code]

[2022-08-08 17:21] jbrockmendel commented on #4784
If I disable the `run_f_on_minimally_updated_metadata` portion of _compute_dtypes (specifically, by not going through tree_reduce), the hot spot moves to Partition.to_numpy.

If I use BenchmarkMode.put(True), the time taken by compute_dtypes is cut by 2-3x.  At best it still constitutes a way-too-big 6% of runtime.

[2022-08-08 17:33] mvashishtha commented on #4784
This is very surprising. The expensive parts of that function call should be `_propagate_index_objs`, which only does `add_to_apply_calls`, which should be cheap because it adds to partition call queues without even triggering computation: https://github.com/modin-project/modin/blob/aeff7ac70162b53f8c6178f048498c2ee9bd631b/modin/core/dataframe/pandas/dataframe/dataframe.py#L567

[2022-08-08 17:56] mvashishtha commented on #3899
@jeffreykennethli I'm going to close this because we're starting to cover the codebase with MyPy as in #4619. Please re-open and comment here if we need to do something else for this issue.

[2022-08-08 17:56] #3899 closed

[2022-08-08 18:34] YarShev commented on #4784
`_propagate_index_objs` calls `_filter_empties` internally and if the dataframe doesn't have `row_lengths` and `column_widths` cashes, computations on partitions are triggered. That might be the case @jbrockmendel is experiencing.

[2022-08-08 18:46] pyrito commented on #4789
@pwrose thank you for opening the issue! We have actually tried addressing this before, but we are currently blocked on: https://github.com/conda-forge/ray-packages-feedstock/issues/2. You can see the open issue we have on the modin-packages: https://github.com/conda-forge/modin-feedstock/issues/11.

[2022-08-08 19:10] anmyachev opened #4794 "PERF: `_propagate_index_objs` can be implemented to compute caches"
Place:
https://github.com/modin-project/modin/blob/aeff7ac70162b53f8c6178f048498c2ee9bd631b/modin/core/dataframe/pandas/dataframe/dataframe.py#L515

Most likely, we will have to change the interface of `add_to_apply_calls` function so that it passes caches to the partition constructor.

[2022-08-08 19:17] jbrockmendel commented on #4743
could we get the dtypes from the parquet file metadata and avoid the need to call compute_dtypes later?

[2022-08-08 20:14] #4790 closed

[2022-08-08 20:38] YarShev commented on #4794
Same applicable to apply. Working on this in https://github.com/YarShev/modin/commit/adb38ca15eb70d396fed7bd45bde86e71a27fb63.

[2022-08-08 20:49] mvashishtha commented on #4691
@prutskov

I can reproduce the error with the original script except `s1 = s2 = 40` on my laptop at Modin version cc3bdb7e4bcd2f8305a5faa02d82036af22cc5df. Depending on your machine's specs, you may need some more partitions to trigger the [rebalance](https://github.com/modin-project/modin/blob/ef654c414364ca319812114324ad9d85e83ee68e/modin/core/dataframe/pandas/partitioning/partition_manager.py#L

[2022-08-08 21:18] noloerino commented on #4691
I now get the same `RangeIndex` error as @mvashishtha (also on version daa50b1), with `s1 = 1; s2 = 13` sufficient for to cause the error. Here's my more detailed system info:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** macOS Monterey 12.4
- **Computer model:** MacBook Pro (14-inch, 2021)
- **Memory:** 16 GB LPDDR5
- **Processor:** Apple M1 Pro
- **Python

[2022-08-08 21:38] jbrockmendel commented on #3103
Is there a standard pattern for "do X on each partition and collect the new partitions as a new series"?

[2022-08-09 00:03] mvashishtha commented on #4691
Now the bug is that [`split_result_of_axis_func_pandas`](https://github.com/modin-project/modin/blob/8864bc197974da6d8cda2de2f35ca31d561be1cc/modin/core/storage_formats/pandas/utils.py#L68) assumes that `result` is a pandas dataframe, but the `index_func` in `get_indices` returns an index:

https://github.com/modin-project/modin/blob/ef654c414364ca319812114324ad9d85e83ee68e/modin/core/dataframe/pa

[2022-08-09 00:04] noloerino opened #4796 "REFACTOR: Introduce constant for `__reduced__` column names"
**Is your feature request related to a problem? Please describe.**
`__reduced__` is used internally by the query compiler as a column name to represent pandas `Series` that are not explicitly assigned a name. It is currently hardcoded throughout the codebase, and should probably be a constant string instead in case we change this in the future.

[2022-08-09 00:08] mvashishtha opened #4797 "DOCS: Issue templates are still broken"
This is my mistake 🤦 . labels should look like ["label1", "label2"], not "[label, label2]" as they are now:

https://github.com/modin-project/modin/blob/daa50b1216f8fdc0b7f3f7cd5802be02b92a288f/.github/ISSUE_TEMPLATE/bug-report.md?plain=1#L5

 ref. https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#cre

[2022-08-09 00:08] peterbolson opened #4798 "Why did Modin perform worse than pandas on a 16 GB dataset?"
Rob Mulla, in [this YouTube video](https://www.youtube.com/watch?v=LEhMQhCv3Kg), benchmarked pandas vs. Modin vs. Ray vs. Dask vs. Vaex on a 16 gigabyte Reddit Place dataset (which I believe we can pull and clean using three notebooks here: https://github.com/RobMulla/twitch-stream-projects/tree/main/026-reddit-place-data/notebooks, but I will check with Rob).

Two Modin-relevant things came out o

[2022-08-09 00:11] mvashishtha commented on #4797
Never mind, this seems to be working, e.g. for this issue #4797 and for the "question" template" in #4798!

[2022-08-09 00:11] #4797 closed

[2022-08-09 00:12] mvashishtha commented on #4798
@peterbolson thanks for reporting. We should try to make Modin do better here. I'll assign this issue to you for now while you try to find the data and reproduce the slowness.

[2022-08-09 00:21] peterbolson commented on #4798
That sounds good. Thanks, @mvashishtha

[2022-08-09 07:19] #4722 closed

[2022-08-09 13:57] #4782 closed

[2022-08-09 14:07] mvashishtha commented on #3103
@jbrockmendel I think for this kind of function what we're doing is

1) apply a dataframe -> dataframe map to each block partition in the series: https://github.com/modin-project/modin/blob/cc713c5c9055f717ac891cd1fccbd08987e169cd/modin/core/storage_formats/pandas/query_compiler.py#L1446

1) Make a Modin series out of the result https://github.com/modin-project/modin/blob/cfafbb254c221dd4f739a9cf5

[2022-08-09 14:34] prutskov commented on #4691
Thank you @mvashishtha, I reproduced the issue with `s1=s2>=25`. I think, that the main problem is that `PandasDataframe._partitions` can contain any partition type in 2d-list. I see 2 ways to resolve this:
1. Add restriction to possible type of `PandasDataframe._partitions[0][0]` on block partition only.
2. Add possibility when `PandasDataframe._partitions` could be 1-d numpy array, in case eleme

[2022-08-09 14:48] #4730 closed

[2022-08-09 19:18] mvashishtha commented on #4743
@jbrockmendel AFAIK parquet files have their own types that may not necessarily correspond to the types pandas assigns in `read_parquet`. @pyrito, you were think about this too, did you ever find a case where two datasets with the same parquet types get different pandas types after  `read_parquet`?

[2022-08-09 19:54] pyrito commented on #4743
@mvashishtha @jbrockmendel I was thinking about this. I haven't confirmed this but I was wondering if `datetime` objects would give us some trouble here, esp when we get into timezones and stuff. These have previously been a pain when I've worked with dask.

[2022-08-09 22:44] jbrockmendel commented on #4743
can you give an example?  im guessing you're referring to pandas.DatetimeTZDtype?

[2022-08-09 22:47] jbrockmendel opened #4801 "REFACTOR: De-duplicate code"
xref #4795

[2022-08-10 11:01] #4680 closed

[2022-08-10 12:19] vnlitvinov opened #4802 "Tests fail for `test_sql.py` in CI because `dfsql` and its dependencies won't install"
### Describe the problem

I'm guessing some PyPI package released a broken version of `mindsdb_sql` which fails to install.
This breaks all CI tests running `test_sql` now.

### Source code / logs
Error looks like this:
[code]

[2022-08-10 13:29] vnlitvinov commented on #4802
Upstream released `mindsdb-sql==0.3.12` which fixed the issue.

[2022-08-10 13:29] #4802 closed

[2022-08-10 14:45] anmyachev opened #4804 "PERF: `broadcast_apply_full_axis` can be implemented to compute caches in some cases"

[2022-08-10 16:38] vnlitvinov commented on #4770
The bandwidth to some remote S3 storage and to local (in most cases, in-memory on the node) object storage are vastly different.
That said, I think what **Anatoly** suggests is probably least painful to implement to address at least some portions of slowness.

However, I feel that the merge of the two approaches would give us an even better result.
My proposal is to do the following:

1. Do not re

[2022-08-10 16:50] mvashishtha commented on #4494
It's hard to find a case where this optimization is useful. See my comment here: https://github.com/modin-project/modin/pull/4683#issuecomment-1191043276

Given that this optimization doesn't seem to give any major gains, it doesn't seem to be worth the extra code complexity in #4683. I'll close this issue for now.

[2022-08-10 16:50] #4494 closed

[2022-08-10 17:01] jbrockmendel opened #4806 "REFACTOR: remove query_compler._get_axis"
It uses to_pandas, and AFAICT is not reached in tests.

[2022-08-10 17:51] prutskov commented on #4770
Probably this a bit wrong, because we must also check is quotes closed or not. In some cases we can face with `\n` between quotes which are placed in different chunks.

I agree, that looks like this is heavy unbalanced. Also, the number of partitions will be bigger in this case than original equivalent number of `MODIN_NPARTITIONS`. (If I correctly understand what you mean).

But in this case we s

[2022-08-10 21:06] vnlitvinov commented on #4770
It isn't any different than current approach, or should not be, rather.

There isn't any data transfer from workers to driver to workers, only direct workers->workers (so it's not 3x the usual traffic, but only 2x). The driver doesn't need to read the byte arrays from the object store, it just assigns those as ObjectRef's to tasks in the workers.

[2022-08-10 21:08] #4796 closed

[2022-08-11 14:08] pyrito commented on #4743
@jbrockmendel I don't have a minimum example I could show off the bat, but I was wondering if pandas.DatetimeTZDtype could cause some trouble here. I've had some problems before, but maybe the type mappings are better now between Arrow and pandas.

[2022-08-11 16:10] pyrito commented on #4354
This issue seems to be resolved as of version `0.15.0+75.g3f985ed6` (latest master as of Aug. 11), so I'm going to go ahead and close this issue if that's ok with folks.

[2022-08-11 17:05] pyrito opened #4808 "BUG: `df.describe` fails for DataFrame created with `add_prefix`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): 0.15.0+75.g3f985ed6
- **Python version**: 3.9.12
- **Code we can use to reproduce**:

[code]

### Describe the problem
`df.describe()` fails on a DataFrame that has its columns set with `add_prefix`.

### Source code / logs

<details>
<summary>Stack trace</s

[2022-08-11 17:18] mvashishtha commented on #4808
I get the same error on my macbook at Modin 3f985ed6864cc1b5b587094d75ca5b2695e4139f.

[2022-08-11 17:36] pyrito commented on #4808
It looks like the error here was caused by the fact that when we call `add_prefix`, we call `rename` and we do not update the labels for the DataFrame dtypes which results in this error. I suspect that we may have other issues with dtypes since we don't check for them in `df_equals` which is used a lot in our tests. See: https://github.com/modin-project/modin/issues/3804. We should make this a pri

[2022-08-11 23:20] mvashishtha opened #4810 "PERF: Always use all available partitions when chunking data with min partition size 1, e.g. in rebalance_partitions"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey
- **Modin version** (`modin.__version__`):  3f985ed6864cc1b5b587094d75ca5b2695e4139f
- **Python version**: 3.10.4
- **Code we can use to reproduce**:

[code]

### Describe the problem
In the case of known row lengths, the algorithm in [`rebalance_partitions`](https://github.com/modin-project/modin/

[2022-08-11 23:33] mvashishtha opened #4811 "BUG: printing dataframe with virtual partitions can raise AttributeError: 'RangeIndex' object has no attribute 'iloc'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Monterey 12.1
- **Modin version** (`modin.__version__`): 3f985ed6864cc1b5b587094d75ca5b2695e4139f
- **Python version**: 3.10.2
- **Code we can use to reproduce**:

[code]

### Describe the problem
I get an error ending with `'RangeIndex' object has no attribute 'iloc' ` when I run the code above.

If `rebal

[2022-08-11 23:38] mvashishtha commented on #4691
@noloerino @prutskov it turns out only particular numbers of rows cause the error, depending on your `NPartitions`, because of the details of our rebalancing algorithm (see #4811 and #4810).

I think it's better to fix #4811 by never splitting the result when `num_splits = 1`, so move this to the top of `split_result_of_axis_func_pandas`:

https://github.com/modin-project/modin/blob/8864bc197974da

[2022-08-12 00:15] mvashishtha opened #4813 "REFACTOR: swap column and row virtual partition names"
- **Modin version** (`modin.__version__`): 3f985ed6864cc1b5b587094d75ca5b2695e4139f

Right now PandasOnRayDataframeColumnPartition has a sublist of blocks across the row axis. I’ve always found that extremely confusing, because we normally when we say “column partition” we mean “a partition spanning a sublist of the columns”.

[2022-08-12 09:09] #4713 closed

[2022-08-12 13:59] pyrito opened #4814 "DOCS: Improve developer experience in Issues template"
**Is your feature request related to a problem? Please describe.**
Currently our Github issues template for bugs misses code blocks for the reproducible example and error logs. We should make the developer experience a little nicer by adding a code block and drop-down log area within the template.

[2022-08-12 14:05] mvashishtha commented on #4814
@pyrito I think that's a great idea! We could take inspiration from the [pandas bug template](https://github.com/pandas-dev/pandas/blob/08fd9c0c0cc939a5c41bb4d198349d42efd986de/.github/ISSUE_TEMPLATE/bug_report.yaml). It doesn't have collapsible sections, though, and I really like those.

[2022-08-12 14:11] pyrito commented on #4814
@mvashishtha I was thinking of taking some inspiration from pandas, but not too much since I still want to keep this relatively lean. We're not getting flooded by Github Issues at the moment, so I don't think it needs to be as robust. Thoughts?

[2022-08-12 14:14] mvashishtha commented on #4814
@pyrito the pandas bug report template is pretty simple to code and I don't see any downside to copying a lot of it. I would like to have some way to put stack traces in collapsible sections automatically, though.

[2022-08-12 14:16] pyrito commented on #4814
@mvashishtha I tried creating a bug report on pandas right now and it's actually a lot nicer since the text boxes are rendered directly, so I agree. I think we can copy most of it.

[2022-08-12 14:19] pyrito commented on #4814
@mvashishtha in that same light, I think we should have different templates for documentation issues, performance issues and have different templates for each perhaps? That can be a longer term goal.

[2022-08-12 20:25] anmyachev opened #4817 "Default to pandas in worker process instead of main one"
This will allow other operations to run in parallel, as the main process will not be blocked.

[2022-08-12 20:35] #4808 closed

[2022-08-13 18:35] #4746 closed

[2022-08-13 22:56] #4664 closed

[2022-08-14 06:10] tranduytrung opened #4818 "`where` function of DataFrame and Series works unexpectedly"
### System information
- **OS Platform and Distribution**: ubuntu 20.04
- **Modin version**: 0.15.2
- **Ray version**: 1.12.1
- **Python version**: 3.8.11
- **Code we can use to reproduce**:

**Modin**
[code]

**Pandas**
[code]

### Describe the problem
Modin `where` function works unexpectedly when the alternative value is DataFrame type. The same happens with Series

[2022-08-15 02:09] mvashishtha commented on #4818
@tranduytrung thank you for reporting this issue! I'm able to reproduce it with your code at version d42ebec7c7b4d318df32a147664ee0d8563842ff.

Modin's implementation of `where` is incorrect. The pandas definition is "in positions where `cond is True`, use the value in `df`. Else use the value in `other`. The Modin definition for `df.where(cond, other)` when `other` is a Modin dataframe or series

[2022-08-15 14:24] pyrito opened #4821 "BUG: `scripts/doc_checker.py` throws error when using pandas `cache_readonly` decorator"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): 0.15.2
- **Python version**: 3.9.12
- **Code we can use to reproduce**:
[code]

### Describe the problem
If we have a class like the one above, our doc_checker script seems to throw an error when trying to complete its check. You can see more information in

[2022-08-15 14:24] pyrito commented on #4821
@vnlitvinov I'm assigning this to you since you knew what the problem was.

[2022-08-15 17:44] pyrito commented on #4734
This is an interesting bug. The reason why we are not seeing `DataFrame` in globals is because it's not being imported properly. If we do import and check the type properly by doing something like this:
[code]
I get an output like this:
[code]
Which doesn't seem fully correct. IIRC, `__reduced__` means the Series column does not have a name.

[2022-08-15 18:39] mvashishtha commented on #4734
@pyrito yes, your fix does get the type we want! However, I see that the result is a 1x1 frame whose only value is `pandas.Series([1, 1])`. We get that result because when the `apply` function returns a `DataFrame`, we return the result of `Series.map`:

https://github.com/modin-project/modin/blob/3f985ed6864cc1b5b587094d75ca5b2695e4139f/modin/pandas/series.py#L651-L663

but mapping every element

[2022-08-15 20:15] #4733 closed

[2022-08-15 20:15] pyrito commented on #4734
After investigating this a bit more I think what we are doing is not _fundamentally_ incorrect, besides the fact that we have `__reduced__` was the name for one of the DataFrame columns. If we don't set it as that, we end up getting this as an output:
[code]
which is also incorrect as you have stated @mvashishtha . However, after reading the code, it looks like we are doing exactly this:
[code]
Th

[2022-08-15 20:51] pyrito opened #4823 "BUG: `read_parquet` does not pass `kwargs` appropriately"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): [b240370](https://github.com/modin-project/modin/commit/b240370bf83c88589d293b76b4a2409294e06f90)
- **Python version**: 3.9.12
- **Code we can use to reproduce**:

[code]

### Describe the problem
`read_parquet` should work with standard parquet data, but ma

[2022-08-15 22:17] #4811 closed

[2022-08-16 02:21] alejandro-ponder opened #4824 "Column lookups on GroupBy with arbitrary Series in by"
**Is your feature request related to a problem? Please describe.**
Trying to groupby a column and an arbitraty calculated value as follows, but feature not implemented.

df.groupby(by=['categorical',df.date.dt.month_name() ])['another_column'].mean()

'''
NotImplementedError: Column lookups on GroupBy with arbitrary Series in by is not yet supported.
'''

[2022-08-16 04:38] mvashishtha commented on #4824
@alejandro-ponder thank you for reporting this! I see it's a duplicate of #3285.

[2022-08-16 04:38] mvashishtha commented on #4824
Duplicate of #3285

[2022-08-16 04:38] #4824 closed

[2022-08-16 05:26] mvashishtha commented on #3585
Duplicate of #1901

[2022-08-16 05:26] #3585 closed

[2022-08-16 14:13] mvashishtha commented on #4562
This flake has hit me too many times. Looking at https://github.com/ray-project/ray/issues/19834, I wonder whether multiple actions are trying to start ray processes on the same ports?

@modin-project/modin-contributors @modin-project/modin-core does anyone have any ideas?

[2022-08-16 14:17] mvashishtha commented on #4562
Each **job** is [supposed](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#overview-of-github-hosted-runners) to get a separate VM, though. So why might the action start a cluster twice?

[2022-08-16 15:48] vnlitvinov commented on #4562
Lots of our tests in the CI are run with `pytest -n 2`, so I would assume it would be two Ray clusters per each `pytest` run...

[2022-08-16 16:03] #4268 closed

[2022-08-16 16:14] mvashishtha commented on #4771
We should try removing the `-n 2`! See this thread about how that can sometimes make tests slower: https://github.com/modin-project/modin/pull/4554#discussion_r893532558

[2022-08-16 16:57] mvashishtha opened #4825 "PERF: Improve `where` performance by combining two execution steps into one"
See this note:

https://github.com/modin-project/modin/blob/bd326f1c4175102489f08d271a53cf374bd9125e/modin/core/storage_formats/pandas/query_compiler.py#L414-L418

[2022-08-16 17:08] mvashishtha commented on #4562
@vnlitvinov I see that the first failure I linked was using the default of a single pytest thread though: https://github.com/mvashishtha/modin/runs/6803703864?check_suite_focus=true
<img width="1455" alt="Screen Shot 2022-08-16 at 12 07 27 PM" src="https://user-images.githubusercontent.com/10712109/184937954-b494f2f8-3734-410e-9e79-e5c8967a4b76.png">

So i guess there the cluster really did fail t

[2022-08-16 20:50] mvashishtha commented on #420
This is fixed at least by version bd326f1c4175102489f08d271a53cf374bd9125e.

[2022-08-16 20:50] #420 closed

[2022-08-16 20:59] mvashishtha commented on #762
By version bd326f1c4175102489f08d271a53cf374bd9125e or earlier, `from_pandas` is in the IO code: https://github.com/modin-project/modin/blob/41e32e9edcd1e6755d6f959e573f807a75c7ae7e/modin/core/io/io.py#L60

[2022-08-16 20:59] #762 closed

[2022-08-16 21:03] mvashishtha commented on #629
Now that we have a progress bar for some queries, I'm going to close this issue in favor of more specific progress bar feature requests, e.g. #2775 and #4167.

[2022-08-16 21:03] #629 closed

[2022-08-16 21:17] jbrockmendel opened #4826 "PERF: avoid to_pandas in join"
I've been looking into what it will take to avoid the `right = right.to_pandas()` in `QueryCompiler.join`.  My thought is to re-use as much of the logic in `pandas.core.reshape.merge` as we can, adapting it where necessary to take modin.pandas.DataFrame where relevant.

This would require adding to methods to DataFrame: `_check_label_or_level_ambiguity`, `_is_label_or_level_reference`, `_is_level_

[2022-08-16 21:32] mvashishtha commented on #1226
pandas Series are not hashable, so I don't think we need to implement `__hash__`.

[2022-08-16 21:32] #1226 closed

[2022-08-16 21:33] mvashishtha commented on #1179
pandas dataframes are not hashable, so I don't think we need to implement `__hash__`.

[2022-08-16 21:33] #1179 closed

[2022-08-16 21:35] mvashishtha commented on #1977
@goodwanghan thank you for your request. `where` is already implemented in a distributed way. We'll track `mask` implementation in #1206.

[2022-08-16 21:35] #1977 closed

[2022-08-16 21:40] mvashishtha commented on #2284
@jeongsoolee09 I'm closing this issue because we need more information to understand it.

[2022-08-16 21:40] #2284 closed

[2022-08-16 21:45] mvashishtha commented on #4537
See also #2669.

[2022-08-16 21:49] mvashishtha commented on #4200
@shashankrustagiiiitdelhi I'm closing this bug because you haven't posted more information. Please comment here if you still need help.

[2022-08-16 21:49] #4200 closed

[2022-08-16 21:55] mvashishtha commented on #4443
@Bonnevie I'm closing this issue. If you have any more concerns, please comment here. We'll continue tracking work on the followups: https://github.com/modin-project/modin/issues/4443#issuecomment-1121221578

[2022-08-16 21:55] #4443 closed

[2022-08-16 21:59] mvashishtha commented on #4255
@mrweijianli I'm closing this issue because you haven't posted more information here. Please reply here if you can give more information about what is going wrong.

[2022-08-16 21:59] #4255 closed

[2022-08-16 22:05] mvashishtha commented on #4532
@oscarknagg given that #4541 is closed, I'm going to close this issue too.

[2022-08-16 22:05] #4532 closed

[2022-08-16 22:50] noloerino opened #4827 "FEAT: Implement `infer_types` dataframe algebra operator"
The Pandas [`infer_objects`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.infer_objects.html) function (as well a the [`infer_objects`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html) option of `convert_dtypes`) can both be made more efficient by implementing the `infer_types` dataframe algebra operator.

[2022-08-16 23:33] jbrockmendel opened #4828 "TypeError: dict_apply_builder() got an unexpected keyword argument 'internal_indices"
Looks like it is in a worker process

[code]

[2022-08-17 00:17] noloerino commented on #4827
(see also: #4675, which may possibly get addressed by this, and #2924, which seems to be for tracking algebra operators but likely hasn't been updated for a while)

[2022-08-17 01:22] mvashishtha commented on #4111
@cinnqi because you haven't posted any more information, I'm closing this issue. Hopefully we can solve your bug by fixing #3764. Please comment here if you need more help.

[2022-08-17 01:22] #4111 closed

[2022-08-17 02:06] mvashishtha commented on #3221
I no longer get the error in the original post by @dchigarev. The error as of version bd326f1c4175102489f08d271a53cf374bd9125e is in #4828.

[2022-08-17 02:06] #3221 closed

[2022-08-17 02:35] tianlinzx commented on #2538
Any updates on this issue ?

[2022-08-17 03:29] mvashishtha commented on #4823
@pyrito What errors do we get when we pass kwargs like `memory_map`?

[2022-08-17 08:59] #4099 closed

[2022-08-17 09:18] YarShev commented on #3370
Closed by #4767.

[2022-08-17 09:18] #3370 closed

[2022-08-17 14:47] pyrito commented on #4823
@mvashishtha no error because those never get passed down.

[2022-08-17 15:10] mvashishtha commented on #158
I'm marking this as a duplicate of #3535. If we want to improve `sort_values` perf more, we can open a separate issue.

[2022-08-17 15:10] mvashishtha commented on #158
Duplicate of #3535

[2022-08-17 15:10] #158 closed

[2022-08-17 15:18] mvashishtha commented on #583
@Shellcat-Zero I'm closing this issue because I don't see any open questions. Please comment here if you have any more concerns.

[2022-08-17 15:18] #583 closed

[2022-08-17 15:52] mvashishtha commented on #1110
@simplezhang57 we would need more information to to understand what caused the error. I'm closing this issue because it's over 2 years old.

[2022-08-17 15:52] #1110 closed

[2022-08-17 16:49] pyrito commented on #1473
@aregm What exactly is this referring to?

[2022-08-17 16:50] pyrito commented on #1474
@aregm do you have any more details with what you mean here?

[2022-08-17 16:51] pyrito commented on #1484
@anmyachev what's the status of this? What is this referring to exactly?

[2022-08-17 16:53] pyrito commented on #1503
Thanks for the bug report @gshimansky ! I was able to reproduce this on the latest master: [af86009](https://github.com/modin-project/modin/commit/af860093fc59ed1ae68d9ab8716e5c8534fe9a01).

[2022-08-17 17:00] #1474 closed

[2022-08-17 17:05] pyrito commented on #1504
I see that the TODO is still there, so I'm going to move this from `bug` to a code quality issue.

[2022-08-17 17:56] anmyachev opened #4832 "REFACTOR: unify `split_result_of_axis_func_pandas`"

[2022-08-17 19:24] pyrito commented on #1554
@gshimansky I tried reproducing this and I'm not seeing an error nor am I seeing deviating behavior from pandas. Closing this for now.

[2022-08-17 19:35] pyrito commented on #1558
We should see if we can address this now for increased API coverage.

[2022-08-18 07:43] mvashishtha commented on #4562
@modin-project/modin-ray if you have any ideas about what's going wrong. Please comment here. I'm happy to answer questions about the GitHub action. This CI failure is slowing down the Modin development process significantly.

[2022-08-18 07:58] YarShev opened #4835 "BUG: TypeError: argument of type 'PosixPath' is not iterable in read_parquet"
[code]

[code]

[2022-08-18 07:59] YarShev commented on #4835
https://github.com/modin-project/modin/pull/4807 is a possible culprit.

cc @pyrito

[2022-08-18 08:16] vnlitvinov commented on #4562
I think it's really some fluke from Ray side, I see Ray cluster failing to start time and again when I run tests locally on my laptop as well (and I'm pretty sure I don't have other Ray cluster started).

Maybe they need to increase some timeouts in their code.

[2022-08-18 08:29] rraihansaputra opened #4836 "Docs: Getting started redownloads dataset instead of reading downloaded data set"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin version** (`modin.__version__`):
- **Python version**:
- **Code we can use to reproduce**:

### Describe the problem
The Getting Started docs needs a correction to the `pd.read_csv` parameter to read dataset directly from disk to compare `pandas` and `modin.pandas` correctly.

Currently, each run will r

[2022-08-18 10:32] anmyachev commented on #1484
Nothing has been done about it, as far as I know.

This is a task about the ability to significantly simplify the launch of various workloads using Modin on a cluster. https://github.com/intel-go/enzyme tool is engaged in the orchestration of workloads on clusters, including cloud ones.

[2022-08-18 13:43] mvashishtha commented on #1484
@anmyachev what are the odds that someone will actually implement this? We are trying to close out stale issues and given that there has been no activity for 2.5 years, I think it's fair to call this stale.

[2022-08-18 13:59] pyrito commented on #4836
@rraihansaputra Thanks for opening the issue! After looking into it, you are correct that it's not showing the time spent reading it from disk but from the object store instead. I think it's still a valid comparison since reading from an object store is a normal use case. However, I'm not sure what the documentation was trying to show here, and I think we should have been more explicit. @modin-pro

[2022-08-18 14:06] mvashishtha commented on #4836
@pyrito the page is supposed to make Modin look faster :) We could download the dataset first as [in the quickstart](https://modin.readthedocs.io/en/latest/getting_started/quickstart.html#example-instant-scalability-with-no-extra-effort). We could explain that 1) we are doing that to show the perf improvement 2) it's still possible to read directly from s3, and normally that's how one would read t

[2022-08-18 14:08] pyrito commented on #4835
My parquet changes are just the gift that keeps on giving. I am surprised that fsspec can't handle this case, but this is a good catch. I'll open up a PR for this.

[2022-08-18 14:11] pyrito commented on #4836
Agree with the second point. It's still completely valid to read directly from s3 since that's a common use case and ends up being a bottleneck in terms of performance for many, so we are showing clear performance improvement there.

[2022-08-18 14:22] #1484 closed

[2022-08-18 14:55] pyrito opened #4838 "CI: TypeError: register() missing 1 required positional argument: 'widget'"
ipywidgets released version 8.0.0 today which deprecated the `@widgets.register()` signature. This caused CI to break for our test notebooks, specifically in modin-spreadsheets.

See for error logs: https://github.com/modin-project/modin/runs/7894307735?check_suite_focus=true

[2022-08-18 15:42] pyrito commented on #4838
Per @devin-petersohn, solution for now is to remove modin-spreadsheet related tests since the repo is out of sync.

[2022-08-18 17:00] mvashishtha commented on #671
Hi all,

I know it's ben a long time since there's been activity on this issue, but I would like to get an understanding of how much interest there is in this feature. Please 👍 this comment or comment if you would like geopandas support.

Alos, does anyone have an idea of how different geopandas is from pandas? How many methods would Modin need to implement?

[2022-08-18 17:02] mvashishtha commented on #670
`insert` uses `apply_full_axis_select_indices` now.

[2022-08-18 17:02] mvashishtha commented on #670
Duplicate of #1772

[2022-08-18 17:02] #670 closed

[2022-08-18 17:20] jbrockmendel commented on #4826
On further reading, i'm wondering if we can cheaply convert to a dask dataframe and just use their join implementation

[2022-08-18 19:52] #4838 closed

[2022-08-18 20:37] pyrito opened #4840 "CI: Change modin-spreadsheet version for notebook tests"
Somehow the last PR did not run test-notebook CI runs and we missed a couple of changes.

[2022-08-18 21:32] pyrito commented on #1584
Trying this on latest master and it seems that the property accessors are implemented now, but as @dchigarev they are defaulting to pandas. I think the main issue here has been resolved, so I'm going to close this issue.

[2022-08-18 21:32] #1584 closed

[2022-08-18 21:34] pyrito commented on #1587
Running this on latest master and I'm seeing this output instead:
[code]

[2022-08-18 21:35] pyrito commented on #1587
I'm hoping this will get resolved with the rewrite of groupby.

[2022-08-18 21:35] pyrito commented on #1592
Closing because there is not a reproducer for this.

[2022-08-18 21:35] #1592 closed

[2022-08-18 21:40] pyrito commented on #1618
As of latest master, it seems like the index name is not propagated to the partition still. This seems like relatively low priority since it's not breaking anything that we know of.

[2022-08-18 21:54] pyrito commented on #1653
Closing this thread since it is stale.

[2022-08-18 21:54] #1653 closed

[2022-08-18 21:56] pyrito commented on #1686
As of latest master the results seem to be matching pandas, so I will close this issue.

[2022-08-18 21:56] #1686 closed

[2022-08-18 21:57] pyrito commented on #1706
Closing due to lack of information/reproducer.

[2022-08-18 21:57] #1706 closed

[2022-08-18 21:59] pyrito commented on #1740
@anmyachev can I get some more context for this issue? Is it still relevant?

[2022-08-18 22:42] pyrito commented on #1793
@dchigarev do you have a reproducer?

[2022-08-18 22:47] pyrito commented on #1901
Already in this epic: https://github.com/modin-project/modin/issues/4315

[2022-08-18 22:47] #1901 closed

[2022-08-18 22:56] pyrito commented on #1931
This still seems to be a problem on master. See the output:
[code]

[2022-08-19 07:58] #4840 closed

[2022-08-19 12:29] anmyachev opened #4842 "PERF: `copy` should not trigger any previous computations"
Place: https://github.com/modin-project/modin/blob/a07ec9d539453fea8e682627702ad05675fad805/modin/core/dataframe/pandas/dataframe/dataframe.py#L1005

[2022-08-19 13:27] pyrito opened #4844 "CI, BUG: modin-spreadsheets version needs to be bumped"
We need to bump up the version of `modin-spreadsheets` and make sure that we handle `examples/tutorial/jupyter/execution/pandas_on_*/requirements.txt` since they will install a broken version of modin-spreadsheets.

[2022-08-19 13:54] pyrito opened #4845 "BUG: KeyError occuring in `__getitem_bool` if dataframe has only one row"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): 0.15.2
- **Python version**: 3.9.12
- **Code we can use to reproduce**:
[code]

### Describe the problem
I got this error while trying to reproduce: https://stackoverflow.com/questions/73395456/string-methods-fail-with-modin-but-same-work-with-pandas, which,

[2022-08-19 13:55] pyrito commented on #4845
@vnlitvinov could you take a look at this? I was able to trace down the error to `__getitem_bool` but I don't know exactly what else is causing the failure here.

[2022-08-19 15:44] knaaptime commented on #671
hey @mvashishtha thanks for circling back. Personally, I would still be very interested in seeing geopandas support in modin! :)

I dont think it's a trivial lift though. Geopandas is an extension to pandas that wraps spatial operations using [pygeos](https://github.com/pygeos/pygeos) and [shapely](https://github.com/shapely/shapely). I think the critical thing for a project like modin is intellig

[2022-08-19 15:50] anmyachev opened #4847 "PERF: `empty` should not trigger index and columns computations"
Place: https://github.com/modin-project/modin/blob/a07ec9d539453fea8e682627702ad05675fad805/modin/pandas/dataframe.py#L329

[2022-08-19 15:54] #4847 closed

[2022-08-19 15:56] vnlitvinov commented on #4845
@pyrito I wonder if you can attach some minimal working `server.log`, I cannot repro on my end using some random text file.

[2022-08-19 17:03] martinfleis commented on #671
I am not familiar with modin but I imagine that to require quite some effort to make it work. One thing are the operations that can be conceptualised as a loop over scalars (though it is vectorized using pygeos/shapely), which can be relatively straightforward. The larger issue is when you need to take into account spatial relationship between individual geometries, where the conceptual overhead o

[2022-08-19 17:57] mvashishtha opened #4848 "BUG: applying function to virtual partitions with NPartitions = 1 produces dataframe with 3 dimensional partitions"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey
- **Modin version** (`modin.__version__`): 980f126dd941da534da10d6a5e919cf10410cae0
- **Python version**: 3.10.4
- **Code we can use to reproduce**:

[code]

### Describe the problem

`df._query_compiler._modin_frame._partitions[0,0].apply(lambda x: x)` returns a list of 100 partitions instead of a

[2022-08-20 10:39] dchigarev commented on #1793
@pyrito yes, I've updated the [issues' header](https://github.com/modin-project/modin/issues/1793#issue-665139628) with the reproducer and added more details about the problem

[2022-08-20 23:05] rraihansaputra commented on #4836
Yeah I'm referring to the same page. The bug is that the file is actually downloaded, but the next cells refers to the `s3_path` which is the object path, rather than referring to read the downloaded file.

I believe reading from local emphasizes the improvements from using modin. Reading from an object store is a valid usecase, but I think it can be demonstrated somewhere else, not on this page.

[2022-08-22 07:43] #4835 closed

[2022-08-22 07:48] #4842 closed

[2022-08-22 12:01] anmyachev opened #4849 "PERF: compute dtypes in `concat` also for ROW_WISE case when possible"

[2022-08-22 12:10] anmyachev commented on #1740
@pyrito If I remember correctly, by specifying functions explicitly (thereby making them execute in a remote context), we can significantly reduce data traffic between the local context and the remote one, thereby increasing the performance significantly.   Yes, it's relevant.

[2022-08-22 14:14] devin-petersohn commented on #4836
Reading from S3 should still be faster in Modin, and if it is not, that's a bug 😄

[2022-08-22 14:31] anmyachev opened #4851 "PERF: compute `dtypes` for binary operations that can only return bool type"

[2022-08-22 16:26] stromal opened #4853 "Better Temp file management"
I wold like to request for better temp file cashing management.
It just fills up my ubuntu 20.04 temp folder.
If storage fills up it should get rid of previously cashed files.

[2022-08-22 16:56] pyrito commented on #4836
That makes sense @rraihansaputra ! Do you want to go ahead and open a PR for this?

[2022-08-22 19:27] #4849 closed

[2022-08-22 19:39] pyrito opened #4854 "PERF: `mul` operator does not partition numpy arrays"
Currently, the `mul` operator takes in any `other` as an input and passes it into the Binary operator. However, we can see some subtle performance bugs when we pass in large numpy arrays since they are not partitioned the way Modin DataFrame or Series objects are. Thus, we pay the cost of reduced parallelism and repeated serialization overhead. See the motivating example below:

[code]

As we see

[2022-08-22 19:43] pyrito commented on #4854
@mvashishtha and I discussed some options (just throwing them out here on the forum)
1. Create a Modin Series/DataFrame object for any list, numpy array, or pandas Series passed in to the Binary op. (Downside is that smaller ops have higher overhead)
2. Partition the numpy array, list, or pandas Series and deal with the added complexity and serialization costs
3. Warn users that there is reduced p

[2022-08-22 20:07] pyrito commented on #2001
I believe that we do have `default_to_pandas` methods implemented in the query compiler level as well. @dchigarev did you intend on moving `_default_to_pandas` in base.py as well?

[2022-08-22 20:08] pyrito commented on #2004
Is this a feature we want to support as part of Modin directly? Isn't k-means something that is more specific to a user's implementation as opposed to something we need to do within Modin?

[2022-08-22 20:09] pyrito commented on #1933
Closing this issue since the answer seems to have resolved the initial question. Please re-open if needed.

[2022-08-22 20:09] #1933 closed

[2022-08-22 20:10] pyrito commented on #1946
Hi @knyats I am not able to reproduce the error you are facing. Could you posted an update issue?

[2022-08-22 20:12] pyrito commented on #2017
Will we see any performance benefit from trying to parallelize this with Modin? Dicts are encouraged to be small in Python either way, right?

[2022-08-22 20:16] pyrito commented on #2063
The issue still seems to be present on the latest master. It looks like the dtypes after the apply haven't changed. See:
[code]

[2022-08-22 20:18] pyrito commented on #2072
@vnlitvinov Do you have an example of the case you mention?

[2022-08-22 20:19] pyrito commented on #2073
@mvashishtha What's the status of this?

[2022-08-22 20:22] pyrito commented on #2121
Looks like this has been added as of https://github.com/modin-project/modin/pull/2523

[2022-08-22 20:22] #2121 closed

[2022-08-22 20:23] pyrito commented on #2139
Hi @hazeyblu are you still facing this issue? I'm going to go ahead and close this issue since the thread has gone stale.

[2022-08-22 20:23] #2139 closed

[2022-08-22 20:24] pyrito commented on #2144
@dchigarev could you post a reproducer?

[2022-08-22 20:25] pyrito commented on #2165
@devin-petersohn what's the status of this issue?

[2022-08-22 20:29] pyrito commented on #2198
What's the status on this?

[2022-08-22 20:33] pyrito commented on #2227
Hi @sriramya1409 are you still facing this issue? I'm going to close this issue since the thread has gone stale. Please reopen if needed!

[2022-08-22 20:33] #2227 closed

[2022-08-22 20:35] pyrito commented on #2233
@vnlitvinov do you have any more detail here? What were you thinking with regards to cloud testing specifically?

[2022-08-22 20:38] pyrito commented on #2234
@gshimansky I just re-ran this on the latest master and am no longer seeing the return type return a series but instead `modin.pandas.dataframe.DataFrame` which is correct. I am closing the issue now since this appears to be resolved. Please re-open if needed.

[2022-08-22 20:38] #2234 closed

[2022-08-22 20:40] pyrito commented on #2245
I am still able to reproduce this on master.

[2022-08-22 20:48] pyrito commented on #2246
@gshimansky I tried reproducing the bug on the latest master with the following:
[code]

[2022-08-22 20:51] pyrito commented on #2247
Hi @kvu35 I just ran this on the latest master and this appears to be working correctly now. Please re-open this issue if the problem is persisting!

[2022-08-22 20:51] #2247 closed

[2022-08-22 20:57] pyrito commented on #2312
I am not able to reproduce this bug on master, so I'll go ahead and close this issue. Please re-open if needed!

[2022-08-22 20:57] #2312 closed

[2022-08-22 21:00] pyrito commented on #2320
I am still able to reproduce this mismatch on the latest master.

[2022-08-22 21:00] pyrito commented on #2328
@gshimansky what's the status of this issue? What would the priority of this be ?

[2022-08-22 21:02] pyrito commented on #2364
@guhanrv are you still facing these issues? I am closing this issue since this thread has gone stale. Please reopen if the problem still persists.

[2022-08-22 21:04] #2372 closed

[2022-08-22 21:05] pyrito commented on #2392
Looks like all the tasks in this epic have been completed. @Garra1980 should we close this issue?

[2022-08-22 21:06] pyrito commented on #2393
bump!

[2022-08-22 21:06] pyrito commented on #2405
I am able to reproduce this bug on the latest master.

[2022-08-22 21:06] Garra1980 commented on #2198
let's close

[2022-08-22 21:06] #2198 closed

[2022-08-22 21:07] Garra1980 commented on #2392
Yes, closing

[2022-08-22 21:07] #2392 closed

[2022-08-22 21:07] pyrito commented on #2410
Looks like this has actually been completed, but didn't get closed.

[2022-08-22 21:07] #2410 closed

[2022-08-22 21:15] pyrito commented on #2446
@amyskov I'm not able to reproduce this on the latest master, so I'll go ahead and close this issue. Please re-open if the problem still persists.

[2022-08-22 21:15] #2446 closed

[2022-08-22 21:17] pyrito commented on #2455
Hi @KalyanovD , piggy backing off what @YarShev , could you give some details on what machines this wasn't reproduced on? Did those machines have more memory? I'm going to go ahead and close this issue since the thread has gone stale, but please re-open if the issue still persists.

[2022-08-22 21:17] #2455 closed

[2022-08-22 21:18] pyrito commented on #2480
I am able to reproduce this bug on the latest master.

[2022-08-22 21:19] pyrito commented on #2493
I am still able to reproduce this bug on the latest master.

[2022-08-22 21:21] #2499 closed

[2022-08-22 21:22] pyrito commented on #2499
@abubelinha , are you still having this issue?

[2022-08-22 21:23] pyrito commented on #2500
@amyskov I am not able to reproduce this bug on latest master. In fact, it seems like we are now throwing the correct error that matches pandas:
[code]

[2022-08-22 21:23] #2500 closed

[2022-08-22 21:24] pyrito commented on #2505
@anmyachev are we still seeing this flake?

[2022-08-22 21:28] pyrito commented on #2506
Closing this since the paper has been published now. @deHasara please check out: https://people.eecs.berkeley.edu/~totemtang/paper/Modin.pdf

[2022-08-22 21:28] #2506 closed

[2022-08-22 21:29] pyrito commented on #2508
I am seeing a similar error on the latest master:
[code]

[2022-08-22 21:30] pyrito commented on #2511
I am able to reproduce this issue on master.

[2022-08-22 21:49] mvashishtha commented on #4736
@chandrabh since you haven't posted any more information in 24 days, I'm going to close this issue as stale. Please comment if you still need help and you can provide more information.

[2022-08-22 21:49] #4736 closed

[2022-08-22 21:58] mvashishtha commented on #1946
@pyrito this looks like a syntax error in how we were selecting a subset of the rows in our `read_sql` implementation. It's similar to #3524.

[2022-08-22 22:03] mvashishtha commented on #2072
@pyrito I think @vnlitvinov might be referring to cases like this, where remote functions get a list of object IDs:

https://github.com/modin-project/modin/blob/6e1849f4deb7e5060d046ab532943bbe44e33ccb/modin/core/execution/ray/common/utils.py#L221-L224

But I think we should get rid of that kind of behavior entirely, and instead pass all object IDs directly as arguments to remote functions. That w

[2022-08-22 22:04] mvashishtha commented on #2245
Duplicate of #4640

[2022-08-22 22:04] #2245 closed

[2022-08-22 22:09] mvashishtha commented on #2165
See also the related bug #4586, in which partition queries don't correctly partition the data.

[2022-08-22 22:10] mvashishtha commented on #2073
I still have to address comments on #4572: https://github.com/modin-project/modin/pull/4572#issuecomment-1164656101

[2022-08-22 22:16] mvashishtha commented on #753
I'm closing this now that we have some documentation about pandas on dask, e.g. https://modin.readthedocs.io/en/stable/development/using_pandas_on_dask.html?highlight=dask#pandas-on-dask

[2022-08-22 22:16] #753 closed

[2022-08-22 22:20] mvashishtha commented on #820
I'm closing this issue because I can't find a reproducer and I assume the drop_duplicates implementation fixed the bug.

[2022-08-22 22:20] #820 closed

[2022-08-22 22:21] pyrito commented on #2521
I am able to reproduce this bug on the latest master.

[2022-08-22 22:23] pyrito commented on #2529
I'm able to reproduce this bug on the latest master.

[2022-08-22 22:23] mvashishtha commented on #895
I'm closing this question because it's old, but you can follow in #3435 the bug where groupby-apply fails when the apply function access elements from another column.

[2022-08-22 22:23] #895 closed

[2022-08-22 22:24] pyrito commented on #2544
Yes, we should do something about the codecov notifications.

[2022-08-22 22:25] #2546 closed

[2022-08-22 22:25] #896 closed

[2022-08-22 22:26] mvashishtha commented on #1112
Closing this as stale, given @jeffreykennethli 's comment.

[2022-08-22 22:26] #1112 closed

[2022-08-22 22:29] pyrito commented on #2552
I am still able to reproduce this on the latest master.

[2022-08-22 22:30] pyrito commented on #2576
I am still able to reproduce this on the latest master.

[2022-08-22 22:33] pyrito commented on #2620
I am still seeing this error on the latest master.

[2022-08-22 22:34] pyrito commented on #2621
What is the status of this now?

[2022-08-22 22:35] pyrito commented on #2627
@anmyachev what's the status of this?

[2022-08-22 22:36] pyrito commented on #2634
I am able to replicate the error on the latest master.

[2022-08-22 22:37] pyrito commented on #2636
Is this referring to using conda vs mamba in CI?

[2022-08-22 22:43] Garra1980 commented on #2636
not only

[2022-08-22 22:44] Garra1980 commented on #2636
I think we can close this

[2022-08-22 22:44] #2621 closed

[2022-08-22 23:07] #2636 closed

[2022-08-22 23:58] mvashishtha commented on #4854
To clarify the difference between in performance between np array and series as the right operand:

For np array: [call `apply_full_axis`](https://github.com/modin-project/modin/blob/bd326f1c4175102489f08d271a53cf374bd9125e/modin/core/dataframe/algebra/binary.py#L105-L112) and serialize the whole vector once for every row partition of the left operand:

For modin series: [broadcast](https://github

[2022-08-23 08:00] vnlitvinov opened #4855 "Set minimal supported `fsspec` version"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: any
- **Modin version** (`modin.__version__`): 8f3f389949e8c29b72269939318f49671676291b
- **Python version**: any
- **Code we can use to reproduce**: N/A

### Describe the problem
As we do not set any constraints on `fsspec`, it is possible that some users would install incompatible versions and have weird issues

[2022-08-23 09:00] anmyachev commented on #2505
I haven't seen this problem for a long time already. Let's close.

[2022-08-23 09:00] #2505 closed

[2022-08-23 12:39] anmyachev opened #4856 "PERF: `binary_op` should accept `dtypes` arg as is done for `dataframe.map` function"

[2022-08-23 14:47] pyrito commented on #4854
@mvashishtha yes you're spot on. I forgot to add those important details for context. I'm still wondering if we would pay some performance penalty in creating a new Series object even for smaller objects. I'll have to benchmark and see.

[2022-08-23 14:57] anmyachev opened #4858 "Modin antipattern of `__getitem__` usage"
The code for pandas is usually written with the assumption that taking a column is a cheap operation (getting a view, without copying the memory), but this is not true for Modin, where each taking a column is an expensive copy operation due to serialization / deserialization.

We need to add antipattern into the docs, until we figure out how to make this operation cheaper.

Example (This is a part

[2022-08-23 16:48] vnlitvinov commented on #4853
Hello @stromal, thanks for reporting!

Do you have any more data you can provide on those files filling up the `/tmp`? I'm assuming you're talking about Ray files, but would like to confirm that. Would be helpful if you can share at least file names there.

[2022-08-23 17:00] pyrito commented on #2669
@Bhavsik did Devin's suggestion help? I'm going to go ahead and close this issue.

[2022-08-23 17:00] #2669 closed

[2022-08-23 17:01] pyrito commented on #2678
@Bhavsik do you have a reproducer you could give us here? I'm not able to replicate the issue. Please go ahead and reopen this if you're still having this issue.

[2022-08-23 17:01] #2678 closed

[2022-08-23 17:07] pyrito commented on #2688
I am not able to reproduce this on the latest master. This seems to be working now.

[2022-08-23 17:07] #2688 closed

[2022-08-23 17:47] pyrito commented on #2713
@vnlitvinov do you have a reproducer for this?

[2022-08-23 17:48] pyrito commented on #2723
Closing this issue since the issues in this epic are completed.

[2022-08-23 17:48] #2723 closed

[2022-08-23 17:50] pyrito commented on #2734
I think this is similar to the issues raised here: https://github.com/modin-project/modin/issues/4770 ?

[2022-08-23 17:53] pyrito commented on #2749
@borisRa are you still facing this issue? Could you update the issue with a proper reproducer so that we can investigate? I'm going to close this issue for now, but please feel free to re-open this if you feel it's necessary.

[2022-08-23 17:53] #2749 closed

[2022-08-23 17:55] pyrito commented on #2752
Closing this issue since the `pd.set_option` still seems to be a problem and we have a duplicate here: https://github.com/modin-project/modin/issues/4640

[2022-08-23 17:55] #2752 closed

[2022-08-23 17:57] pyrito commented on #2775
@RehanSD I'm going to go ahead and close this if you're no longer dealing with this issue.

[2022-08-23 17:57] #2775 closed

[2022-08-23 17:59] pyrito commented on #2780
@anmyachev is this still relevant?

[2022-08-23 18:32] #2834 closed

[2022-08-23 18:34] pyrito commented on #2852
Hi @DonYum , out-of-core and cluster support should be supported now. Please see the following links:
- https://modin.readthedocs.io/en/stable/getting_started/using_modin/using_modin_cluster.html
- https://modin.readthedocs.io/en/latest/getting_started/why_modin/out_of_core.html

[2022-08-23 18:34] #2852 closed

[2022-08-23 18:35] pyrito commented on #2863
@gshimansky can you update this issue with the latest code lines? I think things have changed.

[2022-08-23 18:36] pyrito commented on #2892
I am still able to reproduce this error on the latest master. Seems like an issue related to MultiIndex.

[2022-08-23 18:38] pyrito commented on #2899
@anmyachev is this just flaky/sporadic or is this consistently slower?

[2022-08-23 18:57] mvashishtha commented on #2850
I think this is still relevant:

https://github.com/modin-project/modin/blob/8f3f389949e8c29b72269939318f49671676291b/modin/pandas/dataframe.py#L2279-L2280

[2022-08-23 18:58] mvashishtha commented on #2734
@pyrito yes let's dedupe.

[2022-08-23 18:58] mvashishtha commented on #2734
Duplicate of #4770

[2022-08-23 19:27] pyrito commented on #4854
Thoughts from @modin-project/modin-contributors @modin-project/modin-core ?

[2022-08-23 20:01] #4729 closed

[2022-08-23 21:08] AndreyPavlenko opened #4859 "Unable to create DataFrame form a PyArrow table containing a Dictionary Array"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 22.04.1
- **Modin version** (`modin.__version__`): 0.15.0+89.g8f3f3899
- **Python version**: 3.8.13
- **Code we can use to reproduce**:

import pyarrow as pa
import modin.config as cfg
from modin.pandas.utils import from_arrow
from modin.pandas.test.utils import df_equals

cfg.StorageFormat.put('omnisci')

[2022-08-23 21:11] anmyachev opened #4860 "PERF: `PandasDataframeAxisPartition.deploy_axis_func` should be serialized only once"
Place: https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/core/execution/ray/implementations/pandas_on_ray/partitioning/virtual_partition.py#L191

Currently, this function is serialized on every call.

[2022-08-23 21:23] anmyachev opened #4862 "PERF: don't call `compute_sliced_len.remote` when `row_labels/col_labels` == `slice(None)`"
This should speedup `partition.mask` operation.

[2022-08-23 22:05] anmyachev opened #4866 "PERF: `iloc` function that used in `partition.mask` should be serialized only once"
Place: https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/core/dataframe/pandas/partitioning/partition.py#L188

Motivation: `partition.mask` - one of the most used functions.

[2022-08-23 22:21] anmyachev opened #4867 "PERF: compute `lengths` cache in `concat` even if partitions are rebalanced"
This will allow operations that follow the concatenation and require lengths to not have to wait for previous operations to complete. More profit here from asynchronous execution, however, this will also reduce the number of remote calls.

[2022-08-23 22:29] anmyachev opened #4868 "PERF: compute `dtypes` cache for Binary operations where possible"
This will allow operations that follow the Binary operation and require dtypes to not have to wait for previous operations to complete. More profit here from asynchronous execution, however, this will also reduce the number of remote calls.

For example, it's needed for following case: `df[mask]`, where `mask` - Series object created by some Binary operations (`&`, `|` and so on).

[2022-08-23 22:43] anmyachev opened #4869 "PERF: it's possible to build range index in `read_parquet` using metadata of parquet files"
This will allow us to execute this function asynchronously and also get rid of the `frame.synchronize_labels(axis=0)` call.

Places: https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/core/io/column_stores/parquet_dispatcher.py#L558
https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/core/io/column_stores/parquet_dispat

[2022-08-23 23:31] anmyachev opened #4870 "PERF: try to avoid index materialization in `BasePandasDataset.__getattribute__`"
Place: https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/pandas/base.py#L3415

For optimization purpose we use `self.empty` check that trigger index materialization. It is most likely possible to do this check only when the index is already materialized. To do this, we can check the corresponding cache.

[2022-08-24 02:42] mvashishtha commented on #4858
@anmyachev that's a good point; we should at least warn in the docs that `__getitem__` is currently not as cheap as in pandas. @vnlitvinov also pointed out that we could suggest that users instead use `query`, which is more concise and will combine all the logic into one remote call per row partition, e.g. for this example something like `taxi_df.query(fare_amount > 1 & fare_amount < 500)`.

For a

[2022-08-24 03:03] mvashishtha commented on #4818
@tranduytrung there is some ongoing work on the fix, #4820. Meanwhile I just want to say that you can do this part of your workflow in pandas, and then switch back to modin for the rest, e.g.

[code]

[2022-08-24 03:26] mvashishtha commented on #4798
@peterbolson and I discussed this offline. One potential problem we noticed with Rob's benchmark was that Modin went after pandas, so it may have performed worse because much of the memory available on the system was already occupied with pandas data. The slowness in the video may not represent Modin's performance if it were to go before pandas. Regarding the slow functions, we have different expe

[2022-08-24 03:42] mvashishtha opened #4872 "BUG: starting modin on ray 2.0.0 on mac raises long DeprecationWarning"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey
- **Modin version** (`modin.__version__`): cfcdf081e197d35e1fd1526f5585e361793dc2fa
- **Python version**: 3.10.4
- **Code we can use to reproduce**:

[code]

### Describe the problem
Starting modin on ray 2.0.0 on mac raises long DeprecationWarning because Modin accesses the private variable `MAC_D

[2022-08-24 06:04] mvashishtha commented on #4872
Regarding @RehanSD 's comment here: https://github.com/modin-project/modin/pull/4873#discussion_r953353691

We know from https://github.com/ray-project/ray/issues/20388 that for sure the bug was bad at ray 1.8.0. I tried some other versions:

-  using ray 1.6.0 in  python 3.9 on my mac, and I got 15 seconds for [this benchmark](https://github.com/ray-project/ray/issues/20388#issuecomment-974547605

[2022-08-24 07:18] vnlitvinov opened #4875 "Missing S3 file broke `test_io.py`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: any
- **Modin version** (`modin.__version__`): cfcdf081e197d35e1fd1526f5585e361793dc2fa
- **Python version**: any

### Describe the problem

A file used in tests (namely `s3://noaa-ghcn-pds/csv/1788.csv`) has suddenly gone missing.
This breaks all `test_io.py` runs.

[2022-08-24 08:37] vnlitvinov commented on #2713
I don't, as the issue is quite old. IIRC it emerged from reviewing some pull request.

The example would be a line in a csv file being, say,
[code]
and, in an unfortunate case that our splitting gets in the middle of that line all would break.

That is, our quoting logic is based on assumption that quotes in CSV are escaped by doubling them (i.e. their number is always even on a given line), but t

[2022-08-24 13:45] #4875 closed

[2022-08-24 15:26] anmyachev commented on #2899
@pyrito consistently slower (but the reason for the degradation of performance may already be different)
![image](https://user-images.githubusercontent.com/45976948/186457778-c19a6f2a-a4b2-4599-8ae0-822cac3cc11e.png)

[2022-08-24 15:44] prutskov opened #4877 "Define process of backward compatibility for asv benchmarks"
### Describe the problem

Currently, we have 2 supported APIs of Modin to run asv_bench on (`partition.wait`, `partition._data`). https://github.com/modin-project/modin/blob/b0465fa4425247e7949881e93866c6b85bb10a1d/asv_bench/benchmarks/utils/common.py#L502-L522

Old Modin versions don't have these APIs, in the result running will be failed (`.oid` API was used in old Modin versions). We should def

[2022-08-24 16:43] anmyachev opened #4878 "`BenchmarkMode` does not materialize partitions after rebalancing"
This affects the measured time of subsequent operations.

сс @mvashishtha

[2022-08-24 16:55] jbrockmendel opened #4879 "TST: temp files left behind after pytest modin/pandas/test/"
I see 200kx99.csv and modin/pandas/test/io_tests_data/ left behind.

could reuse pandas' tm.ensure_clean for this

[2022-08-24 19:07] noloerino commented on #4675
This particular reproducer with `pd.concat` seems to have been fixed by 8f3f38 -- I'm not sure if there's any other form of DataFrame construction that could lead to this bug.

[2022-08-24 19:11] pyrito commented on #4879
@jbrockmendel thanks for opening this issue. The culprit of 200kx99.csv seems to be `test___setitem__with_mismatched_partitions` in `test_indexing.py`. It also looks like we make no effort to clean up `IO_OPS_DATA_DIR`.

[2022-08-24 19:46] #4862 closed

[2022-08-24 21:03] jbrockmendel opened #4882 "PERF: avoid reorder_labels in take_2d_label_or_positional"
When profiling getitem-like calls, most of the time in take_2d_label_or_positional ends up being taken by reorder_labels.  AFAICT the current implementation sorts the indices, does a take with these, then re-sorts the result.  This should be doable with a single step.

[2022-08-25 08:49] dchigarev commented on #2144
@pyrito updated the issues' header with the repro

[2022-08-25 09:32] anmyachev commented on #2780
Sure, in some cases, we need data on how long the metadata is calculated if there is no cache. There should be a way to clear the cache when needed instead of doing it manually.

[2022-08-25 09:37] anmyachev commented on #2751
@pyrito need someone to check how long this function takes on the master in the case above.

[2022-08-25 09:44] anmyachev commented on #2627
This feature has not yet been implemented, as there is difficulty in ensuring compatibility with pandas. If compatibility is not needed, then it's possible to use `to_pickle_distributed`.

[2022-08-25 10:15] anmyachev commented on #2017
I think that in some cases, we can get a performance boost, but it really can help in few places. I think we can put the lowest priority and wait until one of the users asks us.

[2022-08-25 10:37] panurjoma commented on #2307
I am not able to use properly the usecols argument in read_csv function because if I select the name of other column, modin datframe return always the first column ignoring the column name I told in the usecols parameter. Thank you in advance for helping.

[2022-08-25 10:37] panurjoma commented on #2307
I have installed the version 0.15.2

[2022-08-25 10:39] panurjoma opened #4884 "usecols argument is not working properly in read_csv function"
Always return the first column independently of the column name specified in the usecols argument.

my modin version is 0.15.2

[2022-08-25 12:57] #4848 closed

[2022-08-25 14:56] pyrito commented on #4884
Hi @panurjoma , thank you for opening this issue! Could you give us some more context with regards to the bug you are facing? Is it possible for you to post a reproducer of the issue?

[2022-08-25 15:25] panurjoma commented on #4884
Hi @pyrito thank you for your response. I leave you here an example of the file to execute to test modin.pandas versus pandas. pandas is giving the correct answer but modin.pandas give the first column instead the column indicated.

[](https://github.com/panurjoma/Example_repository/blob/main/test_usecols_modin.py)

and here a link to the .txt data to read with the function read_csv:

[](https://g

[2022-08-25 17:07] RehanSD commented on #4884
Hi @panurjoma! I've tried replicating the bug locally, but can't seem to - would you mind sharing a stack trace for me where you encounter this bug?

This is the result of me trying the replication script you attached locally!
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/17012605/186727077-067196cb-695b-42f1-9319-f8daf9a886c2.png">

[2022-08-25 20:12] jbrockmendel opened #4885 "REFACTOR: de-duplicate code"
Requiring an issue be created for every PR is a PITA.

[2022-08-25 20:46] panurjoma commented on #4884
Hi @RehanSD, this is the code I execute and also the result.

![image](https://user-images.githubusercontent.com/61909255/186765381-4b64e963-b81f-466d-816f-ad5b35e84874.png)

![image](https://user-images.githubusercontent.com/61909255/186765498-4f0de7a4-6207-4f7d-a60c-57e53d4b65df.png)

which version of pandas, modin do you have? Also apart from that which version of ray?

thank you in advance.

B

[2022-08-25 21:06] RehanSD commented on #4884
Hi @panurjoma! Thank you - just realized I was testing with the latest version of Modin! It seems that this issue is fixed there, so would you mind pip installing modin from GitHub (like so: `pip install -U pip install git+https://github.com/modin-project/modin`)? We'll be releasing a new version of Modin soon, so the fix should be public soon!

[2022-08-25 22:22] #4851 closed

[2022-08-26 07:13] #4860 closed

[2022-08-26 08:46] panurjoma commented on #4884
Hi @RehanSD , thank you for the clarification. I will install the version from github and try again. The next modin version is the 0.15.3? thank you and we keep in contact!

[2022-08-26 09:54] panurjoma commented on #4884
Hi again @RehanSD. I have observed that the function 'concat' is not working properly when you pass modin frames to the function, is this the desired behaviour? I have to pass pandas frame in order to make it work?

[2022-08-26 10:49] panurjoma commented on #4884
hi again @RehanSD, forget about the last comment, I was importing pandas instead of modin.pandas xd. Thank you again!

[2022-08-26 12:51] vnlitvinov commented on #3665
I think this was fixed in some `black` update in conda-forge. It runs fine on my system with `black` being
[code]

[2022-08-26 12:51] #3665 closed

[2022-08-26 12:53] #4872 closed

[2022-08-26 13:03] vnlitvinov commented on #3673
I have added some blocking calls to `repr()` to make sure we're not measuring just issuing the jobs, and here's the run result on my machine (6 workers used):
[code]
[code]
This was measured against fbd1e2a1b91170a3c45ce9565b1051bb2d55e4eb

[2022-08-26 13:29] vnlitvinov commented on #3771
Still relevant on current master: https://github.com/modin-project/modin/blob/fbd1e2a1b91170a3c45ce9565b1051bb2d55e4eb/modin/pandas/groupby.py#L953

[2022-08-26 13:32] vnlitvinov commented on #3780
I wonder if https://github.com/modin-project/modin/pull/4683 and https://github.com/modin-project/modin/pull/4718 actually address this. @anmyachev thoughts?

[2022-08-26 13:35] vnlitvinov commented on #3788
@modin-project/modin-omnisci could someone please check if this still happens?

[2022-08-26 13:35] vnlitvinov commented on #3800
@modin-project/modin-omnisci could someone please check if this still happens?

[2022-08-26 13:35] vnlitvinov commented on #3802
@modin-project/modin-omnisci could someone please check if this still happens?

[2022-08-26 13:39] vnlitvinov commented on #3810
https://github.com/orgs/modin-project/teams/modin-omnisci could someone please check if this still happens?

[2022-08-26 13:40] vnlitvinov commented on #3812
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:40] vnlitvinov commented on #3813
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:41] vnlitvinov commented on #3814
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:41] pyrito commented on #4884
@panurjoma I will go ahead and close this issue if you are not having this specific issue! If you have another one, please feel free to open a new issue!

[2022-08-26 13:41] #4884 closed

[2022-08-26 13:41] vnlitvinov commented on #3815
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:43] pyrito commented on #4885
@jbrockmendel yeah it's a little annoying, but I think it's worth keeping the discipline for now. Maybe as the project grows we can think about relaxing this requirement.

[2022-08-26 13:48] vnlitvinov commented on #3822
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:49] vnlitvinov commented on #3823
@modin-project/modin-omnisci  could someone please check if this still happens?

@devin-petersohn do we still want to support sparse data?..

[2022-08-26 13:49] vnlitvinov commented on #3824
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:50] vnlitvinov commented on #3825
I think the reproducer itself is invalid, `pandas.testing` rightily expects `pandas.Series`, not `modin.panads.Series` as input.

[2022-08-26 13:59] vnlitvinov commented on #3834
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:59] vnlitvinov commented on #3836
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 13:59] vnlitvinov commented on #3837
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 14:01] vnlitvinov commented on #3838
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 14:01] vnlitvinov commented on #3839
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 14:01] vnlitvinov commented on #3840
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 14:02] vnlitvinov commented on #3841
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 14:02] vnlitvinov commented on #3842
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-26 14:08] vnlitvinov commented on #3849
@YarShev is this still relevant? https://github.com/modin-project/modin/pull/4374 removed PyArrow from there to experimental, so the non-experimental `storage_formats` exposes only pandas StorageOptions, which seems somewhat fine for me.

[2022-08-26 14:11] vnlitvinov commented on #3865
I wonder if https://github.com/modin-project/modin/pull/3783 fixed that, could someone from @modin-project/modin-omnisci please re-check?

[2022-08-26 14:11] anmyachev opened #4886 "PERF: `dataframe.filter` can use lazy index and columns evaluation"
Place: https://github.com/modin-project/modin/blob/fbd1e2a1b91170a3c45ce9565b1051bb2d55e4eb/modin/core/dataframe/pandas/dataframe/dataframe.py#L1799

We can avoid following call: https://github.com/modin-project/modin/blob/fbd1e2a1b91170a3c45ce9565b1051bb2d55e4eb/modin/core/dataframe/pandas/dataframe/dataframe.py#L1833

[2022-08-26 14:12] vnlitvinov commented on #3877
Could someone (probably @anmyachev or @YarShev) with access to multi-core machine check if this is still relevant please?

[2022-08-26 17:39] #4886 closed

[2022-08-26 17:50] YarShev commented on #3877
Checked on 112 cores, the test passed so closing the issue.

[2022-08-26 17:50] #3877 closed

[2022-08-29 07:33] panurjoma commented on #4884
@pyrito perfect, for me there is no problem, you could close the issue.

[2022-08-29 11:31] MANLW-Vestas opened #4889 "Code behaves differently, and stops"
By doing some searching, I found Modin and it caught my interest quite fast.
To test it, i made a script to see if it works better or worse that the ordinary Pandas. This worked very nicely with Ray on my local machine, but my machine isn’t powerful enough to get a good result, so I got my hands on a really powerful server to run it on. I have then copied my script and all dependencies over to the

[2022-08-29 13:27] vnlitvinov commented on #3903
@afogarty85 we've recently merged a PR which should improve some cases with `[]` lookup, would you be able to run off master and try it again? As we don't have the way to reproduce the issue ourselves, it's hard to see if if https://github.com/modin-project/modin/pull/4753 actually fixes the issue without your help. Thanks in advance!

[2022-08-29 13:27] vnlitvinov commented on #3905
@devin-petersohn I wonder if there's a usable repro for this issue?..

[2022-08-29 13:28] vnlitvinov commented on #3906
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:28] vnlitvinov commented on #3913
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:29] vnlitvinov commented on #3917
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:30] vnlitvinov commented on #3918
@jeffreykennethli could you please provide with a step-by-step repro here?

[2022-08-29 13:34] vnlitvinov commented on #3921
@fhenrywells we've recently added support for "legacy" Python 3.6 and pandas 1.1 in https://github.com/modin-project/modin/pull/4800 and https://github.com/modin-project/modin/pull/4301, this might help with installing Modin in some AWS cases. We don't have a release with this yet, so you'd have to [install from master](https://modin.readthedocs.io/en/stable/getting_started/installation.html#insta

[2022-08-29 13:34] vnlitvinov commented on #3924
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:35] vnlitvinov commented on #3925
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:35] vnlitvinov commented on #3928
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:35] vnlitvinov commented on #3931
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:36] vnlitvinov commented on #3932
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:36] vnlitvinov commented on #3933
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:39] vnlitvinov commented on #3940
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:40] vnlitvinov commented on #3941
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:40] vnlitvinov commented on #3942
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:41] vnlitvinov commented on #3948
@denish44 do you need any help from us to get a PR to fix this?

[2022-08-29 13:42] vnlitvinov commented on #3952
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:43] vnlitvinov commented on #3956
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:44] vnlitvinov commented on #3957
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:45] vnlitvinov commented on #3958
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:45] vnlitvinov commented on #3959
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:46] vnlitvinov commented on #3963
@devin-petersohn it would be awesome if you could elaborate just a little bit what we want to do here...

[2022-08-29 13:48] vnlitvinov commented on #3967
@labanyamukhopadhyay could you please re-check if this still happens?

[2022-08-29 13:50] vnlitvinov commented on #3969
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:50] vnlitvinov commented on #3970
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:50] vnlitvinov commented on #3972
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:51] vnlitvinov commented on #3974
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:51] vnlitvinov commented on #3975
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:51] vnlitvinov commented on #3976
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:51] vnlitvinov commented on #3977
Cross-reference with https://github.com/modin-project/modin/issues/3955

[2022-08-29 13:52] vnlitvinov commented on #3980
@labanyamukhopadhyay could you please re-check if this still happens?

[2022-08-29 13:53] vnlitvinov commented on #3983
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:53] vnlitvinov commented on #3984
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 13:57] vnlitvinov commented on #4000
What we can do is we can replace the pieces like
[code]
with (untested, illustrating the idea)
[code]

[2022-08-29 14:02] vnlitvinov commented on #4011
@jeffreykennethli @dorisjlee @YarShev does anyone have any good sources or insights on which function interactions are most faced in the real world? Feels like we should try to aim at most widely used combinations.

[2022-08-29 14:09] anmyachev opened #4890 "PERF: `drain` function should be serialized only once"

[2022-08-29 14:52] anmyachev opened #4892 "PERF: compute `lengths` in `rebalance_partitions` when possible"

[2022-08-29 14:57] vnlitvinov commented on #4013
@labanyamukhopadhyay would you be able to construct a self-contained reproducer (with input data)?

[2022-08-29 14:58] vnlitvinov commented on #4016
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:00] mvashishtha commented on #3905
It seems that sqlite can't support a high level of concurrency. See here: https://stackoverflow.com/a/3172950/17554722

[2022-08-29 15:02] vnlitvinov commented on #4022
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:03] vnlitvinov commented on #4023
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:05] #4530 closed

[2022-08-29 15:10] vnlitvinov commented on #4033
@alcinos could you please re-check if this is valid? I've ran your reproducer and did not encounter any exceptions on both 0.15.2 and current master.

[2022-08-29 15:11] #4033 closed

[2022-08-29 15:15] vnlitvinov commented on #4039
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:18] vnlitvinov commented on #4040
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:18] vnlitvinov commented on #4042
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:18] suhailrehman commented on #4011
@jeffreykennethli take a look at the autogenerated artifacts from [fuzzydata](https://github.com/suhailrehman/fuzzydata) on the modin main repo [Github Actions -> fuzzy ](https://github.com/modin-project/modin/actions/workflows/fuzzydata-test.yml)->Select any Job ->Download Artifacts. It currently does not run against vanilla pandas, but it can easily be configured. We could auto-fail the GitHub a

[2022-08-29 15:26] vnlitvinov commented on #4049
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:27] vnlitvinov commented on #4050
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:28] vnlitvinov commented on #4052
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:36] vnlitvinov commented on #4048
Should be something similar to https://github.com/modin-project/modin/pull/712

[2022-08-29 15:38] vnlitvinov commented on #4055
Can confirm that it happens in 0.15.2,.

[2022-08-29 15:43] vnlitvinov commented on #4063
Might be related to https://github.com/modin-project/modin/issues/4062

[2022-08-29 15:44] vnlitvinov commented on #4064
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:47] vnlitvinov commented on #4066
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:48] vnlitvinov commented on #4068
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:49] vnlitvinov commented on #4069
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 15:53] vnlitvinov commented on #4084
@YarShev got some suggestions on what examples we should include?

[2022-08-29 16:04] vnlitvinov commented on #4090
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:12] vnlitvinov commented on #4091
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:15] vnlitvinov commented on #4094
@codecypher it seems that the original issue should now be solved by updating to newest Modin release.
Feel free to re-open if you disagree or open new issues when you find any.

[2022-08-29 16:15] #4094 closed

[2022-08-29 16:16] vnlitvinov commented on #4100
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:16] vnlitvinov commented on #4101
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:18] vnlitvinov commented on #4102
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:18] vnlitvinov commented on #4103
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:19] vnlitvinov commented on #4104
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:19] vnlitvinov commented on #4106
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:19] vnlitvinov commented on #4107
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:22] vnlitvinov commented on #4121
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:25] vnlitvinov commented on #4133
Is this still relevant given `MODIN_OUT_OF_CORE` is no longer a thing and Ray does that automatically?

[2022-08-29 16:26] vnlitvinov commented on #4143
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:28] vnlitvinov commented on #4155
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 16:30] vnlitvinov commented on #4167
This feels like a semi-duplicate to https://github.com/modin-project/modin/issues/4000

[2022-08-29 16:33] vnlitvinov commented on #4180
Cross-reference: https://github.com/modin-project/modin/issues/4048

[2022-08-29 16:38] stromal commented on #4853
yep ray files. I got rid of them and switched off the whole pipeline now. I did not save down the error message but it was like 99% CPU utilization on a 32 thread AWS EC2 instance.

[2022-08-29 16:40] jbrockmendel commented on #4858
FWIW `pandas.DataFrame.__getitem__` uses _item_cache to cache these lookups

[2022-08-29 17:03] gshimansky commented on #2328
I think it is safe to close this. The problems described here apply to code that has changed since then.

[2022-08-29 17:03] #2328 closed

[2022-08-29 17:08] mvashishtha commented on #150
Duplicate of #2538

[2022-08-29 17:08] #150 closed

[2022-08-29 17:18] gshimansky commented on #1618
The code in this bug is a real code from a data scientist's notebook which broke on Modin. True that it has an easy workaround, but to use it a data scientist has to guess why his code works on Pandas but doesn't work on Modin.

[2022-08-29 17:36] AndreyPavlenko commented on #4050
The issue is still reproducible on the latest master:

pandas/_testing/asserters.py", line 1006, in assert_series_equal
    assert lidx.freq == ridx.freq, (lidx.freq, ridx.freq)
AssertionError: (None, <2 * Days>)

[2022-08-29 18:58] gshimansky commented on #2863
I think the bug still applies although class names have changed.
Function `broadcast_apply` still exists and its `other_name` parameter implicit value is still `"r"` https://github.com/modin-project/modin/blob/master/modin/core/dataframe/pandas/partitioning/partition_manager.py#L338
It is still called without `other_name` parameter from `PandasDataframe.broadcast_apply` https://github.com/modin-pr

[2022-08-29 21:03] jbrockmendel opened #4894 "CLN: reference issue for linting"

[2022-08-29 21:05] #4702 closed

[2022-08-29 21:33] vnlitvinov commented on #4187
Related to https://github.com/modin-project/modin/issues/4186

[2022-08-29 21:38] vnlitvinov commented on #4199
@Kotsakis would it be possible to provide a self-contained reproducer, so we can debug the issue on our end, as this is much easier than to guesstimate basing on stacktraces only?

[2022-08-29 21:39] vnlitvinov commented on #4204
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 21:41] vnlitvinov commented on #4205
I think I would side with @YarShev here... unless we explicitly expose these classes via `modin.pandas.experimental` or some other namespace specifically highlighting those are non-pandas-compliant?

[2022-08-29 21:43] vnlitvinov commented on #4216
I wonder if that is somewhat related to https://github.com/modin-project/modin/pull/4681

[2022-08-29 21:47] vnlitvinov commented on #4236
cc @modin-project/modin-core for more comments

[2022-08-29 21:48] vnlitvinov commented on #4239
I wonder if this is still relevant given #3954 is now closed, @YarShev do you know the answer?

[2022-08-29 21:49] vnlitvinov commented on #4250
Personally I would suggest no more than one dot. I wonder what other projects are doing? Does PEP8 say something about that?..

[2022-08-29 22:02] vnlitvinov commented on #4261
@mvashishtha that bug in pandas is marked as fixed, we should proceed with testing.

[2022-08-29 22:04] vnlitvinov commented on #4263
Note that after certain changes where we started to define runtime environment for Ray, we should properly exclude Ray init time from measurement.

The line I personally use to initialize all the workers is this:
[code]

[2022-08-29 22:06] mvashishtha commented on #4261
@vnlitvinov looks like we have to wait till at least version 1.5. The fix isn't included in pandas 1.4.4, which was cut after https://github.com/pandas-dev/pandas/issues/46135 was merged.

[2022-08-29 22:10] vnlitvinov commented on #4263
The following snippet:
[code]
produces the following timings:
[code]
on 0.15.2 and `MODIN_CPUS=12`

[2022-08-29 22:15] jbrockmendel opened #4897 "Drop py36"
so we can use `from __future__ import annotations`

[2022-08-29 22:19] mvashishtha commented on #4897
We recently finished going through a lot of work to support python 3.6 (#4664 and #4147). Originally this was a high priority task because there were lots of Modin downloads at the last Modin version to support python 3.6, 0.8.3.post0 (or before that version came out, 0.8.3). However, according to [pepy.tech](https://pepy.tech/project/modin?versions=0.15.0&versions=0.15.1&versions=0.15.2&versions=

[2022-08-29 22:21] vnlitvinov commented on #4282
@anmyachev do you have any suggestions on renaming?

[2022-08-29 22:26] vnlitvinov commented on #4293
I believe this is something @RehanSD should be working soon™.

[2022-08-29 22:26] mvashishtha commented on #2538
@tianlinzx there is some experimental and partial cudf support in the Modin source, but I hear from @prutskov that it's mostly not working. Modin's CI doesn't test whether the cudf support is working. I don't have a cudf setup I can use to manually test either.

AFAIK no regular Modin contributors are trying to improve GPU support right now.

We'll leave this issue as the canonical one for GPU sup

[2022-08-29 22:33] vnlitvinov commented on #4298
One piece is a bug in Ray, and another one is handled by https://github.com/modin-project/modin/issues/4855

I'm going to close this tracker in favour of other two which are more specific.

[2022-08-29 22:33] #4298 closed

[2022-08-29 22:33] vnlitvinov commented on #4299
@modin-project/modin-omnisci  could someone please check if this still happens?

[2022-08-29 22:39] vnlitvinov commented on #4337
This could make a nice addition to "small dataframe" query compiler idea, cc @mvashishtha @naren-ponder

[2022-08-29 22:42] vnlitvinov commented on #4345
cc @jbrockmendel

[2022-08-29 22:45] vnlitvinov commented on #4348
I guess the error happens if a user does not have `postgreSQL` itself installed, so we should add a note on it being required I think.

[2022-08-30 06:37] MANLW-Vestas commented on #4889
Yes of course! My laptop has a I7-10850H with 32GB RAM. I don't know the specific specs of the server, but I do know that I was allocated 64 cores and 128GB RAM,

And here is the logs as well as the error message itself:

[dashboard.log](https://github.com/modin-project/modin/files/9450274/dashboard.log)
[dashboard_agent.log](https://github.com/modin-project/modin/files/9450281/dashboard_agent.log

[2022-08-30 11:33] mirekphd opened #4899 "Add support for ray==2.0.0"
When trying to import latest `modin` (0.15.2) to run against the latest `ray` (2.0.0) backend, I get an error and an downgrade request.

To reproduce:
[code]

Resulting error:
[code]

[2022-08-30 14:14] anmyachev commented on #4000
This doesn't work because `classmethod` decorator should be applied last.

[2022-08-30 14:55] mvashishtha commented on #4889
@MANLW-Vestas thanks for sending that information. Could you also send the `raylet.out` log as the end of the error message says, as well as the `raylet.err`? Those [should be](https://docs.ray.io/en/latest/ray-observability/ray-logging.html#logging-directory-structure) in `/tmp/ray/session_latest/logs/` after you run your script.

Additionally, can you run either of the following scripts without

[2022-08-30 14:57] mvashishtha commented on #4000
@anmyachev @vnlitvinov can we use [inherit_doctsrings](https://github.com/modin-project/modin/blob/3f985ed6864cc1b5b587094d75ca5b2695e4139f/modin/utils.py#L311) to inherit the parent class docstrings?

[2022-08-30 15:01] pyrito commented on #4899
Hi @mirekphd , thanks for opening the issue! You are correct that this is an issue in Modin 0.15.2, and this will be resolved in the latest release. You could try cloning the latest master and using Ray 2.0.0 as it is supported there.

[2022-08-30 15:20] vnlitvinov commented on #4000
Okay, so then do just
[code]

maybe even defining a small helper method like
[code]

[2022-08-30 15:57] pyrito commented on #4747
@jbrockmendel do you know how pandas does this? This would reduce a lot of friction for merging in code. 😄

[2022-08-30 16:00] jbrockmendel commented on #4747
in pandas if a PR includes _user-facing_ changes we ask the contributor to add a note in the appropriate whatsnew file.  Not for e.g. refactoring or CLN PRs.

[2022-08-30 16:05] mvashishtha commented on #4899
@mirekphd To add to @pyrito's answer you should be able to use ray 2.0.0 with the latest Modin source, following the instructions here: https://modin.readthedocs.io/en/stable/getting_started/installation.html#installing-from-the-github-master-branch

[2022-08-30 16:06] mvashishtha commented on #4174
See also #4747. We might not want to automatically add a release note for every single commit.

[2022-08-30 16:13] mvashishtha commented on #3722
Current status seems to be that the first failure about `got an unexpected keyword argument` doesn't happen, but second still does, e.g. here in a recent commit to modin master:

https://github.com/modin-project/modin/runs/8073656491?check_suite_focus=true

I can reproduce the errors by running the whole test suite on my mac. I am trying to isolate to the test case that raises the error.

[2022-08-30 16:51] mvashishtha commented on #3722
One [test case](https://github.com/modin-project/modin/blob/26cb6be3b740a9a755e28cdfaaa9a126caa4ca52/modin/pandas/test/dataframe/test_udf.py#L96) with the error:

`pytest modin/pandas/test/dataframe/test_udf.py::test_agg_apply_axis_names[agg-sum sum-rows]`

I'm looking some more.

[2022-08-30 17:31] mvashishtha commented on #3722
All the test cases where Ray raises the `got an unexpected keyword argument` error are working as intended. They are testing cases where we give a list of aggregation functions with [repeated names](https://github.com/modin-project/modin/blob/38450e10ad13851b61ccc0690c3a98f63b4dc640/modin/pandas/test/utils.py#L322-L328). pandas raises `*** pandas.core.base.SpecificationError: Function names must b

[2022-08-30 17:31] #3722 closed

[2022-08-30 17:34] mvashishtha commented on #4133
We do still have this page: https://modin.readthedocs.io/en/latest/getting_started/why_modin/out_of_core.html

@alejandro-ponder which section about scale were you thinking of?

[2022-08-30 17:39] mvashishtha commented on #3918
It looks like some version of `ipywidgets` that disallowed `widget()` with no arguments came out, and then went away, then came back. This should be fixed by #4838.

test_general.py is [passing](https://github.com/modin-project/modin/runs/8073656491?check_suite_focus=true) at master with (AFAIK) no skip added to cover this failure, so I think we're good

[2022-08-30 17:39] #3918 closed

[2022-08-30 18:24] mvashishtha commented on #2746
@pyrito I don't know how to reproduce the bug. `Series.str.contains` does seem to work with null values, e.g.

[code]

I get the correct `contains` result and the error is the same as in pandas.

@JCurtisRMIT if you can provide a reproducer at the latest modin version, please comment here. For now I'll close this as resolved.

[2022-08-30 18:24] #2746 closed

[2022-08-30 19:42] anmyachev commented on #4000
I think we can, but this only solves part of the issue of code duplication.

[2022-08-30 21:22] pyrito commented on #2513
This problem still seems to exist on the latest master.

[2022-08-30 22:07] jbrockmendel opened #4902 "STY: use isort"
sort imports once-and-for-all

[2022-08-31 05:20] MANLW-Vestas commented on #4889
Here are the two raylet files. The
[raylet.out.txt](https://github.com/modin-project/modin/files/9458594/raylet.out.txt)
[raylet.err.txt](https://github.com/modin-project/modin/files/9458595/raylet.err.txt)

And yes, I'm able to run both those tests without errrors. In the Modin test, it comes with the following:
[code]

While in the Ray test this is the output:
[code]

A thing I just noticed, is

[2022-08-31 11:08] anmyachev opened #4903 "PERF: preserve caches in `mask` for virtual partitions when possible"
This already works for regular partition, but not in the case of a virtual one, where a materialization is performed before the mask is executed, which overwrites the length/width with remote references.

Place: https://github.com/modin-project/modin/blob/c67324b04b01e7d1f27a7c91565c488537891de1/modin/core/execution/ray/implementations/pandas_on_ray/partitioning/virtual_partition.py#L330

[2022-08-31 11:39] stromal commented on #4853
@vnlitvinov

Warning messages similar to this but with 100% CPU, it have crashed at the end and my storage was at 100%
[code]

[2022-08-31 13:50] #4794 closed

[2022-08-31 13:54] #4890 closed

[2022-08-31 14:27] pyrito commented on #4889
@MANLW-Vestas it would help us a lot if you could post a minimum reproducible example of the problem you are facing so that we can triage the issue!

[2022-08-31 14:29] #4000 closed

[2022-08-31 14:54] pyrito opened #4904 "BUG: Handle `MultiIndex` cases properly"
We currently have a ton of MultiIndex bugs and errors that we haven’t gotten around to fixing. Here are a list of self-reported bugs related to `MultiIndex`:
- https://github.com/modin-project/modin/issues/2892
- https://github.com/modin-project/modin/issues/3076
- https://github.com/modin-project/modin/issues/4638
- https://github.com/modin-project/modin/issues/4252
- https://github.com/modin-pro

[2022-08-31 15:11] mvashishtha opened #4905 "TEST: CI: flaky ray windows failure: "System error: Unknown error""
It happened in the first two CI runs at a particular commit of #4881, as here: https://github.com/modin-project/modin/runs/8115897696?check_suite_focus=true

[2022-08-31 15:13] mvashishtha commented on #4905
In both failures I see

[code]

I wonder whether #4562 is related-- we also wondered there whether there was a conflict between ray clusters.

[2022-08-31 15:30] stromal opened #4906 "String inserting to df don't works"
### Syste
modin: 0.12.1
python: 3.7

### Code
[code]

Nothing happens but it works with normal pandas

[2022-08-31 15:37] mvashishtha commented on #4906
@stromal thank you for reporting this issue. Could you post a complete example that we can run? I don't know what `df` is in your example, or what `my_column` contains. Could you please also post the complete stack trace from your error?

Also, do you get the same bug on the latest Modin version, 0.15.2?  0.12.1 is quite old.

[2022-08-31 15:44] pyrito opened #4907 "BUG: Appending string to column returns in different order"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): 0.15.0+101.g14edd1ca
- **Python version**: 3.9.12
- **Code we can use to reproduce**:
[code]
### Describe the problem

Appending a string to a `str` column in a Modin DataFrame returns values in a different order.

### Source code / logs

<details>
<summary>

[2022-08-31 17:00] pyrito commented on #4907
The problem here is that `radd` is just an alias for `add` so we don't actually consider the position of arguments. We'll have to make some changes to handle this case.

[2022-08-31 17:02] mvashishtha commented on #4899
@mirekphd I'm closing this issue because it's fixed in the latest Modin source. Please let us know if you need more help, and look out for the next Modin release!

[2022-08-31 17:02] #4899 closed

[2022-08-31 17:19] pyrito commented on #4906
Regardless, there's actually another fairly significant bug that I found while trying to triage this one. See: https://github.com/modin-project/modin/issues/4907. I'm working on a fix right now.

[2022-08-31 17:27] stromal commented on #4906
@pyrito  thank you :D
@mvashishtha tomorrow I will do it.

[2022-08-31 18:21] #4866 closed

[2022-08-31 18:44] pyrito commented on #4906
@stromal based on my tests with some data I created on my own, it's possible that this PR may solve this issue as well: https://github.com/modin-project/modin/pull/4908. I will test it again if you are able to post a reproducer tomorrow.

[2022-08-31 19:01] jbrockmendel commented on #4904
I expect the solution will involve copy/pasting more of the pandas LocIndexer code

[2022-08-31 19:15] YarShev commented on #4239
We wanted to add jupyter notebooks on running Modin with Dask engine in a cluster environment, not in a single node. Something similar to what we have for Modin with Ray engine. So I think this is still relevant.

[2022-08-31 19:44] #4766 closed

[2022-08-31 19:44] #4892 closed

[2022-08-31 19:50] noloerino opened #4909 "FEAT: Properly implement `map` operator"
Most of the behavior for the `map` operator proposed in the Modin research papers is actually covered by the [broadcast_*](https://github.com/modin-project/modin/blob/eee5f435f68786778184c4886ff25d386fce0c4f/modin/core/dataframe/pandas/dataframe/dataframe.py#L2116) methods on dataframe/partition manager classes. We should refactor the codebase to use the logic for `broadcast` within `map` instead,

[2022-08-31 19:51] pyrito commented on #4742
Should be supported as of #4898

[2022-08-31 19:51] #4742 closed

[2022-08-31 20:37] pyrito commented on #4904
Possibly. I think the right answer is to use the pandas LocIndexer code, but we may need to do some things to reconcile things across partitions.

[2022-08-31 20:52] pyrito commented on #4596
@mvashishtha is there anything more we can do from our end? I can think of trying to add an easily configurable option with `modin.config` that will suppress warnings at the Ray level, but I'm not sure if that's something we want to go with.

[2022-08-31 21:00] pyrito commented on #4640
This seems like low hanging fruit that we should fix in an effort to improve user experience.

[2022-08-31 21:00] pyrito commented on #4643
@vnlitvinov what's the status on this?

[2022-08-31 21:01] pyrito commented on #4646
@jbrockmendel @vnlitvinov do either of you have the bandwidth to make a PR for this?

[2022-08-31 21:05] pyrito commented on #4665
@noloerino what's the status of this issue?

[2022-08-31 21:08] pyrito commented on #4675
Agreed with @noloerino , it seems like we are getting the right dtype here now, so I am going to go ahead and close this issue.

[2022-08-31 21:08] #4675 closed

[2022-08-31 21:08] pyrito commented on #4678
@jbrockmendel are you still dealing with this issue?

[2022-08-31 21:10] pyrito commented on #4691
Looks like @prutskov left a PR open before he left. We should try to get the fix merged in if possible.

[2022-08-31 21:13] pyrito commented on #4734
I started a PR for this, but haven't gotten around to cleaning it up and getting it merged it. I'll try to prioritize this.

[2022-08-31 21:14] jbrockmendel commented on #4678
havent seen it for a bit

[2022-08-31 21:17] mvashishtha commented on #4596
@pyrito I think we shouldn't have an optional setting that's just a wrapper around a ray `init` option (`log_to_driver=False`).
I think we should close this issue for now. If we hear that more users want to suppress warnings, we can consider either always setting `log_to_driver=False` or adding a section about that option in the documentation.

P.S. We may end up setting `log_to_driver=False` anyw

[2022-08-31 21:17] #4596 closed

[2022-08-31 21:17] pyrito commented on #4755
This seems like something that would be "low effort, high impact", so we should just get it merged ASAP.

[2022-08-31 21:25] pyrito commented on #4678
@jbrockmendel I'm going to go ahead and close this issue for now. If it persists please do open another issue!

[2022-08-31 21:25] #4678 closed

[2022-08-31 22:01] noloerino commented on #4665
I haven't looked too deeply into this; I think it may incidentally be addressed by one of #4714 or #4691, but I'm not sure.

[2022-08-31 23:24] simon-mo commented on #4562
The error isn't giving us enough information. Can you try to print the system log in case of such failure: `tail /tmp/ray/session_latest/logs/*`

[2022-08-31 23:36] noloerino opened #4912 "BUG: `first_valid_index` errors on dataframe with only None/NaN values"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey 12.5.1
- **Modin version** (`modin.__version__`): `5ff947b9` (latest master on my machine)
- **Python version**: 3.10
- **Code we can use to reproduce**:
[code]
Exception: `IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indi

[2022-09-01 02:05] Garra1980 opened #4913 "FEAT: Enabling pyhdk"
We replace omniscidbe with pyhdk backend based on https://github.com/intel-ai/hdk

Docs update will be follow up

[2022-09-01 07:14] Billy2551 commented on #4845
When running the line `df[df.src.str.contains("POST")]`, `df` is being indexed using the Series `df.src.str.contains("POST")`. This calls on the function `__getitem_bool`. `__getitem_bool` accepts a dataframe `df` and indexes it using boolean values provided in `r`.

[code]

Before it does this, however, `__getitem_bool` applies the function `squeeze()` onto `r`, converting all 1 dimensional axis

[2022-09-01 10:41] MANLW-Vestas commented on #4889
I have made a little script that produces the problem that I have. Hope this can be used.

The variable `n` represents a file that I have, and it's the same amount of entries
[code]

[2022-09-01 11:57] anmyachev commented on #3780
Really! Now the default implementation is enough, which for both Dask and Ray gather all remote objects at once.

[2022-09-01 12:31] #4907 closed

[2022-09-01 13:38] #4879 closed

[2022-09-01 14:55] stromal commented on #4906
@pyrito  @mvashishtha  I can not upgrade it because I do know that it functions with current packages:
- https://github.com/modin-project/modin/issues/4719#issuecomment-1196039768

but I have previously tried with other versions and modin was constantly crashing.

[2022-09-01 14:56] stromal commented on #4906
To add to my post the variable actually will contain nothing as a result of the running.

[2022-09-01 15:01] jbrockmendel commented on #4646
Will be addressable following https://github.com/pandas-dev/pandas/pull/48347

[2022-09-01 15:25] pyrito commented on #3111
@mvashishtha @naren-ponder do you guys know what the status of this is?

[2022-09-01 15:26] pyrito commented on #3111
@mvashishtha @naren-ponder it looks like the reproducer isn't failing anymore? What's the status of this?

[2022-09-01 15:29] anmyachev opened #4914 "BUG: `base_lengths` should be computed from `base_frame` instead of `self` in `copartition`"
In some cases, `self` object may be empty, which may lead to incorrect work, for example, for `insert` function.

Place: https://github.com/modin-project/modin/blob/eee5f435f68786778184c4886ff25d386fce0c4f/modin/core/dataframe/pandas/dataframe/dataframe.py#L2486

[2022-09-01 15:35] pyrito commented on #4906
@stromal a clearer reproducer that I can run directly would be helpful so I can at least confirm whether the current master is solving your issue or not.

w.r.t to your package versions, are you saying that the newer of version of Modin aren't compatible with your other packages?

[2022-09-01 15:56] pyrito commented on #4914
This is a good catch. Do you have a specific test/reproducer for such a case?

[2022-09-01 17:08] anmyachev commented on #4914
It is quite difficult to write a test because this situation will only occur when `take_2d_labels_or_positional` function returns a core dataframe that has no cached lengths, and this will happen after I change the function in that way so it stops triggering the length calculation in the cases when we work with columns.

![image](https://user-images.githubusercontent.com/45976948/187972217-d64f6e4

[2022-09-01 17:32] mvashishtha opened #4916 "PERF: Use block-wise parallelism for `unique`."
`unique` is a full-axis operation in Modin. We should see whether leveraging parallelism across both axes can help us. We could try something like

1) get `unique` for each block partition
2) combine results for each column partition
3) get `unique` for each merged result

This came up here: https://github.com/modin-project/modin/issues/4798#issuecomment-1225136145

cc @vnlitvinov

[2022-09-01 17:34] mvashishtha commented on #4798
I filed #4916 for `unique`. I don't see any other performance issue we can take concrete action on any time soon.

The ray bug on calling `head()` is hard to debug without the full stack trace and a reproducer. We can look at it in a separate issue.

[2022-09-01 17:34] #4798 closed

[2022-09-01 17:40] #3780 closed

[2022-09-01 17:54] mvashishtha commented on #4897
@jbrockmendel:

@vnlitvinov, @devin-petersohn and I agreed offline that now that we already have python 3.6 support, we should do one release (supposed to come very soon) with it, then drop it. That way, if people want to use Modin on Python 3.6, they can use a much more up to date Modin version than 0.8.3, which is from January 2021. We will eventually add support using the same model for py37+pa

[2022-09-01 18:11] #4913 closed

[2022-09-01 18:53] mvashishtha commented on #3111
I think #3662 fixed this.

[2022-09-01 18:53] #3111 closed

[2022-09-01 19:03] #4818 closed

[2022-09-01 19:51] vnlitvinov opened #4918 "Improve cumulative functions implementation"
**Is your feature request related to a problem? Please describe.**
In our current implementation, `.cumsum()` and its siblings are applied on a per-column basis which requires materializing an axis partition, which seems costly.

I propose to implement a three-stage operation instead (illustrated for `.cumsum'):

1. Perform `.cumsum()` on each block, returning a tuple of two elements: the result (

[2022-09-01 20:07] mvashishtha commented on #4798
@vnlitvinov also filed #4918 for `cumsum` and other cumulative functions.

[2022-09-01 20:28] mvashishtha commented on #4858
@jbrockmendel should Modin do the same? I see that `__getitem__` caches the view from the first call, so subsequent calls to get an item return the same mutable view from the first call. I think we could give the same semantics in Modin.

[2022-09-01 20:38] #4914 closed

[2022-09-01 21:15] jbrockmendel commented on #4858
If it were up to me i'd re-use as much as pandas code as possible (ideally just subclass pd.DataFrame)

[2022-09-02 01:29] kareemamrr opened #4919 "BUG: using modin objects captured from scope in dask remote functions raises `Exception: TypeError("object of type 'coroutine' has no len()")`"
### System information
- **OS Platform and Distribution**: Zorin OS 16.1
- **Modin version**: 0.15.2
- **Python version**: 3.9.12
- **Code we can use to reproduce**:

**Note** you must have environment variable `MODIN_ENGINE=DASK`:

[code]

### Describe the problem

When trying to apply a function element wise on a Pandas Series, it throws back `Exception: TypeError("object of type 'coroutine' has

[2022-09-02 11:11] stromal commented on #4906
@pyrito No it is not resolved ERROR message:

Your CODE

[code]

ERROR (mdf in itself does about the same message):
[code]

[2022-09-02 11:39] anmyachev opened #4920 "PERF: avoid index and cache computations in `take_2d_labels_or_positional` unless they are needed"
Places:
https://github.com/modin-project/modin/blob/84f638cc703beb550edecce715532c8e86fb7b25/modin/core/dataframe/pandas/dataframe/dataframe.py#L724-#L728

https://github.com/modin-project/modin/blob/84f638cc703beb550edecce715532c8e86fb7b25/modin/core/dataframe/pandas/dataframe/dataframe.py#L778-#L782

[2022-09-02 11:53] anmyachev opened #4922 "REFACTOR: `take_2d_labels_or_positional` code refactoring"
Place: https://github.com/modin-project/modin/blob/84f638cc703beb550edecce715532c8e86fb7b25/modin/core/dataframe/pandas/dataframe/dataframe.py#L617

[2022-09-02 12:16] YarShev commented on #4825
Closed in #4820.

[2022-09-02 12:16] #4825 closed

[2022-09-02 14:28] pyrito commented on #4906
@stromal thanks for following up!

This seems like a different issue with your environment since it seems the be throwing this error:
[code]

What version of Modin are you running? What version of pandas are you running?

[2022-09-02 14:32] pyrito commented on #4919
@kareemamrr thanks for opening the issue! I'll take a look into it and see what's going on here.

This seems related to what some people saw here: https://github.com/modin-project/modin/issues/2498

@RehanSD could you please take a look?

[2022-09-02 15:27] stromal commented on #4906
modin                     0.11.3           py37h06a4308_0    defaults
modin-core                0.11.3           py37h06a4308_0    defaults
modin-dask                0.11.3           py37h06a4308_0    defaults
python 3.7

[2022-09-02 16:26] STTamhane commented on #905
I have this issue in a conda base environment. Python 3.7, modin is 0.12.1, distributed is 2021.10.0 and dask is 2021.10.0. Error message while reading modin.pandas read_csv was - 'NoneType' object has no attribute 'ncores'. Please help.

[2022-09-02 18:39] pyrito commented on #4906
@stromal as I mentioned earlier, the code snippet I shared works only if you are on latest master and it seems that you're not even on the latest release which is 0.15.2. Is it possible for you to get on the latest version of Modin?

[2022-09-04 21:40] YarShev commented on #3849
I think this is still relevant because [storage_formats](https://github.com/modin-project/modin/blob/master/modin/core/storage_formats/__init__.py) directory still exposes the specifics of the storage formats. I would prefer we expose such the things (QC, parsers, etc.) in the concrete storage format directories (base, pandas, etc.).

[2022-09-05 07:26] YarShev commented on #4293
@anmyachev did some work on this too so he and @RehanSD should contact each on the matter. Also, this blog might be useful for the issue - https://medium.com/analytics-vidhya/4-performance-improving-techniques-to-make-spark-joins-10x-faster-2ec8859138b4.

[2022-09-05 07:33] toan-quach opened #4924 "read_excel function fail when header is set to None"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **Modin version** (`modin.__version__`): 0.5.12
- **Python version**: 3.8.13, 3.9.12, 3.10.6
- **Code we can use to reproduce**:

### Describe the problem
`read_excel` function works fine when I didn't include the parameter `header` and set it to `None` with `header=None`.
I have tested it out with an exc

[2022-09-05 07:35] YarShev opened #4925 "Upgrade pandas to 1.4.4"

[2022-09-05 08:29] YarShev commented on #4853
@stromal, those warning messages should come from `dask.distributed`. Could you clarify what Modin engine are you using and what Ray files are you seeing?

[2022-09-05 10:20] #4925 closed

[2022-09-05 20:14] AndreyPavlenko commented on #4366
This issue seems to be fixed by #4834.

[2022-09-05 21:05] anmyachev opened #4927 "BUG: `dtypes` wrong computation in `dataframe.filter`"
Place: https://github.com/modin-project/modin/blob/19ac8ff208eb02a7f86037e338ce306f1e96d7a9/modin/core/dataframe/pandas/dataframe/dataframe.py#L1882

[2022-09-06 09:59] anmyachev opened #4929 "PERF: compute `dtype` when using `Series.dt` accessor"
In most cases, the type is known in advance.

[2022-09-06 11:16] AndreyPavlenko commented on #4091
This issue is not reproducible, however, the following warning is printed:
UserWarning: <function DataFrame.transpose> is not currently supported by ExperimentalOmnisciOnNative, defaulting to pandas implementation.

[2022-09-06 13:36] #4920 closed

[2022-09-06 13:37] YarShev commented on #4927
It would be great to have a reproducer where Modin fails but pandas doesn't.

[2022-09-06 14:19] devin-petersohn opened #4931 "Create a Query Compiler that can connect to a service"

[2022-09-06 14:20] anmyachev commented on #4927
The bug was that the axis was never equal to 0 and the `dtypes` were always equal to `None`, which forced the types to always be recalculated.

[2022-09-06 14:26] pyrito commented on #4919
@mvashishtha could you please take a look at this issue?

[2022-09-06 15:37] vnlitvinov commented on #4381
Same here, especially given Ray guys started (again) to pay some attention to conda forge.

I think we should at least have a job of "install all from conda and try running something", as now we aren't testing `conda install modin-all` scenario at all

[2022-09-06 15:44] vnlitvinov commented on #3572
@anmyachev @pyrito does https://github.com/modin-project/modin/pull/4898 also close this one?

[2022-09-06 15:47] pyrito commented on #3572
@vnlitvinov yes thanks for bringing it up. This should be resolved now.

[2022-09-06 15:47] #3572 closed

[2022-09-06 15:48] vnlitvinov commented on #4416
Hi @Anando304! We've recently introduced a compatibility mode for Python <3.8 which would pin pandas to `1.1.5` (should be released as `modin==0.16` soon). For now you can [install from master branch](https://modin.readthedocs.io/en/stable/getting_started/installation.html#installing-from-the-github-master-branch).

@c3-cjazra we also made a fix to switch to fsspec in `read_csv_glob` (https://gith

[2022-09-06 15:50] vnlitvinov commented on #4418
I guess this should be a subset of https://github.com/modin-project/modin/issues/4605 now.

[2022-09-06 15:51] vnlitvinov commented on #4424
@RehanSD it would be awesome if you could elaborate on this request - what exactly are we missing and what you're planning to do.

[2022-09-06 15:53] vnlitvinov commented on #4432
I wonder if https://github.com/modin-project/modin/pull/4600 accidentally fixes this?

[2022-09-06 16:01] vnlitvinov commented on #4435
@pspot2 I wonder if https://github.com/modin-project/modin/issues/4713 and https://github.com/modin-project/modin/issues/4713 are to blame, at least partially - please try with overriding `MODIN_MEMORY` with something with _less_ than 2GB when running on MacOS, as the fixes for these two issues aren't yet released (available in master).

We also had merged https://github.com/modin-project/modin/pu

[2022-09-06 16:05] #4827 closed

[2022-09-06 16:09] vnlitvinov commented on #4445
I think https://github.com/modin-project/modin/pull/4726 could help here.

[2022-09-06 16:14] vnlitvinov commented on #4446
I wonder if this actually a duplicate of https://github.com/modin-project/modin/issues/4445

[2022-09-06 16:37] vnlitvinov commented on #4488
Quite an interesting question, thanks. We'll try to look into this when we have some free time.

[2022-09-06 16:41] vnlitvinov commented on #4496
Does the same happen with latest release, too?

[2022-09-06 16:50] mvashishtha commented on #905
@STTamhane I can't reproduce your error in an environment that should be similar. I have

- Operating System: macOS Monterey
- hardware: Macbook Pro (16-inch, 2019)
- python: 3.7.13
- modin: 0.12.1
- distributed: 2021.10.0
- dask: 2021.10.0

Could you please provide:
- a complete reproducer of the failure, including the CSV you are trying to read. if you can't send the entire CSV, please send some

[2022-09-06 17:01] vnlitvinov commented on #4537
Modin supports [DataFrame interchange protocol](https://data-apis.org/dataframe-protocol/latest/index.html) now, maybe we should actually request Spark to support that?

[2022-09-06 17:13] mvashishtha commented on #2953
Duplicate of #3764

[2022-09-06 17:13] #2953 closed

[2022-09-06 17:13] mvashishtha commented on #4924
@toan-quach thank you for reporting this issue. I can reproduce it at version 14edd1ca99e7b9e836285dfac901b2e89ed93644. If I can see a quick fix, I'll make it now.

[2022-09-06 18:48] mvashishtha commented on #4919
@kareemamrr thank you for reporting this issue. I was able to reproduce it with a short script that I edited into your original post. The bug seems to apply when a UDF uses a Modin object from the local scope. When the Dask worker initializes the Modin dataframe from its pickled form, we have two problems: (1) the worker is trying to initialize its own dask cluster (2) it seems `client.ncores()` i

[2022-09-06 19:29] STTamhane commented on #905
@mvashishtha My os is windows 10. The csv is very large. I will send another one instead and include the trace. Please note, that the same code works perfectly with pure Pandas.

modin[all] was pip installed.

I am in a corporate environment and cannot upgrade to the latest versions.

[2022-09-06 19:46] gshimansky commented on #4496
I tried creating environment with modin 0.15.2 and it installs pandas 1.4.3 which seems to be correct version because Modin doesn't complain.

[2022-09-06 19:46] #4496 closed

[2022-09-06 19:47] anmyachev opened #4934 "BUG: `try_cast_to_pandas` doesn't preserve `dtypes` for empty frame"
Reproducer:
[code]
Error:
[code]

[2022-09-06 23:17] benaurelschill opened #4938 "Bad Performance on List Comprehension Operations compared to Pandas"
### System information
- Linux Red Hat Enterprise Linux 9.0
- Modin Version 0.15.2
- Python 3.9.10

Currently, i am trying to optimize our data cleaning with modin. We have some list comprehension tasks we want to perform on our dataframe. Our csv for reading in the data is around 1.5gb.
The linux virtual machine has 32 gb of ram and 8 cores and i am running jupyter labs with ray as modins backend

[2022-09-06 23:42] mvashishtha commented on #4938
@benaurelschill thanks for reporting your issue. I see you are iterating over every element in the series`df['Used']` and `df['Capacity']`. It's best to avoid iteration in pandas, but in Modin iteration tends to be [extra slow](https://modin.readthedocs.io/en/stable/usage_guide/optimization_notes/index.html#avoid-iterating-over-modin-dataframe). Is it possible to rewrite your code so it uses `appl

[2022-09-06 23:44] mvashishtha commented on #4934
@anmyachev @Billy2551 is working on #4605. In case you don't need this fixed urgently, you could skip the fix and wait for a comprehensive fix, which should hopefully come within 3 months, for #4605.

[2022-09-07 00:17] benaurelschill commented on #4938
@mvashishtha thanks for pointing this issue out. I was able to get the processing time down to 13 seconds, however still takes 10 seconds longer than pandas which is a little bit disappointing. I would have to try out if it will outperform pandas on datasets > 2gb.

[2022-09-07 01:00] yanyu2015 commented on #4446
no

[2022-09-07 03:19] toan-quach commented on #4924
awesome news, thanks for the quick response!

[2022-09-07 09:30] anmyachev commented on #4934
Good! My other PR highlights this problem in CI, then I'll just mark it as xfail.

[2022-09-07 09:33] anmyachev commented on #4934
From what I've seen so far, `from_pandas` function doesn't save dtypes of the empty dataframe either (because the empty dataframe doesn't get into `put` function).

[2022-09-07 09:42] YarShev commented on #4366
@AndreyPavlenko, does the example above pass with those changes on your side?

[2022-09-07 10:22] #4922 closed

[2022-09-07 12:08] #3983 closed

[2022-09-07 12:08] #4107 closed

[2022-09-07 15:59] pyrito commented on #2008
In this vein, test-compat-win (engine dask, python 3.6) has been notoriously slow in CI for some time now.

[2022-09-07 17:47] jbrockmendel opened #4939 "Support pandas 1.4.4"
And soon 1.5.0

[2022-09-07 18:21] #4734 closed

[2022-09-07 18:35] Garra1980 commented on #4939
1.4.4 already supported in 0.15.3 I believe

[2022-09-07 20:18] pyrito commented on #4939
Yes, pandas 1.4.4 is supported in 0.15.3, so I'll go ahead and close this issue.

[2022-09-07 20:18] #4939 closed

[2022-09-07 20:18] jbrockmendel commented on #4939
when i pip upgrade pandas i see

[code]

[2022-09-07 20:46] pyrito commented on #4939
@jbrockmendel this is when you are using the 0.15.3 cut?

[2022-09-07 20:48] pyrito commented on #4939
This PR bumped everything up: https://github.com/modin-project/modin/pull/4926

[2022-09-07 22:18] mvashishtha commented on #554
I think `read_json` is defaulting to pandas now, but not implemented in parallel. The default implementation should mean that the bugs in the original post are fixed now.

[2022-09-07 22:18] #554 closed

[2022-09-07 22:27] mvashishtha commented on #789
The original reproducer now works at Modin version c9fc326e3a02f2090c58f6e233aac29ddd651bea. In dask it doesn't work, but that's because of #4919

[2022-09-07 22:27] #789 closed

[2022-09-07 22:32] mvashishtha commented on #1171
Duplicate of #4048

[2022-09-07 22:34] mvashishtha commented on #847
See also #3967.

[2022-09-07 22:40] #946 closed

[2022-09-07 22:41] mvashishtha commented on #873
I'm closing this issue as stale. Please comment if it's still relevant.

[2022-09-07 22:41] #873 closed

[2022-09-07 22:43] mvashishtha commented on #843
@devin-petersohn I'm going to close this issue, then.

[2022-09-07 22:43] #843 closed

[2022-09-07 22:46] mvashishtha commented on #1044
error from the original reproducer is now `KeyError: array(['new_col'], dtype='<U7')` at modin c9fc326e3a02f2090c58f6e233aac29ddd651bea. sounds like #3764.

I'll close this issue as stale.

[2022-09-07 22:46] #1044 closed

[2022-09-07 22:47] mvashishtha commented on #1061
This sounds like #4753. There are some other kinds of bool `__getitem__` not covered by that PR, but we can open separate issues for those.

[2022-09-07 22:47] #1061 closed

[2022-09-07 22:50] mvashishtha commented on #1389
We don't have a reproducer for this issue. It's so old that I'm going to close it as stale. @hansioux please comment here if you think this issue needs more attention.

[2022-09-07 22:50] #1389 closed

[2022-09-07 22:54] mvashishtha commented on #1391
Original reproducer is working at c9fc326e3a02f2090c58f6e233aac29ddd651bea

[2022-09-07 22:54] #1391 closed

[2022-09-07 22:55] mvashishtha commented on #1421
Duplicate of #4048

[2022-09-07 22:55] #1421 closed

[2022-09-07 22:58] mvashishtha commented on #1411
@anmyachev is this still relevant?

[2022-09-08 00:08] pyrito opened #4940 "PERF: `concatenate` on wide DataFrames has poor performance"
Our current implementation of `concatenate` (used in `to_pandas()` to combine row partitions) tries to iterate over all columns to find which ones are categorical types. This approach results in very poor performance for wide DataFrames:

[code]
A cleaner solution proposed by @mvashishtha would use `select_dtypes` to get columns that are the category dtype and then iterate over those.

[2022-09-08 09:10] anmyachev commented on #1411
@mvashishtha It is necessary to make an analysis of which files are not yet checked in the CI for compliance with numpydoc  standard. If there are such files, then we need to check them too.

[2022-09-08 11:28] cristianmtr opened #4941 "BUG: groupby on empty dataframe returns pandas type"
### System information

[code]

[code]

[code]

[code]

### Describe the problem

Groupby returns of pandas type. Shouldn't it return of modin type?

[2022-09-08 11:44] anmyachev opened #4942 "REFACTOR: remove `call` method in favor of `register` due to duplication"

[2022-09-08 16:32] jbrockmendel opened #4944 "PERF: avoid default_to_pandas in ``Series.cat.codes``, ``Series.dt.tz``, and ``Series.dt.to_pytimedelta``"
Placeholder.

[2022-09-08 16:52] mvashishtha commented on #4941
@cristianmtr thank you for reporting this bug. I can reproduce it at version c9fc326e3a02f2090c58f6e233aac29ddd651bea. The bug only applies to empty dataframes. For empty dataframes we default to pandas and end up using the pandas groupby result.

You can work around this bug by

1) doing your `groupby` on the pandas dataframe
1) doing a groupby operation like `sum`
1) converting the result to a m

[2022-09-08 16:55] #4870 closed

[2022-09-08 21:00] pyrito opened #4945 "BUG: Lazily-evaluated DataFrame not computing Index properly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.2.1
- **Modin version** (`modin.__version__`): 0.15.3
- **Python version**: 3.9.12
- **Code we can use to reproduce**:

[code]

### Describe the problem
`get_indices` returns an empty list instead of an empty `pandas.Index` which leads to a bug in certain cases.

### Source code / logs

<details>
<summar

[2022-09-08 21:37] AndreyPavlenko opened #4946 "REFACTOR: Replace OmniSci with HDK"
After enabling HDK at #4913, a refactoring is required to rename files, vars, classes, etc., that have OmniSci in its name. Also, documentation refactoring is required.

[2022-09-08 22:22] mvashishtha commented on #727
I can't quite understand from the documentation what this function does. I haven't heard of anyone asking for it, so I'll assume it's low priority.

[2022-09-08 22:31] mvashishtha commented on #1063
All the cases @itamarst mentions seem to work at version c9fc326e3a02f2090c58f6e233aac29ddd651bea.

[2022-09-08 22:31] #1063 closed

[2022-09-08 22:32] mvashishtha commented on #1099
@anmyachev I know you've been looking at serialization in the context of performance. Should we keep this issue around? Should we link it to other serialization issues?

[2022-09-08 22:41] mvashishtha commented on #1111
I'm closing this issue as stale. @franknerd please let us know if we need to address anything else.

[2022-09-08 22:41] #1111 closed

[2022-09-08 22:46] mvashishtha commented on #1119
Looks like we're no longer skipping the `prod` test even in the transposed cases: https://github.com/modin-project/modin/blob/35782883efd7e22f8e29a7c9887a4453adabf783/modin/pandas/test/dataframe/test_reduce.py#L294

So I'll close this issue.

[2022-09-08 22:46] #1119 closed

[2022-09-08 22:50] mvashishtha commented on #1148
Link is stale, so I can't tell what this issue is referring to now. I can't find a comment about this in the groupby test, so I'm closing this issue for now.

[2022-09-08 22:50] #1148 closed

[2022-09-08 22:52] mvashishtha commented on #1172
I think Dask now supports out of core by default and spills extra data to disk.

[2022-09-08 22:52] #1172 closed

[2022-09-08 22:59] mvashishtha commented on #1186
Duplicate of #4827

[2022-09-08 22:59] #1186 closed

[2022-09-08 22:59] mvashishtha commented on #1261
Duplicate of #4827

[2022-09-08 22:59] #1261 closed

[2022-09-09 01:55] pyrito commented on #4945
@anmyachev I've been digging into this bug today and it seems that the root issue is from your PR here: https://github.com/modin-project/modin/pull/4921. At that time it seemed fine to not trigger any computations during the copy but it seems like a problem in the reproducer I've posted above. Although, we currently are getting a different error thrown for the reproducer, I'm finding that we are r

[2022-09-09 08:40] #4927 closed

[2022-09-09 09:20] anmyachev commented on #4945
We are gradually moving towards asynchronous calculations, and my pull request is a logical continuation of the fact that indexes are no longer always calculated immediately.

It seems to me that the main problem here is that we are filtering out dataframes that are empty, which results in the list of partitions being empty. However, this means that we lose the metadata contained in empty datafram

[2022-09-09 10:08] anmyachev opened #4949 "REFACTOR: remove code duplication in `default2pandas/dataframe.py` and `default2pandas/any.py`"

[2022-09-09 10:35] anmyachev commented on #1099
I think it should be left, I also did not conduct a full analysis yet. And yes, we should make this task as an epic and link the rest to it.

[2022-09-09 12:31] pyrito commented on #4945
Thanks @anmyachev . Do you have any ideas on what we can do here?

[2022-09-09 14:10] anmyachev commented on #4945
@pyrito I will take a look at this.

[2022-09-09 14:26] #4929 closed

[2022-09-09 15:43] vnlitvinov commented on #4562
@simon-mo
There's no `/tmp` on Windows, where should I start debugging this? Right now it refuses to start whatsoever on my new Win11 laptop, so I think I have good enough reproducer.

[2022-09-09 15:44] vnlitvinov commented on #4565
@alejandro-ponder could you please re-check if this is still happening?

[2022-09-09 15:47] vnlitvinov commented on #4573
This should be useful IMHO.

Issue to generate release notes: https://github.com/modin-project/modin/issues/4747

[2022-09-09 15:49] mvashishtha commented on #4562
@vnlitvinov you could try `%temp%`: https://github.com/ray-project/ray/issues/10337#issuecomment-982746821

[2022-09-09 15:50] pyrito commented on #4945
@anmyachev if it helps, I've now learned that the bug only shows up because of this PR: https://github.com/modin-project/modin/pull/4911

[2022-09-09 15:51] vnlitvinov commented on #4578
We don't fail with exception anymore, but the output is wrong anyway:

[code]

[2022-09-09 16:00] vnlitvinov commented on #4562
`raylet.out` is suspicious to me:

[code]

other logs don't seem to have anything interesting

[2022-09-09 16:33] YarShev commented on #4366
Would you add a test in `modin/test/interchange/dataframe_protocol/omnisci/test_protocol.py` so we can close this issue?

[2022-09-09 18:44] pyrito commented on #4945
Let’s take a look at the smaller reproducer:
[code]

So in that last line, we are doing a setitem to assign the column a new value. When we look at a backtrace for where things are going wrong we can see the sequence at some point:
1. `modin/core/storage_formats/base/query_compiler.py:insert_item` creates the first_mask around line 3119, which calls a function called mask
2. This function, mask, c

[2022-09-09 18:52] anmyachev commented on #4945
It's like that! Very good explanation.

If we want to calculate indexes lazily, we should not filter out empty dataframes, from which we can then calculate indexes. This is what I tried to do in https://github.com/modin-project/modin/pull/4951.

[2022-09-09 19:14] Sundar0989 opened #4952 "socket.gaierror: [Errno -2] Name or service not known"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Modin installed from (source or binary)**: source
- **Modin version**: 0.15.0
- **Python version**: 3.8.13
-**Ray version**:1.7.0
- **Exact command to reproduce**:
import ray
ray.init(dashboard_host='xyz.somehost.com', dashboard_port=6380)

### Describe the problem

When I am trying to run the code, it

[2022-09-09 19:23] mvashishtha commented on #4952
@Sundar0989 thanks for reporting this issue. It's an error with ray that doesn't come from Modin at all. I can't tell what's going wrong.

Could you please open the same issue in the ray repo: https://github.com/ray-project/ray/issues/new/choose and link it here?

[2022-09-09 19:57] pyrito commented on #4940
@mvashishtha I'd assume that if we weren't this test would fail right: https://github.com/modin-project/modin/blob/b09dd424e95830e6a19a631741eb8381b9020ee5/modin/pandas/test/test_general.py#L743

[2022-09-09 20:02] Sundar0989 commented on #4952
Opened the ticket and linked it here as per request - https://github.com/ray-project/ray/issues/28415

[2022-09-09 20:22] pyrito commented on #4938
Hi @benaurelschill do you have any updates on this issue?

[2022-09-09 20:53] mvashishtha commented on #4952
@Sundar0989 thank you! I'll close this issue, then.

[2022-09-09 20:53] #4952 closed

[2022-09-09 20:59] mvashishtha commented on #4940
I think there's only one row partition in that test, so we don't have to union multiple types.

[2022-09-09 21:42] anmyachev commented on #4282
@vnlitvinov I didn't find a good solution for this.

[2022-09-09 23:40] mvashishtha commented on #1105
@shivatharun it seems you are trying to read a `bytes` object with `read_json`. I say this because [`s3.Object.get`](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Object.get) returns a response whose `'Body'` contains is a `botocore.response.StreamingBody`, whose `read` method [returns bytes](https://botocore.amazonaws.com/v1/documentation/api/latest/referen

[2022-09-09 23:40] #1105 closed

[2022-09-09 23:45] mvashishtha commented on #1177
[__getstate__](https://docs.python.org/3/library/pickle.html#object.__getstate__) is an optional method for pickling objects without necessarily just pickling the object's `__dict__`. We can pickle modin dataframes already. We can reopen this issue if there's a need to define a custom object for pickling dataframes.

[2022-09-09 23:45] #1177 closed

[2022-09-09 23:45] mvashishtha commented on #1178
This is an enormous super-epic, so I'll close it for now.

[2022-09-09 23:45] #1178 closed

[2022-09-09 23:58] mvashishtha commented on #1183
This feature is for multiplying with the `@` symbol: https://stackoverflow.com/a/27385659/17554722

[2022-09-10 00:03] mvashishtha commented on #1193
Duplicate of #1285

[2022-09-10 00:03] #1193 closed

[2022-09-10 00:11] mvashishtha commented on #1251
Duplicate of #1216

[2022-09-10 00:11] #1251 closed

[2022-09-10 00:14] mvashishtha commented on #1227
this lets you convert a one-element series to an int, e.g. `import pandas; print(int(pandas.Series(1)))`

[2022-09-10 00:16] mvashishtha commented on #1231
Deduping this with #1182 because dataframe implementation should be nearly the same.

[2022-09-10 00:16] mvashishtha commented on #1231
Duplicate of #1182

[2022-09-10 00:16] #1231 closed

[2022-09-10 00:17] mvashishtha commented on #1252
Duplicate of #1215

[2022-09-10 00:17] mvashishtha commented on #1252
Closing in favor of #1215 because the series and dataframe implementations should be nearly the same.

[2022-09-10 00:17] #1252 closed

[2022-09-10 00:21] mvashishtha commented on #1244
I think we've implemented this now.

[2022-09-10 00:21] #1244 closed

[2022-09-10 00:27] mvashishtha commented on #1280
I think dataframes should have the same implementation, so I'll dedupe this one.

[2022-09-10 00:27] mvashishtha commented on #1280
Duplicate of #1197

[2022-09-10 00:27] #1280 closed

[2022-09-10 00:34] mvashishtha commented on #1306
I don't think pandas 1.4.4 has this method.

[2022-09-10 00:34] #1306 closed

[2022-09-10 00:46] mvashishtha commented on #1339
`date_range`returns an index, and because we're not planing yet to have a distributed index object, I'm going to close this issue. There's nothing to implement for now.

[2022-09-10 00:46] #1339 closed

[2022-09-10 00:48] mvashishtha commented on #1344
I don't know what this means. @anmyachev please open if you know and it's still relevant.

[2022-09-10 00:48] mvashishtha commented on #1343
I don't know what this means. @anmyachev please open if you know and it's still relevant.

[2022-09-10 00:48] #1343 closed

[2022-09-10 00:49] mvashishtha commented on #1345
I don't think we have any plans now to implement this.

[2022-09-10 00:49] #1345 closed

[2022-09-10 00:49] mvashishtha commented on #1346
I don't think we have any plans now to implement this.

[2022-09-10 00:49] #1346 closed

[2022-09-10 00:50] mvashishtha commented on #1361
I don't know what this is referring to.

[2022-09-10 00:50] #1361 closed

[2022-09-10 00:50] mvashishtha commented on #1347
I don't know what this is referring to.

[2022-09-10 00:50] #1347 closed

[2022-09-10 00:51] mvashishtha commented on #1354
See #4601 for shuffle operator.

[2022-09-10 00:51] #1354 closed

[2022-09-10 00:52] mvashishtha commented on #1348
We have `from_labels` now.

[2022-09-10 00:52] #1348 closed

[2022-09-10 00:52] mvashishtha commented on #1349
We have `to_labels` now.

[2022-09-10 00:52] #1349 closed

[2022-09-10 00:53] mvashishtha commented on #1351
We have this method now: https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/core/dataframe/base/dataframe/dataframe.py#L415

[2022-09-10 00:53] #1351 closed

[2022-09-10 00:53] mvashishtha commented on #1350
We have `Map` now: https://github.com/modin-project/modin/blob/cfcdf081e197d35e1fd1526f5585e361793dc2fa/modin/core/dataframe/base/dataframe/dataframe.py#L91

[2022-09-10 00:53] #1350 closed

[2022-09-10 00:55] mvashishtha commented on #2231
Closing this as stale for the same reason as https://github.com/modin-project/modin/issues/1484#issuecomment-1219511330

[2022-09-10 00:55] #2231 closed

[2022-09-10 00:56] mvashishtha commented on #1364
Closing this as stale for the same reason as https://github.com/modin-project/modin/issues/1484#issuecomment-1219511330

[2022-09-10 00:56] #1364 closed

[2022-09-10 00:56] mvashishtha commented on #1352
@christinafan is working on this.

[2022-09-10 00:57] mvashishtha commented on #1353
We have this now: https://github.com/modin-project/modin/blob/4c43fafa2a334422fe0f7dd1637d6963d560a655/modin/core/dataframe/pandas/dataframe/dataframe.py#L1842

[2022-09-10 00:57] #1353 closed

[2022-09-10 00:58] mvashishtha commented on #1355
We have this now: https://github.com/modin-project/modin/blob/4c43fafa2a334422fe0f7dd1637d6963d560a655/modin/core/dataframe/pandas/dataframe/dataframe.py#L2849

[2022-09-10 00:58] #1355 closed

[2022-09-10 00:59] mvashishtha commented on #1356
We have this but it's not implemented: https://github.com/modin-project/modin/blob/4c43fafa2a334422fe0f7dd1637d6963d560a655/modin/core/dataframe/pandas/dataframe/dataframe.py#L1804

cc @RehanSD

[2022-09-10 00:59] mvashishtha commented on #1362
I can't tell what this is about. Closing as stale.

[2022-09-10 00:59] #1362 closed

[2022-09-10 08:45] #4940 closed

[2022-09-10 17:04] WaDelma opened #4954 "Reading large json lines dataset fails because of rows having different columns"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04.4 LTS
- **Modin version** (`modin.__version__`): 0.15.3
- **Python version**: 3.10.6
- **Code we can use to reproduce**:
[code]
where `Automotive_5.json` is the "small" (1711519 lines) automotive dataset from https://nijianmo.github.io/amazon/index.html
I tried to reproduce it by generating synthetic

[2022-09-11 20:49] mattip commented on #4562
[here](https://docs.microsoft.com/en-us/answers/questions/351487/createfilemapping-returns-1450.html) is a discussion of another case where `CreateFileMapping` returns a 1450 error. The chain of calls comes from `fake_mmap` in `object_manager/plasma`, and there seem to be more options at play on non-windows.

[2022-09-11 21:01] mattip commented on #4562
On windows sometimes there is a delay between when a process dies and when the resources can be recovered. At some point I added a `time.sleep(0.1)` after closing a cluster to allow time for the operating system to recover in ray tests on windows.

[2022-09-12 07:15] Billy2551 commented on #1931
The problem seems to be associated with dataframe partitioning.

For example, if we use the dataframe `pandas.DataFrame({"col": ["str", 0, 1, 2, 3, 4, 5]})`. We save it as a csv and load it into python using `md_df = pd.read_csv(TEST_CSV_FILENAME)`. Given that the dataframe is split into 3 partitions in modin, it would look like this:
[code]

Pandas usually casts all values in a column to strings

[2022-09-12 12:08] anmyachev commented on #1344
It seems to me that it is similar to https://github.com/modin-project/modin/pull/3854.
We need to define a separate level for interacting with Ray, just like we did for Dask.

[2022-09-12 13:49] pyrito commented on #4954
@WaDelma thank you for opening this issue! I am able to reproduce this on the latest master.

@mvashishtha any chance you have an idea of what may be going on here? Asking since you've worked with JSON parsing most recently.

[2022-09-12 14:53] pyrito commented on #4906
@stromal any further updates? Were you able to try running this on the latest version of Modin?

[2022-09-12 15:30] jbrockmendel opened #4955 "test_udf.py -> pandas.core.base.SpecificationError"
[code]

[2022-09-12 18:50] pyrito commented on #4955
Seems like this is a duplicate of: https://github.com/modin-project/modin/issues/3403

[2022-09-12 20:42] Garra1980 opened #4957 "DOCS: Update examples page in docs"
**Is your feature request related to a problem? Please describe.**
Add link to Community contributions section

[2022-09-12 20:58] #4955 closed

[2022-09-13 14:56] pyrito commented on #4906
@stromal I'm going to go ahead and close this issue.

[2022-09-13 16:23] noloerino opened #4961 "DOCS: Modin/Pandas demo gifs in README loop at different times"
In the side-by-side notebook runtime comparison between Modin and Pandas, the gif depicting Modin finishes a fair bit faster than the one depicting Pandas. As a result, the gif for Modin loops before the one for Pandas, and after enough iterations, this will create the illusion that Pandas is finishing faster than Modin.

Solutions to this include padding the Modin gif to the same length as the Pa

[2022-09-13 16:29] AndreyPavlenko opened #4962 "The OmniSci tests fail with "libjvm.so: cannot open shared object file" error"
### System information
- **OS Platform and Distribution**: Ubuntu 22.04.1
- **Modin version** (`modin.__version__`): 0.15.0+123.g9fe020ba
- **Python version**: 3.8.13
- **Code we can use to reproduce**:
pytest modin/test/storage_formats/omnisci/test_internals.py

### Describe the problem
The  OmniSci tests fail with "libjvm.so: cannot open shared object file" error. The root cause of the issue is

[2022-09-13 16:42] #4957 closed

[2022-09-13 18:33] anmyachev opened #4963 "PERF: `_compute_axis_labels_and_lengths` does extra work if the index is already known"
The function returns indices from remote functions (on the basis of which lengths are calculated), basically the time spent on their deserialization / serialization is much more than just using numbers describing lengths and widths.

In some case we able to avoid this.

[2022-09-13 18:45] anmyachev commented on #4747
@pyrito in addition, the length of the commit message is very limited, which sometimes does not allow me to add the necessary details.

[2022-09-13 18:48] pyrito commented on #4747
@anmyachev I think that's ok. In my opinion, commit messages should be concise and necessary details should always be mentioned in the description of the PR.

[2022-09-13 19:05] Garra1980 commented on #4962
Fix is here - https://github.com/conda-forge/hdk-feedstock/pull/5

[2022-09-13 19:19] #4949 closed

[2022-09-13 19:21] #4945 closed

[2022-09-13 19:32] anmyachev commented on #4747
@pyrito I think the main difficulty in compiling this list is to go through each commit (as it used to be) - it's tedious and error prone. However, if the list is generated automatically, it is enough to simply select the commits into groups, to which we now also add by hand.

I would not like to refuse grouping (by some special category), it makes it easier to find what you need.

[2022-09-13 19:35] anmyachev commented on #4747
@pyrito also, I like @jbrockmendel idea that we don't need to add changes to the list that are not interesting to users (like refactoring). Have you thought about excluding the corresponding prefix from your script?

[2022-09-13 19:42] pyrito commented on #4747
@anmyachev fair enough. I think there will always be some level of manual effort to put together the release notes, especially if we want more detailed groupings. However, using the script will just easily filter through with the prefix of the commit.

I am ok with ignoring REFACTOR commits from the release notes.

[2022-09-13 21:33] mvashishtha commented on #4954
@pyrito yep, each line in the file input to `read_json` with `lines=True` can have any columns. e.g. reading [this file](https://github.com/modin-project/modin/files/9560716/json_columns_bug_lines.json.zip) with `read_json(path, lines=False)` works in pandas but Modin gives the error in this issue's original post.

[code]

The JSON parsing work I've been doing is not related to this.

There are a

[2022-09-13 22:02] mvashishtha opened #4966 "BUG: calling pd.to_timedelta on modin series gives TimedeltaIndex instead of Series"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey
- **Modin version** (`modin.__version__`): b09dd424e95830e6a19a631741eb8381b9020ee5
- **Python version**: 3.10.4
- **Code we can use to reproduce**:

[code]

### Describe the problem
pandas documents the correct return types here: https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.htm

[2022-09-13 22:26] mvashishtha opened #4967 "BUG: adding series of dates to TimedeltaIndex can raise ValueError: Unable to coerce to Series, length must be 1: given 2"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey 12.4
- **Modin version** (`modin.__version__`): b09dd424e95830e6a19a631741eb8381b9020ee5
- **Python version**: 3.10.4
- **Code we can use to reproduce**:

[code]

### Describe the problem
Adding `TimedeltaIndex` to series works in pandas, i.e. if I replace `import modin.pandas as pd` with `import p

[2022-09-13 22:26] pyrito opened #4968 "Allow users to set different path for Modin logs"
The path for Modin logs is currently set to `".modin/logs/job_{job_id}/{log_name}.log"` by default. We should allow users to set a different path for the Modin logs with an environment variable.

[2022-09-13 22:32] mvashishtha commented on #4889
I think the problem in @MANLW-Vestas 's script is `event_intervals['timestamp_max'] = event_intervals['timestamp_min'] + pd.to_timedelta(event_intervals['duration'], unit = 's')`. That's giving me `ValueError: Unable to coerce to Series, length must be 2: given 98` and `ValueError: Unable to coerce to Series, length must be 32: given 98`. That is #4967, but the root cause is #4966, which makes the

[2022-09-13 22:32] mvashishtha commented on #4889
Duplicate of #4966

[2022-09-13 22:32] #4889 closed

[2022-09-14 10:53] anmyachev opened #4970 "REFACTOR: rewrite base implementations of a partition' `width/length`"
These functions can be reused for `pandas_on_python` execution.

[2022-09-14 11:46] AndreyPavlenko commented on #4962
The issue has been resolved.

[2022-09-14 11:46] #4962 closed

[2022-09-14 14:39] mvashishtha commented on #1357
The updated issue for algebra operators is #2924. I don't think there's any plan to implement a Difference operator.

[2022-09-14 14:39] #1357 closed

[2022-09-14 14:40] mvashishtha commented on #1358
The updated issue for algebra operators is #2924. I don't think there's any plan to implement a Union operator.

[2022-09-14 14:40] #1358 closed

[2022-09-14 14:44] mvashishtha commented on #1359
Not sure how this fits into the broader, more up to date algebra plan (which may be stale now) in #2924, but this sounds like it might be like `filter`.

cc @RehanSD

[2022-09-14 14:45] mvashishtha commented on #1360
Not sure how this fits into the broader, more up to date algebra plan (which may be stale now) in #2924, but this sounds like it might be like `mask`. We already have [`take_2d_labels_or_positional`](https://github.com/modin-project/modin/blob/af6f8277cf9caeb7dec8b390ef3652ec0fa04774/modin/core/dataframe/pandas/dataframe/dataframe.py#L620), but I think we want to formally put all the operators in

[2022-09-14 14:46] mvashishtha commented on #1363
Ray handles the object storage now, so I don't think this issue is relevant any longer.

[2022-09-14 14:46] #1363 closed

[2022-09-14 14:51] mvashishtha commented on #1514
I just ran all of the test cases that contain `"kurt"` in the name and they all pass. I ran `pytest modin/pandas/test/dataframe/test_default.py -k kurt` and `pytest modin/pandas/test/test_series.py -k kurt`. Test cases in both files test `numeric_only=False`. That includes `test_kurt_kurtosis` in test_default.py. So I think this issue has been resolved.

[2022-09-14 14:51] #1514 closed

[2022-09-14 14:54] mvashishtha commented on #2004
@pyrito pandas doesn't support this and I don't know of anyone ever asking for this feature, so I'll mark it as P3.

[2022-09-14 16:55] mvashishtha commented on #1431
pandas 1.4.4 seems to also change datatype to float when you do assignment with either `Series.__setitem__` or `Series.iloc.__setitem__`. Modin does the same as of version af6f8277cf9caeb7dec8b390ef3652ec0fa04774. Both Modin and pandas seem to behave the same way for the code in https://github.com/modin-project/modin/issues/1431#issuecomment-663650672.

[2022-09-14 16:55] #1431 closed

[2022-09-14 17:18] mvashishtha commented on #1469
@vnlitvinov do you know what exactly this issue is for? Is this "modin in the cloud"? Do we plan to do more work here?

[2022-09-14 17:19] mvashishtha commented on #1471
@modin-project/modin-contributors @modin-project/modin-core does anyone know what this is referring to?

[2022-09-14 17:21] mvashishtha commented on #1472
It looks like this issue was tracking a very small list of bugs that we were trying to fix before a particular release. There are still many open bugs, but we can track those in separate issues.

[2022-09-14 17:21] #1472 closed

[2022-09-14 17:22] jbrockmendel commented on #4897
Need to do some reading, wondering if we can make use of https://docs.python.org/3/library/multiprocessing.shared_memory.html once py38+

[2022-09-14 17:25] mvashishtha commented on #1769
bump @Garra1980

[2022-09-14 17:26] mvashishtha commented on #1804
@Garra1980 is this still relevant? Is it for OmniSci?

[2022-09-14 17:28] mvashishtha commented on #1814
@alokgogate if you're still having this issue, please provide a complete reproducer as well as a complete stack trace. Until then, I'm going to mark this issue as closed because it's over a year old.

[2022-09-14 17:28] #1814 closed

[2022-09-14 17:29] mvashishtha commented on #1895
Looks like we never got a reproducer and this issue is over a year old. I'm going to close it. @Apsylem @LuisFRoch please comment here if you need more help with this issue.

[2022-09-14 17:29] #1895 closed

[2022-09-14 17:30] mvashishtha commented on #2205
OmniSci backend is part of CI now.

[2022-09-14 17:30] #2205 closed

[2022-09-14 17:36] mvashishtha commented on #2434
I think the current instructions are clear enough: https://modin.readthedocs.io/en/0.15.3/development/contributing.html#certificate-of-origin-v-1-1

[2022-09-14 17:38] mvashishtha commented on #2507
Closing this because it's been almost 2 years. @amoghsr please reply here if you need more help.

[2022-09-14 17:38] #2507 closed

[2022-09-14 17:39] mvashishtha commented on #2412
@devin-petersohn We have a "getting started" section in the github README with links to notebooks and examples. I'm going to close this issue.

[2022-09-14 17:39] #2412 closed

[2022-09-14 17:40] mvashishtha commented on #2472
Duplicate of #656

[2022-09-14 17:40] #2472 closed

[2022-09-14 17:41] jbrockmendel commented on #4967
I think this is the same underlying issue as #4646

[2022-09-14 17:57] mvashishtha commented on #1930
This is quite an old issue, so we need to figure out whether it still applies.

[2022-09-14 18:50] AndreyPavlenko commented on #4366
Created PR with a single test - #4972. There are 2 CI tests failed, but the failures are not related to my changes, checks for some other PRs also failed wit the same errors.

[2022-09-14 19:14] reshamas commented on #2434
If you say so.  :)

[2022-09-14 19:16] pyrito opened #4973 "CI: `AttributeError: module 'ray' has no attribute '_private'` thrown on test-compat-ubuntu"
We are currently getting a couple of CI errors that seem to be related to python 3.6 and Ray, specifically for the test-compat-ubuntu CI tests. Example of failures: https://github.com/modin-project/modin/actions/runs/3053869815/jobs/4926671319

[code]

cc: @modin-project/modin-contributors @modin-project/modin-core

[2022-09-14 19:23] mvashishtha commented on #2434
@reshamas thank you for responding to this issue even though it's so old!

It's a little hard to figure out what the contributing instructions said at the time you reported this issue, because the file has moved around since then. I assumed that there were no instructions about signing commits then. How could we make the current documentation clearer? I assume that readers know that command line f

[2022-09-14 19:47] Billy2551 commented on #4605
@modin-project/modin-core @modin-project/modin-contributors @RehanSD @vnlitvinov @anmyachev Currently, indexes are processed asynchronously making it difficult to determine when a data frame will be empty or not without waiting on the index to complete. Wondering if anybody had any suggestions on how to approach this problem.

Some ideas we have include changes at the query compiler level, API lev

[2022-09-14 20:09] #1804 closed

[2022-09-14 20:45] anmyachev commented on #1471
@mvashishtha this is an epic tracker for all the functions from Modin' api that we can implement without a fallback to pandas, but at the same time using the pandas dataframe type, which are stored in partitions. At least that's my understanding :)

[2022-09-14 21:14] reshamas commented on #2434
I believe this issue was inspired by a challenge at an online sprint at PyData Global 2021 with @devin-petersohn.

Maybe the best way to see if the instructions are clear is to check again at a sprint or with new contributors.  I haven't contributed to modin since last October.

[2022-09-14 21:36] pyrito commented on #1930
I was able to create the dataset used: [test.csv](https://github.com/modin-project/modin/files/9570090/test.csv)

Unfortunately, it looks like both `df_equals` statements are now failing. For the first check we get this:
[code]
And for the second check after using `usecols` we are getting the following error:
[code]
It looks like Modin reads in the numbers as `numpy.int64` by default where was pan

[2022-09-14 21:40] pyrito commented on #4973
Closing this issue since it should be resolved with protobuf most likely fixing something internally: https://pypi.org/project/protobuf/3.19.5/#files

[2022-09-14 21:40] #4973 closed

[2022-09-14 22:10] pyrito commented on #4966
@mvashishtha this is an interesting bug. It seems like we just default to the pandas implementation which obviously doesn't know how to handle Modin series. It looks like we need to implement our own version of `to_timedelta` and if the input it a Series we change the dtype of the df? Do we need to do any explicit casting on each element or is it enough to just change the dtype?

[2022-09-15 09:09] #4963 closed

[2022-09-15 12:15] #4366 closed

[2022-09-15 12:21] vnlitvinov commented on #4747
Just building the initial release notes by commits will be enough, the "release person" might have to go through each PR to subdivide them better, but that is a one-time effort, so should be fine. IMO, this is a great trade-off compared to what we now require all contributors to do.

I also think dropping `REFACTOR-` would be fine, or we can just list them in one comma-separated line at the very b

[2022-09-15 13:01] anmyachev opened #4976 "REFACTOR: rename `RayTask` to `RayWrapper` in accordance with Dask"
Improve code consistency.

[2022-09-15 13:20] AndreyPavlenko commented on #4091
Closing this issue as not reproducible.