[2019-05-13 16:33] ShauryaUppal-1Mg commented on #618
On a single column, modin is giving nan values.

On pandas see the comparative result. Also, what is (pid = 20547) here?

[2019-05-13 16:57] devin-petersohn commented on #618
Hi @ShauryaUppal-1Mg thanks for the report!

The behavior of printing the `nan`s is happening during error checking, and can be fixed at the same time as #616 because they are slightly related.

The values to the right of `pid=...` are the actual print values from the function. The tricky thing with `print` is that it has a side effect, writing to `stdout`. Because things are running in different

[2019-05-13 23:09] chaxor commented on #550
Is there a way to check if a certain set of tasks that going to be used on a data frame are within modin's repertoire?  Therefore this would allow a pandas dataframe to be converted to modin if it is possible to utilize modin for certain tasks, but then transfer the data to a pandas dataframe with mulitprocessing to finish the computation.

[2019-05-13 23:17] devin-petersohn commented on #550
That's an interesting question @chaxor, there's no programmatic way to do it right now.

We do have a documentation page that lists these: https://modin.readthedocs.io/en/latest/pandas_supported.html

What kinds of tasks are you wanting to do in multiprocessing? In the question above, I assumed it would be for use with another library, but if you're hand-rolling some multiprocessing code, it may b

[2019-05-14 07:48] ShauryaUppal-1Mg commented on #618
Yes, Image 2 shows it works on a complete dataset but on a column we get nan values.

[2019-05-14 14:20] Canon88 opened #619 "Error jupyter import modin module"
![image](https://user-images.githubusercontent.com/19372121/57705423-744ebd00-7696-11e9-92aa-67ccaabb62ad.png)

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave 10.14.4 (18E226)
- **Modin installed from (source or binary)**: pip install modin
- **Modin version**: 0.5.0
- **Python version**: Python 3.7
- **Exact command to reproduce**: import modin.

[2019-05-14 15:44] devin-petersohn commented on #619
Hi @Canon88, thanks for posting!

This is strange, I have seen it before here: #540. I thought it would be fixed by removing the `typing` dependency, did you have Modin 0.4 installed on that machine?

One option to try is to `pip uninstall typing`. Please let me know if that helps!

[2019-05-14 15:55] devin-petersohn commented on #618
The issue looks like it is printing both `nan` and the correct values. The `nan`s are being printed during the error checking phase. It should be straight-forward to fix that.

[2019-05-14 15:56] Canon88 commented on #619
I did not install Modin 0.4 before then, but I ` pip uninstall typing ` problem solved. thinks!
![image](https://user-images.githubusercontent.com/19372121/57712603-710dfe00-76a3-11e9-8650-8e429db2a94c.png)

[2019-05-14 15:56] #619 closed

[2019-05-15 02:42] Canon88 opened #620 "Why modin append method is very slow compared to pandas append?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave 10.14.4 (18E226)
- **Modin installed from (source or binary)**: pip install modin
- **Modin version**: 0.5.0
- **Python version**: 3.7
- **Exact command to reproduce**:
[code]

### Describe the problem
When I used the append method for looping over data, the modin append method was considerably slowe

[2019-05-15 07:04] axiqia opened #621 "param usecols in read_csv is not valid"
### System information

- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**:pip install modin
- **Modin version**:0.5.0
- **Python version**:3.7

### Describe the problem

My raw data:
[code]

### Source code / logs

`import modin.pandas as pd`

First,  I read csv file with columns **0 and 1**
[code]

[code]

While, I read csv file with columns **0

[2019-05-15 07:21] axiqia commented on #621
Addition, I test with pandas API.

[code]
And off course, the pandas API output is right.

[code]

[2019-05-15 15:18] devin-petersohn commented on #621
Hi @axiqia, thanks for posting this!

I am able to reproduce the issue, it is the combination of `header=None` and `usecols` that results in this behavior. If you use the parameter `usecols` without `header=None` the behavior is correct. It seems that `header=None` somehow is overriding the `usecols` indicies, I will have to take a look into that.

This is a pretty subtle bug, thanks for reporting

[2019-05-15 15:51] devin-petersohn commented on #620
Thanks for the question @Canon88!

Essentially in Modin there is a cost to aligning the data when you have to shuffle between processes/partitions. Pandas does not have that cost because all the data is in the same process. Currently, operations like `reindex` are very expensive and are not 100% optimized. `append` uses the same logic as `reindex`, and we are planning to improve the performance of

[2019-05-15 16:30] Canon88 commented on #620
Thank you for your reply, I should use concat this method. Obviously, using modin when dealing with big data is even more advantageous. Thanks again!

[2019-05-15 16:30] #620 closed

[2019-05-18 23:18] #621 closed

[2019-05-18 23:21] williamma12 commented on #621
Hi @axiqia, thanks again for bringing up the issue!

The issue should be resolved on master. You can install from master using `pip install git+https://github.com/modin-project/modin`

[2019-05-21 19:23] ddutt opened #624 "Unable to read entire parquet directory"
### System information
- Ubuntu 19.04
- pipenv install modin:
- **Modin version**: 0.5.0
- **Python version**: 3.7.3
- **Exact command to reproduce**: pd.read_parquet('parquet-out/foo/')

### Describe the problem

It seems that read_parquet cannot read an entire directory of parquet files i.e. partitioned parquet directory.

### Source code / logs

~/.local/share/virtualenvs/foo-cFmMv4Vf/lib/pytho

[2019-05-21 19:57] devin-petersohn commented on #624
Hi @ddutt, thanks for reporting!

How was this directory created? Is this directory working to read into pandas?

From my understanding, this wouldn't work in pandas, so it could be a good addition to our `experimental` API. The goal of that API is to make clear what are "augmentations" on top of the pandas API where the behavior diverges.

[2019-05-21 21:41] pintuiitbhi opened #625 "why modin.pandas takes more time than pandas in df.read_csv()?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**:pip install modin
- **Modin version**:0.5.0
- **Python version**:3.6.6
- **Exact command to reproduce**:

### Modin.pandas is taking too much time to read a csv file of 500MB compared to pandas

### I have included the screenshots and codes in the s

[2019-05-21 22:24] devin-petersohn commented on #625
Hi @pintuiitbhi, thanks for the question. I need more information to be able to answer your question.

Did you run the pandas code first, then Modin in the same environment? Due to the limited memory capacity, you may be exceeding your memory and the time you see will include some cost for the OS to swap some objects to disk. Typically pandas memory costs are much higher than the file.

Are you al

[2019-05-21 22:31] dazza-codes opened #626 "to_parquet is not supported"
### System information

[code]

miniconda3 was used to install most of the sci-py stack, with a pip clause to add modin, e.g.
[code]

### Describe the problem

https://modin.readthedocs.io/en/latest/pandas_supported.html says `to_parquet` is supported, but maybe not:

[code]

[code]

More details:
[code]

Maybe modin could be added to conda-forge so that conda can help with resolving version depen

[2019-05-21 23:18] devin-petersohn commented on #626
Thanks @darrenleeweber, good point. The documentation is not very clear or consistent about the `to_<something>` methods. It could use an update once we get #613 merged in. I'll try to dedicate some time to that this week.

I'm definitely open to the idea. Does pip cause problems for you in your environment due to package collisions?

[2019-05-21 23:28] darrenleeweber commented on #626
Also, the `from_parquet` is not supported for a partitioned data set.  Same versions as above.

[code]

[2019-05-21 23:32] darrenleeweber commented on #626
For relatively small data sets, e.g. a 10x10 numpy.ndarray, the overhead of serializing to/from plasma and tracking the objectIDs is killing performance.  A single process using pyarrow directly with pandas is much faster with parquet IO.  Whether or not the pure IO aspects of modin can out-perform pandas/pyarrow is a primary interest - esp. when selecting parquet columns and whether or not modin

[2019-05-21 23:36] darrenleeweber commented on #626
Somehow, it's working OK when the pip requirements are bundled into the conda environment.yaml specs.  It seems to have the correct release versions of modin and pandas (as defined in the setup.py for modin).  BTW, it's early days for modin, so I get it, but try to relax the version sem-ver on pandas if possible.

[2019-05-22 00:23] devin-petersohn commented on #626
Thanks, would you mind to open a new ticket for this one since it's not related to the original issue? It's fine to just leave a link to your system info on this page, but I prefer to track it separately. If you are able, please also include a way I can reproduce the issue.

You're right, the performance on a few hundred bytes of data will be worse, and that's not likely to change much. The differ

[2019-05-22 00:31] williamma12 opened #627 "Convert all indexing objects to use new indexing functionality"
### Describe the problem
Improve the indexing classes in `indexing.py` to use the new indexing functions introduced in #613.

[2019-05-22 01:56] devin-petersohn commented on #626
Let me clarify since it may not have been clear:

Users don't need Modin to process 100's of bytes. Pandas works at a microsecond level in that data range, and it's optimized for that scale (keeping around copies, vectorization, etc.). There's no chance Modin can be faster than pandas on 400 bytes of data because serialization alone will exceed that. Do you have thoughts on this?

[2019-05-22 06:26] pintuiitbhi commented on #625
Yes, I runned the pandas code first in the same notebook in which I was importing modin.pandas.
Yes I was also running internet browser.
My disk is HDD.

OK, I got you. When I just import  modin.pandas in notebook , then df.read_csv took less time. But when **I restart and clear outputs of cells in notebook, then again it tooks much more time than earlier. Why is that?**

Following the the output

[2019-05-22 06:33] pintuiitbhi commented on #625
What is the **point in modin.pandas being** fast if I have to close internet browsing ,stop other works and then run modin.pandas?

On same System , **whether I am running internet browsing , restarting and running notebook again , it still works fast in case of **df.read_csv.** on same csv file.**

Let me clear if I am missing any points . Or I have to do some other configuration in my system to

[2019-05-22 06:47] Jie-Yuan opened #628 "ArrowInvalid: Maximum size exceeded (2GB)"
---------------------------------------------------------------------------
ArrowInvalid                              Traceback (most recent call last)
<ipython-input-8-a36dd1ddace7> in <module>
----> 1 mdf.head().title.map(func)

/usr/local/lib/python3.5/dist-packages/modin/pandas/series.py in map(self, arg, na_action)
    686         return self.__constructor__(
    687             query_compile

[2019-05-22 06:52] devin-petersohn commented on #625
@pintuiitbhi The best bet for your situation would probably be to try the out of core feature: https://modin.readthedocs.io/en/latest/out_of_core.html

We try to limit the memory that Modin takes up by being ~50-60% of the available memory on the machine. That way it plays nice with other applications (e.g. browser tabs, etc.). In your case we're allocating 2GB (see the last line of the printed lo

[2019-05-22 06:54] devin-petersohn commented on #628
Thanks @Jie-Yuan for reporting this!

What is the data size you're working with? For a `map` I am surprised by this error message.

cc @pcmoritz

[2019-05-22 07:14] pintuiitbhi commented on #625
**What should be specification of my laptop** or if I deploy my notebook on server **for modin to work fine without creating any bottleneck ( apart from "Default to Pandas")**? What should be RAM size, Hard disk or SSD size etc?

Suppose I deploy my model on server and switched to modin from pandas just changing import statement. **Will it be advisable to use modin for Machine Learning application

[2019-05-22 07:17] pintuiitbhi commented on #625
If I use out of core then Modin will swap data from hard disk. And swaping from hard disk is slow. So I think there is no point in using out of core in my case.

[2019-05-22 07:29] yuanjie-ai opened #629 "Modin progress bar"
mdf['title'].apply(func)
modin can add a modin-process-bar

---
![image](https://user-images.githubusercontent.com/20265321/58155364-4d9c1200-7ca6-11e9-96ea-1670afdd72b1.png)

[2019-05-22 13:41] devin-petersohn commented on #625
The Out of Core functionality should be more efficient that just letting the OS choose what to swap.

Some of the functionality you've listed has been deprecated in pandas. Those are not a high priority because pandas no longer officially supports them. As for the others, we are definitely interested in supporting them, and if you're interested in contributing, please let me know!

[2019-05-22 13:44] devin-petersohn commented on #629
Hi @Jie-Yuan, thanks for the request.

Is this something you'd be interested in contributing? Typically a progress bar requires extra compute and will decrease overall performance. Some components of Modin are asynchronous, so we would have to change that to make it work properly.

Would a progress bar help with using Modin even though it will decrease performance?

[2019-05-22 14:23] ddutt commented on #624
Hi,

Appreciate the prompt response.

 Yes, the directory can be read in Pandas.

Nope, it does work in pandas correctly. Showing the ipython snippet below:

In [5]: df = pd.read_parquet('parquet-out/foo')

In [6]: df.info()
<class 'pandas.core.frame.DataFrame'>
Int64Index: 454 entries, 1 to 4
Data columns (total 20 columns):
...

And an ls to show that there is more dir under parquet-out/foo:

$

[2019-05-22 17:35] ddutt commented on #624
Meanwhile, I found the workaround as: pa.ParquetDataSet(folder).read().to_pandas().

Dinesh

[2019-05-22 17:44] devin-petersohn commented on #624
Thanks @ddutt, sorry I am traveling today and have limited WiFi until this evening.

We are using parquet in the partitions, so it should be a quick fix. Link to relevant code here: https://github.com/modin-project/modin/blob/master/modin/engines/ray/pandas_on_ray/io.py#L54

[2019-05-22 17:56] ddutt commented on #625
I tried using the out of core option for reading 417M of parquet files. Pandas still wins, by about 30%. 12.2-12.8 s vs 14.4-15s.

Dinesh

[2019-05-22 18:03] devin-petersohn commented on #625
@ddutt Are you using the code from this comment? https://github.com/modin-project/modin/issues/624#issuecomment-494898022

That creates a pandas DataFrame, and would not be run in-parallel. Unless the data is extremely small there should be no reason pandas is faster for reading parquet or csv files. We have benchmarked out of core for up to 250GB of data, and typically it only has a 50-60% overhe

[2019-05-22 18:09] devin-petersohn commented on #625
To clarify the 50-60% overhead is on Modin's performance, not pandas. As I mentioned, the performance of Modin should be faster than pandas, even with Out of core. We do a lot of benchmarking and testing to ensure this is the case, so please let us know more information about your workflow/system.

[2019-05-22 18:55] ddutt commented on #625
Good catch, @devin-petersohn. Yes, that just creates a pandas dataframe. My bad. Sorry. Which is why I want the read_parquet() support from Modin natively as I mentioned in the bug #624.

Dinesh

[2019-05-22 18:56] ddutt commented on #625
If I leave out the to_pandas() part, would it run in parallel?

[2019-05-22 19:47] devin-petersohn commented on #625
It can run in-parallel, but it would not be using Modin to do it. Link to documentation: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.ParquetDataset.html

To support this it is a relatively small change, and it should be able to be done in the next release (happening next week).

[2019-05-22 20:00] ddutt commented on #625
Excellent. I tried some obvious things such as providing columns to avoid trying to do ParquetFile in the ray code etc. But it didn't work. Obviously, my glance-and-fix approach didn't work. Will wait for your fix/release. Am happy to try before the release if you like and send me the patch.

Appreciate the fantastic response time,

Dinesh

[2019-05-22 20:25] andmib commented on #555
It doesn't seem like modin defaults to `pandas` for `pivot_table`; says that a `dataframe` object can't be passed to `pandas.pivot_table`. Thoughts?

[2019-05-22 20:39] wangym1993 opened #630 "Feature Request: read_csv on compressed files"
# Request for feature

Hi Modin Developers,

The original Pandas package's read_csv supports compressed files reading, which is a neat features for me to save Hard disk spaces..

It would be great to see modin.pandas.read_csv() will accept compressed files as well. 👍

Thanks!

[2019-05-22 21:03] devin-petersohn commented on #630
Hi @wangym1993, thanks for the request! I completely agree.

We had someone on the mailing list interested in working on this, I left some notes on that thread about how it could be done. Link: https://groups.google.com/forum/#!topic/modin-dev/fyYaZXWjp-o. It's been a few weeks so the author may not be working on it any more.

I will flag as Help Wanted because I don't think the addition will be t

[2019-05-22 21:08] devin-petersohn commented on #555
Hi @andmib it should be working when defaulting, please open a new issue for this.

Please make sure to include the full error message so that we can reproduce and fix it, thanks!

[2019-05-22 21:45] devin-petersohn commented on #576
Fixed by #553

[2019-05-22 21:45] #576 closed

[2019-05-22 21:50] devin-petersohn commented on #601
Fixed by #613

[2019-05-22 21:50] #601 closed

[2019-05-22 22:47] #616 closed

[2019-05-22 22:47] #618 closed

[2019-05-23 00:56] darrenleeweber commented on #626
- pin to sem-ver like `0.x` and allow the patch/bug-fix releases like `0.x.y` to increment automatically (hope that makes sense)
- the modim spin-up costs on import negate any smart-detection of df size to some degree, but it might be possible to directly pass small dfs to pandas
- kudos on the easy spin-up for ray (although it would be 💯 + if it could be lazy too)

[2019-05-23 03:10] williamma12 commented on #624
Hi @ddutt, I was unable to reproduce the error of what you had exactly. I got a `ArrowIOError: Memory mapping file failed: Invalid argument` and it was resolved with #632. Could try again with #632 and let me know if that fixes your issue? Thanks!

[2019-05-23 03:18] darrenleeweber opened #633 "read_parquet is not supported for partitioned parquet"
Split from #626

The `read_parquet` is not supported for a partitioned data set.

### System information

[code]

miniconda3 was used to install most of the sci-py stack, with a pip clause to add modin, e.g.
[code]

### Describe the problem

https://modin.readthedocs.io/en/latest/pandas_supported.html says `read_parquet` is supported, but maybe not for partitioned data.

### error
[code]

[2019-05-23 03:39] darrenleeweber commented on #633
The following python script works OK for non-partioned data:
[code]

[2019-05-23 04:00] darrenleeweber commented on #633
The following partitioned data crashes:

[code]

[code]

[2019-05-23 04:06] darrenleeweber commented on #633
If the `columns` selection is dropped, there is a different error:

[code]

[2019-05-23 05:53] ddutt commented on #624
Hi, I left a comment on the other thread. If I add just your fixes to the files I got via pip install modin, I get a different error. I've turned off memory map and so the problem you have doesn't arise. What I get instead is this new error:
RayTaskError: ray_worker (pid=31117, host=ddutt-yoga)
  File "/home/ddutt/.local/share/virtualenvs/a-cFmMv4Vf/lib/python3.7/site-packages/modin/engines/ray/pa

[2019-05-23 14:56] devin-petersohn commented on #633
Thanks @darrenleeweber, is this the same issue as #624? That is currently being worked on by @williamma12

[2019-05-23 18:17] #514 closed

[2019-05-23 18:25] williamma12 commented on #633
Hi @darrenleeweber, I was able to reproduce the issue and tried it with #632. #632 fixes the issue if `columns` selection is turned off. I will look into fixing it when there is `column` selection later as well

[2019-05-23 20:01] williamma12 commented on #624
@ddutt, I am unable to recreate your new issue. It works for me when I write the parquet files using
[code]
or
[code]
The second method is causing some issues similar to #633 that I am currently fixing.

For reference,
[code]

Could you provide me with how you are writing your parquet files and some sample data (including columns and index)?

[2019-05-23 22:00] ddutt commented on #624
Here is the code I use to write the parquet files:
`
        table = pa.Table.from_pandas(df, schema=data['schema'],
                                                           preserve_index=False)

        pq.write_to_dataset(table, root_path=cdir,
                            partition_cols=data['partition_cols'],
                            version="2.0",
                            flavor='spar

[2019-05-23 22:24] williamma12 commented on #633
@darrenleeweber I'm not too sure where the pickling error is coming from but #632 should fix both errors that you were running into

[2019-05-23 23:31] williamma12 commented on #624
@ddutt sorry for the multiple fixes but I am still unable to recreate the `TypeError: string indices must be integers` error. However, #632 might now fix your error. The previous fix did not handle `partition_cols` properly, but now #632 adds support for handling partitioned parquet files with specified `partition_cols`.

[2019-05-24 00:14] ddutt commented on #624
I'll take out the version and flavor options from my parquet write and see if that fixes the problem. Nevertheless, its surprising that pandas has no problems reading but modin does.

[2019-05-24 00:24] devin-petersohn commented on #626
This makes sense, but there are also behaviors that change between versions that can break our tests. E.g. in pandas 0.24.0, functionality was broken that we detected in our tests because the Modin behavior was correct and pandas had a regression. To make it compatible with 0.24.0, we intentionally introduced a regression. We contributed a fix, but that didn't get merged in until 0.24.2.

Stay tun

[2019-05-24 00:28] ddutt commented on #624
Nope, same problem.

[2019-05-24 00:31] ddutt commented on #624
I even took out the preserve_index=False option. No joy.

[2019-05-24 00:32] williamma12 commented on #624
hmm ok i'll look more into it later tonight. sorry for the delay!

[2019-05-24 00:41] devin-petersohn commented on #624
Hi @ddutt, sorry I've been away from the thread. I'm at a conference this week.

Is this data you can share? Since we're having such difficulty reproducing the error, it seems like sharing the file is the only way we can fix it.

[2019-05-24 00:50] ddutt commented on #624
I believe I can. Let me see what I can do. Thanks again to both of you for all your help. One last q. I've been writing with pyarrow not from the ray distribution, but from the original pyarrow distribution. Do you think that could be a cause. I can try that option as well.

[2019-05-24 00:53] williamma12 commented on #624
I think I tried it with pyarrow from the ray distribution and from the pip installed version and there was no difference. Though I will try it again tonight and try writing the data from the spark version as well

[2019-05-24 00:56] ddutt commented on #624
OK, when I tried to write with the pyarrow version from ray (by adding import modin.pandas as pd first), my write fails with:

Traceback (most recent call last):
  File "q.py", line 166, in <module>
    _main(userargs)
  File "q.py", line 114, in _main
    loop.run_until_complete(asyncio.gather(*tasks))
  File "/usr/lib/python3.7/asyncio/base_events.py", line 584, in run_until_complete
    return

[2019-05-24 00:57] ddutt commented on #624
So, at first glance it seems the problem has to do with the pyarrow version in ray.

[2019-05-24 01:11] devin-petersohn commented on #624
@ddutt If it is the pyarrow version in ray, we can easily fix that. Do you have some sample data (not necessarily this data + the exact call) that can reproduce the issue?

Also what is your environment pyarrow version?

[2019-05-24 01:15] ddutt commented on #624
pyarrow version is 0.12.1.

I'll be back a bit later to try and get you the data.

[2019-05-24 01:19] devin-petersohn commented on #624
Would you be able to try it with 0.13? There may have been some parquet updates that broke some backwards compatibility.

[2019-05-24 04:13] ddutt commented on #624
I switched to pyarrow 0.13 and now I get a different error:
[code]

[2019-05-24 04:15] ddutt commented on #624
In other words, the read_parquet error is gone. But I get a different error when I attempt to display the contents of the dataframe. I've hand patched the fixes @williamma12 provided.

[2019-05-24 04:43] ddutt commented on #624
On debugging further, it seems that when modin splits the read of the partitioned parquet directory, it adds back the columns and names that are in the partitioned directory wrongly. For example, if I create a partitioned parquet read, and I have the structure topdir/var1=a/var2=b/foo.parquet, and the columns in foo.parquet are var3, var4, var5, the new columns after modin reads is like this: var3

[2019-05-24 05:12] williamma12 commented on #624
Ah yes that should be fixed in the newest version of #632. Sorry about that I pushed some more commits earlier today to resolve that issue. You should be able to install it with
[code]

[2019-05-24 05:22] ddutt commented on #624
YES! It works on applying the additional patch.

Thank you so much @williamma12 for so diligently working on the problem. You can mark the bug fixed at least from the perspective of the way I reported it.

Best wishes,

Dinesh

[2019-05-24 05:25] williamma12 commented on #624
Yay! Thanks for working so closely with us on getting this bug fixed @ddutt. We'll continue looking into what happened between ray's pyarrow, which is built off of 0.12.1, pyarrow 0.12.1, and pyarrow 0.13.

[2019-05-24 06:23] ddutt opened #634 "New Feature Request: Add support for drop_duplicates()"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 19.04
- **Modin installed from (source or binary)**: binary, pip install modin
- **Modin version**: 0.5.0
- **Python version**: 3.7.3
- **Exact command to reproduce**: Use drop_duplicates()

### Describe the problem

drop_duplicates() is not supported today resulting in the following message when used:
[co

[2019-05-24 06:36] ddutt commented on #634
Hmm.  If I add inplace=False as one of the options to drop_duplicates() I no longer see the error.

[2019-05-24 07:07] devin-petersohn commented on #624
@pcmoritz Do you think we could update the version of Pyarrow shipped with Ray?

[2019-05-24 07:55] devin-petersohn commented on #634
Thanks @ddutt for the request! `drop_duplicates` is currently implemented to use `drop` after computing `duplicated` in dataframe.py. For `inplace=False`, that shouldn't change the behavior of the operation generally.

We would need to implement `duplicated` as a parallel operation and `drop_duplicates` would get the benefit from that as well.

For now I will flag as Help Wanted.

[2019-05-24 07:56] devin-petersohn commented on #634
We do try to prune the messages so it's not constantly giving them if the same thing is done over and over, that may be what you're experiencing with the same operation.

[2019-05-24 14:27] ddutt opened #636 "New Feature Request: Predicate Pushdown support for Parquet"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 19.04
- **Modin installed from (source or binary)**: binary, pip install modin
- **Modin version**: 0.5.0
- **Python version**: 3.7.3
- **Exact command to reproduce**: Use filters in read_parquet

### Describe the problem

Probably one of the most important features of parquet is the support for predicate

[2019-05-24 14:36] ddutt commented on #634
Ahh, thanks for that explanation. BTW, is you can provide any pointers to what is required to support duplicated as a parallel operation, I can try to help. I'm a software engineer.

[2019-05-24 15:48] TedBrookings opened #637 "read_hdf fails reading from HDF5 file with more than one stored object."
### System information
- **OS Platform and Distribution**: Linux Lubuntu 19.04
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.5.0
- **Python version**: 3.7.3
- **Exact command to reproduce**:
[code]

### Describe the problem
read_hdf fails with

read_hdf succeeds with regular pandas, or if only one object is appended to the store.

### Source code / logs
2019-05-24 11

[2019-05-24 16:18] devin-petersohn commented on #636
Thanks @ddutt! I agree this is an extremely important addition.

Feel free to add this in a PR since you've already written the code to do it in your issue report. Thanks!

cc @williamma12

[2019-05-24 16:28] devin-petersohn commented on #637
Hi @TedBrookings, thanks for the report!

This erroneous error is occurring during the error checking, and it should be a quick fix.

[This line](https://github.com/modin-project/modin/blob/master/modin/engines/ray/generic/io.py#L592) needs to be updated with the rest of the `kwargs` (outside of `start` and `stop`). Thanks for the report, great find!

[2019-05-24 16:28] ddutt commented on #636
OK, I can do a PR with the relevant patch.

[2019-05-24 16:59] devin-petersohn commented on #634
Thanks @ddutt, we love new contributors! Never be afraid to ask to contribute to Modin 😄

In this case, the best first-pass would probably be to make use of the functionality in the backend. It will allow parallelism across columns.

We will need a new functionality in the [`PandasQueryCompiler`](https://github.com/modin-project/modin/blob/master/modin/backends/pandas/query_compiler.py) to support

[2019-05-24 17:26] ddutt commented on #636
Issued a PR.

[2019-05-25 02:34] ddutt commented on #625
OK, coming back to this test after all the fixes to get read_parquet to work, Modin and Pandas get the same perf for the 417M of parquet file read. With out of core support, Modin ekes out ~8% or so better perf (32 vs 34s). Not very dramatic. I have a 4 core, i7-8550U at 1.8Ghz processor and about 16G RAM.

[2019-05-25 03:30] devin-petersohn commented on #625
@ddutt With parquet the maximum parallelism in the reader is limited to the number of columns, which may mean that the utilization is not that great, especially with hyperthreading.

There is another conversation about this in the discourse ([Link](https://discuss.modin.org/t/parquet-row-group-based-reader-and-partitioning/36)), and a PR (that has unfortunately gone stale) #528 that would include

[2019-05-25 03:57] darrenleeweber commented on #626
- for sem-ver releases that are all `0.x.y` it should be understood that anything less than `1.x.y` is expressly changing the public API for any minor release, so expect a release from `0.23.y` to `0.24.y` to freely break public APIs, while any release from `0.23.i` to `0.23.j` to maintain a consistent API while adding features of fixing bugs; I don't know for sure that pandas commits to this sem-

[2019-05-25 05:26] ddutt commented on #625
I tried reading only 3 or 4 columns given I have only 4 cores, but that shaved about 8s of both Pandas and Modin. They both came in even with reduced columns.

I have 417MB of parquet files, but they're all small files. I wonder if the small files are part of the problem.

Dinesh

[2019-05-26 04:02] #610 closed

[2019-05-27 18:57] devin-petersohn commented on #625
Small files may be part of the problem. I'll try to recreate this and see if I can reduce the time.

[2019-05-27 23:38] #637 closed

[2019-05-28 01:08] devin-petersohn commented on #636
Resovled by #638

[2019-05-28 01:08] #636 closed

[2019-05-28 01:23] #624 closed

[2019-05-28 01:23] devin-petersohn commented on #633
Resolved by #632

[2019-05-28 01:23] #633 closed

[2019-05-28 19:55] williamma12 commented on #625
Hi @ddutt, I did some benchmarking to determine the performance of `read_parquet` for #632 and got the following results for a randomly generated integer dataframe of 6000x6000, which is approximately 500mb. Columns `col1` and `col2` consist of three randomly generated integers for partitioning purposes while everything else is randomly selected from 100 integers.

Without partition and no selecte

[2019-05-28 20:31] williamma12 commented on #627
Oops was fixed in #613

[2019-05-28 20:31] #627 closed

[2019-05-28 23:16] pcmoritz commented on #624
The pyarrow version shipped with ray is now upgraded in https://github.com/ray-project/ray/pull/4858

[2019-05-29 03:41] ddutt opened #642 "Running query over a dataframe read by read_parquet errors out with Modin 0.5.1"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 19.04
- **Modin installed from (source or binary)**: pip install modin
- **Modin version**: 0.5.1
- **Python version**: 3.7.3
- **Exact command to reproduce**:
final_df = pd.read_parquet(folder, columns=fields, filters=filters or None)
                .query(query_str)
Where the query_str was of the form (

[2019-05-29 14:59] devin-petersohn commented on #642
Thanks @ddutt, for the report!

We're looking into the issue, others have reported running into a related issue as well. We will get this fixed as soon as possible.

[2019-05-29 19:03] devin-petersohn commented on #642
@ddutt Would you be able to tell me if install this way fixes your issue?

[code]

[2019-05-29 19:13] ddutt commented on #642
The fix breaks support of predicate pushdown

[2019-05-29 19:16] devin-petersohn commented on #642
I tried running `pandas.read_parquet` with `filters=None`, but I get this error in pandas:

[code]

[2019-05-29 19:17] ddutt commented on #642
Exactly. Predicate pushdown is only supported with ParquetDataset()

[2019-05-29 19:17] ddutt commented on #642
https://arrow.apache.org/docs/python/api/formats.html

[2019-05-29 19:21] ddutt commented on #642
Also, adding use_pandas_metadata to True in read() didn't help

[2019-05-29 19:25] ddutt commented on #642
I'm sure you know this already, but just in case. The fix to use ParquetDataSet along with @williamma12's patches worked in 0.5.0. Something else has changed that's causing this issue.

[2019-05-29 19:35] devin-petersohn commented on #642
So in order to support this, we should add an `experimental` API. Anything that deviates from the pandas API should go there because it is important that users understand when they can move to/from Modin. If someone uses the pandas API in Modin it should also work in pandas. This is a little beside the point.

For internal use, predicate pushdown is important for the query planning use-case. We sh

[2019-05-29 19:37] devin-petersohn commented on #642
Also, will it work if you remove `filter` from the `read_parquet` args?

[2019-05-29 20:07] devin-petersohn commented on #642
Alright, I readded the predicate pushdown functionality in `modin.experimental.pandas` in the branch above. We have done this before for `read_sql` and it worked pretty well for that user.

The only difference is importing:

[code]

This doesn't fix the issue, but if you can install from the branch `pip install git+https://github.com/devin-petersohn/modin/tree/issues/642` then try to print the dat

[2019-05-29 20:16] ddutt commented on #642
The change didn't fix the problem. I get this error now:

[code]

[2019-05-29 20:17] ddutt commented on #642
To be clear, I made the change to use read_table instead of ParquetDataset and used import modin.pandas as pd. I removed the use of filters to just test if this works.

[2019-05-29 20:30] devin-petersohn commented on #642
That helps a lot. It looks like a miscalculation of the metadata. There were some cleanup changes to #632 that changed the way metadata is calculated. I will revert those and see if that fixes the problem for you.

cc @williamma12

[2019-05-29 20:34] devin-petersohn commented on #642
Ok the code is pushed to https://github.com/devin-petersohn/modin/tree/issues/642

[2019-05-29 20:52] ddutt commented on #642
Alas, the fix didn't fix the error. I get the same error.

[2019-05-29 21:12] devin-petersohn commented on #642
Is there any way to share some minimum set of fake data that reproduces this? Debugging asynchronously is expensive and I hate to keep asking you to try this or that.

[2019-05-30 04:48] ddutt commented on #642
Yes, I can. How can I send it to you?

Dinesh

[2019-05-30 05:13] devin-petersohn commented on #642
You can send an attachment to bug_reports@modin.org

[2019-05-30 23:38] ddutt commented on #642
Sorry I've been busy giving a webinar and such and so couldn't get to this. Will get to it later today.

[2019-05-31 00:06] ddutt commented on #642
Sent

[2019-05-31 02:05] devin-petersohn commented on #642
Got it, thanks! I'm looking into it now.

[2019-05-31 02:28] devin-petersohn commented on #642
Ok, it should be fixed. Can you try

[code]

If you want to use filters with that branch, you need to `import modin.experimental.pandas as pd`, otherwise you can `import modin.pandas as pd`. I tried them both and it should work.

[2019-05-31 04:39] ddutt commented on #642
Yep, the fix works.

[2019-05-31 05:24] devin-petersohn commented on #642
So the problem is this weird feature (bug?) in Parquet.

With your dataset, if I read with `columns=["something"]`, it ends up reading 3 columns, which are the partition columns. It doesn't matter if you read from `read_table` or `ParquetDataset.read`, the partition columns are always a part of the end result. That causes a mismatch in the metadata because we were not filtering those columns out,

[2019-05-31 06:39] devin-petersohn commented on #642
The tests still need to run for another couple of hours before the release and it's getting late, so I'll get it out first thing in the morning.

Thanks again so much for the diligence!

[2019-05-31 14:21] ddutt commented on #642
You're welcome, and thank you for the rapid responses to fix the issues.

[2019-05-31 15:25] #642 closed

[2019-05-31 19:33] modin-bot opened #646 "Internal Error when running memory_usage()"
### 🤖 This is a bot message 🤖

bug_reports@modin.org has been sent an email reporting the following bug:

[code]

Created a dataset as follows :
[code]
Then was trying to read it as:
[code]

[2019-05-31 19:35] devin-petersohn commented on #646
I can reproduce this on master.

[2019-05-31 23:54] Shellcat-Zero commented on #583
Thanks @devin-petersohn, I've gotten tacit approval from my organization to work on this.  AWS is my primary clustering platform, and I'm working on a proof of concept to achieve a Modin cluster using [Boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/index.html) and [BundleWrap](https://bundlewrap.org/).  I am a really big fan of BundleWrap for configuration management and provisioni

[2019-06-01 05:33] devin-petersohn commented on #583
That sounds great @Shellcat-Zero! Please let us know how it goes or if you run into any issues.

We can certainly pull something like that in if you have your company's permission and can share the code. We will need a place for it, but we can revisit that question when the time comes.

[2019-06-02 02:43] sunnyjiechao commented on #629
@devin-petersohn  a progress bar will be a useful function if it does for me.  I think a progress bar can be an option for users,  there may be two methods I can suggest:
1) built-in function
`
from modin.pandas import tqdm
mdf['title'].tqdm(apply(func))
`
2) function params - (apply, map)
`
from modin.pandas import tqdm
mdf['title'].tqdm(func, tqdm=True)
`

i'm interested in contributing this new

[2019-06-02 04:12] devin-petersohn commented on #629
@sunnyjiechao Thanks! For starters it should probably go in `modin.experimental.pandas`.

I think the best course of action would be to register a `tqdm` option to `modin.experimental.pandas.options`. That way you can enable globally like this:

[code]
I think it feels more pandas-like to add as an option rather than add a new API in that way. Plus if you want progress bar for multiple lines in a

[2019-06-02 04:30] sunnyjiechao commented on #629
Yes, I can't agree with you more, Your thoughts are very good that it looks more pandas-like.

[2019-06-02 04:43] devin-petersohn commented on #629
I think all it will take is adding `pandas.core.config.register_option("tqdm", False)` to the __init__.py in `modin.experimental.pandas` ([Link to file](https://github.com/modin-project/modin/blob/master/modin/experimental/pandas/__init__.py)) to add the option.

It would be good to test it first though. After that PR, then it can be a check for the option flag to use the progress bar functionalit

[2019-06-02 06:09] sunnyjiechao commented on #629
Got u, thanks

[2019-06-03 08:52] deeplook opened #647 "AttributeError: type object 'Callable' has no attribute '_abc_registry'"
I keep getting this error: `AttributeError: type object 'Callable' has no attribute '_abc_registry'` when running `from modin.pandas import pd`. for version 0.5.2 of modin. I see various similar issues being closed like #619 or #540. They seem to suggest uninstalling the `typing` package which is not an option for me.

I'm on macOS 10.14 and Python 3.7.3 and have installed modin via `pip install m

[2019-06-03 16:01] devin-petersohn commented on #647
Thanks for the report @deeplook!

First, when you run `from modin.pandas import pd` you should be getting an error:
[code]
It's not the cause of the problem, but it will cause you problems once we get this fixed.

Would you be able to see if the following works for you:

[code]

It seems like an issue with the serialization.

[2019-06-03 21:01] deeplook commented on #647
@devin-petersohn I can run this fine. The `ray.init()` gives some info log message ending with `INFO services.py:1441 -- Starting the Plasma object store with 5.15 GB memory using /tmp` and the `ray.get(...)` returns a simple one-column dataframe...

[2019-06-03 21:32] devin-petersohn commented on #647
I see, I looked through the traceback of one of the other issues, would you be able to try this:

[code]

If it does not break, would you provide the full traceback of the error when it occurs in Modin?

[2019-06-04 07:42] deeplook commented on #647
It gives a huge traceback ending in this (temporary full gist here: https://gist.github.com/deeplook/14caeca2f5085abfaf80315ce2f28036):

[code]

[2019-06-04 15:06] devin-petersohn commented on #647
Thank you, this is very helpful. It is an issue with the way that Ray is serializing the pandas library to run the task.

I created an issue on our dependency, Ray: ray-project/ray#4929. It will have to be resolved in Ray for it to be fixed in Modin.

[2019-06-04 20:10] Ivan-Rodriguez-ck opened #649 "Modin Dataframe Access is Slow"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.6 LTS
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.5.0
- **Python version**: 3.6.5
- **Exact command to reproduce**:
[code]

### Describe the problem
This code is incredibly slow in modin compared to pandas, I wasnt able to get the issue to occur without running it thr

[2019-06-04 20:31] devin-petersohn commented on #649
Hi @Ivan-Rodriguez-ck, thanks for the question!

There are a couple of things you're running into here:

1.) Creating a `DataFrame`/`Series` from numpy will take time. The data has to be distributed: See #232. If you are using Modin, we recommend using one of the data ingest methods (`read_csv`, etc.)
2.) sklearn cannot use the distributed functionality of Modin yet, so it must be converted into a

[2019-06-05 15:34] mar-muel opened #650 "read_csv usecols cannot find columns"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**: Using `pip install git+https://github.com/modin-project/modin`
- **Modin version**: 0.5.2
- **Python version**: 3.6.7
- **Exact command to reproduce**:

[code]
Expected output:
No errors should be raised

Actual output:
`ValueError: Usecols do not

[2019-06-05 16:18] devin-petersohn commented on #650
Hi @mar-muel, thanks for the report!

This is a regression, we will get it resolved for the next release. It should be supported, thank you for the report.

It wasn't caught in the tests because we test for the integer index of the column, not the column name. We will add it so this regression doesn't occur in the future. Thanks again for the report!

[2019-06-05 16:21] mar-muel opened #651 "Index error when creating new column"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**: pip install git+https://github.com/modin-project/modin
- **Modin version**: 0.5.2
- **Python version**: 3.6.7
- **Exact command to reproduce**:
[code]

Raises the following error:
[code]

Weirdly enough, this doesn't happen when the dataframe only

[2019-06-05 16:43] devin-petersohn commented on #651
Thanks @mar-muel for the report!

I can reproduce this, it doesn't happen in debug mode `MODIN_DEBUG=1 ipython`, so it's not a metadata issue. I also can confirm that the insert is happening. I will take a look at this and get this fixed. Thanks again for the report!

[2019-06-05 21:44] devin-petersohn commented on #453
Resolved in #461

[2019-06-05 21:44] #453 closed

[2019-06-05 22:08] devin-petersohn opened #653 "New method request: `Series.value_counts` and `pd.value_counts`"
`pd.value_counts` is a highly used pandas functionality that should be high priority.

This overlaps with `Series.value_counts`, which should be implemented at the same time.

Marking as Help Wanted.

[2019-06-05 22:11] devin-petersohn opened #654 "New method Request: `Series.str`"
`str` is a very popular way to do string operations in Modin. Calling `pd.Series.str` returns a `StringMethods` object, which should be implemented as a part of this, which should probably override the pandas version.

Marking as Help Wanted. Feel free to reach out with implementation questions.

[2019-06-05 22:25] devin-petersohn opened #655 "Enhancement: `groupby` performance"
The performance of `groupby` has been degrading over time as we have added different functionality, particularly when we added `Series`.

`groupby` needs a better way to parallelize the computation and do the "reduce" portion of the MapReduce.

I will tackle this one.

[2019-06-05 22:32] devin-petersohn opened #656 "Enhacement: `merge`/`join` performance"
`merge` performance needs to be improved. There are two major components to this:

1.) Joining on index where `left_index=True` and `right_index=True`
2.) Joining where `left_on` or `right_on` is set.

There are two different behaviors here, and each needs to be optimized separately.

[2019-06-05 22:37] devin-petersohn commented on #187
Closing as complete in #188

[2019-06-05 22:37] #187 closed

[2019-06-05 22:56] devin-petersohn opened #657 "Windows support"
Ray does not support Windows. It would be good to publish wheels that don't require Ray for Windows users. This is also related to publishing to conda-forge.

We can add an engine that runs strictly off of Python Multiprocessing for starters. It should be  relatively straight-forward to add.

Marking as Help Wanted, feel free to reach out about required implementation details.

[2019-06-05 22:58] devin-petersohn opened #658 "Modin project suggestions"
## Modin Potential Projects

The purpose of this issue is to have a single place for all issues good for new users/projects we are working on/etc. It is also intended to give prospective contributors an idea of what would be highest impact to work on.

### Overview
If you are interested in contributing to Modin, welcome! If you are interested in contributing something that isn't here, let us know

[2019-06-05 23:06] #650 closed

[2019-06-06 10:15] deeplook commented on #647
I've pip-uninstalled `typing` as I was told elsewhere I don't need that on Python 3.7. Then I get no more errors, but also now speedup for reading 41M of CSV. Anyway, that's likely another topic... ;)

[2019-06-06 15:18] devin-petersohn commented on #647
I'm glad that we fixed the `typing` issue.

For the CSV performance, would you be willing to open a new issue to track that separately? I am glad to discuss it there.

[2019-06-07 00:40] Shellcat-Zero commented on #583
@devin-petersohn can you tell me where in the code that Ray is doing the EC2 deployment from the YAML config?  I was curious to see how this is implemented, it looks like you're using boto3/botocore but I haven't found the relevant commands in-code yet.

[2019-06-07 15:18] devin-petersohn commented on #583
It is in the autoscaler submodule of Ray:

Autoscaler directory: https://github.com/ray-project/ray/tree/master/python/ray/autoscaler
Commands (I think you want this): https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/commands.py

Let me know if this doesn't help!

[2019-06-07 18:05] williamma12 opened #660 "Support for Ray autoscaler"
It would be nice to have support for the ray autoscaler to allow for elastic cluster support in modin. This would be different from #583 since this would not be able to be generalized beyond the ray engine.

[2019-06-10 21:31] devin-petersohn commented on #660
Added in #661

[2019-06-10 21:31] #660 closed

[2019-06-11 15:47] #646 closed

[2019-06-11 21:06] williamma12 commented on #651
Hi @mar-muel, this should be fixed when #663 was merged in and it works for me on the current master. Can you try reinstalling modin with
[code]
and see if it works for you?

[2019-06-11 21:38] williamma12 opened #670 "Enhancement: Rewriting insert to use apply_func_to_select_indices instead of apply_func_to_select_indices_along_full_axis"
Currently, `insert` uses `apply_along_select_indicies_full_axis`. However, this forces us to do essentially a full axis reduce, which is slow and could lead to transferring remote objects. With a bit of work, we should be able to rewrite `insert` to use `apply_along_select_indices` instead, which will be faster and not depend on any remote objects.

[2019-06-12 23:41] wsf1990 opened #671 "Support Geopandas"
Hi guys,
    Dose you have the plan to support geopandas?

[2019-06-13 00:47] devin-petersohn commented on #671
Hi @wsf1990, thanks for the question!

I would certainly be open to exposing a `modin.geopandas`, if it makes sense for your use case. There was some discussion a few years back on Geopandas about adding Dask: https://github.com/geopandas/geopandas/issues/461, so it might make sense to add a discussion about Modin if you're particularly interested in it. It would be good to gauge interest before a

[2019-06-13 03:57] wsf1990 opened #672 "Modin objects are not able to be pickled"
[code]
 I use django-cache to cache the result of modin df, When django want to fetch the cache,It hit this issue.

[2019-06-13 04:43] devin-petersohn commented on #672
This is a serialization issue. Right now Modin objects cannot be pickled, which is where the error is coming from. The main thing needed here is the ability to pickle Modin objects.

Our backlog is quite packed at the moment, so I will put as Help Wanted. Please let me know if you are interested in contributing.

[2019-06-13 05:49] wsf1990 commented on #672
I'll be very glad.Please let me know what can I do.

[2019-06-13 22:04] devin-petersohn commented on #672
Thanks @wsf1990, this is a large undertaking because I don't believe that Ray ObjectIDs are able to be pickled.

@simon-mo Do you run into this in Ray Serve?

[2019-06-13 22:10] simon-mo commented on #672
@devin-petersohn ray.ObjectID can be pickled:
[code]

This seems like some getting `self.columns` issues in `modin/pandas` because the error messages loop through:
[code]

[2019-06-14 23:21] Shellcat-Zero commented on #583
Thanks @devin-petersohn, I was able to find what I was looking for.

Can you elaborate on what the shortcomings are at this time and where the development stands in regards to this?  I tried looking up discussions for this in the [Google Group](https://groups.google.com/forum/#!forum/modin-dev) but it gives me a permissions error.  For example, is there a capability to replicate a csv from a head

[2019-06-15 01:30] devin-petersohn commented on #583
This is one of the current limitations.

If the entire file lives on the head node, we cannot broadcast it yet. Ray has a feature that puts computation where the data is, and we are working to implement a general solution to this problem in Modin. Because of this Ray feature, we cannot force data to be shuffle without deep knowledge of the cluster resources available. If the dataset is entirely on

[2019-06-16 07:30] alokgogate opened #674 "to_parquet function defaults to pandas implementation"
When I read a csv file through modin and try to write it back to disk with the to_parquet function I get a warning that.

General questions should be asked on the mailing list modin-dev@googlegroups.com.

Before submitting an issue, please fill out the following form.
-->

### System information
- **OS Platform and Distribution: Linux Centos 7**:
- **Modin installed from binary**:
- **Modin versio

[2019-06-16 17:30] devin-petersohn commented on #674
Hi @alokgogate, thanks for posting!

We don't have an implementation for going directly to parquet from Modin yet. I will put this as a Feature Request.

[2019-06-16 17:40] alokgogate commented on #674
@devin-petersohn thanks!
In the mean time could you make changes to the documentation
[Documentation Link](https://modin.readthedocs.io/en/stable/pandas_supported.html?highlight=to_parquet)
which should state that it defaults to pandas?

[2019-06-16 18:18] devin-petersohn commented on #674
It is updated in the latest docs: https://modin.readthedocs.io/en/latest/UsingPandasonRay/io_supported.html

Your link is using the stable docs build, but we have updated the docs since the last release. Relevant conversation in #626

[2019-06-16 18:18] devin-petersohn commented on #674
Here is the link to the DataFrame docs (which is where `to_parquet` is documented): https://modin.readthedocs.io/en/latest/UsingPandasonRay/dataframe_supported.html

[2019-06-16 20:09] devin-petersohn opened #675 "Doing a binary operation (e.g. truediv) after transpose throws ValueError"
### Describe the problem

Doing a binary operation (e.g. truediv) after transpose throws ValueError.

This is a problem for `Series` which uses `transpose` very frequently.

### Source code / logs

`percent = df.isnull().sum() / df.isnull().count()`

[2019-06-16 20:15] devin-petersohn opened #677 "sort_values after transpose throws ValueError"
### Describe the problem

`sort_values` after transpose throws `ValueError`

This is particularly problematic for `Series` which frequently uses `transpose`

### Source code / logs

`percent = (df.isnull().sum() / dfisnull().count()).sort_values()`

[2019-06-16 20:17] devin-petersohn opened #678 "Operations resulting in tranposed Series sometimes return DataFrame"
### Describe the problem

Operations that use `inplace` will return a `DataFrame` if the operation results in a transposed QueryCompiler

### Source code / logs

`percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False, inplace=False)`

Can be fixed at the same time as #677

[2019-06-16 22:38] #675 closed

[2019-06-16 23:46] devin-petersohn opened #680 "concat with transposed DataFrames throws ValueError"
### Describe the problem

`concat` with a transposed QueryCompiler throws `ValueError`.

This is particularly problematic for `Series` which heavily uses `tranpose`.

### Source code / logs

[code]

[2019-06-17 00:03] devin-petersohn commented on #655
Resolved by #659

[2019-06-17 00:03] #655 closed

[2019-06-17 00:04] devin-petersohn commented on #651
@mar-muel I am going to close this as we were able to reproduce and fix it. Please reopen if it still is not working on master for you.

[2019-06-17 00:04] #651 closed

[2019-06-17 17:09] #677 closed

[2019-06-17 17:09] #678 closed

[2019-06-17 18:52] #680 closed

[2019-06-18 04:32] devin-petersohn opened #683 "pd.concat with axis=1 and keys when all objects are Series creates MutliIndex"
### Describe the problem

`pd.concat` with `axis=1` and `keys` is not `None` when all objects are Series incorrectly creates `MutliIndex`.

### Source code / logs

[code]

[2019-06-18 04:49] williamma12 opened #685 "to_pandas triggers infinite loop"
### Describe the problem
`to_pandas` triggers an infinite loop if it gets called on by an empty query_compiler

### Source code / logs
`all_data_na = all_data_na.drop(all_data_na.index)`

[2019-06-18 04:50] devin-petersohn opened #686 "Expanding dimension for Series when"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin installed from (source or binary)**:
- **Modin version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

### Source code / logs

[2019-06-18 04:50] devin-petersohn opened #687 "Expanding dimension for Series with np.newaxis throws TypeError"
### Describe the problem

Expanding dimension for Series with np.newaxis throws TypeError

### Source code / logs
[code]

Error:
[code]

[2019-06-18 04:57] devin-petersohn commented on #686
Spurious issue

[2019-06-18 04:57] #686 closed

[2019-06-18 05:28] devin-petersohn opened #690 "Error when setting new values for a column"
### Describe the problem

Our internal index tracking is incorrectly trigger computation on some partitions without supplying it with the values to compute on.

### Source code / logs

[code]

Full Error:
[code]

[2019-06-18 05:51] devin-petersohn opened #692 "TypeError thrown after setitem"
### Describe the problem

Because of how `block_lengths` and `block_widths` are computed for the Ray engine, we sometimes run into this issue if we've update the values for a single partition.

### Source code / logs

Full error traceback:

[code]

[2019-06-18 17:17] #683 closed

[2019-06-18 17:35] #692 closed

[2019-06-18 18:25] #687 closed

[2019-06-18 18:25] #690 closed

[2019-06-18 19:51] #685 closed

[2019-06-18 21:26] qxlsz opened #694 "read_sql says wrong syntax when pandas read_sql can work with the same syntax"
read_sql says wrong syntax when pandas read_sql can work with the same syntax

[2019-06-18 21:29] devin-petersohn commented on #694
Hi @qxlsz, thanks for the report.

Would you be able to include the syntax that you used that failed? We need more information to fix this issue. Thanks!

[2019-06-20 05:33] devin-petersohn opened #696 "Enhancement: `insert` and `__setitem__` performance"
### Describe the problem

Currently we do not take full advantage of the distributed Series for insert. When we insert to the front or back, we should just use the `join` functionality to keep it distributed. This way nothing is shuffled unless it must be.

### Source code / logs
Links to source:
* [Query Compiler](https://github.com/modin-project/modin/blob/master/modin/backends/pandas/query_comp

[2019-06-22 05:42] vivekruhela commented on #186
I am using pandas version 0.24.2 and I am getting the same error randomly. Randomly means sometimes reset_index works but sometimes it doesn't works. I tried to reinstall this library also but failed. What could be the possible cause..

[2019-06-22 07:23] Yevgnen opened #698 "sort_index does not work with MultiIndex"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.14.5 (18F132)
- **Modin installed from (source or binary)**: `pip install modin`
- **Modin version**:0.5.3
- **Python version**:3.7.3
- **Exact command to reproduce**:

      import modin.pandas as pd

      df = pd.DataFrame([['one', 'A', 100], ['two', 'A', 101], ['three', 'A', 102],

[2019-06-22 15:38] devin-petersohn commented on #698
Hi @Yevgnen thanks for the report!

This is a bug and we will fix it for the next release. We are defaulting to pandas for MultiIndex in a lot of operations, including sort, but in this case we did not convert it back to a Modin DataFrame after the operation. Thanks again for the report!

[2019-06-22 17:57] TheCedarPrince commented on #694
Hey there! I can add to this discussion; I am having the same error using a postgres DB

Here is my code:

[code]

Which should yield something like this:

[code]

But instead gives me a traceback like this:

[code]

Right now I am having to revert back to vanilla pandas - any thoughts about what is happening?

Let me know if you need more info.

P.S. Here are the results of my pip freeze:

[code]

[2019-06-22 18:16] devin-petersohn commented on #694
Thanks @TheCedarPrince, this helps a lot.

This is a bug, but an easy one to fix. When we read from a sqlalchemy table, we make a connection from each worker to read a part of the table. In this case, we built the subqueries inadvertently without being compatible with postgres. That is why this is a bug.

It's a one line fix, and very simple. Thanks for the clarification, I will make sure it is in

[2019-06-22 19:03] TheCedarPrince commented on #694
@devin-petersohn - awesome! Looking forward to the new release.

When it is done, just let me know and I can give it a shot - looking forward to moving back to modin. : )

[2019-06-23 09:21] sunnyjiechao commented on #629
@devin-petersohn So sorry for that, after working on it long time, i found it is very diffcult to figure it out and also not useful enough for wasting too compute resource, i have to say git it up.

I am willing try to contribute  more useful rather than fancy function of modin

[2019-06-23 12:35] ghost opened #700 "How to read multi parquets files from S3."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.14.5 (18F132)
- **Modin installed from (source or binary)**: pip install
- **Modin version**: 0.5.3
- **Python version**: Python 3.7.3
- **Exact command to reproduce**:

### Describe the problem
I have bunch of parquets files store in S3.
I want to load all the files into one dataframe in distributed way

[2019-06-23 14:57] devin-petersohn commented on #700
Hi @oshriPP thanks for the question!

This functionality is not supported in pandas or Modin, although we could add a way to do it from `modin.experimental.pandas`, which has additional functionality augmenting pandas.

I will add it to our list of projects in #658. Thanks again for the question!

[2019-06-23 18:05] devin-petersohn commented on #629
No problem @Jie-Yuan, if you want to take a look at #658, there is a list of things there that can be implemented. Let me know!

[2019-06-24 18:16] #696 closed

[2019-06-25 04:10] williamma12 opened #708 "add throws column mismatch error"
### Describe the problem
`add` throws a column mismatch error

### Source code / logs
[code]
Throws the following error
[code]

[2019-06-25 16:33] #698 closed

[2019-06-25 16:38] devin-petersohn commented on #694
@TheCedarPrince I added a fix yesterday would you see if it works in your setup? Install like this:

[code]

We are in mid-development on this release, so some other things may not work as expected. Please let us know if you encounter any of these 😄.

[2019-06-25 17:23] #694 closed

[2019-06-25 21:39] devin-petersohn commented on #630
Added in #682

[2019-06-25 21:39] #630 closed

[2019-06-26 15:44] lisovskey opened #711 "Can't pickle _thread.RLock objects when using read_sql"
### System information
- **OS Platform and Distribution**: Ubuntu 18.04 (docker python-stretch container)
- **Modin installed from**: binary (pip)
- **Modin version**: 0.5.3
- **SQLAlchemy version**: 1.3.5
- **Psycopg2 version**: 2.8.3
- **Python version**: 3.7.3
- **DB**: Amazon RedShift

### The Problem
Function `read_sql` fails because RLock objects can't be pickled

### Source Code
[code]

###

[2019-06-26 16:39] devin-petersohn commented on #711
Hi @lisovskey thanks for posting! I will look into this. We should not be trying to pickle anything from `_thread` in `read_sql`, so it looks like we are making some assumptions about the nature of the connection object. This is definitely a bug, thanks for posting!

[2019-06-26 21:35] #711 closed

[2019-06-26 21:42] devin-petersohn commented on #708
Fixed by #710

[2019-06-26 21:42] #708 closed

[2019-07-01 12:11] sunnyjiechao commented on #467
@devin-petersohn Thanks, I am trying to contribute to this issue, any advice about how to realize its function?

[2019-07-01 15:20] devin-petersohn commented on #654
Added with #713

[2019-07-01 15:20] #654 closed

[2019-07-01 15:25] devin-petersohn commented on #467
@sunnyjiechao You can ignore that statement here, I think it just makes sense to get something similar to the `read_hdf` functionality implemented and we can tune the performance after we have a good working implementation.

If you would like to implement this, take a look at `read_hdf` and the codepath for that to get a sense about how to implement `read_excel`. It should be quite similar.

Let m

[2019-07-01 16:47] eavidan commented on #657
Hi @devin-petersohn. I started working on a simply multiprocess engine.
My approach is quite naive. In the partition implementation I simply send the work to a different process. Similar to what Ray does with a remote task.
Had some serialization issues so for now using dill instead of pickle.
I have run it on the following example and it indeed works and opens new python processes for each partit

[2019-07-01 16:58] devin-petersohn commented on #657
That looks great @eavidan, would cloudpickle work instead of dill? It is likely because we use lambda functions internally, and if I remember correctly, pickle doesn't support lambdas.

Feel free to open a WIP PR, that way I can comment and pull the code to test/play around.

[2019-07-01 17:59] devin-petersohn commented on #611
Note, we do have an active effort on Windows support, see #657.

[2019-07-02 01:28] sunnyjiechao commented on #467
Sure, thanks

[2019-07-04 10:20] techbrismo opened #720 "raise TypeError("Cannot do operation non-numeric dtypes")"
### System information
- **OS Platform and Distribution:**  Linux Ubuntu 18.04
- **Modin installed from (source or binary)**: : pip3 install modin
- **Modin version**: 0.5.3
- **Python version**: 3.6.8
- **Exact command to reproduce**:
1- df_runFlag = pd.read_csv(Config.FX_GetJsonConfig()['RunFlagTablePath'], usecols=['Platform', 'RunFlag', 'RAI', 'IAI', 'OAI'], encoding = 'utf8')

2-  st_Platform

[2019-07-05 16:13] devin-petersohn commented on #720
Hi @techbrismo, thanks for posting!

It looks like our error checking is not matching pandas in this case. I will look into this a bit deeper.

Using multiple python files shouldn't cause any errors, so I don't think that is causing the problem. Thanks again for the report!

[2019-07-09 04:15] RehanSD opened #727 "Parrallelize __array_wrap__"
### Describe the problem

~~We need to figure out what the `__array_wrap__` method is used for.~~

Now that we have an implementation for `__array__`, we should add support for `__array_wrap__`. It can be found [here](https://github.com/modin-project/modin/blob/master/modin/pandas/base.py#L3164)
### Source code / logs

[2019-07-09 15:22] qxlsz commented on #694
It still doesnt work :/

[2019-07-09 15:25] qxlsz commented on #694
I have the same exact error as @TheCedarPrince
`  File "/Users/GrumpyLord/env_1774/lib/python3.6/site-packages/pandas/io/sql.py", line 1431, in execute
    cur.execute(*args)
pandas.io.sql.DatabaseError: Execution failed on sql 'SELECT COUNT(*) FROM (SELECT DISTINCT req, a1, a2, a3 from tmpdb as foo)': subquery in FROM must have an alias
LINE 1: SELECT COUNT(*) FROM (SELECT DISTINCT req, a1, a2...

[2019-07-09 15:32] devin-petersohn commented on #694
@qxlsz It hasn't been in a release yet. You can install from the master branch to try it out: https://modin.readthedocs.io/en/latest/installation.html#installing-from-the-github-master-branch

[2019-07-09 16:33] qxlsz commented on #694
@devin-petersohn
I did install from master branch
[code]
I get this error

[2019-07-09 20:06] devin-petersohn commented on #694
@qxlsz Thanks, that is helpful! We fixed the case for sqlalchemy connections, but the psycopg2 connections were not updated. I will add the fix for it. I'm opening a new issue for this because it is a separate issue from the original and I'd like to track is separately. Thanks again!

[2019-07-09 20:08] devin-petersohn opened #729 "Psycopg2 connections not supported in parallel"
copied from #694.

I did install from master branch
[code]
I get this error

[2019-07-10 18:28] qxlsz commented on #729
Thanks @devin-petersohn . Last time i tried to pickle, i was blocked as i couldnt do it . Interested to see how you you will be able to do it .
may be this helps
https://stackoverflow.com/questions/52537741/multiprocessing-psycopg2-typeerror-cant-pickle-thread-rlock-objects
Thanks much again

[2019-07-11 00:01] williamma12 opened #730 "`apply` returns query compiler object"
### Describe the problem
`apply` returns a query compiler object instead of a dataframe or series

### Source code / logs
[code]

[2019-07-11 00:06] williamma12 commented on #730
Nevermind looking at wrong code

[2019-07-11 00:06] #730 closed

[2019-07-15 07:31] Crazy-LittleBoy opened #733 "modin read big csv failed"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin installed from (source or binary)**:
- **Modin version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

when i used modin.pandas read a big csv file (about 20GB), the following error happened.
notice that, when i read a smaller csv file (about 1.5GB),it works very we

[2019-07-15 15:43] qxlsz commented on #729
any update on the fix > I see the milestone 0.6.0 is today. Can we expect the fix by EOD?

[2019-07-15 15:47] fschlimb opened #734 "UserWarning: `DataFrame.<lambda>`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.5.3
- **Python version**: 3.6.8
- **Exact command to reproduce**: -

### Describe the problem
My code does not contain any lambda expression, modin still issues the following warning:

```UserWarning: `DataFrame.<lambd

[2019-07-15 16:21] devin-petersohn commented on #729
Yes, we are planning to release today, but many of the bigger improvements took longer than expected (Windows support particularly) so it won't be 0.6.0, but probably a micro release 0.5.4. We will get several of these bugfixes in today and test and release.

[2019-07-15 16:24] devin-petersohn commented on #733
How much memory does your environment have? How many cores?

This error has been brought up in Ray: https://github.com/ray-project/ray/issues/1838 and it looks related. cc @pcmoritz

[2019-07-15 16:32] devin-petersohn commented on #734
This is probably just an issue with the error message, I will take a look into it.

We default to pandas implementation for operations not yet supported and for all operations on empty dataframes. For larger dataframes there is a non-trivial cost to converting a partitioned dataframe object to a pandas DataFrame, and we are constantly working on improving the coverage for the API: https://modin.re

[2019-07-16 01:41] Crazy-LittleBoy commented on #733
My environment have 252G memory and 32 cores.

[2019-07-16 05:03] #720 closed

[2019-07-16 05:26] devin-petersohn commented on #729
@qxlsz I came up with a bit of a solution for us to use internally, but would you see if this works for you?

[code]

It should work in Modin if you create the string as outlined above. I will open a PR to add this functionality, but I will wait for you to confirm if it is working or not to merge. Let me know!

[2019-07-16 08:29] fschlimb commented on #734
Thanks!
Could this be caused by using `df.groupy(["c1", "c2"])`?

I get an extra warning for using `pd.merge(df1, df2, left_on=..., right_on=..., ...)`.

[2019-07-16 19:38] devin-petersohn opened #738 "MultiLevelIndex errors on `reset_index`"
### Describe the problem

The functionality is tested against a fresh dataframe, but the partitions will not be properly aligned in the case that there were some reshaping/filtering operations done before the `reset_index`

For now, we will default to pandas for MultiLevelIndex until we can get a comprehensive implementation in place for MultiLevel functionality, which is planned for late August/e

[2019-07-16 22:39] qxlsz commented on #729
will try now

[2019-07-17 03:29] #738 closed

[2019-07-17 17:46] devin-petersohn commented on #729
Sounds good, I will hold off to merge until you confirm it is working for your setup. I have tested in my own setup and it is working, but I want to make sure it works for you before I merge.

[2019-07-18 00:47] Shellcat-Zero opened #741 "Modin causes read_sql to throw exception for PyMySQL"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2 LTS
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.5.4
- **Python version**: 3.6.5
- **Pandas version**: 0.24.2
- **PyMySQL version**: 0.9.3
- **SQLAlchemy version**: 1.3.5
- **Exact command to reproduce**:
[code]
Error output:
[code]

### Describe the problem
Modin ap

[2019-07-18 02:43] devin-petersohn commented on #741
Hi @Shellcat-Zero, thanks for the report! I think I see what is happening with the connection.

Does it work if you instead pass in the string and let the engine creation happen in Modin?

[code]

[2019-07-18 03:44] RehanSD opened #743 "S3FS update to 0.3.0 causes unclosed socket warning in pytest"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin installed from (source or binary)**:
- **Modin version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem
Updating s3fs to 0.3 causes an unclosed socket warning to be issued during testing for the `test_from_csv_s3` method. This warning is only observed in pytest, and #

[2019-07-18 03:49] RehanSD commented on #743
Similar issue in boto3 repo: https://github.com/boto/boto3/issues/454 - a fix for that will probably help us out since it seems that s3fs is built on top of boto3

[2019-07-19 20:21] Shellcat-Zero commented on #741
@devin-petersohn Yes, it works just fine if I let engine creation happen within Modin.

[2019-07-22 20:03] joeydonovan4 opened #744 "KeyError when trying to drop a column"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac
- **Modin installed from (source or binary)**: Binary
- **Modin version**: 0.5.4
- **Python version**: 3.7.3
- **Exact command to reproduce**: `dataframe.drop(columns=['tran_nbr'], axis=1, inplace=True)`

### Describe the problem
I am trying to drop a column from a dataframe that I save to a file using `read_

[2019-07-22 20:14] devin-petersohn commented on #744
Does it work if you remove the `axis` argument from the `drop`?

[code]

This is likely a case where our error checking is more strict than pandas. pandas is ignoring the `axis=1` argument because when `axis=1` it attempts to drop from the rows, and it is looking for the label you provided (`tran_nbr`) in the rows instead of the columns. We should also ignore this argument if `columns` or `index`

[2019-07-22 20:20] joeydonovan4 commented on #744
@devin-petersohn thanks for the quick response.
Doesn't seem to be working when I remove the `axis` argument either. Still gives the same error.

[2019-07-22 20:39] devin-petersohn commented on #744
Ok, looking through the trace it appears that there is a bug with the `dtypes` that is causing the issue. I was able to reproduce the error locally, and even resetting the cache for the `dtypes` does not fix the issue. I will dig into this and get it fixed. Thanks for reporting!

[2019-07-23 17:53] #513 closed

[2019-07-28 06:54] masoodimran opened #746 "Unable to use modin.pandas after installation"
modin version '0.5.4'

[2019-07-28 06:56] masoodimran commented on #746
I am getting the below error when I execute the example given in Git. I am using a mac. The below error is when I call df.head().
---------------------------------------------------------------------------
RayWorkerError                            Traceback (most recent call last)
/anaconda3/lib/python3.7/site-packages/IPython/core/formatters.py in __call__(self, obj)
    700                 type_

[2019-07-28 20:53] devin-petersohn commented on #746
Hi @masoodimran, thanks for posting?

Was this in a script, and if so does it happen in an interpreter/notebook? If it was not, we should open an issue in Ray: https://github.com/ray-project/ray.

[2019-07-29 02:03] masoodimran commented on #746
Hello @devin-petersohn,

This happens when I run the example in Jupyter Notebook. I have tried opening an excel as well in Jupyter notebook using modin and still get the same error.

[2019-07-29 20:50] devin-petersohn commented on #746
Thanks @masoodimran, that is helpful. I have asked around and it seems one person has encountered this as well, but restarting the environment solved the problem. Does it happen for you every time you execute `df.head()`?

If so, we will open an issue in Ray, the core developers there will have a good idea of how to debug and solve this.

[2019-07-30 01:53] masoodimran commented on #746
Hello @devin-petersohn, Yes it happens every time. Restarting the environment did not help here.

[2019-07-30 16:01] fschlimb opened #747 "KeyError on groupby().min()"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu16.04
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.5.4
- **Python version**: 3.6.8
- **Exact command to reproduce**: python mortgage_modin.py

### Describe the problem
I get a weird 'Key Error' from a groupby.min(), Any idea?
[code]

### Source code / logs
You can find

[2019-07-30 17:42] devin-petersohn commented on #746
Thanks @masoodimran, I have created an issue on the Ray repo so let's continue conversation there.

[2019-07-31 18:08] devin-petersohn commented on #747
Hi @fschlimb, thanks for the report!

I wasn't able to get the script you provided to run with the datasets provided. What's strange in this case is that the previous 2 instances of `groupby.min()` worked fine, and looking at the code there's nothing fundamental that should change between these runs.

Would you be able to just run the following:
[code]

Printing the head in-between will reveal any

[2019-08-01 15:14] fschlimb commented on #747
@devin-petersohn: thanks for looking int this.

Sorry that the input data doesn't work, I probably made a few modifications, in particular I craeted a smaller subset to allow faster debugging...Attached the files I am using.
[input.tar.gz](https://github.com/modin-project/modin/files/3457387/input.tar.gz)

Here's the output before it fails in `delinq_180 = delinq_180.groupby('loan_id').min()`:

[c

[2019-08-01 23:20] simon-mo commented on #72
@devin-petersohn Did this get removed from the codebase some reason?

[2019-08-05 08:36] loopyme commented on #84
Hi, I wrote a [script](https://github.com/loopyme/docTools/blob/master/get_pandas_api.py) to hyperlink all the individual methods in dataframe_supported.rst and I have already send a PR #749 . If this way is appropriate, I may able to hyperlink all the individual methods in other files.

However, some apis do not appear in the Pandas Doc. Here is what my script says:
[code]
Some of them may be rem

[2019-08-05 17:00] devin-petersohn commented on #747
Thanks @fschlimb, sorry for the delay I was traveling last week.

This does narrow down the search quite a bit. The `KeyError` itself could be caused by an issue with the indexing in the previous line, I will dig into it and see.

Thanks for the additional input data, that does help!

[2019-08-05 17:13] devin-petersohn commented on #84
Thanks @loopyme, I took a look and it looks great!

Those APIs could have been removed from the documentation but not yet from the API, that doc was generated based on the API.

[2019-08-06 02:29] Jacobzhangjw commented on #746
@devin-petersohn
Thanks for your attention!
I just installed the Modin and this issue happened every time. I cannot use Modin at all.

[2019-08-06 02:52] devin-petersohn commented on #746
@Jacobzhangjw does this happen after you run `pip install -U ray`?

[2019-08-06 03:05] Jacobzhangjw commented on #746
@devin-petersohn
Yes, the Ray Worker Issue also happened after running pip install -U ray.

By the way, it raised compatibility warning when installing the latest ray:

ERROR: modin 0.5.4 has requirement ray==0.7.1, but you'll have ray 0.7.3 which is incompatible.
Installing collected packages: ray
  Found existing installation: ray 0.7.1
    Uninstalling ray-0.7.1:
      Successfully uninstalled

[2019-08-06 03:31] devin-petersohn commented on #746
The incompatibility warning is expected because of our pinned requirements, but it is surprising that it still happens.

cc @robertnishihara

[2019-08-06 23:14] modin-bot opened #752 "Request to implement read_fwf"
### 🤖 This is a bot message 🤖

feature_requests@modin.org has been sent an email requesting parallel implementation for `read_fwf`.

Note: Issues are created only once per method.

[2019-08-06 23:35] devin-petersohn opened #753 "Documentation for Dask"
Since we are working on #732 and adding a Concurrent.Futures backend we should add documentation on how to use it.

[2019-08-06 23:36] devin-petersohn commented on #752
Implementation will be similar to `read_csv`

[2019-08-09 21:58] agardelein opened #756 "TypeError in groupby(by=lambda x:x[1]<3) with MultiIndex"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 9 unstable
- **Modin installed from (source or binary)**: pip3 install -U git+https://github.com/modin-project/modin
- **Modin version**: 0.5.4
- **Pandas version**: 0.24.2
- **IPython version**: 5.8.0
- **Python version**: 3.7.3
- **Exact command to reproduce**:

### Describe the problem

When tryin

[2019-08-09 22:15] devin-petersohn commented on #756
Hi @agardelein thanks for the report!

I can reproduce the issue, and it's a logic error on our part. Pandas documentation states that the function is applied to every element, but we have implemented it as being called on the entire index. The line in question should be: `by = self.index.map(by)` instead of `by = by(self.index)`.

Thanks again for the report! We are in the middle of a large inter

[2019-08-10 18:02] agardelein commented on #756
Fixing it on my tree lead to following when performing a `groupby` followed by a `get_group`.

Note that the `print` inserted at line 1836 use `self.columns` since `self.keys()` at line 395 is supposed to return `self.columns`.

[code]

[2019-08-12 19:04] devin-petersohn commented on #756
@agardelein, thanks for the update, the MultiLevelIndex support in Modin needs some work.

When you use a label for the `groupby`, pandas will also allow you to specify a label from the index if is it a MultiLevelIndex. This is not documented, which is why it was missed.

It's worth tracking as a separate issue since it's not directly related to the bug in this issue. I can create that issue if yo

[2019-08-12 20:02] agardelein opened #758 "KeyError in groupby when specifying a label from MultiIndexLevel"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 9 unstable
- **Modin installed from (source or binary)**: pip3 install -U git+https://github.com/modin-project/modin
- **Modin version**: 0.5.4
- **Python version**: 3.7.3
- **Exact command to reproduce**:

Following fix of modin-project#756, this new issue occurs.

File test.dat:
[code]

### Describ

[2019-08-12 20:23] devin-petersohn commented on #758
Thanks @agardelein, for opening this! Comments below copied from #756:

When you use a label for the `groupby`, pandas will also allow you to specify a label from the index if is it a MultiLevelIndex. This is not documented, which is why it was missed.

The way we need to handle this is to check before the `KeyError` is thrown that the label is not in `df.index.names` (as long as it is a `MultiLev

[2019-08-16 10:19] npandey2385 opened #759 "Glibc issue while using modin"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/servers/scratch03/3.7/myp/lib/python3.7/site-packages/modin/pandas/__init__.py", line 82, in <module>
    import ray
  File "/servers/scratch03/3.7/myp/lib/python3.7/site-packages/ray/__init__.py", line 28, in <module>
    import pyarrow  # noqa: F401
  File "/servers/scratch03/3.7/myp/lib/python3.7/site-packages/ray

[2019-08-16 16:21] devin-petersohn commented on #759
Hi @npandey2385, thanks for posting!

It should be possible with the experimental Dask functionality, it's still under development so any feedback would be great!
[code]

Then you need to set an environment variable so Modin can connect to the correct engine:
[code]

It isn't possible to use Ray in this case because of its direct dependency on Pyarrow, which is the source of this issue. Let me kno

[2019-08-18 03:16] npandey2385 commented on #759
Hi Devin ,

I was facing the issue while installing modin using the steps shared by you
.

./bin/pip install git+
https://github.com/devin-petersohn/modin/tree/engines/dask_futures_init
Collecting git+
https://github.com/devin-petersohn/modin/tree/engines/dask_futures_init
  Cloning
https://github.com/devin-petersohn/modin/tree/engines/dask_futures_init to
/tmp/pip-req-build-h321tj6w
  Running com

[2019-08-20 01:23] dulinda opened #762 "Location of `from_pandas` code"
### System information
- **Modin version**: 0.5.4

### Describe the problem

The `from_pandas` code seems to have the same function as some of the `read_csv` code so should it be moved to io.py for consistency?

[2019-08-20 05:44] devin-petersohn commented on #759
Hi Niraj, thanks for the update!

It may not have installed from the correct branch:

[code]

Let me know if this helps!

[2019-08-20 06:32] npandey2385 commented on #759
Thanks Devin,

I tried the above steps but still showing GLIBC error on RHEL6 platform.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/12/modin/modin/pandas/__init__.py", line 82, in <module>
    import ray
  File "/python-3.7.2/env/lib/python3.7/site-packages/ray/__init__.py", line 28, in <module>
    import pyarrow  # noqa: F401
  File "/servers/scratch03/nira

[2019-08-20 06:44] devin-petersohn commented on #759
In order to try the Dask engine, you'll need to set the bash environment variable so Modin knows to use it:
[code]

[2019-08-20 07:11] npandey2385 commented on #759
tried but no luck.

bash-4.1$ export MODIN_ENGINE=dask
bash-4.1$ /servers/scratch03/niraj/python-3.7.2/env/bin/python
Python 3.7.2 (default, Apr 22 2019, 02:54:03)
[GCC 4.8.3] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/12/modin/modin/pandas/__init__.py", line 82, in <module>

[2019-08-20 17:24] devin-petersohn commented on #759
What about `MODIN_ENGINE=dask /servers/scratch03/niraj/python-3.7.2/env/bin/python`?

If that doesn't work you can set it in python:
[code]

Otherwise it keeps trying to use Ray, which requires pyarrow, which is the source of the issue.

[2019-08-20 18:16] devin-petersohn commented on #762
Thanks @dulinda, I agree. `from_pandas` should share code with the other data ingest methods.

[2019-08-22 03:45] universewill opened #763 "value_counts operation is too slow, nearly stuck"
i found that the 'value_count' operation will stuck:
[code]
It seems that modin tries to convert modin df to pandas df, and it is very slow.

[2019-08-22 16:51] devin-petersohn commented on #763
Hi @universewill, thanks for posting.

This is not yet implemented in a distributed way, I will tag as Feature Request and Help Wanted. Let me know if you'd like to contribute!

[2019-08-22 20:14] agardelein commented on #758
While diving in the internals of `groupby()` mechanisms I found also that using `level` parameter in `groupby()` from `modin` seems not to operate. Is there something I'm doing wrong ?

[code]

[2019-08-23 05:36] FlamesCN opened #764 "UserWarning: `Series.__getstate__` defaulting to pandas implementation."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 18.04.1 LTS
- **Modin installed from (source or binary)**:binary
- **Modin version**:0.5.4
- **Python version**:3.6.8
- **Exact command to reproduce**:
The ‘merged’ is a DataFrame that 'modin.pandas.concat(list)' function generates. The column of ‘ticker’ is a series that the type of element  is an integer.

[2019-08-23 18:43] devin-petersohn commented on #764
Thanks @FlamesCN for reporting this.

I narrowed down the issue to how we assign columns. Apparently, we have a bug in assigning a column after it has been modified, so it will be relatively easy to fix. Thanks for the report!

[2019-08-29 00:22] devin-petersohn commented on #469
After a big rewrite and restructuring of the index objects, this was resolved in #721. Feel free to reopen if the problem persists.

[2019-08-29 00:22] #469 closed

[2019-08-29 19:05] #647 closed

[2019-08-29 19:05] #746 closed

[2019-08-30 03:46] devin-petersohn commented on #758
I also found this as I was doing the rewrite in #721. It should be fixed in master now, let me know!

[2019-08-30 03:47] devin-petersohn commented on #756
Closing as this should be solved by #757. Please re-open if the issue is still there.

[2019-08-30 03:47] #756 closed

[2019-08-30 16:37] devin-petersohn commented on #164
Transpose was completely rewritten in #721. This was resolved then.

[2019-08-30 16:37] #164 closed

[2019-08-30 16:38] devin-petersohn commented on #293
This was fixed in #294

[2019-08-30 16:38] #293 closed

[2019-08-31 01:34] devin-petersohn commented on #744
I rewrote the way we handle `dtypes` in #721, and this is no longer reproducible for me. Please let me know if you are still having problems and feel free to re-open the issue.

[2019-08-31 01:34] #744 closed

[2019-09-01 19:32] devin-petersohn commented on #741
I'm going to add a warning here because it shouldn't be breaking in this case.

[2019-09-01 19:39] devin-petersohn commented on #758
I am going to close this, please re-open if you still run into the issue!

[2019-09-01 19:59] devin-petersohn commented on #747
@fschlimb Thanks for the patience, we have been rewriting the internals for efficiency and better metadata tracking and have fixed your issue in the process. This was done in #721.

After running your script I ran into an arrow serialization issue, which is new. In order to make it work I had to change the following:
[code]

This issue isn't something we can fix in Modin, but there's no issue in r

[2019-09-01 20:02] devin-petersohn opened #772 "BufferError: could not get scalar buffer information"
### Describe the problem

When creating a `datetime64` object, Cloudpickle starts to throw this error if the code is structured a certain way. Originally discussed in #747.

### Source code / logs

[code]

This can be fixed by rewriting the code to:

[code]

[2019-09-01 20:08] devin-petersohn commented on #734
You are correct, it is the `groupby`. I am adding a better message. Thanks!

[2019-09-01 23:13] #764 closed

[2019-09-02 04:33] #741 closed

[2019-09-02 04:33] #734 closed

[2019-09-02 04:35] #657 closed

[2019-09-02 04:55] devin-petersohn commented on #657
We will have preliminary windows support starting with release 0.6.0.

[2019-09-02 04:56] devin-petersohn commented on #729
Pushing to next release until confirmation from @qxlsz.

[2019-09-02 09:20] agardelein commented on #758
After `pip3 install --force-reinstall git+https://github.com/modin-project/modin --no-cache` ipython3 issued  `ModuleNotFoundError: No module named 'distributed'` that was corrected with a pip3 install dask distributed.
After this `modin.pandas` loaded correctly, and I still run the same issues (both). Did I missed something in the update process ?

[code]

[2019-09-02 13:55] fschlimb commented on #747
Thank you for the update!

Unfortunately I still see the same issue after updating to
`modin                     0.6.0                    pypi_0    pypi`

From looking at the commit log this should include this PR. No?

[2019-09-03 03:29] RainFung opened #777 "pd.read_hdf raise error"
[code]

[2019-09-04 11:42] devin-petersohn commented on #777
Hi @RainFung, how many cores are you using in your machine?

What version of Modin/Python are you using?

[2019-09-04 11:47] devin-petersohn commented on #747
That commit was included in the release. I am travelling this week and have limited access to wifi/stable machine, so I will have to take another look next week.

I was able to test it and it didn't have the `KeyError`, but I was experiencing it before.

Just out of curiosity, how many cores do you have on your machine?

[2019-09-04 11:57] devin-petersohn commented on #758
Sorry for the `ModuleNotFoundError: No module named 'distributed', that will be fixed shortly. We added Dask support, so we need to make sure we selectively install it. You haven't made any mistakes here

The `level` issue was fixed, but not the name of the label. That will be relatively straightforward to fix. I am out of the country at the moment, so I will do my best to get this fixed since I h

[2019-09-05 14:40] fschlimb commented on #747
@devin-petersohn My machine has 16 cores (8 cores x 2 sockets).
If this is hard to fix, do you have an idea how I could work around the issue?

[2019-09-05 22:45] jmwoloso opened #778 "Feature Request: .map using dicts"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 19.1 (Ubuntu 18.04)
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.6.0
- **Python version**: 3.7.3
- **Exact command to reproduce**:
[code]

### Describe the problem
Maybe it isn't a problem, but just a feature that has yet to be implemented?

### Source code / logs
[code]

[2019-09-05 22:50] devin-petersohn commented on #747
I don't think the issue will be difficult to fix, it seems like the metadata is off. The workaround might be to swap the `query` and `__getitem__` parts of the line:

[code]

I will report back once I am back in my home country. Thanks again for your patience!

[2019-09-05 22:54] devin-petersohn commented on #778
Hi @jmwoloso, thanks for reporting!

This functionality isn't implemented yet, but it shouldn't be throwing this kind of error. I don't think the overhead for implementing it is very high compared to fixing the error message, so we'll probably just implement for the next release. Thanks!

[2019-09-05 23:07] jmwoloso commented on #778
Thank you @devin-petersohn! This is a pretty sweet project!

[2019-09-05 23:10] jmwoloso commented on #778
As a temporary workaround for everyone else (this pattern can probably be applied in general while new features are implemented):

[code]

[2019-09-06 00:04] devin-petersohn commented on #778
Thanks @jmwoloso, there is a more concise way of doing this actually, though it's mostly used internally (editing from your old code):

[code]

This will do everything from converting to a pandas DataFrame, doing the operation, then converting back. Let me know if it is working for you! (It's a little cleaner and less chance of bugs I think)

[2019-09-06 02:47] #758 closed

[2019-09-07 22:43] agardelein commented on #758
I confirm the issue is solved with these changes.

For the installation had to do `pip3 uninstall modin` then `pip3 install modin` instead of `--force-reinstall` due to many `NewConnectionError (...) Name or service not known (...)` probably due to server issue.

Pushing modin tests a bit further I tried this:
[code]

Leading to:
[code]
Is this an expected behavior ?

[2019-09-08 14:49] #247 closed

[2019-09-09 15:31] devin-petersohn commented on #289
Resolved by #732. We will use futures instead of delayed and do the planning ourselves.

[2019-09-09 15:31] #289 closed

[2019-09-09 15:40] devin-petersohn commented on #758
Thanks @agardelein, this is very helpful! Our error checking within `groupby` related to MultiIndex has historically been more strict than pandas and we want to change this. Would you open a new issue for the list of labels from the Index so we can track it separately? Thanks!

[2019-09-09 16:44] agardelein opened #783 "KeyError when specifying a list of labels from MultiIndex"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 10 unstable
- **Modin installed from (source or binary)**: source
- **Modin version**: 0.6.0
- **Python version**: 3.7
- **Exact command to reproduce**:

Upon fixing of #758 testing with list of labels leads to KeyError.

File test.dat:
[code]

### Describe the problem
Performing a groupby with a lis

[2019-09-10 18:50] CMobley7 opened #785 "Modin==0.6.0 requires Dask even if you just want to use Ray"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Modin installed from (source or binary)**:  binary
- **Modin version**: 0.6.0
- **Python version**: 3.7.3

### Describe the problem
After running `pip install modin[ray]` and then using
[code]
I get
[code]
It looks like even though I set the backend to `Ray`, `Modin` still expects to be abl

[2019-09-10 20:52] devin-petersohn commented on #785
Thanks @CMobley7, we have caught this one earlier and already have a fix in master (#780). #784 is a followup fix for the files in the experimental API.

We are planning a release for 0.6.1 later this week, but you can also install from the master: https://modin.readthedocs.io/en/latest/installation.html#installing-from-the-github-master-branch

[2019-09-11 07:11] #777 closed

[2019-09-13 22:14] #778 closed

[2019-09-13 22:14] #783 closed

[2019-09-14 07:29] devin-petersohn commented on #747
Quick update: I was able to reproduce it by starting with 16 CPUs but it does not happen on 8. I will have to dig into this a bit more because given the partition size it shouldn't be any different. Thanks again for the report!

[2019-09-15 20:38] agardelein commented on #783
I confirm this works for me.

[2019-09-15 20:58] agardelein opened #789 "Construction of a modin.pandas.Series containing a list of modin.pandas.Series takes time"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 10
- **Modin installed from (source or binary)**: source
- **Modin version**: 0.0.0
- **Python version**: 3.7.4
- **Exact command to reproduce**:

[code]

### Describe the problem
When running the previous snipped, the code with pandas takes less than 1 second to execute whereas the code with modin.p

[2019-09-15 22:35] abhim00 opened #790 "DataFrame.apply() functionality not working."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **pip install Modin**:
- **Modin version 0.6.0**:
- **Python version 3.7**:
- **dataframe.apply(.., axis=1)**:

### Describe the problem

![image](https://user-images.githubusercontent.com/25496815/64928533-5cb34c80-d7ce-11e9-8281-e8f9ee2bb007.png)

![image](https://user-images.githubusercontent.com/25496815/64

[2019-09-15 22:58] devin-petersohn opened #791 "Outer Index can sometimes be incorrectly computed"
Related to #790

### Describe the problem

When an operation is performed along an axis partition, we can sometimes have an outer index/columns that is incorrectly inferred/computed.

### Source code / logs

Can happen with:
- `df.query(...)`

[2019-09-15 22:59] abhim00 commented on #790
`def add(a, b, c):
    return a + b + c `
`data = {
            'A':[1, 2, 3],
            'B':[4, 5, 6],
            'C':[7, 8, 9] } `

`df = pd.DataFrame(data) `
`print("Original DataFrame:\n", df) `

`df['add'] = df.apply(lambda row : add(row['A'],
                 row['B'], row['C']), axis = 1) `

`print('\nAfter Applying Function: ')
print(df) `

[2019-09-15 23:05] devin-petersohn opened #793 "pyarrow is a dependency but is not in `install_requires`"
### Describe the problem

The source comes from this file: https://github.com/modin-project/modin/blob/master/modin/experimental/engines/pyarrow_on_ray/io.py#L4-L5

### Source code / logs

[2019-09-15 23:10] devin-petersohn commented on #747
The source of the problem was a very obscure edge case with partitioning. It only occurs when there is a single row on a partition, and this only happened with the dataset after a filter was performed with `query`. The `KeyError` is the result of trying to groupby a single value from that row, and the fix is straightforward.

[2019-09-15 23:28] devin-petersohn commented on #789
The reason this is taking so long is becuase the system is trying to serialize the distributed Series again. We should not let this serialization happen.

In this case, we probably won't be able to immediately support nested distributed objects. That is, the inner `Series` objects will probably have to be `pandas.Series` because the `modin.Series` objects are not serializable, and that is a requir

[2019-09-16 03:06] #747 closed

[2019-09-16 13:30] Hoeze opened #797 "[Packaging] What about conda?"
It would be cool to have a modin package in conda-forge

[2019-09-16 14:06] williamma12 commented on #797
That is one of our goals with the next release! Conda forge requires that
all of our dependencies be on conda forge and before we used to rely on
ray, which was not on conda forge. However, with the upcoming release,
modin is going to not depend on any engine (e.g., Ray, Dask). As a result,
with the next release (which should be soon), we will be able to be on
conda forge!

On Mon, Sep 16, 2019 at

[2019-09-16 14:11] Hoeze commented on #797
Thanks, cool that you're on it already!

[2019-09-17 09:54] dwSun opened #798 "sliceing with datetimeindex is not working as expected"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Modin installed from (source or binary)**:pypi
- **Modin version**:0.6.0
- **Python version**:3.6.8
- **Exact command to reproduce**:

### Describe the problem
with modin:
[code]
 I got this:
[code]

but  with pandas:
[code]
 I got this:
[code]

[2019-09-17 21:00] agardelein commented on #789
I confirm this works using DataFrame updating the previous snippet to:
[code]

And interestingly when trying to instanciate a DataFrame containing DataFrames each containing Series:
[code]
Here again after a minute it was needed to interrupt the execution:
[code]
Is this something similar to serialization of Series ?

[2019-09-17 22:28] devin-petersohn commented on #798
Hi @dwSun, thanks for posting!

I can reproduce the bug, and it looks like an issue with how we handle slices that don't contain numeric indices.

[code]

I will dig into this before the next release, thanks again for posting!

[2019-09-18 19:14] devin-petersohn commented on #797
Linking PR in conda-forge for reference: https://github.com/conda-forge/staged-recipes/pull/8471

[2019-09-18 19:17] #790 closed

[2019-09-18 19:36] devin-petersohn commented on #789
@agardelein Yes it is related to the serialization.

What you're trying to create is a multidimensional object, and in Modin that means creating a distributed object of distributed objects. Pandas does not recommend n-dimensional dataframes, and there are libraries out there designed to handle this case (xframe is recommended by pandas).

In the short term, we can't devote a lot of engineering eff

[2019-09-18 22:53] #798 closed

[2019-09-19 06:39] rliu4439 opened #801 "Calling any() with arguments on a groupby object raises error"
### Describe the problem

When calling groupby.any() with any arguments passed to any(), the operation will error.

### Source code / logs

Can happen with:
* df.groupby('Person').any(skipna=True)

[2019-09-19 18:32] #801 closed

[2019-09-19 18:32] #791 closed

[2019-09-20 09:32] elcidhani opened #803 "Can't install modin[dask] on Windows"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin installed from (source or binary)**:  binary
- **Modin version**: 0.6
- **Python version**: 7.7.3
- **Exact command to reproduce**:  pip install "modin[dask]"

When I run pip install with modin[dask], I get the below error:
ERROR: Could not find a version that satisfies the requirement ray==0.7.3 (from modin[dask])

[2019-09-20 15:44] devin-petersohn commented on #803
Hi @elcidhani, it is supported, but the `install_requires` had included `ray`, which is not supported on windows.

We fixed this for the next release which should be done today.

[2019-09-20 19:44] devin-petersohn commented on #793
This has resurfaced. There is some experimental code which relies on `pyarrow`

[2019-09-21 01:23] #793 closed

[2019-09-21 02:13] devin-petersohn commented on #803
0.6.1 was just released, please reopen if the issue persists.

[2019-09-21 02:13] #803 closed

[2019-09-21 02:13] devin-petersohn commented on #785
0.6.1 was released, please reopen if the issue persists.

[2019-09-21 02:13] #785 closed

[2019-09-23 18:42] elcidhani opened #806 "Read CSV buffer?"
Hello

Are there plans to add support to read csv from buffer instead of file? Just like in pandas:
filepath_or_buffer : str, path object or file-like object
Any valid string path is acceptable. The string could be a URL. Valid URL schemes include http, ftp, s3, and file. For file URLs, a host is expected. A local file could be: file://localhost/path/to/table.csv.

If you want to pass in a path ob

[2019-09-23 19:02] devin-petersohn commented on #806
Hi @elcidhani, thanks for the question.

Are you using the Dask backend? We are in the process of adding the distributed read logic for the Dask backend (#754). We should already support these capabilities for the Ray backend, but since the Dask engine is <1 month old, we haven't had the opportunity to add I/O functionality to it.

Let me know if this helps!

[2019-09-24 07:26] elcidhani commented on #806
I am using ray:
import os
os.environ["MODIN_ENGINE"] = "ray"

Getting below when reading in csv from buffer:
UserWarning: Reading from buffer. defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

Thanks

[2019-09-24 18:04] devin-petersohn commented on #806
Thanks @elcidhani. I realize now that you copied the second part from the pandas documentation.

Supporting reading from a buffer isn't supported yet for the Ray backend either. This is because when the data is already in memory and we are trying to distribute it, there is a high overhead to doing so. Essentially all computation becomes single threaded (because we have to send the data to the work

[2019-09-27 21:13] lightsighter opened #807 "Internal Feature Request: Hook for Converting Incoming Types"
This is a request to add a hook inside of the Modin implementation so that custom implementations of the query compiler interface can inspect incoming types and determine if they can be automatically converted to a query compiler without having to first convert them to a base Pandas type. In most cases the answer will probably be no and the default path will likely be used, but some custom query c

[2019-09-27 21:20] devin-petersohn commented on #807
Thanks @lightsighter, this will be useful!

[2019-09-29 23:58] Sheshtawy commented on #752
can I take a stab at this?

[2019-09-30 02:54] devin-petersohn commented on #752
@Sheshtawy Absolutely! For starters, take a look at how we are doing `read_csv`. Internally, it starts here: https://github.com/modin-project/modin/blob/master/modin/engines/ray/generic/io.py#L577

From there you can trace how the internal logic handles different cases, let me know if you have any implementation questions!

[2019-09-30 17:24] Sheshtawy commented on #752
Perfect! Thanks for the tip, I'll let you know if I have any questions further down the road

[2019-10-01 02:36] williamma12 opened #809 "IndexError on groupby agg in dask engine"
### Describe the problem
An `IndexError` gets thrown when running `df.groupby("col3").count()`

### Source code / logs
[code]

[2019-10-01 03:29] devin-petersohn commented on #809
Closed via #808

[2019-10-01 03:29] #809 closed

[2019-10-01 20:58] devin-petersohn opened #810 "Documentation not building because of missing dependencies"
### Describe the problem

The badge on the README is indicating a build failure for the documentaiton. After investigation, it appears that the dependencies it needs to be built are not being found.

### Source code / logs

[code]

[2019-10-01 22:06] #810 closed

[2019-10-02 21:45] devin-petersohn commented on #102
This was deprecated, we will not support deprecated functionality moving forward.

[2019-10-02 21:45] #102 closed

[2019-10-02 21:48] devin-petersohn opened #814 "Modin DataFrame filter functionality (internal)"
`query` and `dropna` could benefit from a filter-specific to modifying a single axis. At the moment, they are using `_apply...` which does not guarantee or cannot infer metadata information related to the sizes of partitions. We could improve the performance by maintaining the partition sizes along the opposite axis from which we are filtering.

[2019-10-02 23:12] #814 closed

[2019-10-02 23:36] devin-petersohn opened #816 "__repr__ blocking on dtype computation if they are not"
The `head` and `tail` calls for `__repr__` are passing the physical `dtype` which forces computation to compute them, but `repr` does not need `dtypes`.

Relevant code: https://github.com/modin-project/modin/blob/2a203a6c909a7f8e70a7ea3a7ae396422fdcfc6c/modin/engines/base/frame/data.py#L1230-L1324

[2019-10-02 23:38] devin-petersohn opened #817 "concat is repartitioning data, even if there is an alignment in the axes"
This is affecting the performance of `concat` where the operation should be effectively trivial (simply concatenating the partitions).

The link to the code in question is here: https://github.com/modin-project/modin/blob/2a203a6c909a7f8e70a7ea3a7ae396422fdcfc6c/modin/engines/base/frame/data.py#L1076-L1080

[2019-10-03 02:34] #817 closed

[2019-10-03 02:34] #816 closed

[2019-10-03 16:22] msahamed opened #820 "ray.exceptions.RayWorkerError: The worker died unexpectedly while executing this task."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu **:
- **Modin installed from (source or binary): pip**:
- **Modin version: 0.6.1**:
- **Python version: 3.5**:
- **Exact command to reproduce: python train_models.py**:

### Describe the problem
When I use drop_duplicates and to_datetime for a large dataset using a python script, code breaks and shows

[2019-10-03 16:37] devin-petersohn commented on #820
Hi @msahamed, thanks for the report!

What you are seeing with the script is that Ray is tearing itself down before it has finished executing the tasks. If you add a `print(df)` statement to the end of the script, it will not exit the script until it has finished executing.

Modin is asynchronous with the Ray and Dask backends. In a python script environment, this can mean that the script complete

[2019-10-03 16:53] devin-petersohn commented on #820
By the way, I will add that with the inclusion of #815, adding new filter or drop functionality will be significantly easier.

[2019-10-03 17:11] msahamed commented on #820
Hello:

Thanks for the quick reply. Adding the **_"print(df)"_** at the end of the script did not solve the problem. Still the same error message.

[2019-10-03 17:49] devin-petersohn opened #821 "Update Ray version to 0.7.5"
### Describe the problem

Our Ray version is a few weeks out of date. The newest versions have significant performance improvements in scheduling.

[2019-10-03 17:55] devin-petersohn opened #823 "Remove hack in Ray initialization to support out of core"
### Describe the problem

We introduced a hack in #822 to be able to support out of core and larger memory hungry dataframes.

This is blocked on ray-project/ray#5837

### Source code / logs

https://github.com/modin-project/modin/pull/822/files#diff-8336a42cad8bd69c512c0a368d8aa710R136-R138

[2019-10-03 18:45] devin-petersohn commented on #820
You may still have to wait a few seconds after that for all of the partitions to complete computation.

In order for the script to be useful, you need to do something with the output data: writing it out to a file or printing some summary statistics or something along those lines. It is more common for people to run these kinds of workflows in notebooks which don't have this problem of closing the

[2019-10-03 21:49] #821 closed

[2019-10-03 21:52] devin-petersohn opened #824 "Fix Pyarrow CSV reader for experimental API"
### Describe the problem

Because of changes in the pyarrow API, the CSV reader is no longer up to date: https://github.com/modin-project/modin/blob/7466cccd7e0261ab47317353edbe966edc7b8834/modin/experimental/engines/pyarrow_on_ray/io.py#L43-L57

This code needs to be updated to the latest pyarrow that is available and shipped with Ray.

Once that is fixed, we should re-enable the testing of the e

[2019-10-05 00:08] thangbn opened #828 "Modin not fully utilize CPU"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 18.04
Linux ip-172-30-0-250 4.4.0-1095-aws #106-Ubuntu SMP Wed Sep 18 13:33:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Modin installed from (source or binary)**:
binary
- **Modin version**:
0.6.1
- **Python version**:
3.7
- **Exact command to reproduce**:
Code is run from Jupyter notebook
### Describe

[2019-10-05 05:50] devin-petersohn commented on #828
Hi @thangbn, thanks for the report! I have some follow up questions if you could help me understand a little more:

How long is the utilization this low? Do you know which command was running when the utilization was low? Is it near the beginning or end of the run?

We have some good straggler mitigation techniques internally, so I would definitely like to understand what is happening here.

[2019-10-06 00:03] thangbn commented on #828
@devin-petersohn thanks for your reply

the utilization is low since it steps into this line which running the apply **func** on the DataFrame
[code]
and staying low for the next 5 mins, after that I just cancelled the task.
To give you more context: the input file have around 1 million+ rows

[2019-10-07 17:07] devin-petersohn commented on #828
Thanks @thangbn, would you be able to provide some sample data? I would like to dig into the utilization problem, but it is difficult without the ability to reproduce the behavior.

[2019-10-07 19:00] modin-bot opened #829 "Request to implement a new method: DataFrame.resample"
### 🤖 This is a bot message 🤖

feature_requests@modin.org has been sent an email requesting parallel implementation for `DataFrame.resample`.

Note: Issues are created only once per method.

[2019-10-07 19:23] thangbn commented on #828
@devin sure thing. find the small part extracted from the original file attached.

[extract.txt](https://github.com/modin-project/modin/files/3699093/extract.txt)

[2019-10-08 22:44] thangbn commented on #828
@devin-petersohn  just found out downgrade to 0.5.4 work just fine

[2019-10-10 19:26] msahamed commented on #820
The implementation is in my preprocessing pipeline. The data I use is the real world and huge. The code crashes inside the preprocessing function at line 98 where df = df.drop_duplicates(inplace = False) is. The main function calls the preprocessing function.  Since drop_duplicates() is not parallel, it works as the panda's default drop_duplicates() method. I see some problem related to the partit

[2019-10-11 10:45] thangbn opened #830 "serialize of native library: TypeError: no default __reduce__ due to non-trivial __cinit__"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 18.04
Linux ip-172-30-0-250 4.4.0-1095-aws #106-Ubuntu SMP Wed Sep 18 13:33:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Modin installed from (source or binary)**:
binary
- **Modin version**:
0.6.1
- **Python version**:
3.7
- **Exact command to reproduce**:
Code is run from Jupyter notebook
### Describe

[2019-10-11 23:30] devin-petersohn commented on #830
Hi @thangbn, thanks for posting!

You are correct, it looks like Ray is incorrectly serializing the `WhatTheLang` object. Can you try this to see if it fixes your issue:

[code]

[2019-10-11 23:56] devin-petersohn commented on #820
I see, so the `drop_duplicates` is defaulting to pandas, which causes Ray to crash.

For the `drop_duplicates`, if you have a single column that you are trying to drop duplicates from you can use `apply`:

[code]

This won't work correctly if you have more than one column. If you do have more than one, you can also use apply to get the duplicated columns and then mask the dataframe:

[code]

The s

[2019-10-12 05:20] thangbn commented on #830
@devin-petersohn ok let me try.
also, close this ticket as it not caused by **modin** itself

[2019-10-12 05:20] #830 closed

[2019-10-12 15:26] Sheshtawy commented on #752
@devin-petersohn I have a question regarding the `read_fwf` implementation:

I understand that we user Ray as one of the engines to parallelize the execution of pandas APIs, I think I understand the general flow of of `read_csv` implementation. I'm now at the point where I'm adding the remote task for `read_fwf` in the `ray.pandas_on_ray.io` module, so that I can call it from the engine's generic

[2019-10-12 18:27] devin-petersohn commented on #752
@Sheshtawy sounds great! I am glad the code is understandable, even as abstract as it is.

You will need to create a `read_fwf_remote_task` field in the `modin.engines.ray.generic.io.RayIO` class. Then the implementation in the `generic.io.RayIO.read_fwf` will use that field, though it will need to be implemented in the child class. The remote task you create in `pandas_on_ray` module will be assi

[2019-10-14 15:30] #807 closed

[2019-10-14 20:01] manesioz commented on #670
Hey, what's the status of issue? Need anyone to work on this?

[2019-10-15 07:16] devin-petersohn commented on #670
Hi @manesioz, this is still open.

The core issue at the moment is that we are forcing computation on `insert` when we don't need to. The easiest way to improve performance is to change the logic on the API layer `modin.pandas.dataframe.DataFrame.insert` to use `pd.concat` and `iloc`:

[code]

These are functionally equivalent (outside of needing to update the column names) and the second one is s

[2019-10-15 23:31] rliu4439 opened #832 "Add support for level in stat functions"
### Describe the problem

The computations and descriptive stats functions don't support the level argument.
This include functions like `any`, `all`, `max` and `mean`.

[2019-10-17 23:48] Sheshtawy commented on #752
@devin-petersohn I really really appreciate how welcoming and understanding you are. I'm doing my best to get his done as soon as I can. I'm now at the point where I'm implementing the `read_fwf` method in `generic.io.RayIO` (i.e. the one that uses the remote task). Here's my question, the remote task takes and argument `num_splits` like all other remote tasks, How do we calculate that number?

[2019-10-17 23:54] devin-petersohn commented on #752
@Sheshtawy No problem!

We have a utility you can use to determine `num_splits`: https://github.com/modin-project/modin/blob/master/modin/engines/ray/generic/io.py#L233-L235

All of the readers should be using that utility.

[2019-10-19 13:24] huangbiubiu opened #835 "Error in Jupyter Notebook"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.6.2 (with Ray 0.7.3)
- **Python version**: 3.7.0
- **Exact command to reproduce**:

[code]

### Describe the problem

Failed to read CSV with `read_csv` method in Jupyter Notebook. But the command runs successfully in

[2019-10-20 23:11] devin-petersohn commented on #835
Hi @huangbiubiu thanks for posting!

Can you initialize ray before you initialize modin and tell me if the output is different? I am not sure where `f` gets called in our code, and since ray shows the wrong traceback let's try with the default ray parameters to see if we can get more information.

[2019-10-21 00:10] Sheshtawy commented on #752
@devin-petersohn I have a couple of questions:

- In `read_csv` there's a part dealing with compression, do I need to worry about that too when implementing `read_fwf`?

- There's a lot of values being calculated in `read_csv` like `chunk_size`, `column_chunksize`, `column_widths`, `partition_ids` and a couple more, I'm guessing they're used for partitioning the csv file to utilize all the cores a

[2019-10-21 07:20] huangbiubiu commented on #835
@devin-petersohn Thanks for your quick reply!

I don't know how to initialize ray, could you give me more information? Thanks!

I tried
[code]

which gives

[code]

[2019-10-21 16:15] devin-petersohn commented on #835
Thanks @huangbiubiu! You did it correctly, but you need to restart the kernel first. That should fix the `Exception` issue that got thrown. Thanks!

[2019-10-21 18:54] devin-petersohn opened #837 "Level parameter for any/all/etc. throws error if levels are not named"
### Describe the problem

Relates to #574. Because we do some extra checking now that #833 was merged, we need to add some internal checks if the name is `None`.

### Source code / logs

[code]

[2019-10-22 02:27] devin-petersohn commented on #752
You can just use the `file_open` utility, you don't need to worry about compression, at least for a first pass.

All of the logic related to getting the column names and splitting up the work will need to be used. There may be some duplicate code at first, but we can clean that up later as long as we have something working.

Much of that logic is getting metadata out of the dataframe. It should be

[2019-10-22 02:28] #837 closed

[2019-10-23 17:35] devin-petersohn opened #839 "`Series.apply` throws spurious error when operating over a Series of lists"
### Describe the problem

The error gets thrown when doing an `apply` on a Series that has lists in the values:

[code]

### Source code / logs

[code]

[2019-10-23 18:41] devin-petersohn opened #841 "Masking/Indexing into a DataFrame does not drop values from the columns."
### Describe the problem

Masking the dataframe produces a mismatch between the column labels (tra

### Source code / logs

[code]

[2019-10-23 18:44] devin-petersohn commented on #841
Whoops, in my sleep deprived state, I realize that I was checking the original dataframe. This is not a bug.

[2019-10-23 18:44] #841 closed

[2019-10-24 00:24] #839 closed

[2019-10-24 06:23] Rdlenke opened #842 "get_dummies doesn't update columns variable"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Modin installed from (source or binary)**: pypi
- **Modin version**: 0.6.2
- **Python version**: 3.6.8

### Describe the problem
```get_dummies``` doesn't update the dataframe columns variable. EDIT: Actually, it appears that it doesn't update anything in the dataframe, since the ```.shape``` of

[2019-10-25 06:33] junxu-ai opened #843 "RuntimeError for multiprocessing"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 + CUDA
- **Modin installed from (source or binary)**: pip install modin[dask]
- **Modin version**: 0.6.2
- **Python version**:3.6
- **Exact command to reproduce**:

import modin.pandas as pd
df=pd.read_csv(r"c:\temp\huge_size_csv.csv")

### Describe the problem

RuntimeError:
            Attempt to sta

[2019-10-25 16:51] devin-petersohn commented on #842
Hi @Rdlenke, thanks for posting!

This is a bug with the metadata calculation after the computation has finished. We keep the metadata separate for performance reasons, so this will be a quick fix. The computation is still correct, but if you do `df.columns` that value will not be correct. As you point out `shape` is also an issue, but `shape` is using the columns to determine the size.

Thanks ag

[2019-10-25 16:55] devin-petersohn commented on #843
Hi @junxuwdc, thanks for posting!

For the dask backend, I/O support is not completely finished yet. #754 is a first step toward that and the I/O support for dask will be ready for the next release.

For the `freeze_support` issue, I will take a look at that as well. Thanks for reporting!

Thanks again for posting!

[2019-10-25 20:22] thangbn commented on #828
closed as no longer reproduced on 0.6.2

[2019-10-25 20:22] #828 closed

[2019-10-26 16:07] Rdlenke commented on #842
@devin-petersohn Well, that explains it. I thought that there was something wrong with _fold, but couldn't point what was it.

Thanks for answering!

[2019-10-26 16:42] devin-petersohn commented on #842
Yes, it was a misuse of `_fold` trying to use an optimization that isn't possible for the `get_dummies` case. Thanks again for the report!

[2019-10-26 16:42] #842 closed

[2019-10-28 06:36] Harshitg opened #846 "parallel read_sql example for dask"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64Bit
- **Modin installed from (source or binary)**: source
- **Modin version**: 0.6.2
- **Python version**:3.7.2
- **Exact command to reproduce**: https://discuss.modin.org/t/experimental-api-initial-discussion/28

### Describe the problem
I am using the dask backend and it gives following error "Attrib

[2019-10-28 12:14] NaderNazemi commented on #234
I am having issues just ding a regular groupby in modin in a for loop.

[2019-10-29 13:15] Skvortsovg opened #847 "Plotting with seaborn"
Hello!
Please, add the ability to visualize with the seaborn module.
Now, I receive following message:

`TypeError: 'data' must be pandas DataFrame object, not: <class 'modin.pandas.dataframe.DataFrame'>`

[2019-10-29 18:52] devin-petersohn commented on #846
Hi @Harshitg, thanks for posting!

We don't yet have `read_sql` for the vanilla dask backend, but we are working toward it with #754. It doesn't currently work with the experimental API because it doesn't have an implementation in the non-experimental version yet. Thanks again for posting, I'll add this to feature requests, but it will be a part of the follow-on to #754.

[2019-10-29 18:58] devin-petersohn commented on #847
Hi @Skvortsovg, thanks for posting!

This is something we are aware of, but I'm not sure it can be done (safely) in Modin because that check is happening in the seaborn package. We could override the `__class__` attribute of the `modin.pandas.DataFrame` object, but that presents a number of challenges when libraries are using internal APIs (things like `_data`, which we don't have an alias for bec

[2019-10-29 18:59] devin-petersohn commented on #234
Thanks for commenting @NaderNazemi, would you be able to post new issue with more details so we can get it resolved?

[2019-10-30 04:32] huangbiubiu commented on #835
Thanks for your reply. That version conflict.

[2019-10-30 04:32] #835 closed

[2019-11-01 00:07] 4pygmalion opened #851 "RayTaskError: ray_worker"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu-18.04-bionic
- **Modin installed from (source or binary)**: using pip
- **Modin version**: '0.6.2'
- **Python version**: 3.6.8
- **Exact command to reproduce**:
import modin.pandas as pd
modin_csv_data = pd.read_csv('/home/user/jupyter/Hoheon/Noom/Global/Data/wtLogsUS.csv')

### Describe the problem

I hav

[2019-11-01 00:46] devin-petersohn commented on #851
Hi @4pygmalion, thanks for posting!

Would you run the following and paste the output?

[code]

Thanks for the detail! I am hoping ray will provide more information with the default settings.

[2019-11-01 01:06] 4pygmalion commented on #851
Thank you for your quick reply.

I have run your code. however, exception error occurred.

-------------------------------------------------
Exception                                 Traceback (most recent call last)
<ipython-input-8-8f730b448cf3> in <module>()
      1 import ray
      2 # ray.shutdown()
----> 3 ray.init()
      4 import modin.pandas as pd
      5

~/.local/lib/python3.6/site-pack

[2019-11-01 01:17] devin-petersohn commented on #851
Could you restart the interpreter/kernel and try again?

[2019-11-01 20:32] devin-petersohn commented on #851
Hi @4pygmalion, just want to make sure we don't lose track of this.

If you have the chance, please restart the interpreter or notebook kernel and re-run the code so that we can force Ray to give a more descriptive output. Thanks!

[2019-11-02 06:24] ggpython opened #852 "ValueError: bins must be monotonically increasing or decreasing"
### System information
- **OS Platform and Distribution** : Window 10 Pro
- **Modin installed from (source or binary)** : via pip
- **Modin version** : 0.6.2
- **Python version** : 3.6.5
- **Exact command to reproduce** :
import modin.pandas as pd
import numpy as np
trans = pd.read_csv('./Users/data.csv',parse_dates=['par_day'])
trans.drop_duplicates(inplace=True)
trans[['col1','col2',...]]

### D

[2019-11-02 17:00] devin-petersohn commented on #852
Hi @ggpython, thanks for the report!

Is the CSV file something you can share? It seems like something is going wrong with the metadata calculation after the data is read, but I can't reproduce the issue. If you could share the data file, that would help a lot!

[2019-11-02 19:05] devin-petersohn opened #853 "CI Updates and Improvements"
This is a meta-issue for the CI. The purpose of this issue is to track all of the changes we would like to make to the CI to improve developer experience and turnaround. Some of these tasks are also related to the quality of tests for correctness.

- [x] Add Dask to testing environment
- [x] Add Codecov Token
- [x] Add Windows to the CI test matrix
- ~[ ] Add Mac OSX to the CI test matrix~
- [x] I

[2019-11-02 22:43] devin-petersohn opened #855 "Tests need updated for Python 3.7+"
### Describe the problem

#854 PR build revealed that the tests are not adequate for Python 3.7. This is a combination of testing updates and internal bug(s) to handle the difference in `re` from Python 3.6 -> 3.7.

### Source code / logs

[code]

[2019-11-03 01:01] devin-petersohn commented on #855
Resolved by #849

[2019-11-03 01:01] #855 closed

[2019-11-04 13:18] janwendt commented on #843
same problem here.

[2019-11-04 17:25] devin-petersohn commented on #843
Thanks @junxuwdc and @janwendt, this is related to https://github.com/dask/distributed/issues/2520.

I can put the fix in today, thanks!

[2019-11-04 18:05] devin-petersohn commented on #843
For a quick fix, you can just add the following to your script:

[code]

I am not sure of the right way to handle this in Modin at the moment after digging into it a bit.

Since this isn't related to the `read_csv` Not Implemented issue I'm going to remove the tags related to that.

[2019-11-04 18:15] devin-petersohn commented on #852
Hi @ggpython, I took another stab at reproducing this today and I found it is a subtle issue with metadata related to the Dask backend on Windows specifically.

Thanks again for reporting!

[2019-11-04 21:11] devin-petersohn opened #859 "Upgrade to pandas 0.25.3"
Pandas 0.25.3 was released recently: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.3.html

[2019-11-04 22:34] #852 closed

[2019-11-05 00:13] #859 closed

[2019-11-07 07:38] freshsun opened #862 "pandas.DatetimeTZDtype support"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Centos 6.4
- **Modin installed from (source or binary)**:
binary
- **Modin version**:
0.6.2
- **Python version**:
3.7.4
- **Exact command to reproduce**:
pd.Series([1573104809000000000],dtype=pd.DatetimeTZDtype(tz='dateutil/America/Detroit'))

### Describe the problem
ValueError: Unable to convert timezone `tzfil

[2019-11-07 22:41] devin-petersohn commented on #862
Hi @freshsun, thanks for the report! This is a serialization issue with Ray, and I raised the issue in Ray: https://github.com/ray-project/ray/issues/6110

[2019-11-08 01:36] withinboredom opened #863 "Serious performance issues"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Specs**: 64GB ram, 12 4ghz cores, SSD
- **Modin installed from (source or binary)**: Binary
- **Modin version**: 0.7.3
- **Python version**: 3
- **Exact command to reproduce**:

The following takes multiple tens of minutes to run with a 7gb file. Without Modin, it usually only takes a few moments

[2019-11-08 02:14] devin-petersohn commented on #863
Hi @withinboredom, thanks for posting!

Are you saying that pandas is reading the 7GB file in a few moments? That has not been my experience, and testing things locally, I don't reproduce that behavior.

The code you wrote can actually be parameters to `read_csv`:

[code]

It will run faster (probably in both modin and pandas) if you write it this way.

Some things like `pd.to_datetime` are not im

[2019-11-08 10:23] withinboredom commented on #863
Thanks @devin-petersohn, that implementation is much faster!

It's likely the file is cached by the filesystem in RAM at this point, so it's quite quick :), especially with these changes + Modin!

For future reference, I had to rewrite it like:

[code]

[2019-11-08 10:24] #863 closed

[2019-11-12 13:58] bareini opened #864 "astype category doesn't change the actual dtype to categorical"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Modin installed from (source or binary)**: binary (pip)
- **Modin version**:  0.6.2
- **Python version**: 3.6.9
- **Exact command to reproduce**:
[code]
Whereas in the original pandas:
[code]
### Describe the problem
'astype' function is only changing the name of the type without changing i

[2019-11-12 21:54] devin-petersohn commented on #864
Hi @bareini, thanks for the report! It looks like our optimization is oversimplifying the `dtype` in the case of `Categorical`.

This should be relatively easy to fix, but in the meantime you can reset the dtypes with:

[code]

This will force Modin to recompute the dtypes as if we could not infer them. Thanks again for the report!

[2019-11-13 02:06] JohnMount opened #865 ".query() seems to corrupt something"
### System information
- **OS**: Python 3.6.9 :: Anaconda, Inc.
- **Modin installed**:  PyPi (`pip install modin[Ray]`)
- **Modin version**:  0.6.2
- **Python version **: Python 3.6.9 :: Anaconda, Inc.
- **Exact command to reproduce**:

[code]

### Describe the problem

Printing throws an error.

### Source code / logs

Pretty sure I am running `ray` as I get the message:

[code]

Error msg:

[cod

[2019-11-13 07:58] devin-petersohn commented on #865
Hi @JohnMount, thanks for the report!

I can reproduce this issue and confirm it is an issue with `query`, and it is related to some metadata optimizations we have internally. `query` should not be changing the partitioning, but it is. It is only happening after a new column is added, which is why it was missed by the tests. I will debug this.

Until it is fixed, there is a temporary workaround th

[2019-11-13 08:35] faycalhafid commented on #852
I'm still getting this error when using drop_duplicates (windows 10 as well)

[2019-11-13 14:08] Deom23 opened #866 "ValueError: bins must be monotonically increasing or decreasing"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Modin installed from (source or binary)**: pip install modin[dask]
- **Modin version**: 0.6.2
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem
I was going to test modin out on Windows and am receiving this ValueError when simply trying to do a .loc[] statement.

[2019-11-13 14:10] JohnMount commented on #865
Thank you for the `modin` package and looking into his.  I am sorry the example was as long as it was, but it looked like it was some multi-stage issue (and it took me a while to cut my true example down to this).  Also thank you for the work-around.

[2019-11-13 17:20] devin-petersohn commented on #852
Hi @faycalhafid, we haven't released a new version that includes this fix yet. If you would like to install the latest updates on the master branch, we have some instructions on how to do this in the documentation: https://modin.readthedocs.io/en/latest/installation.html#installing-from-the-github-master-branch

[2019-11-13 17:22] devin-petersohn commented on #866
Hi @Deom23, thanks for reporting!

This is a duplicate of #852, and was fixed in #858. We haven't released a version that includes this patch just yet, but if you'd like to use the latest Modin master branch, there are instructions on how to do this in the documentation: https://modin.readthedocs.io/en/latest/installation.html#installing-from-the-github-master-branch

[2019-11-13 17:22] devin-petersohn commented on #866
Closing as duplicated

[2019-11-13 17:22] #866 closed

[2019-11-13 17:29] devin-petersohn commented on #865
Thanks @JohnMount, please do forward any additional issues. Let me know if you have any other questions about Modin!

[2019-11-15 15:33] zakneutron opened #867 "4x slower read_csv than Pandas"
### System information
- **OS Platform and Distribution Windows 10
- **Modin installed from pip install via anaconda
- **Modin version**: 0.6.2
- **Python version**: 3.7.4
- **Exact command to reproduce**:

CSV file size = 497 MB (521,449,891 bytes)
Shape of Dataframe = (543427, 70)
i5 laptop -8GB RAM

### Describe the problem

###Pandas ONLY read_csv import###

import pandas as pd
import time as

[2019-11-15 16:31] devin-petersohn commented on #867
Hi @zakneutron, thanks for posting!

Since you are using Windows, the last release for Dask did not have `read_csv` implemented in parallel. There should be a warning that says something like `UserWarning: `read_csv` is not yet implemented.` and `UserWarning: Distributing pandas.DataFrame, this may take some time.`.

I have implemented `read_csv` for Dask within the last couple of weeks, so if you

[2019-11-15 19:29] yahoyoungho opened #868 "read_csv() not working properly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- Linux Debian 4.19.37-2~mx17+1
- **Modin installed from (source or binary)**:
- pip
- **Modin version**:
- 0.6.2
- **Python version**:
-3.5.3
- **Exact command to reproduce**:

import ray
ray.init(num_cpus=40,object_store_memory=80 * 1000 * 1024 * 1024)
os.environ["MODIN_ENGINE"] = "ray"
import modin.pandas as m

[2019-11-15 23:29] yahoyoungho commented on #868
Apparently, my file was somewhat corrupted and was throwing this error!
will close this thread

[2019-11-15 23:29] #868 closed

[2019-11-17 20:04] #865 closed

[2019-11-18 04:10] #864 closed

[2019-11-18 04:10] #729 closed

[2019-11-18 13:24] boris-ctcue opened #872 "merging two pandas data frames with modin.pandas gives ValueError"
### System information
- **Macos Mojave 10.14.6 **:
- **Modin installed from source with pip install modin**:
- **Modin latest (0.6.3)**:
- **python version : 3.6**:
- **pd.merge**:

### Problem
In an attempt to make my pandas code faster I installed modin and tried to use it. A merge of two data frames that had previously worked gave me the following error:

ValueError: can not merge DataFrame wi

[2019-11-18 16:00] devin-petersohn commented on #867
Closing as we have released and this was already resolved.

[2019-11-18 16:00] #867 closed

[2019-11-18 16:08] zakneutron commented on #867
Thanks for the update. I'll try this again...

[2019-11-18 18:31] devin-petersohn commented on #872
Hi @boris-ctcue, thanks for posting!

What were the operations that you ran before this? Are you trying to operate using both Modin and pandas at the same time? If this is a Jupyter Notebook or ipython or python interpreter, you may need to restart the kernel. We don't expect users to try to integrate Modin into a _running_ instance, rather it is a drop-in replacement. If this wasn't the case, I w

[2019-11-18 19:15] yahoyoungho opened #873 "Running modin.pandas.read_csv() throwing error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- Linux 4.19.0-5-amd64 #1 SMP Debian 4.19.37-2~mx17+1 (2019-05-15) x86_64 GNU/Linux
- **Modin installed from (source or binary)**:
-pip3 install "modin[complete]"
- **Modin version**:
-0.6.2
- **Python version**:
-3.5.3
- **Exact command to reproduce**:
[code]

### Describe the problem

Currently, I am trying to

[2019-11-18 20:15] devin-petersohn commented on #873
Hi @yahoyoungho, thanks for posting! A few questions to start:

- Does the same thing happen when you do not specify `ray.init` parameters beforehand?
- We recently released, can you update Modin (`pip isntall -U modin`) and see if this still happens?
- After you update, would you also be able to check if the issue is present with the Dask engine?
- Does this also happen with [out of core](https:/

[2019-11-18 20:20] ecoughlan opened #874 "read_csv dtype categoricals not working"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2
- **Modin installed from (source or binary)**: pip
- **Modin version**: 0.6.3
- **Python version**: 3.7.3
- **Exact command to reproduce**: See below

### Describe the problem

read_csv as below fails and gives
[code]
and then also calls such as `modin_result.select_dtypes(["object"])` fail

### So

[2019-11-18 20:49] devin-petersohn commented on #874
Hi @ecoughlan thanks for posting!

I can reproduce the issue, and what you're observing is an artifact of very small files. Try the following with only a change to the size of the data created:

[code]

In very small files when reading a CSV, we can unintentionally create empty partitions, which shouldn't affect the system. This is definitely a bug, but it's an artifact of extremely small files an

[2019-11-18 21:42] yahoyoungho commented on #873
Hello @devin-petersohn, so I have tried running the same thing without using ray.init() and along with update Modin package.
So far all the code seems to be running fine. However, I have not tried checking it with dask engine yet. Also, when I was running into this problem, out_of_core=True did not really work fine, if i remember correctly.

I have some questions then. Is it currently not possible

[2019-11-18 21:45] ecoughlan commented on #874
Thank you for the very quick reply. Maybe I made my example a bit too minimal (My actual use-case is a ~100MB csv), so I tried and the above still fails for me with
[code]
so maybe the partitions are not evenly sharded in my case? Also, I'm not even able to import them as string and then `astype("category")`, or even `df["0"] = pd.Series(df["0"].values, dtype="category"))` so not sure how I can wo

[2019-11-18 23:20] yahoyoungho opened #875 "getting Fatal Python error: Bus error or ray.exceptions.RayletError: The Raylet died with this message: [RayletClient] Raylet connection closed"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux 4.19.0-5-amd64 #1 SMP Debian 4.19.37-2~mx17+1 (2019-05-15) x86_64 GNU/Linux
- **Modin installed from (source or binary)**:
pip3 install "modin[complete]"
- **Modin version**:
0.6.3
- **Python version**:
3.5.3
- **Exact command to reproduce**:
import modin.pandas as pd
mat=pd.read_csv("refOriMatzero.vcf",sep

[2019-11-19 00:43] devin-petersohn commented on #873
Yes, you can set the number of cores with `ray.init`, but you also need to specify memory requirements. You were requesting 75TB of memory, Ray probably did not fully accept this number. We set Ray's allotted memory to 60% of total memory.

If you try `pd.DEFAULT_NPARTITIONS = 25`, Modin will reduce the number of partitions to 25 which will also reduce the number of cores used at any given time. T

[2019-11-19 09:35] boris-ctcue commented on #872
Hi @devin-petersohn, you were right, the data frames were being created as core pandas object, so I was able to solve the problem by re-instantiating them as you suggested. However, I ran into an error wile calling the following groupby and apply:

data_frame1 = data_frame1.groupby('d').apply(self.get_previous_and_following_categories)

here is the UDF:

def get_previous_and_following_categories(s

[2019-11-19 11:36] ecoughlan opened #876 "df.assign() not working with index mismatches"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2
- **Modin installed from (source or binary)**: pip
- **Modin version**: 0.6.3
- **Python version**: 3.7.3
- **Exact command to reproduce**: See below

### Describe the problem
Assign does not work when "length of values does not match length of index", but it should for compatibility with pandas, s

[2019-11-19 11:43] ecoughlan opened #877 "pd.merge() doesn't support (named) Series"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2
- **Modin installed from (source or binary)**: pip
- **Modin version**: 0.6.3
- **Python version**: 3.7.3
- **Exact command to reproduce**: See below

### Describe the problem
This is special-cased in pandas, and doesn't work with modin:
[code]

### Source code / logs
Possible fix: https://gist.git

[2019-11-19 17:36] devin-petersohn commented on #872
Yes, but you may need to restructure this specific call a little bit because of the way that cloudpickle handles `self.some_function`. Cloudpickle is a dependency of Ray and Dask, so using either of those will likely result in the same issue. Since you aren't using `self` in the UDF, it should be possible to define that function outside of the context of the class.

If you don't mind, would you op

[2019-11-19 17:40] devin-petersohn commented on #875
Hi @yahoyoungho, thanks for posting!

This looks like an issue related to Ray. I have created an issue in the Ray repo (https://github.com/ray-project/ray/issues/6198) to track this. Thanks again for reporting!

[2019-11-19 17:46] devin-petersohn commented on #876
Thanks for reporting @ecoughlan! I can reproduce it.

This behavior defaults to pandas, so it is interesting that it does not match pandas. Link to code for reference: https://github.com/modin-project/modin/blob/9966f6821155285b784b0670cb4e1b91a243b63d/modin/pandas/dataframe.py#L484-L485

I will dig into the source of this issue. Thanks for posting!

[2019-11-19 17:48] devin-petersohn commented on #877
Thanks for posting @ecoughlan, the fix you posted in the gist would likely work. If you're willing to contribute it with some test cases to verify correctness, let me know!

[2019-11-19 17:50] devin-petersohn commented on #874
Thanks @ecoughlan, I see the issue. It will take some time to get to the bottom of this one because we use pandas functionality to merge or combine the `dtypes` from the partitions. All of the partitions contain `CategoricalDtype`, when when merging them, it is classifying the merged `dtypes` as `object`.

[2019-11-20 10:51] ecoughlan opened #878 "groupby() with concat() result columns can't be added"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2
- **Modin installed from (source or binary)**: pip
- **Modin version**: 0.6.3
- **Python version**: 3.7.3
- **Exact command to reproduce**: Snippet below

### Describe the problem
Cannot add a combination of results to a DF composed of grouped results.

### Source code / logs
[code]
doesn't work be

[2019-11-20 11:54] NeoXx123 opened #880 "Trouble installing modin on WSL: No matching distribution found for pandas==0.25.3"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 with WSL (Windows Subsystem for Linux)
- **Modin installed from (source or binary)**:
- **Modin version**: Newest
- **Python version**: Anaconda Python 3.7 (Newest)
- **Exact command to reproduce**: pip install modin[ray]

I installed WSL (Windows Subsystem for Linux) and I am trying to install Modin o

[2019-11-20 16:55] devin-petersohn commented on #880
Hi @NeoXx123, thanks for posting!

Does the same thing happen when you type `python3 -m pip install modin[ray]`?

The pip in your path looks like it is the python2 version, looking at the pandas distributions available. pandas dropped python2 in 0.25, which would explain why it's not in that list.

Let me know if this helps! I use WSL on a daily basis for development and testing so the issue shoul

[2019-11-20 18:07] devin-petersohn commented on #878
Thanks @ecoughlan, you are right that it is setting a multi-index on the columns. When `keys` is set for `concat`, Modin seems to be adding a level to the columns instead of replacing the label names with the values. It should be a straightforward fix.

As a side note, `cat = pd.concat([g["a"].first(), g["b"].first()], keys=["x", "y"], axis=1)` could be rewritten to `cat = g.first().set_axis(["x",

[2019-11-20 18:08] devin-petersohn commented on #877
Resolved via #878

[2019-11-20 18:08] #877 closed

[2019-11-20 20:47] pratikwatwani opened #881 "Cannot run on Google Colab"
### Describe the problem

Trying to work on a dataset that has 40+ features and more than 600,000+ data points, and wanted to work with modin for an efficient system to load data set, however, I work with my team on a shared Google Colab Jupyter Notebook, and am unable to install the same.
I tried simple pip install modin, but that didn't work, so I tried, pip install modin[dask], that as well thr

[2019-11-20 21:53] manesioz commented on #881
After restarting my runtime, I was able to get it to work by running:

[code]

Can you try this?

[2019-11-24 18:25] alvinjamur opened #882 "Modin read_csv error # File exists but does not read #"
### System information

OS Mojave 10.14.6
installed modin : pip install modin
- **Modin version**:  0.63
- **Python version**: 3.75

### Describe the problem

modin does not read the file that exists in directory using read.csv

### Source code / logs

import pathlib, os
import modin.pandas as pd
import numpy as np

home_path = pathlib.Path.home()  # PosixPath('/Users/AlVinjamur') on MAC
data_path

[2019-11-24 18:37] devin-petersohn commented on #882
Hi @alvinjamur, thanks for posting!

It looks like the workers start in a different working directory than the parent. Do you still get the error if you move the `import modin.pandas as pd` to below the `os.chdir`?

This bug can be fixed if we pass the full path to the workers instead of just the filename. Thanks for posting this, I will get this fixed as soon as I can!

[2019-11-24 19:32] alvinjamur commented on #882
I changed paths etc as follows....

file_path = home_path /'Dropbox (aLV)/COMPUTING/DATA/TICK_DATA/TICK_DATA_SAMPLE/SPECIAL_SAMPLE/ES_t.csv'

import modin.pandas as pd
import numpy as np
qdf = pd.read_csv(file_path)

BUT I get a "broken pipe" error as follows....

=====

---------------------------------------------------------------------------
ArrowIOError                              Traceback

[2019-11-24 19:39] alvinjamur commented on #882
When I pass in the full path to the file, it seems to work just fine.
I'm so happy.....these files I have are Yuuuuuuuuge!

===
import numpy as np
import pathlib, os

home_path = pathlib.Path.home()          # PosixPath('/Users/AlVinjamur') on MAC

data_path = home_path /'Dropbox (aLV)/COMPUTING/DATA/TICK_DATA/TICK_DATA_SAMPLE/SPECIAL_SAMPLE'

file_path = home_path /'Dropbox (aLV)/COMPUTING/DATA/T

[2019-11-27 07:14] katzuv opened #883 "ERROR: No matching distribution found for pandas==0.25.3 (from modin[all])"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Modin installed from (source or binary)**: pip
- **Modin version**: trying to install latest
- **Python version**: 2.7.15+
- **Exact command to reproduce**: `python -m pip install modin[all]`

### Describe the problem

After installing pandas with `python -m pip install pandas` I am trying to ins

[2019-11-27 20:55] pratikwatwani commented on #881
Hi, I did try this, but unfortunately I cannot seem to install modin on  Colab!

[2019-11-27 22:51] devin-petersohn commented on #881
@pratikwatwani What was the error message you saw?

[2019-11-28 02:57] s0301132 opened #884 "Error in Jupyter Notebook: TypeError: unhashable type"
### System information
- **Macos catalina 10.15.1**:
- **Modin installed from pip**:
- **Modin version 0.6.3**:
- **Python version 3.7.3**:
- **Exact command to reproduce `pip install modin[all]`**

### Describe the problem
Running the following code with TypeError: unhashable key, I find that in issue #689 modin will switch to normal pandas when trying to get slice from Series but I still get the

[2019-11-28 15:41] Anylee2142 opened #885 "AttributeError: type object 'Series' has no attribute '__array_prepare__'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04.3
- **Modin installed from pip**: modin[all]
- **Modin version**: 0.6.3
- **Python version**: Python 3.6.8
- **Exact command to reproduce**: `pd.Series().value_counts()`

### Describe the problem

I encountered this issue while testing my code. The code contains `pd.Series().value_counts()`, wh

[2019-11-28 15:56] Anylee2142 commented on #885
ah wait, `__array_prepare__` is actually similar to numpy's `__array_wrap__`. Fixing it so will do?

[2019-11-29 05:12] Anylee2142 commented on #885
This actually looks similar to how numpy's interfaces, `__array_wrap__` or `__array_prepare__`, behave. Fixing so will do?

[2019-11-29 13:22] seufisherwang opened #886 "I build this package but it shows cannot import Base"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin installed from (source or binary)**:
- **Modin version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

### Source code / logs

[2019-11-29 19:56] devin-petersohn commented on #885
Hi @Anylee2142, thanks for posting!

In pandas, it looks like `__array_prepare__` was dropped in 0.25.X and we haven't dropped it yet. When I ran your example locally, I did not encounter the issue on `value_counts`, and looking at the Traceback you provided, the error is happening on the `self.assertGreaterEqual(ent(freq, base=2), entropy(P, base=2))` line. This is because of the `ent` function w

[2019-11-29 20:04] devin-petersohn commented on #884
Hi @s0301132, thanks for posting!

I don't see any calls to Modin in the Traceback you provided, which means that the error is happening on `features`, which appears to be a `pandas.DataFrame`. Even if Modin is defaulting to pandas, it should still be returning to a Modin DataFrame after that.

Would you be able to tell me if Modin is defaulting to pandas at some point in the code and not returnin

[2019-11-29 20:08] devin-petersohn commented on #883
Hi @katzuv, thanks for posting!

This is a duplicate of #880. Since pandas has deprecated Python 2, we also have done so and therefore we no longer support Python 2.

I highly recommend updating your Python version to 3 as it will be at end of life within a little more than a month.

Closing as duplicate. If you want to continue the conversation please discuss on the open issue #880.

[2019-11-29 20:08] #883 closed

[2019-11-29 20:57] devin-petersohn commented on #886
Hi @seufisherwang, can you provide more information?

How did you build, what is your OS, what is the traceback, what command did you try to run, etc. would all be helpful information. Thanks!

[2019-11-29 21:25] seufisherwang commented on #886
my os is win10 64 python3.5, I use pip install modin,but when I use "import modin.pandas as pd", it shows wrong information.

[2019-11-30 04:36] s0301132 commented on #884
Hi @devin-petersohn !

I check the `forecaster.py` file which I called in the above script, there are some information about the pd.DataFrame to see if it can helps :

Info of pd.DataFrame
[code]
Code:
[code]

If modin can't handle the pd.DataFrame in this case may be I need to switch to default pandas manually while I run the above script? Thanks!

[2019-12-01 15:06] eavidan commented on #634
Hi @devin-petersohn.
Would the implementation simply be to use the `_apply_full_axis()` and apply `duplicated`?
This should apply to both `Dataframe` and `Series`. am I missing something?
also, what kind of tests should I add for this? can you reference an example?
Thanks

[2019-12-01 18:11] devin-petersohn commented on #634
I wrote something in another comment for how to handle this in this comment: https://github.com/modin-project/modin/issues/820#issuecomment-541259286

The relevant code is:

[code]

Test wise we will need to test the following:

- `keep` parameterized for `["first", "last", False]`
- `subset` parameterized for some subset of column labels (and left `None`) for each of the following:
  - data where

[2019-12-02 04:39] jh-wu opened #887 "Missing 'title' method in StringMethods object"
### System information
- **OS Platform and Distribution: Linux Ubuntu 16.04
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.6.3
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem
Got AttributeError: 'StringMethods' object has no attribute 'title' when I was trying to execute a line of code contains series.str.title().

I have checke

[2019-12-02 13:46] eavidan commented on #820
Thanks @devin-petersohn.
The above example works but I still find it hard to write an implementation which conforms with our current code flow.
would the following make sense?

in `dataframe.py`:
[code]

in `series.py`:
[code]

and in `base.py`:
[code]

This does not feel "clean" enough, but I could not find a better way to implement the same logic on both `Series` and `Dataframe`.
Also, is there

[2019-12-02 15:53] msahamed commented on #820
Thank you. I will try that.

On Mon, Dec 2, 2019 at 7:46 AM Eran Avidan <notifications@github.com> wrote:

--

Regards,

*Sabber Ahamed, Ph.D.*
Data scientist, Asurion
Nashville, Tenessee
Writer at: Toward da
​
ta science @medium
Founder: xoolooloo.com

[2019-12-02 18:23] eavidan commented on #820
hi @msahamed. I accidentally posted this comment here. it belongs to #634.
sorry about that, moving the discussion there.

[2019-12-02 18:23] eavidan commented on #634
Thanks @devin-petersohn.
The above example works but I still find it hard to write an implementation which conforms with our current code flow.
would the following make sense?

in `dataframe.py`:
[code]

in `series.py`:
[code]

and in `base.py`:
[code]

This does not feel "clean" enough, but I could not find a better way to implement the same logic on both `Series` and `Dataframe`.
Also, is there

[2019-12-02 18:24] msahamed commented on #820
No problem at all

On Mon, Dec 2, 2019 at 12:23 PM Eran Avidan <notifications@github.com>
wrote:

--

Regards,

*Sabber Ahamed, Ph.D.*
Data scientist, Asurion
Nashville, Tenessee
Writer at: Toward da
​
ta science @medium
Founder: xoolooloo.com

[2019-12-02 18:53] devin-petersohn commented on #634
We may want to put some of this logic into the PandasQueryCompiler so that it can be used by other implementations.

What about this:

in `dataframe.py`:
[code]

in `series.py`:
[code]
The `base.py` code in your answer assumed a dataframe input, so that code probably belongs in `dataframe.py`.

[2019-12-02 18:58] devin-petersohn commented on #887
Hi @jh-wu, thanks for posting!

I will get this fixed before the next release, it shouldn't take long to implement. As a temporary workaround, you can do `series.apply(str.title)`.

[2019-12-02 19:00] devin-petersohn commented on #886
@seufisherwang what is the error it is showing? you may need to install with `pip install modin[dask]` if you don't have a local installation of Dask already.

[2019-12-02 19:05] devin-petersohn opened #888 "Stop uploading Python2 wheels"
### Describe the problem

Several Python2 users who install are running into issues, so we should stop uploading wheels for Python2 during the release process.

Related to #880 and #883.

[2019-12-02 19:05] devin-petersohn commented on #880
Hi @NeoXx123, I am going to close this in favor of tracking with #888, which is actionable from our side. Please feel free to open a new issue if you still have problems installing.

[2019-12-02 19:05] #880 closed

[2019-12-02 19:08] devin-petersohn commented on #872
@boris-ctcue I am going to close this issue as the original issue was resolved.

If you still have problems with the UDF, please open a new issue to be tracked. Thanks!

[2019-12-02 19:08] #872 closed

[2019-12-02 19:44] devin-petersohn commented on #884
@s0301132 Thanks for the additional information.

I took some time to dig a little deeper into the Prophet codebase and it looks like it is assuming a pandas DataFrame. Some things will work based on how things are implemented in the library, but there will likely be some cases of undefined behavior (as you experienced). There will have to be some changes to the Prophet library for there to be an

[2019-12-03 02:25] s0301132 commented on #884
@devin-petersohn Thanks!

Thanks for your information! I will change to default pandas for now until Prophet library can support modin. I will raise this issue to Prophet library and hope they can integrate modin as soon as possible. Thanks for your help!

[2019-12-03 02:25] #884 closed

[2019-12-03 18:44] #874 closed

[2019-12-04 22:46] pratikwatwani commented on #881
It's the same thing as I posted initially. I tried
`!pip install -U ipykernel
  !pip install modin[dask]`

The above commands install median on colab with some warnings, but when I try to import modin, I keep getting message for installing it via dask, along with "no module named ray"

[2019-12-06 02:22] DaielChom opened #891 "Attribute name in the dataframe"
Hi, I am testing modin and I have a problem, but I don't know if this problem is caused by the version of pandas of modin, The attribute "name" in the iloc change between pandas and modin.pandas.

![2](https://user-images.githubusercontent.com/22222488/70291037-f116c500-17a7-11ea-8f5e-ffccc6f80f11.png)

[2019-12-07 01:29] hhbyyh opened #893 "Need an example to show the performance advantage of modin"
Modin looks really promising and I'm evaluating it for production usage. Thanks for working on it.

I used jupyter notebook to benchmark modin against pandas but cannot find any performance improvement. And for many of the operations modin spent much more wall clock time than standard Pandas on a single node.

If possible, can you please refer or provide some example that shows the performance adv

[2019-12-07 01:31] hhbyyh commented on #893
cc @devin-petersohn Appreciate your help.

[2019-12-07 11:41] BraINstinct0 commented on #797
Seems like build on only Windows was successful, maybe wanna check?

[2019-12-07 20:46] pratikwatwani commented on #881
@devin-petersohn, @manesioz

I got it working with the solution @manesioz provided, however, it required me to make a multiple restart of my runtime, which is absolutely weird.

When I installed it initially, and restarted the runtime it still did not recognize the package, however after repeating the process again, I did a multiple restart which seemed to solve my problem.

I don't know why I had

[2019-12-07 20:46] pratikwatwani commented on #881
@devin-petersohn, @manesioz

I got it working with the solution @manesioz provided, however, it required me to make a multiple restart of my runtime, which is absolutely weird.

When I installed it initially, and restarted the runtime it still did not recognize the package, however after repeating the process again, I did a multiple restart which seemed to solve my problem.

I don't know why I had

[2019-12-07 20:46] #881 closed

[2019-12-07 20:46] pratikwatwani commented on #881
@devin-petersohn, @manesioz

I got it working with the solution @manesioz provided, however, it required me to make a multiple restart of my runtime, which is absolutely weird.

When I installed it initially, and restarted the runtime it still did not recognize the package, however after repeating the process again, I did a multiple restart which seemed to solve my problem.

I don't know why I had

[2019-12-08 01:58] devin-petersohn commented on #891
Thanks @DaielChom for reporting!

It looks like the name swapped with the index value between the two during the `iloc` call. I will dig into this and get it fixed for the next release. Thanks again for reporting!

[2019-12-08 02:08] devin-petersohn commented on #893
Hi @hhbyyh, would you provide the code you used for your example? I would like to understand the use-case you are testing. Historically when this happens, people are often using synthetic datasets that don't conform to typical real-world workflows, which is why I ask (e.g. doing all operations with only a single column of numeric data).

Typically, our benchmark dataset is the commonly used NYC ta

[2019-12-08 02:10] devin-petersohn commented on #797
Thanks @BraINstinct0, I will make some time to get it for the next release.

Because of the issue with Ray not being on conda, we have to work around it in our own build process and update accordingly.

[2019-12-08 02:12] devin-petersohn commented on #881
Thanks @pratikwatwani, that is strange. I am glad it was sorted out, thanks for posting the resolution!

[2019-12-09 03:45] #876 closed

[2019-12-09 16:29] devin-petersohn commented on #634
Feature added via #892

[2019-12-09 16:29] #634 closed

[2019-12-09 21:55] hhbyyh commented on #893
Thanks for the response.
I uploaded my notebook to https://github.com/hhbyyh/ray_test/blob/master/modin_test.ipynb

I still think it would be very helpful to prepare a notebook example that can demo the advantage and applicable scenarios of Modin. I will try NYC dataset and if it's OK with you, I can probably compose a PR with the notebook.

[2019-12-09 23:08] hhbyyh commented on #893
No luck with the NYC taxi data. https://github.com/hhbyyh/ray_test/blob/master/modin_test_nyc.ipynb. Let me know if there's anything I did wrong.

[2019-12-10 02:58] crystalxiaoou opened #894 "a bug was found in the modin's read_csv() and query() method"
### System information
- **OS Platform and Distribution **:  macOS Mojave 10.14.5
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.6.3
- **Python version**: 3.7
- **Exact command to reproduce**:

### Describe the problem
when I used modin.pandas read_csv() method in my python project,  there has a  bug!!!!
The problem is the first time I call read_csv() method in modin.

[2019-12-10 03:16] devin-petersohn commented on #893
I see several times in the notebook presented where Modin outperforms, so I wouldn't call it no luck 😄 . There are a lot of low-level details and drilling down that could be done on every number, but for now I will mention some high level points.

- The defaulting to pandas performance speaks for itself.
- The performance of `sort_values` is what I was referring to about the shuffle cost in my pre

[2019-12-10 15:17] Hvass-Labs opened #895 "How is `groupby().apply()` parallelized?"
(I see you want "general questions" written to a mailing-list, but I don't know how that works, so I hope it's OK to write my question here. I apologize for any inconvenience.)

It's a very interesting project you have made! I am currently testing to see if I can use it as the backend in a new financial data API I am working on, because I have some quite slow functions that group data by stock-tic

[2019-12-10 18:22] devin-petersohn commented on #894
Hi @crystalxiaoou, thanks for posting.

This is not really a bug. Ray takes some time to start up and so the first operation typically has some small overheads associated, so what you're seeing in the first run is that cost. The second cost does not include this i.e. Ray is already "warmed" up so there is a lower cost.

`query` is similar in this respect. These are artifacts of the way that the Ra

[2019-12-10 18:32] devin-petersohn commented on #895
We don't find that parallelization for each group individually gains a significant amount because the cost of the `groupby` component is too high. There's often a lot of shuffling involved and it doesn't cost much more to do the computation while computing the `groups` (some caveats here of course, but in general). Originally I had tried to implement the parallelism in the way you describe but cou

[2019-12-10 18:37] devin-petersohn commented on #823
No longer relevant as we downgraded our Ray version.

[2019-12-10 18:37] #823 closed

[2019-12-10 18:59] hhbyyh commented on #893
Thanks for the response. I'll try the suggestions today. Meanwhile, the only place that modin outperforms is read_csv as far as I see. And read_csv in modin is not that stable. Sometimes it's much longer than pandas.

[2019-12-10 20:09] devin-petersohn commented on #893
If you have a question about the performance I'm happy to answer, but please don't come to the repo to spread unhelpful negativity. If you have some constructive and actionable statement about the project, I'm happy to hear it. If you want to understand some things about the performance, I'm also happy to answer any questions.  If you'd like to contribute to the success of the project and make it

[2019-12-10 20:09] #893 closed

[2019-12-10 20:11] devin-petersohn commented on #847
It should be possible to add support for this. Marking as "Help Wanted" until I can get to it.

[2019-12-10 20:56] hhbyyh commented on #893
I don't mean to offend or anything. Sorry if there's any misunderstanding.

All I'm trying to do is to find the applicable scenarios of Modin and maybe compose a notebook to demo it to others. Thank you and other contributors who have worked hard on the project and I do think it can help in many cases.

If you have a benchmark notebook that can demo the speedup from Modin, I think that would be ve

[2019-12-11 05:31] yuanjie-ai opened #896 "How to Convert modin.pandas.DataFrame to pandas.DataFrame"
How to Convert  modin.pandas.DataFrame to pandas.DataFrame

[2019-12-11 09:03] eavidan commented on #896
This is not part of the API as pandas.DataFrame, naturally, does not posses such a method.
You can use the private method `DataFrame._to_pandas()` to do this conversion.
If you would like to do this through the official API you can always save the Modin DataFrame to storage (csv, hdf, sql, ect) and then read it back using Pandas. This will probably be the safer way when working big DataFrames, to

[2019-12-11 09:34] Hvass-Labs commented on #895
Thanks very much for the quick and detailed response, I greatly appreciate that!

I don't quite understand how you can parallelize over columns? I often need to use data from different columns inside the `groupby().apply()` calculations.

In case you are interested in understanding my use-cases, here is a minimal working example that will automatically download the data and load it as Pandas DataF

[2019-12-11 09:39] Jie-Yuan commented on #896
Thanks!

[2019-12-11 15:22] JenniferShelton opened #897 "read_csv bug"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7.4.1708
- **Modin installed from (source or binary)**: binary
- **Modin version**: 0.6.3
- **Python version**: 3.7.4
- **Exact command to reproduce**:

[code]

### Describe the problem
I'm exploring modin now and I have a question. When I load a CSV file using skiprows modin does not skip the rows. Is thi

[2019-12-11 18:59] devin-petersohn commented on #897
Thanks for the report @JenniferShelton!

This is indeed a bug, and only happens when `names` and `skiprows` are set together. I will make sure this gets in the next release.

Here is a temporary workaround so you are not blocked on the next release:

[code]
Let me know if this helps in the sort term. Thanks again for the report!

[2019-12-11 19:02] devin-petersohn opened #898 "Make __repr__ fit the shell width like pandas"
### Describe the problem

Sometimes, the Modin DataFrame `__repr__` does not match the width of the window, but pandas does. This is a simple visualization issue and does not affect functionality.

[2019-12-12 18:14] #882 closed

[2019-12-12 23:27] devin-petersohn opened #904 "ModuleNotFoundError: No module named ‘py’"
### Describe the problem

This was reported on the Discourse: https://discuss.modin.org/t/error-no-module-named-py-in/92

We should update the setup.py to install py.
### Source code / logs

See link above.

[2019-12-13 02:54] #885 closed

[2019-12-13 02:54] #887 closed

[2019-12-13 02:54] #891 closed

[2019-12-13 09:29] lastrei opened #905 "'NoneType' object has no attribute 'ncores'"
AttributeError                            Traceback (most recent call last)
<ipython-input-6-569b81e05d48> in <module>()
      1 import os
      2 os.environ["MODIN_ENGINE"] = "dask"  # Modin will use Dask
----> 3 import modin.pandas as pd

D:\Miniconda3\lib\site-packages\modin\pandas\__init__.py in <module>()
    225
    226             client = Client()
--> 227         num_cpus = sum(client.ncor

[2019-12-13 17:11] devin-petersohn opened #906 "Single source of package version"
### Describe the problem

Version information is in 3 places. This issue would follow one of these guidelines to enforce that there is only one source for this: https://packaging.python.org/guides/single-sourcing-package-version/. That would simplify the release process and reduce potential bugs and mismatches.

### Source code / logs

Version is in these places:
- https://github.com/modin-project

[2019-12-13 18:11] devin-petersohn commented on #905
Hi @lastrei, thanks for posting!

What is the version of Dask/distributed/Modin/Python you are using?

From the traceback, the source of the error is in the distributed package, and I haven't been able to reproduce this.

[2019-12-13 18:21] devin-petersohn commented on #878
@ecoughlan a quick update: This issue happened because the `g["a"].first()` object was a `pandas.Series` and we were internally checking for `modin.pandas.Series`. I fixed the case where it was creating a `pandas.Series` and tested that the `Series` behavior is still correct for `modin.pandas.Series`. The `pandas.Series` behavior in Modin was falling back to the `DataFrame` behavior, which does cr

[2019-12-13 18:38] #888 closed

[2019-12-15 11:50] sumepr opened #909 "when running pd.read_sql(sql=qury,con=connstring, chunksize= chunk_size)) throws the error TypeError: object of type 'generator' has no len()"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 18.04.1
- **Modin installed from (source or binary)**:binary
- **Modin version**:0.6.3
- **Python version**:3.6.8
- **Exact command to reproduce**:pd.read_sql(sql=qury,con=connstring, chunksize= chunk_size))

### Describe the problem
when running
pd.read_sql(sql=qury,con=connstring, chunksize= chunk_size))

[2019-12-15 14:40] crystalxiaoou opened #910 "A Bug has found when DataFrame object was used in a python MultiProcess Pool's target Methond"
### System information
- **OS Platform and Distribution **: MacOS Mojave 10.14.5
- **Modin installed from (source or binary)**: binary (by pip install modin[ray])
- **Modin version**: 0.6.3
- **Python version**: 3.7.5
- **Exact command to reproduce**:

### Describe the problem
A Bug has found when DataFrame object was used in a python MultiProcess Pool's apply_async().
when I passed the dataframe

[2019-12-17 02:53] chenwest95 commented on #905
I have the same probelm and my warning tells:UserWarning: The Dask Engine for Modin is experimental.
Traceback (most recent call last):

  File "<ipython-input-8-7e7b44bd7fd7>", line 1, in <module>
    import modin.pandas as pd

  File "D:\soft\python\lib\site-packages\modin\pandas\__init__.py", line 227, in <module>
    num_cpus = sum(client.ncores().values())

  File "D:\soft\python\lib\site-pac

[2019-12-17 08:25] misantroop opened #911 "Update Dask and Distributed minimum version to 2.12 for Python 3.8 compatibility"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win 10
- **Modin installed from (source or binary)**: pip
- **Modin version**: 0.6.3
- **Python version**: 3.8.0
- **Exact command to reproduce**: import modin.pandas as pd

### Describe the problem
Fresh install of modin, failure to import. Have tried pip --force-reinstall most dependencies.

### Source code / l

[2019-12-17 15:59] eavidan commented on #909
Hi @sumepr , thanks for reporting this !
This looks like a bug. We are missing support for `read_sql()` when `chucksize` is given and a generator is returned and not a `Dataframe`.
In the mean while, if what you need is to save chunks of the queries to different csv file, I suggest a work around using a while loop and adding dynamic `LIMIT` and `OFFSET` to you query at each iteration. Similar to t

[2019-12-17 19:48] devin-petersohn commented on #910
Hi @crystalxiaoou, thanks for posting! This is a duplicate of question #550. Please feel free to continue the conversation there!

[2019-12-17 19:48] #910 closed

[2019-12-17 19:50] devin-petersohn commented on #905
@chenwest95 Would you be able to tell me the versions of the packages:

[code]

I have been unable to reproduce this issue.

[2019-12-17 19:52] devin-petersohn commented on #911
Hi @misantroop, thanks for posting!

This may be related to #905. Can you run the following and tell me what it prints:

[code]

I wasn't able to reproduce the issue locally with the latest dask/distributed.

[2019-12-17 22:19] #878 closed

[2019-12-18 08:37] shgoren opened #912 "segfault on read_parquet"
## System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
ubuntu 16.04.2
- **Modin installed from (source or binary)**:
with pip install modin[ray]
- **Modin version**:
0.6.3
- **Python version**:
3.6.5
- **Exact command to reproduce**:
read_parquet()

### Describe the problem
I tried reading a parquet file with modin.pandas inside a Jupyter Notebook and failed due to se

[2019-12-18 10:37] misantroop commented on #911
2.9.0 for both.

[2019-12-19 17:11] devin-petersohn opened #913 "Optimize assigning a column from the result of some computation"
### Describe the problem

This issue revolves around optimizing the way we set column values. Currently, we default the behavior to pandas to ensure we set it correctly. This can be avoided.

### Source code / logs

Link to code where defaulting happens: https://github.com/modin-project/modin/blob/6a3d65bed17d432a88ac72aa33ddb945c1b6e15c/modin/backends/pandas/query_compiler.py#L916

[2019-12-19 17:15] devin-petersohn opened #914 "Test Ray 0.8"
Now that Ray has updated, we should test to see if Out of Core works and the utilization bugs were fixed.

[2019-12-19 17:17] devin-petersohn commented on #912
Hi @shgoren thanks for posting!

Does this happen every time you run it? Sometimes Ray crashes and the fix is just to restart the kernel and try again.

[2019-12-19 17:19] devin-petersohn commented on #911
Thanks, can you tell me if the following code breaks for you?

[code]

[2019-12-19 20:55] devin-petersohn commented on #914
Blocked on better performance:  https://github.com/ray-project/ray/issues/6551

[2019-12-19 21:08] christina-zhou-96 commented on #657
Has this been implemented?

[2019-12-19 21:09] devin-petersohn commented on #657
@christina-zhou-96 yes, the [README](https://github.com/modin-project/modin/blob/master/README.md) has the details on how to get started.

[2019-12-19 21:19] christina-zhou-96 commented on #657
Thanks. I used `pip install modin[dask]` as I was having problems installing `ray`.

I found that if I didn't include this line `os.environ["MODIN_ENGINE"] = "dask"`, I received this error:

Traceback (most recent call last):
  File "D:\PycharmProjects\Regents Closeout\venv-py3\lib\site-packages\modin\__init__.py", line 28, in get_execution_engine
    import ray
ModuleNotFoundError: No module name

[2019-12-19 21:25] devin-petersohn commented on #657
Can you open a new issue on that? It might be a Python version issue with the standard Error types.

[2019-12-19 21:28] christina-zhou-96 commented on #657
Yes, thank you. Just noting that according to this trial, the docs inaccurately state that modin will automatically detect which engine I have.

[2019-12-19 21:31] devin-petersohn commented on #657
Yes, it should be detecting it, but that is what the new issue will be about 😄

[2019-12-20 03:52] misantroop commented on #911
All versions at least until the last one of 1.x, all of 2.x and the latest commit fail. At least it's pinpointed to dask.

[2019-12-20 14:20] lastrei commented on #905
sorry i'm late
it's Modin version problem
i uninstall Modin and re install in an old version it's working fine

[2019-12-20 15:41] JeroenStravers1 opened #915 "df.apply throws error"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win10 Enterprise
- **Modin installed from (source or binary)**: pip install modin[dask]
- **Modin version**: 0.6.3
- **Python version**: 3.7.3
Jupyter notebook 7.4.0
- **Exact command to reproduce**: `df.apply(extract_data_per_user, axis=1, args=(data_per_user,))`

### Describe the problem
I'm using modin.pandas

[2019-12-21 18:29] devin-petersohn commented on #915
Hi @JeroenStravers1, thanks for posting!

I was able to reproduce this, oddly it only occurs when `args` is set for the `apply` method.

I will get this fixed, but there is another issue here related to updating the dictionary. Accessing and updating variables from inside of an `apply` would not work out of the box (right now) for a few reasons:

- Since this is all happening in parallel, each row

[2019-12-23 02:14] crystalxiaoou commented on #910
I don't understand what do you mean in question #550 .  I want to know if I passed the modin DataFrame object to a MultiProcess func's args, how to Make it work.

[2019-12-23 13:46] eavidan commented on #909
@devin-petersohn I was thinking about wrapping the `read_sql()` implementation with a generator for when `chucksize` is passed. We can use the OFFSET and LIMIT here as well. The question is where to place this code. If in `modin.pandas.io` then it would look something like this
[code]
Does this makes sense?
If so, where would you suggest to place this code?

[2019-12-23 18:00] devin-petersohn commented on #910
In the issue it says that Modin DataFrames are not serializable and therefore cannot be used with MultiProcessing yet.

[2019-12-23 18:14] devin-petersohn commented on #909
@eavidan There is one other option for putting the logic in `modin.pandas.io`. I'll lay out here so we can evaluate probably.

[code]

This would establish the connection to the database once and read once. The downside of this approach is that the number of partitions won't be the same. Often people use `chunksize` when they are manually parallelizing their code, so I am not sure that we need to

[2019-12-23 19:51] DerekLW6 opened #917 "Modin defaulting to pandas implementation on Windows."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Microsoft Windows 10 Pro, Dell XPS 15 9570

- **Modin installed from (source or binary)**:
Modin Installed via Anaconda

- **Modin version**:
0.6.2

- **Python version**:
Python 3.7.5

- **Exact command to reproduce**:
import numpy as np
import modin.pandas as pd
df = pd.read_csv(“file”) #Note – file is saved in

[2019-12-23 20:07] devin-petersohn commented on #917
Dask `read_csv` was recently implemented as a part of Modin 0.6.3. `pip install -U modin` should fix it. Let me know if this works for you!

[2019-12-23 20:18] DerekLW6 commented on #917
🤦‍♂️ Thanks Battle

Sent by my Phone
Respectfully,

Derek Wales
Duke MIDS Student Class of 2021
Cell: 334.750.7507<tel:334.750.7507>
"Be strong to be useful"

-------- Original message --------
From: Devin Petersohn <notifications@github.com>
Date: 12/23/19 14:08 (GMT-06:00)
To: modin-project/modin <modin@noreply.github.com>
Cc: Derek Wales <derek.wales@duke.edu>, Author <author@noreply.github.com

[2019-12-23 20:23] devin-petersohn commented on #917
@DerekLW6 I deleted part of your comment that contained personal information since these comments are public.

[2019-12-24 00:06] DerekLW6 commented on #917
It worked! Thanks man.

Respectfully,

Derek Wales
Duke MIDS Student Class of 2021
Cell: 334.750.7507
"Be strong to be useful"

From: Devin Petersohn <notifications@github.com>
Sent: Monday, December 23, 2019 3:08 PM
To: modin-project/modin <modin@noreply.github.com>
Cc: Derek Wales <derek.wales@duke.edu>; Author <author@noreply.github.com>
Subject: Re: [modin-project/modin] Modin defaulting to pa

[2019-12-24 03:25] #897 closed

[2019-12-24 10:41] eavidan commented on #909
@devin-petersohn this sounds like a good solution, assuming that the chucks are indeed small enough and will not benefit from partitioning as well. My only thought is that, hypothetically, reading in chucks should not have an effect on scalability. I do agree that usually reading chunks is done by people who want to parallelizing their code, and in this case defaulting to pandas makes sense as wel

[2019-12-24 13:13] fritz-morgendorfer opened #919 "Concatenating two pandas.Series objects results in modin.pandas.dataframe"
### System information
- **OS Platform and Distribution**:  Windows 10 WSL with Ubuntu 18.04.3 LTS
- **Modin installed from (source or binary)**: conda pip install modin
- **Modin version**: modin==0.6.3
- **Python version**: Python 3.6.6
- **Exact command to reproduce**:

import pandas
import modin.pandas as pd

s1 = pandas.Series(['a', 'b']) # type(s1) pandas.core.series.Series
s2 = pandas.Serie

[2019-12-24 14:28] JeroenStravers1 commented on #915
Hey @devin-petersohn, thanks for your reply! I'm glad you were able to reproduce the issue.

No worries btw, this issue isn't blocking me or anything. I was playing around with Modin because I think it looks promising, and wanted to contribute a little ;)

[2019-12-24 14:59] eavidan commented on #919
Hi @fritz-morgendorfer, thanks for posting !
I suggest you either use `modin` or `pandas` as each supports its own `Dataframe` and `Series` operations
[code]
In case you have `pandas.Series` as input, you can convert them to `modin.Series` and later concat into modin.Series
[code]
Let me know if this solves the issues

[2019-12-24 15:12] fritz-morgendorfer commented on #919
Thanks for the response. I was just wondering if it is possible to really change just one line of code in my existing project to enjoy all the benefits. I woundn't like to change anything more than the import statement. While it is obviously not yet the case with the project under consideration, the proposed solution would help if I were working on new code.
The two pandas.Series objects appear as

[2019-12-24 15:23] eavidan commented on #919
When working only with modin this is not an expected behavior.
Could you please share which operations on `modin.pandas.dataframe` resulted in `pandas.Series`?

[2019-12-24 21:11] devin-petersohn commented on #909
I think that makes sense. The partitioning shouldn't be too big of an issue and the scalability of `.iloc` should be pretty good right now (although there is probably more that can be done here).

I like your suggestion to resolve the bug first, then decide after. We will probably want a separate issue to track that.

[2019-12-26 02:54] qitianliang opened #921 "convert dataframe"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Modin installed from (source or binary)**:
- **Modin version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

### Source code / logs

[2019-12-26 02:56] qitianliang commented on #921
how to convert a standard pandas dataframe to modin pandas dataframe

[2019-12-26 17:44] devin-petersohn commented on #919
@fritz-morgendorfer Is there a `groupby` that produces these `pandas.Series` objects? There was a case where we defaulted to pandas but did not return to a `modin.pandas.Series` for `groupby`, but that was fixed in #908.

[2019-12-26 17:46] devin-petersohn commented on #921
You can pass it to the constructor:

[code]

Do you mind to share how you'd like to use it?

[2019-12-30 04:09] PMeira commented on #911
That's a Tornado + Python 3.8 issue on Windows. Python 3.8 changed some defaults. I posted a comment earlier today, Dask Distributed probably needs a small patch: https://github.com/dask/distributed/pull/3249#issuecomment-569539093

[2019-12-30 12:02] #921 closed

[2019-12-30 19:38] devin-petersohn opened #923 "Support chunksize in I/O functionalities"
### Describe the problem

Chunksize defaults to pandas in all cases. Ideally, we will be able to support it. The functionality should not require deep analysis, we can just mask the result of reading with `chunksize=None`.

Relevant conversation in #909.

### Source code / logs

Proposed solution for `read_sql`:
[code]

[2019-12-30 19:39] devin-petersohn commented on #909
Closing via #920. #923 was opened to track supporting this feature without defaulting to pandas.

[2019-12-30 19:39] #909 closed

[2019-12-30 20:33] manesioz commented on #923
I have a (probably dumb) question, but why do you write `kwargs["chunksize"] = None` before checking if its `None`? Wouldn't that ensure that it is always `None`? The current implementation checks if it is `None` like this:
[code]

[2019-12-30 21:03] devin-petersohn commented on #923
`chunksize` is the parameter passed in above, `kwargs` is a dictionary collection of the values provided to the function. They are separate variables.

We set `kwargs["cunksize"] = None` because the internal implementation does not support it. Those are just the args sent to the internal implementation. What's written in my original comment is equivalent to this (just fewer lines):

[code]

[2019-12-31 00:49] manesioz commented on #923
Thank you for the clarification! Another small thing I was wondering about before making a PR:
In your implementation above it seems like if the `chunksize` is not null you call `read_sql()` naively (without any `chunksize`) and then partition it after - does that defeat the purpose of having a `chunksize` in the first place?
I say this because if a particular query returns a very large result, we

[2019-12-31 01:10] devin-petersohn commented on #923
You are right that there would be a performance impact, @eavidan had an implementation here that followed the `yield` model: https://github.com/modin-project/modin/issues/909#issuecomment-568479921

The motivation for doing it all at once was to avoid paying the fixed distributed computing overheads multiple times and for smaller datasets. There's probably some benchmarking necessary to see what t

[2019-12-31 01:15] manesioz commented on #923
Interesting. Out of curiosity, how do you normally approach these trade-offs that are present in distributed systems? Do you provide the user with as many options are possible and let them make the decision of what to use/when, or do you choose the most common/robust approach?
From a design perspective I guess I am wondering if you want to include a `yield`-based approach or simply an in-memory ap

[2019-12-31 01:26] devin-petersohn commented on #923
If it changes the semantics/syntax, it goes in `experimental`. The `yield`-based approach probably fits better with the semantics/usage of `pandas`.

@eavidan Any opinion on this?

[2019-12-31 15:55] eavidan commented on #923
PRs are always welcomed @manesioz :)

I believe the `yield`-based approach fits the chunking principle of `pandas` better. For instance, querying in small chucks should result in a quick response from the database during the first iteration. It is expected that each iteration starts with a delay for getting its respectful chunk. Waiting a long time for the first iteration to start is not an expect

[2019-12-31 16:26] #904 closed

[2020-01-01 17:31] devin-petersohn opened #940 "Support I/O functionality for other backends also with Dask"
### Describe the problem

#754 started the process of modularizing the I/O, we need to finish that effort.

### Source code / logs

Follow the model of #754.

[2020-01-01 17:36] devin-petersohn commented on #923
I agree @eavidan. In that case, let's go with the `yield`.

[2020-01-01 22:38] manesioz commented on #923
In @eavidan 's generator-based approach, is there an issue with this line?
[code]
Since you get no guarantees from your RDBMS that your data will come back in a certain order -- or even in a consistent order -- unless you query your data with an `ORDER BY` clause, is it possible that the `OFFSET` will _not_ select perfectly disjointed sub-sets of rows? Or am I looking at this wrong?

[2020-01-02 01:21] devin-petersohn opened #944 "Skip ray import for Winows and avoid ModuleNotFoundError"
Reported originally in #657

[2020-01-02 02:07] #913 closed

[2020-01-02 03:07] #944 closed

[2020-01-02 10:33] eavidan commented on #923
That's a good point @manesioz. My assumption that the order is arbitrary but _constant_ may not hold in all cases. We should probably sort by some row unique id. What do you think about using the ROWID column?
[code]
We would need to check if the user has an `ORDER BY` in their query first, since there is no need to add our own unless the user did not define one of his own.
Another thing that come

[2020-01-02 17:56] devin-petersohn opened #946 "Improve performance of narrow dataframes"
### Describe the problem

Currently, we limit the parallelism for narrow dataframes. This was initially done in an effort to improve the performance of small dataframes, but arbitrary decisions were made that leave performance on the table for more narrow dataframes.

By narrow, I mean `1 < len(df.columns) <= 32`. 32 is the limit we chose for the minimum number of rows/columns to avoid having a la

[2020-01-02 18:00] devin-petersohn opened #947 "Create simple testing script that pulls testmon data and runs entire suite"
### Describe the problem

This is for developer ease. Testing against the master testmon data will improve the speed and accuracy at which test are run locally.

[2020-01-02 19:16] devin-petersohn opened #949 "DeprecationWarning: invalid escape sequence \d"
# Source code / logs

Two offending lines:
https://github.com/modin-project/modin/blob/f6b3453a2eeb2100e5ddaa3c328f6254abc96502/modin/engines/ray/generic/io.py#L17

https://github.com/modin-project/modin/blob/272529a9c1f13ed3dde60e524676591b889ff8f7/modin/pandas/io.py#L12

The fix is to prepend string with `r`. E.g. `r"__\d+__"`

[2020-01-02 19:18] #947 closed

[2020-01-02 20:30] devin-petersohn opened #951 "AttributeError: module 'pyarrow' has no attribute 'parquet'"
### Describe the problem

Test failure with #950, but unrelated to that code change.

### Source code / logs

Fix:

Instead of:

[code]

Do:
[code]
Offending line:
https://github.com/modin-project/modin/blob/master/modin/pandas/test/test_io.py#L83

[2020-01-02 20:44] #951 closed

[2020-01-02 21:00] #949 closed

[2020-01-02 21:48] #915 closed

[2020-01-02 21:58] devin-petersohn commented on #914
Closed, went ahead and updated Ray to 0.8 via #941.

[2020-01-02 21:58] #914 closed

[2020-01-02 22:51] devin-petersohn commented on #923
I've tested on multiple implementations (Postgres, MySQL, sqlite), and the order is the same in each of those implementation across the workers that connect to it.

It is true that the data model does not guarantee an order, but implementations of relational systems generally do not change the order of the data because they have indexes and other structures built against the current order. If ther

[2020-01-03 18:35] devin-petersohn opened #954 "Improve Dask performance by tuning `Client` parameters"
### Describe the problem

Dask generally performs well, but it could be improved. I played around with changing `n_workers` as a parameter to `Client` and I found that the default does not take full advantage of the hardware in many cases.

### Source code / logs

To update here:
https://github.com/modin-project/modin/blob/898889c8ac8804b7eed4cb3d733ee0d1e29686a8/modin/pandas/__init__.py#L227

[2020-01-03 18:45] devin-petersohn opened #956 "Set Dask `client.submit` in partitions to `pure=False`"
### Describe the problem

We use `lambda` functions in many cases, which all share the same name. If run sequentially, Dask will cache the results of `gt` and return them on a `ge` because they share the `labmda` name. The `key` created by Dask is a function of the function name and parameters, causing some issues with the `lambda` functions we use internally.

At first, we can use `pure=False`, b

[2020-01-03 20:29] devin-petersohn opened #958 "Enhance run-tests.sh to take parameters"

[2020-01-03 22:40] #958 closed

[2020-01-04 00:31] devin-petersohn opened #960 "Windows Memory Issue for `Series.view`"
### Describe the problem

Test Failure during #957. For now, marking as skip for Windows only and will need to fix later. `view` defaults to pandas in this case, but something with the deserialization must be causing an issue, even when `dtype=None`.

[2020-01-04 05:22] devin-petersohn opened #961 "Inplace operations in Dask alter the Future"
### Describe the problem

Previously, we assumed that the futures objects that were operated on were immutable. This is an assumption that was safe with Ray, but not with Dask.

### Source code / logs
e.g.

https://github.com/modin-project/modin/blob/32563c8a2c7b104c84ebf2c870a7be39a37fceae/modin/engines/base/frame/data.py#L244

[2020-01-04 05:29] devin-petersohn commented on #961
Discovered as a test failure in #957.

[2020-01-04 07:24] #961 closed

[2020-01-04 16:56] devin-petersohn opened #963 "Python tests are getting skipped in GitHub actions"
### Describe the problem

The CI and master builds are only running Ray. This is probably because we `export MODIN_ENGINE=...` instead of setting it as an environment variable via `env` in the yml

### Source code / logs

Problem lines:

https://github.com/modin-project/modin/blob/e993bf69c305377c34a6b333a44da7950c1d28c5/.github/workflows/ci.yml#L52

https://github.com/modin-project/modin/blob/e99